<section class="section login-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 px-5">
        <h5 class="text-muted font-weight-bold">Find Jobs, Employment & Career Opportunities</h5>
        <h1 class="text-secondary">The Easiest Way to Get New Jobs, </h1>
        <img src="assets/images/agency-img.png" class="img-fluid mx-auto mt-4 px-4"/>
      </div>
      <div class="col-md-5">
       <!-- form -->
       <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</section>
