<div *ngIf="!isDashboard">
  <div class="row mb-5">
    <div class="col-lg-4 col-md-6">
      <h5>Profile Image</h5>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="showhideswitch">
        <input type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch" checked>
        <label class="showhideswitch-label" for="myshowhideswitch">
          <span class="showhideswitch-inner"></span>
          <span class="showhideswitch-switch"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-lg-4 col-md-6">
      <h5>Phone Number</h5>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="showhideswitch">
        <input type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch1" checked>
        <label class="showhideswitch-label" for="myshowhideswitch1">
          <span class="showhideswitch-inner"></span>
          <span class="showhideswitch-switch"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-lg-4 col-md-6">
      <h5>Email ID</h5>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="showhideswitch">
        <input type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch2" checked>
        <label class="showhideswitch-label" for="myshowhideswitch2">
          <span class="showhideswitch-inner"></span>
          <span class="showhideswitch-switch"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-lg-4 col-md-6">
      <h5>Current Employer</h5>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="showhideswitch">
        <input type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch4">
        <label class="showhideswitch-label" for="myshowhideswitch4">
          <span class="showhideswitch-inner"></span>
          <span class="showhideswitch-switch"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <h5>Currently Available for Opportunity </h5>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="showhideswitch">
        <input type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch4">
        <label class="showhideswitch-label" for="myshowhideswitch4">
          <span class="showhideswitch-inner"></span>
          <span class="showhideswitch-switch"></span>
        </label>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isDashboard">

  <div class="title">
    <h2>Profile Settings</h2>
  </div>
  <div class="sidebar-widget text-left">
    <div class="row mb-4">
      <div class="col-lg-6">
        <p>First Name</p>
      </div>
      <div class="col-lg-6 clearfix">
        <div class="showhideswitch float-right">
          <input type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch6" checked>
          <label class="showhideswitch-label" for="myshowhideswitch6">
            <span class="showhideswitch-inner"></span>
            <span class="showhideswitch-switch"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6">
        <p>Last Name</p>
      </div>
      <div class="col-lg-6 clearfix">
        <div class="showhideswitch float-right">
          <input type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch7" checked>
          <label class="showhideswitch-label" for="myshowhideswitch7">
            <span class="showhideswitch-inner"></span>
            <span class="showhideswitch-switch"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6">
        <p>Profile Image</p>
      </div>
      <div class="col-lg-6 clearfix">
        <div class="showhideswitch float-right">
          <input type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch" checked>
          <label class="showhideswitch-label" for="myshowhideswitch">
            <span class="showhideswitch-inner"></span>
            <span class="showhideswitch-switch"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6">
        <p>Phone Number</p>
      </div>
      <div class="col-lg-6 clearfix">
        <div class="showhideswitch float-right">
          <input type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch1" checked>
          <label class="showhideswitch-label" for="myshowhideswitch1">
            <span class="showhideswitch-inner"></span>
            <span class="showhideswitch-switch"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6">
        <p>Email ID</p>
      </div>
      <div class="col-lg-6 clearfix">
        <div class="showhideswitch float-right">
          <input type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch2" checked>
          <label class="showhideswitch-label" for="myshowhideswitch2">
            <span class="showhideswitch-inner"></span>
            <span class="showhideswitch-switch"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6">
        <p>Current Employer</p>
      </div>
      <div class="col-lg-6 clearfix">
        <div class="showhideswitch float-right">
          <input type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch4" checked>
          <label class="showhideswitch-label" for="myshowhideswitch4">
            <span class="showhideswitch-inner"></span>
            <span class="showhideswitch-switch"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>Open to Opportunity </p>
      </div>
      <div class="col-lg-6 clearfix">
        <div class="showhideswitch float-right">
          <input type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch5">
          <label class="showhideswitch-label" for="myshowhideswitch5">
            <span class="showhideswitch-inner yesno"></span>
            <span class="showhideswitch-switch"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
