<div *ngIf="!isDashboard">
  <div class="row mb-5" *ngFor="let item of profileSettings; let i=index">
    <div class="col-lg-4 col-md-6">
		<h5 *ngIf="item?.field == 'photo'">{{"profileSettings.photo" | translate }}</h5>
        <h5 *ngIf="item?.field == 'phone'">{{"profileSettings.phone" | translate }}</h5>
        <h5 *ngIf="item?.field == 'email'">{{"profileSettings.email" | translate }}</h5>
        <h5 *ngIf="item?.field == 'current_employer'">{{"profileSettings.current_employer" | translate }}</h5>
        <h5 *ngIf="item?.field == 'reference'">{{"profileSettings.reference" | translate }}</h5>
        <h5 *ngIf="item?.field == 'available_for_opportunity'">{{"profileSettings.available_for_opportunity" | translate }}</h5>
        <h5 *ngIf="item?.field == 'opportunity'">{{"profileSettings.available_for_opportunity" | translate }}</h5>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="showhideswitch">
        <input
        [checked]="(currentProfileInfo?.privacy_protection && currentProfileInfo?.privacy_protection[item?.field] == true)"
        (click)="onSetSettings(item, $event?.target?.checked)" type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch_{{i}}">
        <label class="showhideswitch-label" for="myshowhideswitch_{{i}}">
          <span class="showhideswitch-inner"></span>
          <span class="showhideswitch-switch"></span>
        </label>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isDashboard">

  <div class="title">
    <h2>{{"shared.profileSetting" | translate }}</h2>
  </div>
  <div class="sidebar-widget text-left">
    <div class="row mb-4" *ngFor="let item of profileSettings; let i=index">
      <div class="col-lg-8 col-md-8 matches-80">
		<p *ngIf="item?.field == 'photo'">{{"profileSettings.photo" | translate }}</p>
        <p *ngIf="item?.field == 'phone'">{{"profileSettings.phone" | translate }}</p>
        <p *ngIf="item?.field == 'email'">{{"profileSettings.email" | translate }}</p>
        <p *ngIf="item?.field == 'current_employer'">{{"profileSettings.current_employer" | translate }}</p>
        <p *ngIf="item?.field == 'reference'">{{"profileSettings.reference" | translate }}</p>
        <p *ngIf="item?.field == 'available_for_opportunity'">{{"profileSettings.available_for_opportunity" | translate }}</p>
        <p *ngIf="item?.field == 'opportunity'">{{"profileSettings.available_for_opportunity" | translate }}</p>
      </div>
      <div class="col-lg-4 col-md-4 matches-20 clearfix">
        <div class="showhideswitch float-right">
          <input
          [checked]="(currentProfileInfo?.privacy_protection && currentProfileInfo?.privacy_protection[item?.field] == true)"
          (click)="onSetSettings(item, $event?.target?.checked)" type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch_dash_{{i}}">
          <label class="showhideswitch-label" for="myshowhideswitch_dash_{{i}}">
            <span class="showhideswitch-inner" [ngClass]="{'yesno': item?.field == 'opportunity'}"></span>
            <span class="showhideswitch-switch"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
