<div class="card job-card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-7">
        <h5>
          <a  href="javascript:;" class="text-capitalize">
            {{userInfo?.first_name + ' ' + userInfo?.last_name}}
            <small  class="text-capitalize" *ngIf="userInfo?.current_employer_role">
              - {{userInfo?.current_employer_role}}
            </small>
          </a>

          <small *ngIf="isContactIcon" (click)="onToggleContactInfoModal(true)" class="ml-2" type="button" data-toggle="modal" data-target="#contactModal">
            <i class="fas fa-address-card"></i>
            </small>
        </h5>
      </div>
      <div class="col-lg-5 text-right">
        <a [routerLink]="[ '/user/create-candidate' ]" *ngIf="isEdit" class="btn btn-outline-warning btn-sm mr-1" href="javascript:;" title="Edit"><i
            class="fas fa-pencil-alt"></i> {{"dashboard.edit" | translate }}</a>
        <span *ngIf="isResume">
          <a
          [class.disabled]="!selectedResume?.file"
          (click)="selectedResume?.file && onToggleResumeForm(true, (userInfo?.meta?.doc_resume?.path + '/' + userInfo?.meta?.doc_resume?.folder + '/' + selectedResume?.file))" class="btn btn-outline-blue btn-sm" href="javascript:;">
            <i class="fas fa-file-alt"></i> {{"dashboard.resume" | translate }}
          </a>
        </span>
        <span  *ngIf="isMail">
          <a class="btn btn-outline-orange btn-sm ml-1" href="javascript:;">
          <i class="fas fa-paper-plane"></i> Send Mail</a>
        </span>
      </div>
    </div>
    <div class="media">
      <img [src]="userInfo?.photo ? userInfo?.meta?.photo?.path+'/'+ userInfo?.meta?.photo?.folder+'/'+userInfo?.meta?.photo?.sizes?.medium+'/'+userInfo?.photo+'?v='+ randomNum : 'assets/images/user-img-icon.jpg'">
      <div class="media-body">
        <h6 class="text-capitalize">
          {{userInfo?.city ? userInfo?.city : ''}}
          {{userInfo?.state ? ', ' + userInfo?.state : ''}}
          {{userInfo?.country ? ', ' + userInfo?.country : ''}}
        </h6>
        <h6>
          <a href="mailto:{{userInfo?.email}}">
          <i class="fas fa-envelope" *ngIf="userInfo?.email"></i> {{userInfo?.email}}</a>
          <i class="fas fa-mobile" *ngIf="userInfo?.phone"></i> {{userInfo?.phone}}
        </h6>
        <h6 *ngIf="userInfo?.social_media_link?.length">
          <a class="mr-1" *ngFor="let item of userInfo?.social_media_link" href="{{item.url}}" target="_blank">
            <ng-container [ngSwitch]="item?.media">
              <ng-container *ngSwitchCase="'youtube'">
                <i class="fab fa-youtube-square"></i>
              </ng-container>
              <ng-container *ngSwitchCase="'portfolio'">
                <i class="fas fa-laptop-code"></i>
              </ng-container>
              <ng-container *ngSwitchCase="'blog'">
                <i class="fas fa-blog"></i>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <i class="fab fa-{{item.media}}"></i>
              </ng-container>
            </ng-container>
          </a>
        </h6>
        <h6 class="mb-0 text-capitalize">{{userInfo?.current_employer}}</h6>
      </div>
    </div>
  </div>
</div>


<app-contact-info
[userInfo]="userInfo"
*ngIf="isOpenedContactInfoModal"
[toggleContactInfoModal]="isOpenedContactInfoModal"
(onEvent)="onToggleContactInfoModal($event)"
></app-contact-info>

<app-resume-modal
[url]="selectedResumeUrl"
*ngIf="isOpenedResumeModal"
[toggleResumeModal]="isOpenedResumeModal"
(onEvent)="onToggleResumeForm($event)">
</app-resume-modal>
