<div class="card job-card" *ngIf="!matchesModels">
  <div class="card-body">
    <div class="row">
      <div [ngClass]="(isMultipleMatches === true)?'col-lg-12 col-md-12':'col-lg-9 col-md-9'">
        <h5>
          <a  href="javascript:;" class="text-capitalize">
            {{userInfo?.first_name + ' ' + userInfo?.last_name}}
            <small  class="text-capitalize" *ngIf="userInfo?.current_employer_role">
            <span class="text-uppercase" style="font-weight: 700;font-size: 15px;color: #465666;">
            {{userInfo?.current_employer}}
          </span>  - {{userInfo?.current_employer_role}}
            </small>
          </a>

          <small *ngIf="isContactIcon" (click)="onToggleContactInfoModal(true)" class="ml-2" type="button" data-toggle="modal" data-target="#contactModal">
            <i class="fas fa-address-card"></i>
            </small>
			<small [routerLink]="[ '/user/create-candidate' ]" *ngIf="isEdit" class="ml-2" href="javascript:;" title="Edit" style="font-size: 11px;cursor:pointer;" ><i
            class="fas fa-pencil-alt text-orange"></i></small>
        </h5>
		<div >
    <div class="media">
      <img *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(0)" [src]="userInfo?.photo ? userprofilepath+userInfo?.photo : 'assets/images/user-img-icon.jpg'">
      <ng-container *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(1);">
        <ng-container *ngIf="userInfo?.privacy_protection?.photo == true; else elsePhotoTemplate">
          <img [src]="userInfo?.photo ? userprofilepath+userInfo?.photo : 'assets/images/user-img-icon.jpg'">
        </ng-container>
        <ng-template #elsePhotoTemplate>
          <img [src]="'assets/images/user-lock.jpg'">
        </ng-template>
      </ng-container>
      <div class="media-body">
        <h6 class="text-capitalize">
          {{userInfo?.city+', '+userInfo?.state+', '+userInfo?.country}}
          <!-- {{userInfo?.state?', ' + userInfo?.state : ''}}
          <span class="text-capitalize">
            {{userInfo?.country ?', '+userInfo?.country : ''}}
          </span> -->
        </h6>
        <h6 *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(0)">
          <a href="mailto:{{userInfo?.email}}">
            <i class="fas fa-envelope" *ngIf="userInfo?.email"></i>
            {{userInfo?.email}}
          </a>
            <br *ngIf="isMultipleMatches">
          <i class="fas fa-mobile" *ngIf="userInfo?.phone"></i> {{userInfo?.phone | phone}}
        </h6>
        <ng-container *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(1)">
          <ng-container *ngIf="userInfo?.privacy_protection?.email == true; else elseEmailTemplate">
            <a href="mailto:{{userInfo?.email}}">
              <i class="fas fa-envelope" *ngIf="userInfo?.email"></i>
              {{userInfo?.email}}
            </a>
          </ng-container>
          <ng-template #elseEmailTemplate>
            <span class="text-capitalize">
              <i class="fas fa-envelope"></i>
              {{censorEmail(userInfo?.email)}}
            </span>
          </ng-template>
          <br *ngIf="isMultipleMatches">
          <ng-container *ngIf="userInfo?.privacy_protection?.phone == true; else elsePhoneTemplate">
            <i class="fas fa-mobile" *ngIf="userInfo?.phone"></i> {{userInfo?.phone | phone}}
          </ng-container>
          <ng-template #elsePhoneTemplate>
            <span class="text-capitalize">
              <i class="fas fa-mobile"></i>
              {{censorPhoneNumber(userInfo?.phone)}}
            </span>
          </ng-template>
        </ng-container>
        <h6 *ngIf="userInfo?.social_media_link?.length && isMatchesShow == false" style="margin: 0px !important;">
          <ng-container *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(0); else elseTemplate">
            <a class="mr-1" *ngFor="let item of userInfo?.social_media_link" href="{{item.url}}" target="_blank">
              <ng-container [ngSwitch]="item?.media">
                <ng-container *ngSwitchCase="'youtube'">
                  <i class="fab fa-youtube-square" *ngIf="item?.visibility"></i>
                </ng-container>
                <ng-container *ngSwitchCase="'portfolio'">
                  <i class="fas fa-laptop-code" *ngIf="item?.visibility"></i>
                </ng-container>
                <ng-container *ngSwitchCase="'blog'">
                  <i class="fas fa-blog" *ngIf="item?.visibility"></i>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <i class="fab fa-{{item.media}}" *ngIf="item?.visibility"></i>
                </ng-container>
              </ng-container>
            </a>
          </ng-container>
          <ng-template #elseTemplate>
            <ng-container  *ngFor="let item of userInfo?.social_media_link">
              <a class="mr-1" href="{{item.url}}" target="_blank">
                <ng-container *ngIf="item?.visibility == true" [ngSwitch]="item?.media">
                  <ng-container *ngSwitchCase="'youtube'">
                    <i class="fab fa-youtube-square" *ngIf="item?.visibility"></i>
                  </ng-container>
                  <ng-container *ngSwitchCase="'portfolio'">
                    <i class="fas fa-laptop-code" *ngIf="item?.visibility" ></i>
                  </ng-container>
                  <ng-container *ngSwitchCase="'blog'">
                    <i class="fas fa-blog" *ngIf="item?.visibility"></i>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <i class="fab fa-{{item.media}}" *ngIf="item?.visibility" ></i>
                  </ng-container>
                </ng-container>
              </a>
            </ng-container>
          </ng-template>
        </h6>
        <!--<h6 *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(0)" class="mb-0 text-capitalize">{{userInfo?.current_employer}}</h6>
        <ng-container *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(1)">
          <ng-container *ngIf="userInfo?.privacy_protection?.current_employer == true; else elseEmpTemplate">
            <h6 class="mb-0 text-capitalize">{{userInfo?.current_employer}}</h6>
          </ng-container>
          <ng-template #elseEmpTemplate>
            <h6 class="mb-0 text-capitalize">
              {{censorEmployer(userInfo?.current_employer)}}
            </h6>
          </ng-template>
        </ng-container>-->

      </div>
    </div>
    </div>
      </div>
      <div class="col-lg-3  col-md-3 text-right" style="padding:0px;" [ngClass]="(isMultipleMatches === true)?'none-data':'col-lg-3'">
			
        <span class=" profile-btn" *ngIf="!isMultipleMatches" style="display: inline-block;">
          <a *ngIf="!isUploadShow || selectedCover?.file"
          [class.disabled]="!selectedCover?.file"
          (click)="selectedCover?.file && onToggleCoverForm(true, (selectedCover?.file))" class="btn btn-smss btn-outline-orange  btn-sm" href="javascript:;">
            <i class="fas fa-file-alt"></i>  {{"shared.coverLetter" | translate }}
          </a>
		  <a *ngIf="isUploadShow && !selectedCover?.file" 
          (click)="openCoverselect(true)" class="btn btn-smss btn-outline-orange  btn-sm" href="javascript:;">
            <i class="fas fa-file-alt"></i>  {{"shared.addCover" | translate }}
          </a>
        </span>
        <span *ngIf="isResume" class="profile-btn"  style="display: inline-block;">
          <a *ngIf="!isUploadShowResume || selectedResume?.file" style="margin-top: .25rem;"
          [class.disabled]="!selectedResume?.file"
          (click)="selectedResume?.file && onToggleResumeForm(true, (selectedResume?.file))" class="btn btn-smss btn-outline-blue btn-sm" href="javascript:;">
            <i class="fas fa-file-alt"></i> {{"shared.resume" | translate }}
          </a> <a *ngIf="isUploadShowResume && !selectedResume?.file" style="margin-top: .25rem;"
         (click)="openResumselect(true)"  id="addResumeFile" 
           class="btn  btn-smss btn-outline-blue btn-sm" href="javascript:;">
            <i class="fas fa-file-alt"></i>  {{"shared.addResume" | translate }}
          </a>
        </span>
		<a *ngIf="!isMail && isMatchesView " (click)="onTabChange()" style="margin-top: .25rem;display:inline-block;" class="btn btn-smss btn-outline-green btn-sm profile-btn" href="javascript:;" title="Edit"><i
            class="fas fa-tasks" ></i>  {{"shared.matches" | translate }} </a>
        <span  *ngIf="isMail && jobInfo?.id  && jobInfo['status'] == 1 && jobInfo['score'] && jobInfo['score']['mail'] !=true "  style="display: inline-block;">
          <a (click)="onToggleSendMail(true,jobInfo)"  style="margin-top: .25rem;" class="btn  btn-smss btn-outline-orange btn-sm profile-btn profile-btn" href="javascript:;">
          <i class="fas fa-paper-plane"></i>  {{"shared.sendMail" | translate }}  </a>
        </span>
		<!-- <div *ngIf="isMatchView">
		<div class="form-inline float-right mt-2">
			<div class="selectDD">
				<select class="selectpicker" [(ngModel)]="selected" id="selectpicker" data-none-selected-text="Choose Jobs " multiple data-live-search="true">
					<option class="d-none" disabled selected >Choose Jobs </option>
					<option *ngFor="let item of postedJobsMatchDetails" [value]="item.id">{{item.title}}</option>
				</select>
			</div>
			<button type="button" (click)="OpenMatchesWithID()"  class="btn btn-theme-blue btn-sm"> 
			<i class="fas fa-tasks"></i></button>				
		</div>	
	</div> -->
      </div>
    </div>
	<div class="row">
		<!-- <div [ngClass]="(isMatchView === true)?'col-lg-7':'col-lg-12'" >
    <div class="media">
      <img *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(0)" [src]="userInfo?.photo ? userInfo?.meta?.photo?.path+'/'+ userInfo?.meta?.photo?.folder+'/'+userInfo?.meta?.photo?.sizes?.medium+'/'+userInfo?.photo+'?v='+ randomNum : 'assets/images/user-img-icon.jpg'">
      <ng-container *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(1);">
        <ng-container *ngIf="userInfo?.privacy_protection?.photo == true; else elsePhotoTemplate">
          <img [src]="userInfo?.photo ? userInfo?.meta?.photo?.path+'/'+ userInfo?.meta?.photo?.folder+'/'+userInfo?.meta?.photo?.sizes?.medium+'/'+userInfo?.photo+'?v='+ randomNum : 'assets/images/user-img-icon.jpg'">
        </ng-container>
        <ng-template #elsePhotoTemplate>
          <img [src]="'assets/images/user-lock.jpg'">
        </ng-template>
      </ng-container>
      <div class="media-body">
        <h6 class="text-capitalize">
          {{userInfo?.city+', '+userInfo?.state+', '+userInfo?.country}}
        </h6>
        <h6 *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(0)">
          <a href="mailto:{{userInfo?.email}}">
            <i class="fas fa-envelope" *ngIf="userInfo?.email"></i>
            {{userInfo?.email}}
          </a>
          <i class="fas fa-mobile" *ngIf="userInfo?.phone"></i> {{userInfo?.phone | phone}}
        </h6>
        <ng-container *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(1)">
          <ng-container *ngIf="userInfo?.privacy_protection?.email == true; else elseEmailTemplate">
            <a href="mailto:{{userInfo?.email}}">
              <i class="fas fa-envelope" *ngIf="userInfo?.email"></i>
              {{userInfo?.email}}
            </a>
          </ng-container>
          <ng-template #elseEmailTemplate>
            <span class="text-capitalize">
              <i class="fas fa-envelope"></i>
              {{censorEmail(userInfo?.email)}}
            </span>
          </ng-template>
          <ng-container *ngIf="userInfo?.privacy_protection?.phone == true; else elsePhoneTemplate">
            <i class="fas fa-mobile" *ngIf="userInfo?.phone"></i> {{userInfo?.phone | phone}}
          </ng-container>
          <ng-template #elsePhoneTemplate>
            <span class="text-capitalize">
              <i class="fas fa-mobile"></i>
              {{censorPhoneNumber(userInfo?.phone)}}
            </span>
          </ng-template>
        </ng-container>
        <h6 *ngIf="userInfo?.social_media_link?.length" style="margin: 0px !important;">
          <ng-container *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(0); else elseTemplate">
            <a class="mr-1" *ngFor="let item of userInfo?.social_media_link" href="{{item.url}}" target="_blank">
              <ng-container [ngSwitch]="item?.media">
                <ng-container *ngSwitchCase="'youtube'">
                  <i class="fab fa-youtube-square" *ngIf="item?.visibility"></i>
                </ng-container>
                <ng-container *ngSwitchCase="'portfolio'">
                  <i class="fas fa-laptop-code" *ngIf="item?.visibility"></i>
                </ng-container>
                <ng-container *ngSwitchCase="'blog'">
                  <i class="fas fa-blog" *ngIf="item?.visibility"></i>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <i class="fab fa-{{item.media}}" *ngIf="item?.visibility"></i>
                </ng-container>
              </ng-container>
            </a>
          </ng-container>
          <ng-template #elseTemplate>
            <ng-container  *ngFor="let item of userInfo?.social_media_link">
              <a class="mr-1" href="{{item.url}}" target="_blank">
                <ng-container *ngIf="item?.visibility == true" [ngSwitch]="item?.media">
                  <ng-container *ngSwitchCase="'youtube'">
                    <i class="fab fa-youtube-square" *ngIf="item?.visibility"></i>
                  </ng-container>
                  <ng-container *ngSwitchCase="'portfolio'">
                    <i class="fas fa-laptop-code" *ngIf="item?.visibility" ></i>
                  </ng-container>
                  <ng-container *ngSwitchCase="'blog'">
                    <i class="fas fa-blog" *ngIf="item?.visibility"></i>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <i class="fab fa-{{item.media}}" *ngIf="item?.visibility" ></i>
                  </ng-container>
                </ng-container>
              </a>
            </ng-container>
          </ng-template>
        </h6>

      </div>
    </div>
    </div> -->

	  <div class="col-lg-12 text-right" *ngIf="isMatchView">
		<div class="form-inline float-right mt-2">
			<div class="selectDD">
				<select class="selectpicker" [(ngModel)]="selected" id="selectpicker" data-none-selected-text="View Other Matches" multiple data-live-search="true">
					<option class="d-none" disabled selected >  {{"shared.viewOtherMatches" | translate }}  </option>
					<option *ngFor="let item of postedJobsMatchDetails" [value]="item.id">{{item.title}}</option>
				</select>
			</div>
			<button type="button" (click)="OpenMatchesWithID()"  class="btn btn-theme-blue btn-sm"> 
			<i class="fas fa-tasks"></i></button>				
		</div>	
	</div> 
		</div>
  </div>
</div>
<div *ngIf="matchesModels">
        <span class=" profile-btn" *ngIf="!isMultipleMatches" style="display: inline-block;">
          <a *ngIf="!isUploadShow || selectedCover?.file"
          [class.disabled]="!selectedCover?.file"
          (click)="selectedCover?.file && onToggleCoverForm(true, (selectedCover?.file))" class="btn btn-smss btn-outline-orange  btn-sm" href="javascript:;" style="font-size:12px;">
            <i class="fas fa-envelope-open-text"></i>  {{"shared.coverLetter" | translate }}
          </a>
		  <a *ngIf="isUploadShow && !selectedCover?.file" 
          (click)="openCoverselect(true)" class="btn btn-smss btn-outline-orange  btn-sm" style="font-size:12px;" href="javascript:;">
            <i class="fas fa-envelope-open-text"></i>  {{"shared.addCover" | translate }}
          </a>
        </span>
        <span *ngIf="isResume" class="profile-btn"  style="display: inline-block;">
          <a *ngIf="!isUploadShowResume || selectedResume?.file" style="margin-top: .25rem;font-size:12px;"
          [class.disabled]="!selectedResume?.file"
          (click)="selectedResume?.file && onToggleResumeForm(true, (selectedResume?.file))" class="btn btn-smss btn-outline-blue btn-sm" href="javascript:;">
            <i class="fas fa-envelope-open-text"></i> {{"shared.resume" | translate }}
          </a> <a *ngIf="isUploadShowResume && !selectedResume?.file" style="margin-top: .25rem;font-size:12px;"
         (click)="openResumselect(true)"  id="addResumeFile" 
           class="btn  btn-smss btn-outline-blue btn-sm" href="javascript:;">
            <i class="fas fa-envelope-open-text"></i>  {{"shared.addResume" | translate }}
          </a>
        </span>

</div>
<app-cover-select
[togglecoverSelectModal]="togglecoverSelectModal"
*ngIf="togglecoverSelectModal"
(onEvent)="onToggleCoverSelectModal($event)">
</app-cover-select>
<app-resume-selects
[toggleresumeSelectModal]="toggleresumeSelectModal"
*ngIf="toggleresumeSelectModal"
(onEvent)="onToggleResumeSelectModal($event)">
</app-resume-selects>

<app-contact-info
[userInfo]="userInfo"
*ngIf="isOpenedContactInfoModal"
[toggleContactInfoModal]="isOpenedContactInfoModal"
(onEvent)="onToggleContactInfoModal($event)"
></app-contact-info>

<app-resume-modal
[url]="selectedResumeUrl"
*ngIf="isOpenedResumeModal"
[toggleResumeModal]="isOpenedResumeModal"
(onEvent)="onToggleResumeForm($event)">
</app-resume-modal>

<app-cover-modal
*ngIf="isOpenedCoverModal"
[url]="selectedCoverUrl"
[toggleCoverModal]="isOpenedCoverModal"
(onEvent)="onToggleCoverForm($event)">
</app-cover-modal>

<app-send-mail-job-preview
*ngIf="isOpenedSendMailModal"
[jobInfo]="jobInfo"
[userInfo]="userInfo"
[toggleSendMailModal]="isOpenedSendMailModal"
(onEvent)="onToggleSendMail($event)">
</app-send-mail-job-preview>
