<section class="my-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-12">
        <div class="matching-post">
              <ng-container *ngFor="let item of postedJobs; let i = index" >
          <div  *ngIf="checkDataCount(item?.id) != 0 && checkDataCount(item?.id) != '0'"  class="custom-control custom-radio mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
            <input  (change)="onSetJob(item)" class="custom-control-input  mb-0" type="radio" id="Check_{{i}}" name="example1_{{selectedJob?.id}}_{{item?.id}}" [checked]="(selectedJob?.id == item?.id)">
            <label class="text-capitalize custom-control-label mb-0" for="Check_{{i}}">{{item?.title}} ({{ checkDataCount(item?.id)}})</label>
          </div>
			</ng-container>
        </div>
      </div>
    </div>
	<div class="row mb-2">
		<div class="col-lg-12">	
			<h6>
			  <a data-toggle="collapse" href="#collapseRDN" role="button" aria-expanded="true" aria-controls="collapseRDN" style="color:#ff2972;" class="">
				<i class="fas fa-filter" style="text-shadow: 2px 1px 1px #b2b2b2;margin-right: 5px;font-size: 16px;"></i>{{"shared.mostMatched" | translate }} 
			 </a>
			</h6>
		</div>
	</div>
	<div class="row collapse" id="collapseRDN" style="background: rgb(250, 250, 250); padding-top: 10px; margin: 5px 0px 15px; border-radius: 7px;">
		<div class="col-lg-4">
			<div class="custom-control custom-radio border-bottom pb-1">
				<!-- <input (change)="handleChange($event)" type="radio" id="customRadioZ1" name="customRadioZ01" class="custom-control-input"> -->
				<label > {{"jobs.required" | translate }} </label>
			</div>
			<div class="py-2">
				<!-- <button type="button" class="btn btn-fltr" (click)="handleChange($event);" id="filter_location">Job Location based User</button> -->
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.experience=='0'" id="experience">{{"userProfile.totalYearsOfExp" | translate }}</button>
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.sap_experience=='0'&& selectedJob?.entry ==false " id="sap_experience">{{"matches.totalYearsOfSapExperience" | translate }}</button>
				<button type="button" (click)="handleChange($event);" class="btn btn-fltr" *ngIf="selectedJob?.match_select?.domain=='0' " id="domain">{{"userProfile.domainExperience" | translate }}</button>
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.hands_on_experience=='0'  && selectedJob?.entry ==false " id="hands_on_experience">{{"userProfile.handsOnExperience" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.skills=='0'" id="skills">{{"userProfile.knowledgeOn" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.programming_skills=='0'" id="programming_skills">{{"userProfile.programmingSkills" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.optinal_skills=='0'" id="optinal_skills">{{"userProfile.otherSkills" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.certification=='0'" id="certification">{{"userProfile.certification" | translate }}</button>
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.type=='0'" id="type">{{"userProfile.jobType" | translate}}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.employer_role_type=='0'" id="employer_role_type">{{"userProfile.jobRole" | translate}}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.availability=='0'" id="availability">{{"userProfile.availability" | translate}}</button>
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.work_authorization=='0'" id="work_authorization">{{"userProfile.workAuthorisation" | translate}}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.end_to_end_implementation=='0'" id="end_to_end_implementation">{{"userProfile.endToEnd" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.education=='0'" id="education">{{"userProfile.education" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.travel_opportunity=='0'" id="travel_opportunity">{{"userProfile.travelRequired" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.remote=='0'" id="remote">{{"userProfile.remote" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.language=='0'" id="language">{{"userProfile.languageKnown" | translate }}</button>
				<div style="margin-left:0px;" class="row" *ngIf="selectedJob?.extra_criteria">
					<div *ngFor="let item of selectedJob?.extra_criteria | keyvalue; let i=index" >
						<div *ngIf="selectedJob?.match_select[selectedJob?.extra_criteria[i]['title']]=='0'">
							<button type="button" (click)="handleChange($event);"  class="btn btn-fltr"  id="{{item.value.title}}_{{i}}">{{item?.value?.title ? item?.value?.title : '--'}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">	
			<div class="custom-control custom-radio border-bottom pb-1">
				<!-- <input (change)="handleChange($event)"  type="radio" id="customRadioZ2" name="customRadioZ01" class="custom-control-input"> -->
				<label >{{"jobs.desired" | translate }} </label>
			</div>
			<div class="py-2">
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.experience=='1'" id="experience">{{"userProfile.totalYearsOfExp" | translate }}</button>
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.sap_experience=='1'" id="sap_experience">{{"matches.totalYearsOfSapExperience" | translate }}</button>
				<button type="button" (click)="handleChange($event);" class="btn btn-fltr" *ngIf="selectedJob?.match_select?.domain=='1'" id="domain">{{"userProfile.domainExperience" | translate }}</button>
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.hands_on_experience=='1'" id="hands_on_experience">{{"userProfile.handsOnExperience" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.skills=='1'" id="skills">{{"userProfile.knowledgeOn" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.programming_skills=='1'" id="programming_skills">{{"userProfile.programmingSkills" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.optinal_skills=='1'" id="optinal_skills">{{"userProfile.otherSkills" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.certification=='1'" id="certification">{{"userProfile.certification" | translate }}</button>
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.type=='1'" id="type">{{"userProfile.jobType" | translate}}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.employer_role_type=='1'" id="employer_role_type">{{"userProfile.jobRole" | translate}}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.availability=='1'" id="availability">{{"userProfile.availability" | translate}}</button>
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.work_authorization=='1'" id="work_authorization">{{"userProfile.workAuthorisation" | translate}}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.end_to_end_implementation=='1'" id="end_to_end_implementation">{{"userProfile.endToEnd" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.education=='1'" id="education">{{"userProfile.education" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.travel_opportunity=='1'" id="travel_opportunity">{{"userProfile.travelRequired" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.remote=='1'" id="remote">{{"userProfile.remote" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.willing_to_relocate=='1'" id="willing_to_relocate">{{"userProfile.relocate" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.language=='1'" id="language">{{"userProfile.languageKnown" | translate }}</button>
				<div style="margin-left:0px;" class="row" *ngIf="selectedJob?.extra_criteria">
					<div *ngFor="let item of selectedJob?.extra_criteria | keyvalue; let i=index" >
						<div *ngIf="selectedJob?.match_select[selectedJob?.extra_criteria[i]['title']]=='1'">
							<button type="button" (click)="handleChange($event);"  class="btn btn-fltr"  id="{{item.value.title}}_{{i}}">{{item?.value?.title ? item?.value?.title : '--'}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="custom-control custom-radio border-bottom pb-1">
				<!-- <input (change)="handleChange($event)"  type="radio" id="customRadioZ3" name="customRadioZ01" class="custom-control-input"> -->
				<label >{{"jobs.niceToHave" | translate }}  </label>
			</div>
			<div class="py-2">
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.experience=='2'" id="experience">{{"userProfile.totalYearsOfExp" | translate }}</button>
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.sap_experience=='2'" id="sap_experience">{{"matches.totalYearsOfSapExperience" | translate }}</button>
				<button type="button" (click)="handleChange($event);" class="btn btn-fltr" *ngIf="selectedJob?.match_select?.domain=='2'" id="domain">{{"userProfile.domainExperience" | translate }}</button>
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.hands_on_experience=='2'" id="hands_on_experience">{{"userProfile.handsOnExperience" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.skills=='2'" id="skills">{{"userProfile.knowledgeOn" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.programming_skills=='2'" id="programming_skills">{{"userProfile.programmingSkills" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.optinal_skills=='2'" id="optinal_skills">{{"userProfile.otherSkills" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.certification=='2'" id="certification">{{"userProfile.certification" | translate }}</button>
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.type=='2'" id="type">{{"userProfile.jobType" | translate}}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.employer_role_type=='2'" id="employer_role_type">{{"userProfile.jobRole" | translate}}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.availability=='2'" id="availability">{{"userProfile.availability" | translate}}</button>
				<button type="button" class="btn btn-fltr btn-fltr-active" *ngIf="selectedJob?.match_select?.work_authorization=='2'" id="work_authorization">{{"userProfile.workAuthorisation" | translate}}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.end_to_end_implementation=='2'" id="end_to_end_implementation">{{"userProfile.endToEnd" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.education=='2'" id="education">{{"userProfile.education" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.travel_opportunity=='2'" id="travel_opportunity">{{"userProfile.travelRequired" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.remote=='2'" id="remote">{{"userProfile.remote" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.willing_to_relocate=='2'" id="willing_to_relocate">{{"userProfile.relocate" | translate }}</button>
				<button type="button" (click)="handleChange($event);"  class="btn btn-fltr" *ngIf="selectedJob?.match_select?.language=='2'" id="language">{{"userProfile.languageKnown" | translate }}</button>
				<div style="margin-left:0px;" class="row" *ngIf="selectedJob?.extra_criteria">
					<div *ngFor="let item of selectedJob?.extra_criteria | keyvalue; let i=index" >
						<div *ngIf="selectedJob?.match_select[selectedJob?.extra_criteria[i]['title']]=='2'">
							<button type="button" (click)="handleChange($event);"  class="btn btn-fltr"  id="{{item.value.title}}_{{i}}">{{item?.value?.title ? item?.value?.title : '--'}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="row">
      <div class="col-lg-8 col-md-12">
		<div class="col-lg-12 mt-3">
            <div class="clearfix">
              <div  *ngFor="let item of postedJobCountry; let i=index" class="alert alert-find alert-dismissible " role="alert">
                <a style="text-transform: capitalize;" (click)="ValidateByCountry(item.country,$event)"> {{item.country}} ({{item.count}})</a>
              </div>
            </div>
          </div> 
        <!-- <div class="row">
          <div class="col-lg-5">
            <form class="form-inline">
              <div class="form-group mr-2">
              <label>{{"dashboard.sortBy" | translate}} : </label>
              </div>
              <div class="form-group">
              <select class="form-control form-control-sm">
                <option>Latest</option>
                <option>Top Matches</option>
              </select>
              </div>
            </form>
          </div>
          <div class="col-lg-5">
            <form class="form-inline">
              <div class="form-group mr-2">
              <label>{{"dashboard.filter" | translate}} : </label>
              </div>
              <div class="form-group">
              <select class="form-control form-control-sm">
                <option hidden>{{"common.select" | translate}}</option>
                <option value="avail">Availability</option>
                <option value="reloc">Relocation</option>
                <option value="trav">Travel</option>
                <option value="job">Job Type</option>
              </select>
              </div>
            </form>
          </div>
        </div> -->
        <ng-container *ngIf="userList?.length; else elseTemplate">
          <div class="row mt-4 mb-4" *ngFor="let item of userList; let i=index">
            <div class="col-lg-12">
              <div class="card job-card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-7 col-md-5">
                      <a href="javascript:;" [routerLink]="['/employer/job-candidate-matches/details/view']" [queryParams]="{jobId: selectedJob?.id, userId: item?.id}">
                        <h5 class="text-capitalize">
                          <span>{{(item?.first_name ? item?.first_name : '') + ' ' + (item?.last_name ? item?.last_name : '')}}</span>
                          <small *ngIf="item?.job_role"> - {{item?.job_role}}</small>
                          <span *ngIf="!utilsHelperService.isEmptyObj(item?.job_application)" class="badge badge-success applied-badge ml-1" style="font-size: 11px;padding: 3px 6px;">{{ item?.job_application?.status == 7 ? 'Pending' : 'Applied'}}</span>
                        </h5>
                        <!-- <h6> -->

                        <!-- </h6> -->
                      </a>
                    </div>
                    <div class="col-lg-5  col-md-7 text-right mt-2">

                      <span data-toggle="modal" data-target="#exampleModal">
                        <a
                        [class.disabled]="!onGetFilteredValue(item?.doc_resume)"
                        (click)="onGetFilteredValue(item?.doc_resume) && onToggleResumeForm(true, (userMeta?.doc_resume?.path + '/' + userMeta?.doc_resume?.folder + '/' + onGetFilteredValue(item?.doc_resume)))" class="btn btn-outline-blue btn-sm" href="javascript:;">
                          <i class="fas fa-file-alt"></i> {{"shared.resume" | translate }}
                        </a>
                      </span>
                      <span class="ml-1"  *ngIf="item?.mail !=true">
						<a *ngIf="utilsHelperService.isEmptyObj(item?.job_application) && selectedJob?.status ==1 " (click)="onToggleSendMail(true, item)" class="btn btn-outline-orange btn-sm" href="javascript:;">
						<i class="fas fa-paper-plane"></i> {{"shared.sendMail" | translate }} </a>
					</span>
                      <span class="ml-1"  *ngIf="item?.mail ==true">
						<a  class="btn btn-outline-orange btn-sm btn-outline-orange-active" href="javascript:;">
						<i class="fas fa-paper-plane"></i> {{"shared.sendMail" | translate }} </a>
					</span>
                    </div>
                    <div *ngIf="savedProfiles?.includes(item?.id) " (click)="onUnSaveProfile(item)" class="save-icon active" tooltip="Un Save"><i class="far fa-bookmark"></i></div>
                    <div *ngIf="!savedProfiles?.includes(item?.id) " (click)="onSaveProfile(item)" class="save-icon" tooltip="Save"><i class="far fa-bookmark"></i></div>
                  </div>
                  <div class="media">
                    <img *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(0)" [src]="item?.photo ? userMeta?.photo?.path+'/'+ userMeta?.photo?.folder+'/'+userMeta?.photo?.sizes?.medium+'/'+item?.photo+'?v='+ randomNum : 'assets/images/user-img-icon.jpg'">
                    <ng-container *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(1);">
                      <ng-container *ngIf="item?.privacy_protection?.photo == true; else elsePhotoTemplate">
                        <img [src]="item?.photo ? userMeta?.photo?.path+'/'+ userMeta?.photo?.folder+'/'+userMeta?.photo?.sizes?.medium+'/'+item?.photo+'?v='+ randomNum : 'assets/images/user-img-icon.jpg'">
                      </ng-container>
                      <ng-template #elsePhotoTemplate>
                        <img [src]="'assets/images/user-lock.jpg'">
                      </ng-template>
                    </ng-container>
                    <!-- <img src="assets/images/user-img.jpg"> -->
                    <div class="media-body">
                      <h6 class="text-capitalize">
                        {{item?.city ? item?.city +', ' : ''}}
                        {{item?.state ?  item?.state +', ' : ''}}
                        <span>
                          {{item?.country ?  item?.country : ''}}
                        </span>
                      </h6>
                      <h6>{{item?.experience ? 'Total Years Exp: ' + item?.experience : ''}}
                        <span *ngIf="item?.sap_experience">, {{item?.sap_experience ? 'SAP Exp: ' + item?.sap_experience : ''}}</span>
                      </h6>
                      <h6 *ngIf="item?.job_type">{{item?.job_type ? checkJobType(item?.job_type) : ''}}</h6>
                      <h6 *ngIf="item?.availability || item?.availability == 0">
                       Availability: {{(item?.availability || item?.availability == 0) ? (item?.availability == 0 ? 'Immediate' : item?.availability + ' Days') : '--'}}
                      </h6>
                      <div class="mt-2">
						<!-- <ng-container *ngIf="item?.hands_on_experience?.length; else elseHandsTemplate">
							<ng-container *ngFor="let items of item?.hands_on_experience; let i = index" >
								<span class="sap-badge"> {{items?.skill_id ? utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(items?.skill_id)?.tag) : '--'}} </span>
							</ng-container>
						</ng-container>
						<ng-template #elseHandsTemplate>
							<span  class="sap-badge">--</span>
						</ng-template> -->
                        <ng-container *ngFor="let itemSub of filterData(item?.skills)">
                          <span *ngIf="itemSub" class="sap-badge">{{utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(itemSub)?.tag)}}</span>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <p>No candidates available</p>
        </ng-template>
		<div class="d-flex justify-content-center" style="background: #f8f8f8;" *ngIf="((userMeta?.count > 0 && userMeta?.total > 10))">
		<mat-paginator style="background: #f8f8f8;color: #000;" (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="limit" [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="page-1">
</mat-paginator>
</div>
        <!-- <div class="d-flex justify-content-center" *ngIf="((userMeta?.count > 0 && userMeta?.total > 25) && (userMeta?.total != userList?.length))">
          <button (click)="onLoadMoreJob()" class="btn btn-theme-blue" type="button">
            Load More
          </button>
        </div> -->
        <!-- <div class="row mt-4 mb-4">
          <div class="col-lg-12">
            <div class="card job-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-7">
                    <a href="javascript:;" [routerLink]="['/employer/job-candidate-matches']" >
                      <h5>Jacky Smith <small> - Project Manager</small></h5>
                    </a>
                  </div>
                  <div class="col-lg-5 text-right mt-3">
                    <span data-toggle="modal" data-target="#exampleModal">
                      <a (click)="onToggleResumeForm(true)" class="btn btn-outline-blue btn-sm mr-1" href="javascript:;">
                      <i class="fas fa-file-alt"></i> {{"dashboard.resume" | translate}}</a>
                    </span>
                    <span data-toggle="modal" data-target="#hireNow">
                      <a (click)="onToggleSendMail(true)"  class="btn btn-outline-orange btn-sm" href="javascript:;">
                      <i class="fas fa-paper-plane"></i> {{"dashboard.mail" | translate}}</a>
                    </span>
                  </div>
                  <div class="save-icon active mt-1" data-toggle="tooltip" title="Save"><i class="far fa-bookmark"></i></div>
                </div>
                <div class="media">
                  <img src="assets/images/user-img.jpg">
                  <div class="media-body">
                    <h6>8 Yrs Experience, H1B</h6>
                    <h6>Permanent, Contract, Part Time</h6>

                    <div class="mt-2">
                      <span class="sap-badge">SAP ABAP</span> <span class="sap-badge">SAP FSCM</span>  <span class="sap-badge">SAP Mobility</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <!--Side Bar Section-->
      <div class="col-lg-4 col-md-12">
        <div class="title">
          <h2> {{"shared.filter" | translate }}
            <button *ngIf="customObject?.keys(utilsHelperService.clean(tempQueryParams))?.length > 2" (click)="onClearFilter()" class="btn btn-sm btn-theme-blue ml-2 float-right" type="button">
              <i class="fa fa-times" aria-hidden="true" style="margin-right: 3px;" ></i> {{"shared.clear" | translate }}
            </button>
          </h2>

        </div>
        <div class="sidebar-widget text-left">
        <div class=" my-scrollbar">
          <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#collapseExperience" aria-expanded="false" aria-controls="collapseExperience">
              {{"shared.experience" | translate }}  <i class="fas fa-angle-down float-right pt-1"></i>
            </div>
            <div class="card-body collapse multi-collapse show" id="collapseExperience">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let item of experienceFilter; let i=index">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [checked]="onCheckExpDefault(item)" (change)="onFiltertByExperience(item)" class="custom-control-input" id="experienceCheck_{{i}}">
                    <label class="custom-control-label" for="experienceCheck_{{i}}" *ngIf="item?.value?.min ==0">{{"shared.fresher" | translate }}</label>
                    <label class="custom-control-label" for="experienceCheck_{{i}}" *ngIf="item?.value?.min !=0 && item?.value?.max !=20">{{item?.text}} {{"shared.year" | translate }}</label>
                    <label class="custom-control-label" for="experienceCheck_{{i}}" *ngIf="item?.value?.max ==20">{{item?.text}} {{"shared.yearAbove" | translate }}</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="card mt-4">
            <div class="card-header" data-toggle="collapse" data-target="#collapseJoptype" aria-expanded="false" aria-controls="collapseJoptype">
              {{"userProfile.jobType" | translate }}  <i class="fas fa-angle-down float-right pt-1"></i>
            </div>
            <div [ngClass]="{'show': queryParams?.job_types}" class="card-body collapse multi-collapse" id="collapseJoptype">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let item of sharedService.onGetJobType(); let i=index">
                  <div class="custom-control custom-checkbox">
                    <input [value]="item.id" [checked]="queryParams?.job_types?.includes(item.id)" (change)="onFiltertByJobType('job_types', item.id)" type="checkbox" class="custom-control-input" id="customCheck_{{i}}">
                    <label class="custom-control-label" for="customCheck_{{i}}" *ngIf="item?.id==1000">{{"shared.fullTime" | translate }} </label>
                    <label class="custom-control-label" for="customCheck_{{i}}" *ngIf="item?.id==1001">{{"shared.partTime" | translate }} </label>
                    <label class="custom-control-label" for="customCheck_{{i}}" *ngIf="item?.id==1002">{{"shared.contract" | translate }}</label>
                    <label class="custom-control-label" for="customCheck_{{i}}" *ngIf="item?.id==1003">{{"shared.freelance" | translate }} </label>
                    <label class="custom-control-label" for="customCheck_{{i}}" *ngIf="item?.id==1004">{{"shared.internship" | translate }} </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- <div class="card mt-4">
            <div class="card-header" data-toggle="collapse" data-target="#collapseSalary" aria-expanded="false" aria-controls="collapseSalary">
              Salary  <i class="fas fa-angle-down float-right pt-1"></i>
            </div>
            <div [ngClass]="{'show': (queryParams?.min_experience && queryParams?.max_experience)}" class="card-body p-3 collapse multi-collapse" id="collapseSalary">
              <ngx-slider (userChangeEnd)="onChangeEve($event)" [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
            </div>
          </div> -->
          <div class="card mt-4">
            <div class="card-header" data-toggle="collapse" data-target="#collapseSkills" aria-expanded="false" aria-controls="collapseSkills">
             {{"shared.sapSkills" | translate }}    <i class="fas fa-angle-down float-right pt-1"></i>
            </div>
            <div [ngClass]="{'show': skills?.length}" class="card-body p-3 collapse multi-collapse" id="collapseSkills">
              <div class="skill-select">
                <ng-container *ngFor="let item of skillItems?.items; let i=index">
                  <div *ngIf="item?.id" class="custom-control custom-checkbox mb-2">
                    <input [checked]="skills?.includes(customParseInt(item?.id))" (change)="onFiltertBySkill(item)" class="custom-control-input  mb-0" type="checkbox" id="Check_skill_{{i}}" name="example1">
                    <label class="custom-control-label  mb-0" for="Check_skill_{{i}}">{{utilsHelperService.onSplitTag(item?.tag)}} </label>
                  </div>
                </ng-container>


              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!--//Side Bar Section-->
    </div>
  </div>
</section>

<!-- <app-resume-modal
*ngIf="isOpenedResumeModal"
[toggleResumeModal]="isOpenedResumeModal"
(onEvent)="onToggleResumeForm($event)">
</app-resume-modal> -->
<app-resume-modal
[url]="selectedResumeUrl"
*ngIf="isOpenedResumeModal"
[toggleResumeModal]="isOpenedResumeModal"
(onEvent)="onToggleResumeForm($event)">
</app-resume-modal>


<app-send-mail-job-preview
*ngIf="isOpenedSendMailModal"
[jobInfo]="selectedJob"
[userInfo]="currentUserInfo"
[toggleSendMailModal]="isOpenedSendMailModal"
(onEvent)="onToggleSendMail($event)">
</app-send-mail-job-preview>
