 <!-- //Header Section -->
    <!-- Sub Header Section -->
	<section class="sub-header">
		<div class="matchwidths"  >
		<div class="row">
			<div class="col-lg-5 d-flex align-items-center">
				<!-- <button (click)="onRedirectBack();" type="button" class="btn btn-outline-green btn-sm mr-1">
					<i class="fas fa-arrow-left"></i>
				</button> -->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a (click)="onRedirectBack();" ><i class="fas fa-chevron-circle-left my-auto mr-1"></i></a></li>
					<li class="breadcrumb-item active" aria-current="page">{{"nav.matchingCandidates" | translate }}</li>
				</ol>
			</div>
			<div class="col-lg-7 clearfix">
			</div>
		</div>
		</div>
</section>
    <!-- //Sub Header Section -->
	<section class="mb-5">
		<div class="title-card clearfix">
			<div class="container container-big">
			<div class="row">
				<div class="col-8">
					<h5 class="text-capitalize">{{postedJobsDetails?.title}}  <span class="mx-2"> | </span>
					<ng-container *ngFor="let item of postedJobsDetails?.job_locations" >
					{{item?.city ? item?.city+', '+item?.stateshort+', '+item?.countryshort: ''}}
					</ng-container>
					</h5>
				</div>
				<div class="col-4 text-right">
					<a class="btn btn-outline-blue btn-sm" (click)="onToggleJDModal(true)" href="javascript:;"><i class="fas fa-file-alt"></i> {{"shared.description" | translate }}</a>
				</div>
			</div>
			</div>
       </div>
		<div class="container container-big">	
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-6">										
					<div class="match-details">										
						<app-shared-job-profile [jobInfo]="postedJobsDetails" [isShownRequiements]="true"  [isMultipleMatches]="isMultipleMatches"[isHideData]="isHideData" 
			[fieldsExclude]="{salary: false, visa_sponsorship: false, end_to_end_implementation: true}">
		                 </app-shared-job-profile>
					</div>	
					<div id="carouselProfile" class="carousel slide" data-interval="false" data-ride="carousel" >
					  <!--PrevNext-->
					    <div class="ee-count clearfix">
					<div class="count-num">{{page}}/{{matchingUsersMeta?.count}}</div>
					<a *ngIf="page != 1 "  style="cursor:pointer;" (click)="onChangeUsers('prev')" class="carousel-control-prev" href="#carouselProfile" role="button" data-slide="prev">
						Prev
					</a>
					<a *ngIf="page != matchingUsersMeta?.count " (click)="onChangeUsers('next')" class="carousel-control-next" href="#carouselProfile" role="button" data-slide="next">
						Next
					</a>
			          </div>
					  <div  id="cardsliders" class="carousel-inner">
						<!--Profile1-->
						<div class="carousel-item active">
						<div  class="row">
					<div class="col-10">
						<div class="ee-infobox d-flex justify-content-between">
							<div class="d-flex">
								<div class="avtr">
									<img style="width: 105px;
					height: 105px;" [src]="matchingUsers?.profile?.photo ? userprofilepath+matchingUsers?.profile?.photo : 'assets/images/user-img-icon.jpg'">
								</div>
								<div class="text">
								<a *ngIf="!router.url.includes('admin')" [routerLink]="['/employer/candidate-profile']" [queryParams]="{location_id: matchingUsers?.profile?.job_location?.id,id: matchingUsers?.profile?.id, jobId: postedJobsDetails?.id}" href="javascript:;"><h5 class="text-capitalize">{{(matchingUsers?.profile?.first_name ? matchingUsers?.profile?.first_name : '') + ' '
					+ (matchingUsers?.profile?.last_name ? matchingUsers?.profile?.last_name : '')}}<small *ngIf="matchingUsers?.profile?.job_role"> -
					{{matchingUsers?.profile?.job_role}}</small></h5></a>
					            <a *ngIf="router.url.includes('admin')" [routerLink]="['/admin/candidate-profile']" [queryParams]="{location_id: matchingUsers?.profile?.job_location?.id,id: matchingUsers?.profile?.id, jobId: postedJobsDetails?.id,empids:empID}" href="javascript:;"><h5 class="text-capitalize">{{(matchingUsers?.profile?.first_name ? matchingUsers?.profile?.first_name : '') + ' '
					+ (matchingUsers?.profile?.last_name ? matchingUsers?.profile?.last_name : '')}}<small *ngIf="matchingUsers?.profile?.job_role"> -
					{{matchingUsers?.profile?.job_role}}</small></h5></a>
									<h5 class="text-capitalize"><small>{{matchingUsers?.profile?.city ? matchingUsers?.profile?.city+', '  : ''}}
					{{matchingUsers?.profile?.state ? matchingUsers?.profile?.state+', '  : ''}}{{matchingUsers?.profile?.country ? matchingUsers?.profile?.country : ''}}
									</small></h5>
									<h5><small *ngIf="matchingUsers?.profile?.current_employer">{{matchingUsers?.profile?.current_employer}}</small></h5>
								</div>
							</div>
							<div class="butn">
								<div class="mb-2">
								<a [class.disabled]="!onGetFilteredValue(matchingUsers?.profile?.doc_cover)" href="javascript:;" (click)="onGetFilteredValue(matchingUsers?.profile?.doc_cover) && onToggleCoverForm(true, (onGetFilteredValue(matchingUsers?.profile?.doc_cover)))" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#resumeModal">
													<i class="fas fa-file-alt"></i>{{"shared.coverLetter" | translate}}
												</a>&nbsp;
										
										<span *ngIf="!matchingUsers?.application">
											<a [class.disabled]="!onGetFilteredValue(matchingUsers?.profile?.doc_resume)" href="javascript:;" (click)="onGetFilteredValue(matchingUsers?.profile?.doc_resume) && onToggleResumeForm(true, (onGetFilteredValue(matchingUsers?.profile?.doc_resume)))" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#resumeModal">
													<i class="fas fa-file-alt"></i>{{"shared.resume" | translate}}
												</a>	
										</span>
										<span *ngIf="matchingUsers?.application">
											<a href="javascript:;" (click)="onToggleResumeForm(true, (matchingUsers?.application ? matchingUsers?.application?.user_resume : onGetFilteredValue(matchingUsers?.profile?.doc_resume)))" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#resumeModal">
													<i class="fas fa-file-alt"></i>{{"shared.resume" | translate}}
												</a>	
										</span>
									
								</div>
								<div class="">
									<button (click)="onShowMatches($event)" id="matchBtnVal" [ngClass]="matchedElement ? 'btn-fltr-active' : ''" class="matchBtn btn btn-sm btn-light"><img src="assets/images/matchs-icon.png" width="13px"> {{"shared.matches" | translate}} </button>&nbsp;
									<button (click)="onShowMissing($event)" id="missBtnVal"  [ngClass]="missingElement ? 'btn-fltr-active' : ''" class="missBtn btn btn-sm btn-light"><img src="assets/images/missing-icon.png" width="12px"> {{"shared.missing" | translate}} </button>&nbsp;
									<button (click)="onShowMore($event)" id="moreBtnVal"  [ngClass]="moreElement ? 'btn-fltr-active' : ''" class="moreBtn btn btn-sm btn-light"><img src="assets/images/info-icon.png" width="13px">{{"shared.moreSkills" | translate}} </button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-1">
						<div class="ee-scorebox text-uppercase">{{"shared.score" | translate}}<h4>{{matchingUsers?.score ? matchingUsers?.score :0}}/10</h4></div>
					</div>
					</div>
							
								<app-shared-user-profile-matches  [isShownRequiements]="true" [postedJobsDetails]="postedJobsDetails"  [isMultipleMatches]="isMultipleMatches" [application]="matchingUsers?.application" 
								[matchedElement]="matchedElement" [missingElement]="missingElement"
								[moreElement]="moreElement" [matchingUsers]="matchingUsers" [matchingUsersNew]="matchingUsersNew">
								</app-shared-user-profile-matches>
								<div class="col-lg-12 info" style="text-align:end;" *ngIf="matchingUsers?.profile?.mail !=true">
									<button *ngIf="!matchingUsers?.application && postedJobsDetails?.status == 1 " (click)="onToggleSendMail(true, matchingUsers?.profile)" type="button" class="btn btn-outline-orange ml-auto"  style="bottom: 15px; right: 15px;"> <i
										class="fas fa-paper-plane"></i> {{"shared.sendMail" | translate}}</button>
								</div>
							
						</div>
						
					  </div>
					</div>	
				</div>
			</div>
		</div>
	</section>
	
	<ng-template *ngIf="toggleMatchModal" #deleteModal let-modal let-d="dismiss">
<div class="full-width">
<div class="modal-header bg-dblue text-white">
	<h3 class="modal-title" id="exampleModalLabel"> {{"shared.matchOtherPosts" | translate}} </h3>
	<button (click)="mbRef?.close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<div class="form-row">
		<div class="col-12 my-2 border-bottom">
			<h6 class="text-blue">{{"shared.jobsThatMatch" | translate}} </h6>
		</div>
	</div>
		<div class="form-row">
			<div class="col-12 my-2" *ngFor="let item of postedJobsMatchDetails;">
				<div class="custom-control custom-checkbox mr-sm-2">
					<input type="checkbox" class="custom-control-input" [name]="item?.id" [id]="item?.id" (change) ="updateSelectedTimeslots($event,item?.id)" >
					<label class="custom-control-label font-weight-bold pt-1" [for]="item?.id">{{ item?.title}}</label>
				</div>
			</div>
		</div>
</div>
<div class="modal-footer full-width">
	<button type="button" class="btn btn-secondary"
		(click)="mbRef?.close()">{{"shared.close" | translate}} </button> 
	<button type="button" class="btn btn-theme-blue"
		(click)="MatchCandidate()">{{"shared.match" | translate}} </button>
</div>
</div>
</ng-template>



<app-resume-modal
[url]="selectedResumeUrl"
*ngIf="isOpenedResumeModal"
[toggleResumeModal]="isOpenedResumeModal"
(onEvent)="onToggleResumeForm($event)">
</app-resume-modal>

<app-cover-modal
*ngIf="isOpenedCoverModal"
[url]="selectedCoverUrl"
[toggleCoverModal]="isOpenedCoverModal"
(onEvent)="onToggleCoverForm($event)">
</app-cover-modal>

<app-job-description [isRichTextEnabled]="true" [description]="postedJobsDetails?.description" [toggleJDModal]="isOpenedJDModal" *ngIf="isOpenedJDModal" (onEvent)="onToggleJDModal($event)">
</app-job-description>


<app-match-other-post [togglematchOtherPostModal]="isOpenedOtherPostModal" *ngIf="isOpenedOtherPostModal"
(onEvent)="onToggleOtherPostModal($event)">
</app-match-other-post>

<app-send-mail-job-preview
*ngIf="isOpenedSendMailModal"
[jobInfo]="postedJobsDetails"
[userInfo]="currentUserInfo"
[toggleSendMailModal]="isOpenedSendMailModal"
(onEvent)="onToggleSendMail($event)">
</app-send-mail-job-preview>

	