.score-txt-orange {
  color: #ff8645;
  border: 1px solid #ff8645;
}
.score-txt-green {
  color: #35ad97;
  border: 1px solid #35ad97;
}
.score-txt-red {
  color: #dc3545;
  border: 1px solid #dc3545;
}
.btn-fltr {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    margin-right: 3px;
    margin-bottom: 14px;
    padding: 4px 8px;
    font-size: 12px;
}
.btn-fltr:hover {

    color: #000;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.btn-fltr-active {
    background-color: #e2e6ea;
    border-color: #dae0e5;
    color: #000;
}