.score-txt-orange {
  color: #ff8645;
  border: 1px solid #ff8645;
}
.score-txt-green {
  color: #11b771;
  border: 1px solid #11b771;
}
.score-txt-red {
  color: #dc3545;
  border: 1px solid #dc3545;
}
.btn-fltr {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    margin-right: 3px;
    margin-bottom: 14px;
    padding: 4px 8px;
    font-size: 12px;
}
.btn-fltr:hover {

    color: #000;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.btn-fltr-active {
    background-color: #e2e6ea;
    border-color: #dae0e5;
    color: #000;
}
.a-class{
	color: #385edf;
}
.location-role{
	font-weight: 700;
    font-size: 14px;
    color: #9AA0A6;
    margin-top:-0.4rem;
}