    <!-- Header Section
	<header>
		<nav class="navbar navbar-expand-lg navbar-light theme-nav">
			<div class="container-fluid">
				<a href="#" class="navbar-brand"><img src="assets/images/logo.png"/></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav ml-auto ">
					   <li class="nav-item dropdown bg-white">
						<a class="btn btn-sm btn-outline-primary px-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="margin-top:23px;">						 
							<li class="submenu"> <a class="dropdown-item" (click)="onRedirectUrl('/auth/employer/login')"  type="button">Employer</a></li>								
							<li class="submenu"> <a class="dropdown-item" (click)="onRedirectUrl('/auth/user/login')"  type="button">Jobseeker</a></li>								
						</ul>
					  </li>
					</ul>
					<ul class="navbar-nav ml-2">
					  <li class="nav-item">
						<a href="#" class="m-1 btn btn-sm btn-secondary"><i class="fab fa-linkedin-in"></i></a>
					  </li>	
					  <li class="nav-item">
						<a href="#" class="m-1 btn btn-sm btn-secondary"><i class="fab fa-twitter"></i></a>
					  </li>	
					  <li class="nav-item">
						<a href="#" class="m-1 btn btn-sm btn-secondary"><i class="fab fa-facebook-f" style="width:12.25px;"></i></a>
					  </li>	
					</ul>
				</div>
		    </div>
		</nav>
    </header>-->

<!-- Landing Page-->
<section class="landing-section">
	<div class="container-fluid">
		<div class="landing-content">
			<div class="row">	
				<div class="col-lg-6">			
					<div class="left-sec animate__animated  animate__fadeInLeft">					
						<h1> {{"homePage.title" | translate }}  </h1>
						<p> {{"homePage.content1" | translate }} </p>
						<a (click)="onRedirectUrl('/auth/employer/login')" class="btn empl-btn my-3">{{"homePage.getStarted" | translate }}</a>
					</div>
				</div>
				<div class="col-lg-6">	
					<div class="right-sec animate__animated  animate__fadeInRight">						
						<h1> {{"homePage.talent" | translate }}</h1>
						<p>{{"homePage.content2" | translate }}</p>
						<a (click)="onRedirectUrl('/auth/user/login')"  class="btn tale-btn my-3">{{"homePage.getStarted" | translate }}</a>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>
<!-- //Login Section -->

 <!-- Company Section -->
 <!--<section class="top-companies">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h1> {{"homePage.clientsHeading" | translate }} </h1>
          <span class="section-title-bg">{{"homePage.title" | translate }}  </span>
          <h5> {{"homePage.content3" | translate }} </h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <a href="javascript:;"><img src="assets/images/employer/employer1.png" class="img-fluid mx-auto"/></a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="javascript:;"><img src="assets/images/employer/employer2.png" class="img-fluid mx-auto"/></a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="javascript:;"><img src="assets/images/employer/employer3.png" class="img-fluid mx-auto"/></a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="javascript:;"><img src="assets/images/employer/employer4.png" class="img-fluid mx-auto"/></a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="javascript:;"><img src="assets/images/employer/employer5.png" class="img-fluid mx-auto"/></a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="javascript:;"><img src="assets/images/employer/employer6.png" class="img-fluid mx-auto"/></a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="javascript:;"><img src="assets/images/employer/employer7.png" class="img-fluid mx-auto"/></a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="javascript:;"><img src="assets/images/employer/employer8.png" class="img-fluid mx-auto"/></a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="javascript:;"><img src="assets/images/employer/employer9.png" class="img-fluid mx-auto"/></a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="javascript:;"><img src="assets/images/employer/employer10.png" class="img-fluid mx-auto"/></a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="javascript:;"><img src="assets/images/employer/employer11.png" class="img-fluid mx-auto"/></a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="javascript:;"><img src="assets/images/employer/employer12.png" class="img-fluid mx-auto"/></a>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  </section>-->
  <!-- //Company Section -->

	<!-- SAPW Info Section -->
	<section class="sapw-info">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="heading">
						<h1>{{"homePage.content4" | translate }} </h1>
						<h5>{{"homePage.content5" | translate }} </h5>
						
					</div>
					<div class="mt-5 d-flex">
						<div class="card mr-3">
							<div class="media">
								<img src="assets/images/sapw-info-icon1.png" class="mr-3">
								<div class="media-body">
									<h3 class="mt-0"> {{"homePage.content6" | translate }}</h3>
									<p> {{"homePage.content7" | translate }}</p>
								</div>
							</div>
						</div>
						<div class="card ml-2">
							<div class="media">
								<img src="assets/images/sapw-info-icon2.png" class="mr-3">
								<div class="media-body">
									<h3 class="mt-0"> {{"homePage.content8" | translate }} </h3>
									<p>{{"homePage.content9" | translate }} </p>
								</div>
							</div>
						</div>
					</div>
					<div class="mt-4 d-flex">
						<div class="card mr-3">
							<div class="media">
								<img src="assets/images/sapw-info-icon3.png" class="mr-3">
								<div class="media-body">
									<h3 class="mt-0">{{"homePage.content19" | translate }} </h3>
									<p>{{"homePage.content10" | translate }}</p>
								</div>
							</div>
						</div>
						<div class="card  ml-2">
							<div class="media">
								<img src="assets/images/sapw-info-icon4.png" class="mr-3">
								<div class="media-body">
									<h3 class="mt-0">{{"homePage.content11" | translate }} </h3>
									<p>{{"homePage.content12" | translate }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //SAPW Info Section -->
	
	<!-- Contact Form Section -->
	<app-contact-form></app-contact-form>
	<!-- //Contact Form  Section -->