<div formGroupName="jobInfo">
	<div class="row mt-5">
		<div class="col-lg-4 col-md-6">
			<div class=" form-group">
				<div class="custom-control custom-checkbox mb-2">
				  <input type="checkbox" class="custom-control-input" formControlName="entry" id="customCheckRemote01">
				<label class="custom-control-label font-weight-bold" for="customCheckRemote01"> <a > Entry Level Jobs</a></label>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-lg-4 col-md-6 matches-8">
			<div class=" form-group">
				<label>{{"shared.jobTitle" | translate}}<span class="required-asterisk">*</span></label>
				<input formControlName="title" type="text" class="form-control text-capitalize" [placeholder]="'shared.jobTitle' | translate"/>
			</div>
			<app-control-messages [control]="f['title']"></app-control-messages>
		</div>
		<div class="col-lg-4 col-md-6 matches-8">
			<div class=" form-group">
				<label>{{"userProfile.roleType" | translate }}</label>
				<select formControlName="employer_role_type" class="form-control text-capitalize">
					<option [value]="''" disabled >Select Role Type</option>
					<option  value="Technical">Technical</option>
					<option  value="Functional">Functional</option>
					<option  value="Technofunctional">Technofunctional</option>
				</select>
				<app-control-messages [control]="f['employer_role_type']"></app-control-messages>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-lg-4 col-md-6 matches-8 ">
			<div class=" form-group">
				<label>{{"shared.jobType" | translate}}<span class="required-asterisk">*</span></label>
				<select (change)="onChangeJobType($event?.target?.value)"  formControlName="type" class="form-control" name="type">
					<option [value]="''" disabled >Select Job Type</option>
					<option  value="1000">Full Time</option>
					<option  value="1001">Part Time</option>
					<option  value="1002">Contract</option>
					<option  value="1003">Freelance</option>
					<option  value="1004">Internship</option>
				</select>
			</div>
			<app-control-messages [control]="f['type']"></app-control-messages>
		</div>
		<div class="col-lg-4 col-md-4" *ngIf="isContractDuration || childForm?.value?.jobInfo?.type == '1002'">
			<div class=" form-group">
				<label>{{"shared.duration" | translate}} <small>( {{"shared.months" | translate}} )</small></label>
				<input appMarkAsterisk numbersOnly formControlName="contract_duration" type="text" class="form-control" placeholder="Ex: 6 months">
				<app-control-messages [control]="f['contract_duration']"></app-control-messages>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 matches-8 d-flex">
			<div class=" form-group w-50">
				<label>{{"shared.pay" | translate}}<span class="required-asterisk">*</span></label>
				<select formControlName="salary_type" class="form-control" name="job-type">
					<option value="" selected="" disabled="">{{"shared.select" | translate}} {{"shared.pay" | translate}}</option>
					<option [value]="0">Hourly </option>
					<option [value]="2">Monthly</option>
					<option [value]="1">Annual</option>
				</select>
				<app-control-messages [control]="f['salary_type']"></app-control-messages>
			</div>
			<div class=" form-group w-50 ml-2">
				<label>&nbsp;</label>
				<div class="input-group">
					<select (change)="onChangeCurrentFormat($event?.target?.value, $event)" formControlName="salary_currency" class="form-control w-40"  style="background: #eee;padding: 5px;">
						<ng-container *ngFor="let item of sharedService.onGetCurrency(); let i=index">
							<option *ngIf="item.code" [value]="item.code">{{item.code}}</option>
						</ng-container>
					</select>
					<input currencyFormatter [country]="currentCurrencyFormat" formControlName="salary" type="text" class="form-control w-60">
				</div>
				<app-control-messages [control]="f['salary']"></app-control-messages>
			</div>
		</div>
		<div class="col-lg-2 col-md-4" style="top:11px;align-self: center;" >
			<div class=" form-group">
				<div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input" formControlName="negotiable" id="customCheckRemote001">
				<label class="custom-control-label font-weight-bold" for="customCheckRemote001"> 
				<a > {{"shared.negotiable" | translate}}</a></label>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-lg-8 col-md-12">
			<div class=" form-group">
				<label >{{"shared.jobLocation" | translate }}</label>
				<mat-form-field class="example-chip-list" style="width: 100%;" >
					
					<mat-chip-list #chipList aria-label="address">
						<mat-chip *ngFor="let addresss of address;let i=index;" [selectable]="selectable"
							[removable]="removable" (removed)="onRemove(i)">
							{{addresss}}
							<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
						</mat-chip>
						<input placeholder="" #chipsInput
						(onAddressChange)="handleAddressChange($event)"
						[options]='options' id="preferredLocation"
						ngx-google-places-autocomplete
						 #places="ngx-places" 
							autocomplete="disabled" 
							[matChipInputFor]="chipList"
							[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
							[matChipInputAddOnBlur]="addOnBlur"
							(matChipInputTokenEnd)="add($event)">
					</mat-chip-list>
				</mat-form-field>
			</div>	
		</div>	
		<div class="col-lg-4 col-md-6 matches-8">
			<div class=" form-group">
				<label>{{"shared.workTiming" | translate}}</label>
				<div class="row mt-2">
					<!--<div class="col-lg-6 col-md-6 ">
						<input type="time"  formControlName="min" (change)="getValue($event,'min')" [max]="childForm['value']['jobInfo']['min']" class="form-control " >
						<small class="text-danger" *ngIf="minError" > The start time must be lesser than the end time </small>
					</div>
					<div class="col-lg-6 col-md-6 ">
						<input type="time"  formControlName="max" (change)="getValue($event,'max')" [min]="childForm['value']['jobInfo']['max']" class="form-control " >
						<small class="text-danger" *ngIf="maxError" > The end time must be greater than the start time </small>
					</div>-->
					<div class="col-lg-6 col-md-6">
							<div (click)="getValue($event,'min')"  class="chrome_display">
							  <input type="time" formControlName="min"  value="{{min}}"  [max]="childForm['value']['jobInfo']['min']" class="form-control"><i class="fas fa-clock" style="position:absolute; top:1.2rem; right:2rem; color: #a8afb5; " ></i>
							  <small  class="text-danger"  *ngIf="minError" > The start time must be lesser than the end time </small>
							  <small  class="text-danger"  *ngIf="mintimeError" > Field is required. </small>
							 </div>
					</div>
					<div class="col-lg-6 col-md-6" >
						<div (click)="getValue($event,'max')" class="chrome_display">
						  <input type="time" formControlName="max" value="{{max}}"  [min]="childForm['value']['jobInfo']['max']" class="form-control"><i class="fas fa-clock" style="position:absolute; top:1.2rem; right:2rem; color: #a8afb5; " ></i>
						  <small  class="text-danger"  *ngIf="maxError" > The end time must be greater than the start time </small>
						  <small  class="text-danger"  *ngIf="maxtimeError" > Field is required. </small>
						 </div>
					</div>
						<div class="col-lg-6 col-md-6">
						<div (click)="getValue($event,'min')" class="safari_only">
						  <input type="button"  [value]="this.childForm.value.jobInfo.min | time"  formControlName="min"  [max]="childForm['value']['jobInfo']['min']" class="form-control"><i class="fas fa-clock" style="position:absolute; top:1.2rem; right:2rem; color: #a8afb5; "></i> 
						  <small class="text-danger"  *ngIf="minError" > The start time must be lesser than the end time </small>
						  <small  class="text-danger"  *ngIf="mintimeError" > Field is required. </small>
						 </div>
						</div>
						<div class="col-lg-6 col-md-6">
						<div (click)="getValue($event,'max')" class="safari_only">
						  <input type="button"  [value]="this.childForm.value.jobInfo.max | time"  
						  formControlName="max" [min]="childForm['value']['jobInfo']['max']" class="form-control"><i class="fas fa-clock" style="position:absolute; top:1.2rem; right:2rem; color: #a8afb5;"></i>
						  <small class="text-danger"  *ngIf="maxError" > The end time must be greater than the start time </small>
						  <small  class="text-danger"  *ngIf="maxtimeError" > Field is required. </small>
						 </div>
						</div>
				</div>	
					
			</div>
		</div>
	</div>
	<!-- <div class="row mt-2">
		<div class="col-lg-4 col-md-6 matches-8">
			<div class=" form-group">
				<label>{{"shared.city" | translate}}</label>
				<input autocomplete="disabled" appMarkAsterisk ngx-google-places-autocomplete
				(onAddressChange)="handleAddressChange($event)"
				formControlName="city" type="text" class="form-control text-capitalize" [placeholder]="'shared.city' | translate">
			</div>
			<app-control-messages [control]="f['city']"></app-control-messages>
		</div>
		<div class="col-lg-4 col-md-6 matches-8">
			<div class=" form-group">
				<label>{{"shared.state" | translate}}</label>
				<input  autocomplete="disabled"  appMarkAsterisk formControlName="state" type="text" class="form-control text-capitalize" [placeholder]="'shared.state' | translate">
				<app-control-messages [control]="f['state']"></app-control-messages>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-lg-4 col-md-6 matches-8">
			<div class=" form-group">
				<label>{{"shared.zipCode" | translate}}</label>
				<input autocomplete="disabled" appMarkAsterisk  OnlyNumber="true" formControlName="zipcode" type="text" class="form-control" [placeholder]="'shared.zipCode' | translate">
			</div>
			<app-control-messages [control]="f['zipcode']"></app-control-messages>
		</div>
		<div class="col-lg-4 col-md-6 matches-8">
			<div class=" form-group">
				<label>{{"shared.country" | translate}}</label>
				<input  autocomplete="disabled"  appMarkAsterisk formControlName="country" type="text" class="form-control text-uppercase" [placeholder]="'shared.country' | translate">
			</div>
			<app-control-messages [control]="f['country']"></app-control-messages>
		</div>
	</div> -->
	<div class="row mt-2">
		<div class="col-lg-4 col-md-6 matches-8">
			<div class=" form-group">
				<label>{{"userProfile.availability" | translate}}<span class="required-asterisk">*</span></label>
				<select  formControlName="availability" class="form-control">
					<option [value]="null" disabled >{{"shared.select" | translate }}</option>
					<option *ngFor="let type of availabilityArray" [value]="type.id">{{ type.text }}</option>
				</select>
				<app-control-messages [control]="f['availability']"></app-control-messages>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 matches-8">
			<div class=" form-group">
				<label>{{"userProfile.remote" | translate}} <span class="required-asterisk">*</span></label>
				<div class="mt-2">
					<div class="custom-control custom-radio custom-control-inline">
						<input [value]="true" (click)="changeRemote('yes')" id="remote_PJ_Y" formControlName="remote" type="radio" class="custom-control-input">
						<label class="custom-control-label" for="remote_PJ_Y">{{"shared.yes" | translate}}</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input [value]="false" (click)="changeRemote('no')" id="remote_PJ_N" formControlName="remote" type="radio" class="custom-control-input">
						<label class="custom-control-label" for="remote_PJ_N">{{"shared.no" | translate}}</label>
					</div>
				</div>
			</div>
			<app-control-messages [control]="f['remote']"></app-control-messages>
		</div>
		<div class="col-lg-4 col-md-6" *ngIf="showRemoteOption" style="margin-left:-12rem;">
		<div class=" form-group">
				<label>{{"jobs.remoteOption" | translate}}<span class="required-asterisk">*</span>
				</label>
				<div  class="pt-2">
					<button type="button" (click)="remoteOptions('0',$event)" id="domestic" class="btn btn-fltr" formControlName="remote_option">Domestic</button>
					<button type="button" (click)="remoteOptions('1',$event)" id="worldwide" class="btn btn-fltr" formControlName="remote_option">worldwide</button>
				</div>
				<app-control-messages [control]="f['remote_option']"></app-control-messages>
			</div>
		</div>
		<!-- <div class="col-lg-4 col-md-6">
			<div class=" form-group">
				<label>{{"postJob.relocate" | translate}} </label>
				<div appMarkAsterisk class="mt-2">
					<div class="custom-control custom-radio custom-control-inline">
						<input [value]="true" id="remote_PJ_Y1" formControlName="willing_to_relocate" type="radio" class="custom-control-input">
						<label class="custom-control-label" for="remote_PJ_Y1">{{"common.yes" | translate}}</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input [value]="false" id="remote_PJ_N1" formControlName="willing_to_relocate" type="radio" class="custom-control-input">
						<label class="custom-control-label" for="remote_PJ_N1">{{"common.no" | translate}}</label>
					</div>
				</div>
			</div>
			<app-control-messages [control]="f['willing_to_relocate']"></app-control-messages>
		</div> -->
	</div>
	<div class="row mt-2">
		<div class="col-md-12">
			<div class="form-group">
				<label>{{"shared.jobDesc" | translate}} <span class="required-asterisk">*</span></label>
				<angular-editor formControlName="description" [config]="editorConfig" [placeholder]="'shared.description' | translate"></angular-editor>
			</div>
			<app-control-messages [control]="f['description']"></app-control-messages>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-md-12 mb-2">
			<h6 class="font-weight-bold mb-2">{{"jobs.perksBenfits" | translate}}</h6>
		</div>
		<div class="col-md-3" formGroupName="health_wellness">
			<h6>{{"jobs.healthWellness" | translate}}</h6>
			<div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input"  formControlName="life" id="lifeInsurance">
				<label class="custom-control-label" for="lifeInsurance">{{"jobs.lifeInsurance" | translate}}</label>
			</div>
			<div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input" formControlName="dental"  id="dentalInsurance">
				<label class="custom-control-label" for="dentalInsurance">{{"jobs.dentalInsurance" | translate}}</label>
			</div>
			<div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input" formControlName="disability"  id="disabilityInsurance">
				<label class="custom-control-label" for="disabilityInsurance">{{"jobs.disabilityInsurance" | translate}}</label>
			</div>
			<!-- <div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input" formControlName="health"  id="healthInsurance">
				<label class="custom-control-label" for="healthInsurance">{{"jobs.healthInsurance" | translate}}</label>
			</div> -->
		</div>
		<div class="col-md-3"  formGroupName="paid_off">
			<h6>{{"jobs.paidTimeOff" | translate}}</h6>
			<div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input"  formControlName="vacation_policy" id="vacationPolicy">
				<label class="custom-control-label" for="vacationPolicy">{{"jobs.vacationPolicy" | translate}}</label>
			</div>
			<div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input"  formControlName="paid_sick_leaves" id="paidSickLeaves">
				<label class="custom-control-label" for="paidSickLeaves">{{"jobs.paidSickLeaves" | translate}}</label>
			</div>
			<div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input" formControlName="paid_parental_leave"  id="paidParentalLeave">
				<label class="custom-control-label" for="paidParentalLeave">{{"jobs.paidParentalLeave" | translate}}</label>
			</div>
			<div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input" formControlName="maternity"  id="maternity">
				<label class="custom-control-label" for="maternity">{{"jobs.maternity" | translate}}</label>
			</div>
		</div>
		<div class="col-md-3" formGroupName="financial_benefits">
			<h6>{{"jobs.financialBenefits" | translate}}</h6>
			<div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input" formControlName="tuition_reimbursement"  id="tuitionReimbursement">
				<label class="custom-control-label" for="tuitionReimbursement">{{"jobs.tuitionReimbursement" | translate}}</label>
			</div>
			<div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input" formControlName="corporate_plan"  id="corporatePlan">
				<label class="custom-control-label" for="corporatePlan">{{"jobs.corporatePlan" | translate}}</label>
			</div>
			<div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input" formControlName="retirement_plan"  id="retirementPlan">
				<label class="custom-control-label" for="retirementPlan">{{"jobs.retirementPlan" | translate}}</label>
			</div>
			<div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input" formControlName="performance_bonus"  id="performanceBonus">
				<label class="custom-control-label" for="performanceBonus">{{"jobs.performanceBonus" | translate}}</label>
			</div>
			<div class="custom-control custom-checkbox mb-2">
			  <input type="checkbox" class="custom-control-input" formControlName="purchase_plan"  id="purchasePlan">
			  <label class="custom-control-label" for="purchasePlan">{{"jobs.purchasePlan" | translate}}</label>
			</div>
		</div>
		<div class="col-md-3" formGroupName="office_perks">
			<h6>{{"jobs.officePerks" | translate}}</h6>
			<div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input" formControlName="telecommuting"  id="teleCommuting">
				<label class="custom-control-label" for="teleCommuting">{{"jobs.teleCommuting" | translate}}</label>
			</div>
			<div class="custom-control custom-checkbox mb-2">
			  <input type="checkbox" class="custom-control-input" formControlName="social_outings"  id="socialOutings">
			  <label class="custom-control-label" for="socialOutings">{{"jobs.socialOutings" | translate}}</label>
			</div>
			<div class="custom-control custom-checkbox mb-2">
				<input type="checkbox" class="custom-control-input" formControlName="free_food"  id="freeFood">
				<label class="custom-control-label" for="freeFood">{{"jobs.freeFood" | translate}}</label>
			</div>
			<div class="custom-control custom-checkbox mb-2">
			  <input type="checkbox" class="custom-control-input"  formControlName="wellness_program" id="wellnessProgram">
			  <label class="custom-control-label" for="wellnessProgram">{{"jobs.wellnessProgram" | translate}}</label>
			</div>
		</div>
	</div>
</div>
