<div formGroupName="jobInfo">
  <div class="row mt-5">
    <div class="col-lg-8 col-md-6">
      <div class=" form-group">
        <label>{{"postJob.jobTitle" | translate}}</label>
        <input appMarkAsterisk formControlName="title" type="text" class="form-control" [placeholder]="'postJob.jobTitle' | translate"/>
      </div>
      <app-control-messages [control]="f['title']"></app-control-messages>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postJob.jobType" | translate}}</label>
        <select appMarkAsterisk formControlName="type" class="form-control" name="job-type">
          <option [value]="''">Select</option>
          <option [value]="6">Contract</option>
          <option [value]="5">Remote </option>
          <!-- <option [value]="">Onsite </option> -->
          <option [value]="0">Full Time </option>
          <option [value]="1">Part Time </option>
          <option [value]="4">Temporary </option>
          <!-- <option [value]="">Permanent </option> -->
          <option [value]="2">Freelancer </option>
          <option [value]="3">Internship </option>
        </select>
      </div>
      <app-control-messages [control]="f['type']"></app-control-messages>
    </div>
    <div class="col-lg-4 col-md-6 d-flex">
      <div class=" form-group w-50">
        <label>{{"postJob.pay" | translate}}</label>
        <select appMarkAsterisk formControlName="salary_type" class="form-control" name="job-type">
          <option value="" selected="" disabled="">{{"common.select" | translate}} {{"postJob.pay" | translate}}</option>
          <option [value]="0">Hourly </option>
          <option [value]="1">Annual</option>
        </select>
        <app-control-messages [control]="f['salary_type']"></app-control-messages>
      </div>

      <div class=" form-group w-50 ml-2">
        <label>&nbsp;</label>
        <div class="input-group">
          <select (change)="onChangeCurrentFormat($event?.target?.value)" formControlName="salary_currency" class="form-control w-40"  style="background: #eee;">
            <option [value]="0">$</option>
            <option [value]="1">₹</option>
            <option [value]="2">£</option>
          </select>
          <input currencyFormatter [country]="currentCurrencyFormat" formControlName="salary" type="text" class="form-control w-60">
        </div>
        <app-control-messages [control]="f['salary']"></app-control-messages>
      </div>
    </div>
  </div>
  <!-- <div class="row mt-2">
    <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postJob.location" | translate}}</label>
        <input
        ngx-google-places-autocomplete
        (onAddressChange)="handleAddressChange($event)"
        formControlName="location"
        type="text"
        class="form-control"
        placeholder="Type location...">
      </div>
      <app-control-messages [control]="f['location']"></app-control-messages>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postYourResume.city" | translate}}</label>
        <input ngx-google-places-autocomplete
        (onAddressChange)="handleAddressChange($event)"
        formControlName="city" type="text" class="form-control" [placeholder]="'postYourResume.city' | translate">
      </div>
      <app-control-messages [control]="f['city']"></app-control-messages>
    </div>
  </div> -->
  <div class="row mt-2">
    <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postYourResume.city" | translate}}</label>
        <input appMarkAsterisk ngx-google-places-autocomplete
        (onAddressChange)="handleAddressChange($event)"
        formControlName="city" type="text" class="form-control" [placeholder]="'postYourResume.city' | translate">
      </div>
      <app-control-messages [control]="f['city']"></app-control-messages>
    </div>
    <!-- <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postYourResume.state" | translate}}</label>
        <input formControlName="state" type="text" class="form-control" [placeholder]="'postYourResume.state' | translate">
        <app-control-messages [control]="f['state']"></app-control-messages>
      </div>
    </div> -->
    <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postYourResume.zipCode" | translate}}</label>
        <input appMarkAsterisk numbersOnly formControlName="zipcode" type="text" class="form-control" [placeholder]="'postYourResume.zipCode' | translate">
      </div>
      <app-control-messages [control]="f['zipcode']"></app-control-messages>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postJob.country" | translate}}</label>
        <select appMarkAsterisk formControlName="country" class="form-control" name="job-type">
          <option selected="" disabled="">{{"postJob.country" | translate}}</option>
          <option>India </option>
          <option>United States </option>
          <option>Russia </option>
          <option>Mexico </option>
          <option>Japan </option>
          <option>Germany </option>
          <option>United Kingdom </option>
          <option>France</option>
          <option>Canada </option>
          <option>Malaysia </option>
          <option>Australia </option>
          <option>United Arab Emirates </option>
          <option>Singapore </option>
        </select>
      </div>
      <app-control-messages [control]="f['country']"></app-control-messages>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postJob.availability" | translate}}</label>
        <select appMarkAsterisk formControlName="availability" class="form-control">
          <option selected="" disabled="">{{"postJob.availability" | translate}}</option>
          <option>Immediate</option>
          <option>15 Days</option>
          <option>30 Days</option>
          <option>45 Days</option>
          <option>60 Days</option>
        </select>
        <app-control-messages [control]="f['availability']"></app-control-messages>
      </div>
    </div>

  </div>
  <div class="row mt-2">
    <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postJob.remote" | translate}} </label>
         <div appMarkAsterisk class="mt-2">
           <div class="custom-control custom-radio custom-control-inline">
            <input [value]="true" id="remote_PJ_Y" formControlName="remote" type="radio" class="custom-control-input">
            <label class="custom-control-label" for="remote_PJ_Y">{{"common.yes" | translate}}</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input [value]="false" id="remote_PJ_N" formControlName="remote" type="radio" class="custom-control-input">
            <label class="custom-control-label" for="remote_PJ_N">{{"common.no" | translate}}</label>
          </div>
        </div>
      </div>
      <app-control-messages [control]="f['remote']"></app-control-messages>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="form-group">
        <label>{{"postJob.jobDescription" | translate}}</label>
        <textarea appMarkAsterisk formControlName="description" name="job-description" rows="4" class="form-control" [placeholder]="'postJob.jobDescription' | translate"></textarea>
      </div>
      <app-control-messages [control]="f['description']"></app-control-messages>
    </div>
  </div>
</div>
