<div >
  <div class="row mt-5">
    <div class="col-lg-8 col-md-6">
      <div class=" form-group">
        <label>{{"postJob.jobTitle" | translate}}</label>
        <input type="text" class="form-control" [placeholder]="'postJob.jobTitle' | translate"/>
      </div>
      <app-control-messages [control]="f['title']"></app-control-messages>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postJob.jobType" | translate}}</label>
        <select class="form-control" name="job-type">
          <option selected="" disabled="">Contract</option>
          <option>Remote </option>
          <option>Onsite </option>
          <option>Full Time </option>
          <option>Part Time </option>
          <option>Contract </option>
          <option>Temporary </option>
          <option>Permanent </option>
          <option>Freelancer </option>
          <option>Internship </option>
        </select>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex">
      <div class=" form-group w-50">
        <label>{{"postJob.pay" | translate}}</label>
        <select class="form-control" name="job-type">
          <option selected="" disabled="">{{"common.select" | translate}} {{"postJob.pay" | translate}}</option>
          <option>Hourly </option>
          <option>Annual</option>
        </select>
      </div>
      <div class=" form-group w-50 ml-2">
        <label>&nbsp;</label>
        <div class="input-group">
          <select class="form-control w-40"  style="background: #eee;">
            <option>$ </option>
            <option>₹</option>
            <option>£</option>
          </select>
          <input type="text" aria-label="Last name" class="form-control w-60">
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postJob.country" | translate}}</label>
        <select class="form-control" name="job-type">
          <option selected="" disabled="">{{"postJob.country" | translate}}</option>
          <option>India </option>
          <option>United States </option>
          <option>Russia </option>
          <option>Mexico </option>
          <option>Japan </option>
          <option>Germany </option>
          <option>United Kingdom </option>
          <option>France</option>
          <option>Canada </option>
          <option>Malaysia </option>
          <option>Australia </option>
          <option>United Arab Emirates </option>
          <option>Singapore </option>
        </select>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postJob.location" | translate}}</label>
        <input type="text" class="form-control" placeholder="City and State">
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postYourResume.zipCode" | translate}}</label>
        <input type="text" class="form-control" [placeholder]="'postYourResume.zipCode' | translate">
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postJob.availability" | translate}}</label>
        <select class="form-control">
          <option selected="" disabled="">{{"postJob.availability" | translate}}</option>
          <option>Immediate</option>
          <option>15 Days</option>
          <option>30 Days</option>
          <option>45 Days</option>
          <option>60 Days</option>
        </select>
      </div>
    </div>

  </div>
  <div class="row mt-2">
    <div class="col-lg-4 col-md-6">
      <div class=" form-group">
        <label>{{"postJob.remote" | translate}} </label>
         <div class="mt-2">
           <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline3" name="customRadioInline" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline3">{{"common.yes" | translate}}</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline4" name="customRadioInline" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline4">{{"common.no" | translate}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="form-group">
        <label>{{"postJob.jobDescription" | translate}}</label>
        <textarea name="job-description" rows="4" class="form-control" [placeholder]="'postJob.jobDescription' | translate"></textarea>
      </div>
    </div>
  </div>
</div>
