.letter-custom-abb {
  content: attr(data-letters);
  display: inline-block;
  font-size: 14px;
  width: 2.2em;
  height: 2.2em;
  line-height: 2.25em;
  text-align: center;
  border-radius: 50%;
  background: #9ba7b1;
  vertical-align: middle;
  margin-right: 5px;
  color: white;
}
