.letter-custom-abb {
  content: attr(data-letters);
  display: inline-block;
  font-size: 14px;
  width: 2.2em;
  height: 2.2em;
  line-height: 2.25em;
  text-align: center;
  border-radius: 50%;
  background: #9ba7b1;
  vertical-align: middle;
  margin-right: 5px;
  color: white;
}
.img-circule {
  width: 40px;
    margin-right: 15px;
    border-radius: 31px;
    margin-top: 0;
}
.dropdown-toggles::after {
    display: inline-block!important;
    margin-left: 0.255em!important;
    vertical-align: 0.055em!important;
    content: ""!important;
    border-top: .4em solid!important;
    border-right: .4em solid transparent!important;
    border-bottom: 0!important;
    border-left: .4em solid transparent!important;
}
.bell-span{
	font-size: 9px;
    right: 1px;
    top: -1px;
    position: absolute;
    color: #fff;
    background: red;
    border-radius: 50%;
    padding: 10px;
}
.bell-spans{
	
    font-size: 9px;
    right: -2px;
    top: -7px;
    position: absolute;
    color: #fff;
    border-radius: 50%;
    padding: 10px;

}