<!-- Sub Header Section -->
<!-- <section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <ol class="breadcrumb">
          <li *ngIf="currentTabInfo.tabNumber == 1" class="breadcrumb-item active" aria-current="page">{{"header.profile" | translate}}</li>
          <li *ngIf="currentTabInfo.tabNumber == 2" class="breadcrumb-item active" aria-current="page">{{"nav.matchingJobs" | translate}}</li>
          <li *ngIf="currentTabInfo.tabNumber == 4" class="breadcrumb-item active" aria-current="page">{{"nav.appliedJobs" | translate}}</li>
          <li *ngIf="currentTabInfo.tabNumber == 6" class="breadcrumb-item active" aria-current="page">{{"nav.myAttachments" | translate}}</li>
          <li *ngIf="currentTabInfo.tabNumber == 7" class="breadcrumb-item active" aria-current="page">{{"header.dashboard" | translate}}</li>
        </ol>
      </div>
    </div>
  </div>
</section> -->
<!-- //Sub Header Section -->

<!-- Nav Tab Section -->
<section class="nav-tab" *ngIf="dashboardView && !router.url.includes('admin')">
  <div [ngClass]="(screenWidth >= 1500)?'container-fluid':'container'" >
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav">
		  <li class="nav-item">
			<a class="nav-link" href="#" (click)="goBack()"><i class="fas fa-chevron-circle-left my-auto mr-1"></i></a>
		 </li>
          <li class="nav-item">
            <a (click)="onTabChange({tabName: 'chart', tabNumber: 7})"
              [ngClass]="{'active': currentTabInfo.tabNumber == 7}" class="nav-link" href="javascript:;">
             {{"header.dashboard" | translate}}
            </a>
          </li>
          <li class="nav-item">
            <a (click)="onTabChange({tabName: 'profile', tabNumber: 1})"
              [ngClass]="{'active': currentTabInfo.tabNumber == 1}" class="nav-link" href="javascript:;">
              {{"header.profile" | translate}}
            </a>
          </li>
          <li class="nav-item">
            <a (click)="onTabChange({tabName: 'matches', tabNumber: 2})"
              [ngClass]="{'active': currentTabInfo.tabNumber == 2}" class="nav-link" href="javascript:;">{{"tabs.matches" | translate}}
              <small id="matchesCountValue" >(0)</small> 
            </a>
          </li>
          <!-- <li class="nav-item">
						<a (click)="onTabChange({tabName: 'visaSponsored', tabNumber: 3})"
            [ngClass]="{'active': currentTabInfo.tabNumber == 3}" class="nav-link" href="javascript:;">
            {{"dashboard.visaSponsored" | translate}}  <small>(28)</small></a>
					  </li> -->
          <li class="nav-item">
            <a (click)="onTabChange({tabName: 'applied', tabNumber: 4})"
              [ngClass]="{'active': currentTabInfo.tabNumber == 4}" class="nav-link" href="javascript:;">
              {{"tabs.jobsApplied" | translate}}
               <small >({{applicantCouuntDetails}})</small> 
            </a>
          </li>
          <!-- <li class="nav-item">
            <a (click)="onTabChange({tabName: 'shortlisted', tabNumber: 5})"
              [ngClass]="{'active': currentTabInfo.tabNumber == 5}" class="nav-link" href="javascript:;">
              {{"dashboard.shortlisted" | translate}}
              <small id="shortlistedJob">(0)</small></a>
          </li> -->
          <li class="nav-item">
            <a (click)="onTabChange({tabName: 'resume', tabNumber: 6})"
              [ngClass]="{'active': currentTabInfo.tabNumber == 6}" class="nav-link" href="javascript:;">
              {{"tabs.myResumes" | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- //Nav Tab Section -->

<app-user-profile *ngIf="currentTabInfo.tabNumber == 1 && dashboardView" [screenWidth]="screenWidth">
</app-user-profile>

<app-matching-job [screenWidth]="screenWidth" *ngIf="currentTabInfo.tabNumber == 2 && dashboardView" (onEvent)="refreshCountDetails($event)" >
</app-matching-job>

<!-- <app-visa-sponsored *  ngIf="currentTabInfo.tabNumber == 3">
</app-visa-sponso red> -->

<app-applied-job *ngIf="currentTabInfo.tabNumber == 4 && dashboardView" [screenWidth]="screenWidth">
</app-applied-job>

  <app-shortlisted-job *ngIf="currentTabInfo.tabNumber == 5" [screenWidth]="screenWidth">
  </app-shortlisted-job>
  
  <app-user-chart *ngIf="currentTabInfo.tabNumber == 7" [applicantCouuntDetails]="applicantCouuntDetails" [screenWidth]="screenWidth">
  </app-user-chart>

<app-user-resume *ngIf="currentTabInfo.tabNumber == 6 && dashboardView" [screenWidth]="screenWidth">
</app-user-resume>

<ng-template *ngIf="toggleResumeModal" #deleteModal let-modal let-d="dismiss">
  <div class="full-width">
    <div class="modal-header bg-dblue text-white">
      <h3 class="modal-title" id="exampleModalLabel">{{"shared.uploadResume" | translate}}</h3>
    </div>
    <div class="modal-body">
      {{"shared.uploadTitle" | translate}}
    </div>
    <div class="modal-footer full-width">
      <button type="button" class="btn btn-theme-orange"
      (click)="mbRef?.close()">{{"shared.later" | translate}}</button> 
	  <button type="button" class="btn btn-primary"
      (click)="OpenAddResume()">{{"shared.upload" | translate}}</button>
    </div>
  </div>
</ng-template>

<ng-template *ngIf="toggleMatchesModal" #matchesModal let-modal let-d="dismiss">
	<div class="modal-content">
		<div class="modal-body text-center">
			<h1 class="text-green mx-auto pt-4"><i class="far fa-check-circle"></i></h1>
			<h6 class="mt-3" style="font-size: 20px;"> {{"shared.uploadSuccess" | translate}} </h6>
		</div>
		<div class="modal-footer">
			<div class=" mx-auto">
				<button type="button" class="btn btn-theme-blue" style="margin-right:10px;" (click)="closeMatches()"  data-dismiss="modal">{{"shared.ok" | translate}}</button>
				<button type="button" class="btn btn-theme-green"  (click)="navigateMatches()" > {{"shared.goMatches" | translate}} </button>
			</div>
		</div>
	</div>	
</ng-template>

<ng-template *ngIf="nomatchmodel" #noMatchModal let-modal let-d="dismiss">
	<div class="modal-content">
		<div class="modal-body text-center">
			<h1 class="text-danger mx-auto pt-4"><i class="fa fa-times-circle"></i></h1>
			<h6 class="mt-3" style="font-size: 20px;"> Job Not matched, Try someother job </h6>
		</div>
		<div class="modal-footer">
			<div class=" mx-auto">
				<button type="button" class="btn btn-theme-green" (click)="closeNoMatch()"  data-dismiss="modal">{{"shared.ok" | translate}} </button>
			</div>
		</div>
	</div>	
</ng-template>

<app-resume-selects
[toggleresumeSelectModal]="toggleresumeSelectModal"
*ngIf="toggleresumeSelectModal"
(onEvent)="onToggleResumeSelectModal($event)">
</app-resume-selects>