<ng-template #registerReviewModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Profile Preview</h5>
    <button type="button" (click)="onClickCloseBtn(false)" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body" style="height:550px; overflow-y:scroll;">
			<div class="row">
				<div class="col-lg-12">
					<div class="card job-card">
						<div class="card-body">
							<div class="row">
								<div class="col-lg-7">
									<a href="candidate-job-view.html">
										<h5>{{childForm?.value?.personalDetails?.first_name + ' ' + childForm?.value?.personalDetails?.last_name}} <small> - {{childForm?.value?.personalDetails?.current_employer_role}}</small></h5>
									</a>
								</div>
								<div class="col-lg-5 text-right">
									<span data-toggle="modal" data-target="#exampleModal">
										<a class="btn btn-outline-blue btn-sm" href="#">
										<i class="fas fa-file-alt"></i> Resume</a>
									</span>
								</div>
							</div>
							<div class="media">
								<img [src]="userPhotoInfo?.base64 ? convertToImage(userPhotoInfo?.base64) : 'assets/images/user-img-icon.jpg'">
								<div class="media-body">
									<h6>{{userInfo?.phone}}	</h6>
                  <h6><a href="mailto:peter-parker2010@gmail.com">{{userInfo?.email}}</a> <span class="mx-2">||</span>
                    {{childForm?.value?.personalDetails?.city ? childForm?.value?.personalDetails?.city + ', ' : ''}}
                    {{childForm?.value?.personalDetails?.state ? childForm?.value?.personalDetails?.state + ', ' : ''}}
                    {{childForm?.value?.personalDetails?.country ? childForm?.value?.personalDetails?.country : ''}}
                  </h6>
									<h6 class="mb-0">{{childForm?.value?.personalDetails?.current_employer}}</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-3 info-box">
				<div class="col-lg-4 caption">
					<ul class="list-group">
					  <li class="list-group-item">Total Years of Experience</li>
					  <li class="list-group-item">Total SAP Experience</li>
					  <li class="list-group-item">Domains Worked</li>
					  <li class="list-group-item">Hands on Experience</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
            <li class="list-group-item text-capitalize">{{childForm?.value?.educationExp?.experience}} Years</li>
            <li class="list-group-item text-capitalize">{{childForm?.value?.educationExp?.sap_experience}} Years</li>
            <li class="list-group-item text-capitalize">{{sharedService.onFindDomainFromID(childForm?.value?.educationExp?.domains_worked)}}</li>
            <li class="list-group-item text-uppercase">
              <p class="m-0 w-100 float-left" *ngFor="let item of childForm?.value?.skillSet?.hands_on_experience">
                <span class="text-wrap-custom float-left">{{item?.skill_id ? sharedService.onFindSkillsFromSingleID(item?.skill_id)?.tag : '--'}}</span>
                <span *ngIf="item?.skill_id">({{item?.experience + ' ' + item?.exp_type}})</span>
              </p>
              <!-- {{onConvertArrayObjToAdditionalString(childForm?.value?.requirement?.hands_on_experience, 'domain', 'tag')}} -->
            </li>
					  <!-- <li class="list-group-item">8+ Years</li>
					  <li class="list-group-item">5+ Years</li>
					  <li class="list-group-item">Automotive, Logistics, Finance</li>
					  <li class="list-group-item">SAP PM, SAP MM, SAP Mobility</li> -->
					</ul>
				</div>

				<div class="col-lg-12 border-top pt-3">	</div>
				<div class="col-lg-4 caption">
					<ul class="list-group">
					  <li class="list-group-item">Knowledge on</li>
					  <li class="list-group-item">Programming Skills</li>
					  <li class="list-group-item">Others</li>
            <li class="list-group-item">Certifications</li>
            <li class="list-group-item text-capitalize">{{"postJob.endToEndImplementation" | translate }}</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
					  <li class="list-group-item text-uppercase lg-mh-40">
              <p class="m-0 w-100 float-left" *ngFor="let item of childForm?.value?.skillSet?.skills">
                <span class="text-wrap-custom float-left">{{item ? sharedService.onFindSkillsFromSingleID(item)?.tag: '--'}}</span>
              </p>
              <!-- {{onConvertArrayObjToString(childForm?.value?.requirement?.skills, 'tag')}}  -->
            </li>
            <li class="list-group-item text-capitalize">{{utilsHelperService.onConvertArrayToString(childForm?.value?.skillSet?.programming_skills)}} </li>
            <li class="list-group-item text-capitalize">{{utilsHelperService.onConvertArrayToString(childForm?.value?.skillSet?.other_skills)}}</li>
            <li class="list-group-item text-capitalize">{{utilsHelperService.onConvertArrayToString(childForm?.value?.skillSet?.certification)}}</li>
            <li class="list-group-item text-capitalize">{{childForm?.value?.educationExp?.end_to_end_implementation}}</li>
					</ul>
				</div>

				<div class="col-lg-12 border-top pt-3">	</div>
				<div class="col-lg-4 caption">
					<ul class="list-group">
					  <li class="list-group-item">Clients worked with</li>
					  <li class="list-group-item">Job Type</li>
					  <li class="list-group-item">Roles Looking for</li>
					  <li class="list-group-item">Remote</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
					  <li class="list-group-item">
              {{utilsHelperService.onConvertArrayToString(childForm?.value?.educationExp?.clients_worked)}}
            </li>
					  <li class="list-group-item text-capitalize">
              {{sharedService.onGetJobType(childForm?.value?.jobPref?.job_type)}}
            </li>
					  <li class="list-group-item">
              {{childForm?.value?.jobPref?.job_role}}
            </li>
					  <li class="list-group-item">
              {{utilsHelperService.onGetYesOrNoValue(childForm?.value?.jobPref?.remote_only)}}
            </li>
					</ul>
				</div>

				<div class="col-lg-12 border-top pt-3">	</div>
				<div class="col-lg-4 caption">
					<ul class="list-group">
					  <li class="list-group-item">Available in</li>
					  <!-- <li class="list-group-item">Work Authorization</li> -->
					  <li class="list-group-item">Travel</li>
					  <li class="list-group-item">Willing to Relocate</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
					  <li class="list-group-item">
              {{childForm?.value?.jobPref?.availability == 0 ? 'Immediate' : childForm?.value?.jobPref?.availability + 'Days'}}
            </li>
					  <!-- <li class="list-group-item text-capitalize">{{childForm?.value?.jobPref?.work_authorization == 0 ? ("postJob.shouldBeACitizenPr" | translate) : ("postJob.shouldBeHavingAWorkPermit" | translate)}}</li> -->
					  <li class="list-group-item">
              {{childForm?.value?.jobPref?.travel == 0 ? 'No' : childForm?.value?.jobPref?.travel + '%'}}
            </li>
					  <li class="list-group-item">
              {{utilsHelperService.onGetYesOrNoValue(childForm?.value?.jobPref?.willing_to_relocate)}}
            </li>
					</ul>
				</div>
			</div>
		  </div>
		  <div class="modal-footer">
			<button  (click)="onClickCloseBtn(false)" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Edit</button>
			<button type="button" class="btn btn-theme-blue btn-sm" (click)="onRedirectDashboard()">Ok</button>
		  </div>
</ng-template>
