<ng-template #registerReviewModal let-modal>
	<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">{{"userProfile.profilePreview" | translate }}</h5>
    </div>
    <div class="modal-body" style="height:550px; overflow-x:hidden; overflow-y:scroll;">
		<div class="row">
			<div class="col-lg-12">
				<div class="card job-card">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-7">
								<h5>
									<a href="javascript:;" class="text-capitalize">
										{{childForm?.value?.personalDetails?.first_name + ' ' + childForm?.value?.personalDetails?.last_name}}
										  <small  class="text-capitalize" *ngIf="childForm?.value?.educationExp?.current_employer_role">
											- {{childForm?.value?.educationExp?.current_employer_role}}
										  </small>
									</a>
									<small class="ml-2" type="button" data-toggle="modal" data-target="#contactModal"><i class="fas fa-address-card"></i> </small>
								</h5>
							</div>
							<div class="col-lg-5 text-right">
								<span data-toggle="modal" data-target="#exampleModal" (click)="OpenAddResume()">
									<a class="btn btn-outline-blue btn-sm" >
									<i class="fas fa-file-alt"></i> {{"shared.resume" | translate }}</a>
								</span>
							</div>
						</div>
						<div class="media">
							<img [src]="userPhotoInfo?.base64 ? convertToImage(userPhotoInfo?.base64) : 'assets/images/user-img-icon.jpg'">
							<div class="media-body">
								<h6 class="text-capitalize">
									{{childForm?.value?.personalDetails?.city ? childForm?.value?.personalDetails?.city : ''}}
									{{childForm?.value?.personalDetails?.state ? ', ' + childForm?.value?.personalDetails?.state : ''}}
									<span class="text-uppercase">
										{{childForm?.value?.personalDetails?.country ? ', ' + childForm?.value?.personalDetails?.country : ''}}
									</span>
								</h6>
								<h6>
									<a href="mailto:{{userInfo?.email}}">
									<i class="fas fa-envelope" *ngIf="userInfo?.email"></i> {{userInfo?.email}}</a>
									<i class="fas fa-mobile" *ngIf="childForm?.value?.personalDetails?.phone"></i> {{childForm?.value?.personalDetails?.phone?.e164Number ? (childForm?.value?.personalDetails?.phone?.e164Number | phone) : childForm?.value?.personalDetails?.phone}}
									<i class="fas fa-mobile" *ngIf="!childForm?.value?.personalDetails?.phone"></i> <button *ngIf="!childForm?.value?.personalDetails?.phone" style="font-size: 10px;padding: 5px;"(click)="onOpenCriteriaModal('mobileNumber')" type="button" class="btn btn-theme-green" data-toggle="modal"
			data-target="#addCriteria">{{"shared.add" | translate }} </button>
								</h6>
								<h6 *ngIf="childForm?.value?.personalDetails?.social_media_link?.length">
									<a class="mr-1" *ngFor="let item of childForm?.value?.personalDetails?.social_media_link" href="{{item.url}}" target="_blank">
										<ng-container [ngSwitch]="item?.media">
											<ng-container *ngSwitchCase="'youtube'">
												<i class="fab fa-youtube-square" *ngIf="item?.visibility"></i>
											</ng-container>
											<ng-container *ngSwitchCase="'portfolio'">
												<i class="fas fa-laptop-code" *ngIf="item?.visibility"></i>
											</ng-container>
											<ng-container *ngSwitchCase="'blog'">
												<i class="fas fa-blog" *ngIf="item?.visibility"></i>
											</ng-container>
											<ng-container *ngSwitchDefault>
												<i class="fab fa-{{item.media}}" *ngIf="item?.visibility" ></i>
											</ng-container>
										</ng-container>
									</a>
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3 info-box">
			<div class="col-lg-12">
				<div class="pj-title mb-3">
					 <h6>{{"userProfile.personalDetails" | translate }}</h6>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-6 caption">
						<ul class="list-group">
							<li class="list-group-item">{{"userProfile.nationality" | translate }}</li>
						</ul>
					</div>
					<div class="col-lg-6 info">
						<ul class="list-group">
							<li class="list-group-item text-capitalize">{{this.findCountry(childForm?.value?.personalDetails?.nationality)}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-6 caption">
						<ul class="list-group">
							<li class="list-group-item">{{"userProfile.relocation" | translate }}</li>
						</ul>
					</div>
					<div class="col-lg-6 info">
						<ul class="list-group">
							<li class="list-group-item text-capitalize">{{utilsHelperService.onGetYesOrNoValue(childForm?.value?.jobPref?.willing_to_relocate)}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-6 caption">
						<ul class="list-group">
							<li class="list-group-item">
							{{"userProfile.education" | translate }}
						</li>
						</ul>
					</div>
					<div class="col-lg-6 info">
						<ul class="list-group ul-value text-capitalize" *ngIf="childForm?.value?.educationExp?.education_qualification">
						<li class="list-group-item" *ngIf="this.findEducation(childForm?.value?.educationExp?.education_qualification) !=''">{{this.findEducation(childForm?.value?.educationExp?.education_qualification)}}</li>
						<li class="list-group-item" *ngIf="this.findEducation(childForm?.value?.educationExp?.education_qualification) ==''"><button style="font-size: 10px;padding: 5px;"(click)="onOpenCriteriaModal('education')" type="button" class="btn btn-theme-green" data-toggle="modal"
			data-target="#addCriteria">{{"shared.add" | translate }} </button></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-6 caption">
						<ul class="list-group">
							<li class="list-group-item">{{"userProfile.jobType" | translate }}</li>
						</ul>
					</div>
					<div class="col-lg-6 info">
						<ul class="list-group ul-value">
							{{(childForm?.value?.jobPref?.job_type || childForm?.value?.jobPref?.job_type == 0) ? sharedService.onGetJobType(childForm?.value?.jobPref?.job_type) : '--'}}
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-6 caption">
						<ul class="list-group">
							<li class="list-group-item">{{"userProfile.availability" | translate }}</li>
						</ul>
					</div>
					<div class="col-lg-6 info">
						<ul class="list-group">
							<li class="list-group-item text-capitalize">{{childForm?.value?.jobPref?.availability == 0 ? 'Immediate' : childForm?.value?.jobPref?.availability + ' Days'}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6" >
				<div class="row">
					<div class="col-lg-6 caption">
						<ul class="list-group">
							<li class="list-group-item">{{"userProfile.workAuthorisation" | translate }}</li>
						</ul>
					</div>
					<div class="col-lg-6 info">
						<ul class="list-group ul-value">
							<li class="list-group-item" *ngIf="childForm?.value?.personalDetails?.work_authorization == 0 ">
								 {{utilsHelperService.onConvertArrayToString(childForm?.value?.personalDetails?.visa_type)}}
							</li>
							<li class="list-group-item" *ngIf="childForm?.value?.personalDetails?.work_authorization == 1 ">
							 {{"userProfile.iNeedVisaAponsorship" | translate }}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-6 caption">
						<ul class="list-group">
							<li class="list-group-item">{{"userProfile.travel" | translate }}</li>
						</ul>
					</div>
					<div class="col-lg-6 info">
						<ul class="list-group">
							<li class="list-group-item text-capitalize">{{childForm?.value?.jobPref?.travel == 0 ? 'No' : childForm?.value?.jobPref?.travel + '%'}}</li>
						</ul>
					</div>
				</div>
			</div>	
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-6 caption">
						<ul class="list-group">
							<li class="list-group-item">{{"userProfile.remote" | translate }}</li>
						</ul>
					</div>
					<div class="col-lg-6 info">
						<ul class="list-group">
							<li class="list-group-item text-capitalize">{{utilsHelperService.onGetYesOrNoValue(childForm?.value?.jobPref?.remote_only)}}</li>
						</ul>
					</div>
				</div>
			</div>	
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-6 caption">
						<ul class="list-group">
							<li class="list-group-item">{{"userProfile.workAuthorisationIn" | translate }}</li>
						</ul>
					</div>
					<div class="col-lg-6 info ul-value">
						{{this.findCountryArray(childForm?.value?.personalDetails?.authorized_country)}}				
					</div>
				</div>
			</div>	
			<div class="col-lg-6" *ngIf="childForm?.value?.jobPref?.willing_to_relocate">
				<div class="row">
					<div class="col-lg-6 caption">
						<ul class="list-group">
							<li class="list-group-item">{{"userProfile.preferredLocation" | translate }}</li>
						</ul>
					</div>
					<div class="col-lg-6 info">
						<ul class="list-group ul-value text-capitalize" *ngIf="this.filterPrefered(childForm?.value?.jobPref?.preferred_locations) !='' &&this.filterPrefered(childForm?.value?.jobPref?.preferred_locations) !='--' ">
						{{this.filterPrefered(childForm?.value?.jobPref?.preferred_locations)}}
						</ul>
						<ul class="list-group ul-value text-capitalize" *ngIf="this.filterPrefered(childForm?.value?.jobPref?.preferred_locations) =='' ||this.filterPrefered(childForm?.value?.jobPref?.preferred_locations) =='--' ">
						<li class="list-group-item" ><button style="font-size: 10px;padding: 5px;"(click)="onOpenCriteriaModal('preferredLocation')" type="button" class="btn btn-theme-green" data-toggle="modal"
			data-target="#addCriteria">{{"shared.add" | translate }} </button></li>
						</ul>
					</div>
				</div>
			</div>	
		</div>
		<div class="row mt-3 info-box">
			<div class="col-lg-12">
				<div class="pj-title mb-3">
					 <h6>{{"userProfile.experienceAndSkills" | translate }}</h6>
				</div>
			</div>
			<div class="col-lg-12 row">
				<div class="col-lg-4 caption">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">{{"userProfile.totalYearsOfExp" | translate }}</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
						<li class="list-group-item">
						  {{childForm?.value?.educationExp?.experience}} Years
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-12 row">
				<div class="col-lg-4 caption">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">{{"matches.totalYearsOfSapExperience" | translate }}</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
						<li class="list-group-item">
						  {{childForm?.value?.educationExp?.sap_experience}} Years
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-12 row">
				<div class="col-lg-4 caption">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">{{"userProfile.domainsWorked" | translate }}</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
						<li class="list-group-item">
						  {{sharedService.onFindDomainFromID(childForm?.value?.educationExp?.domains_worked)}}
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-12 row">
				<div class="col-lg-4 caption">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">{{"userProfile.handsOnExperience" | translate }}</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
						<li class="list-group-item text-uppercase d-flex handsExps ">
							<ng-container *ngIf="childForm?.value?.skillSet?.hands_on_experience?.length; else elseHandsTemplate">
								<ng-container *ngFor="let item of childForm?.value?.skillSet?.hands_on_experience; let i = index" >
									<div [ngClass]="{'pl-2': i >= 1}" class="text-center border-right pr-2 skils-short"  tooltipClass="my-custom-classes"  container="body" placement="top" [ngbTooltip]="utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item?.skill_id)?.long_tag)">
										{{item?.skill_id ? utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item?.skill_id)?.tag) : '--'}} <br>({{item?.experience + ' ' + item?.exp_type?.charAt(0)}})
									</div>
								</ng-container>
							</ng-container>
							<ng-template #elseHandsTemplate>
								<p>--</p>
							</ng-template>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-12 row">
				<div class="col-lg-4 caption">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">{{"userProfile.knowledgeOn" | translate }}</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
						<li class="list-group-item text-uppercase" *ngIf="childForm?.value?.skillSet?.skills"> 
							<ng-container *ngIf="childForm?.value?.skillSet?.skills.length; else elseSkillsTemplate">
							<small class="knldge m-0 float-left" *ngFor="let item of utilsHelperService.differenceByPropValArray(childForm?.value?.skillSet?.skills, childForm?.value?.skillSet?.hands_on_experience, 'skill_id'); let last = last;">
							<span class="knldge"  tooltipClass="my-custom-class"  container="body"   placement="top" [ngbTooltip]="utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item)?.long_tag)">
								{{item ? utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item)?.tag): '--'}}{{last ? '' : '&nbsp;,&nbsp;&nbsp;'}}
							</span>
							</small>
							</ng-container>
				<ng-template #elseSkillsTemplate>
					<li>--</li>
				</ng-template>
						</li>
						<ng-template *ngIf="!childForm?.value?.skillSet?.skills">
							<li>--</li>
				</ng-template>
					</ul>
				</div>
			</div>
			<div class="col-lg-12 row">
				<div class="col-lg-4 caption">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">{{"userProfile.programmingSkills" | translate }}</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">{{utilsHelperService.onConvertArrayToString(childForm?.value?.skillSet?.programming_skills)}} </li>
					</ul>
				</div>
			</div>
			<div class="col-lg-12 row">
				<div class="col-lg-4 caption">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">{{"userProfile.others" | translate }}</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">{{utilsHelperService.onConvertArrayToString(childForm?.value?.skillSet?.other_skills)}}</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-12 row">
				<div class="col-lg-4 caption">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">{{"userProfile.previousEmployers" | translate}}</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">
							{{utilsHelperService.onConvertArrayToString(childForm?.value?.personalDetails?.clients_worked)}}
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-12 row">
				<div class="col-lg-4 caption">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">{{"userProfile.rolesLookingFor" | translate }}</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
						<li class="list-group-item text-capitalize" *ngIf="childForm?.value?.jobPref?.job_role && childForm?.value?.jobPref?.job_role!=''">
							{{childForm?.value?.jobPref?.job_role ? childForm?.value?.jobPref?.job_role : '--'}}
						</li>
						<li class="list-group-item text-capitalize" *ngIf="!childForm?.value?.jobPref?.job_role || childForm?.value?.jobPref?.job_role ==''">
							<button style="font-size: 10px;padding: 5px;"(click)="onOpenCriteriaModal('job_role')" type="button" class="btn btn-theme-green" data-toggle="modal"
			data-target="#addCriteria">{{"shared.add" | translate }} </button>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-12 row">
				<div class="col-lg-4 caption">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">{{"userProfile.roleType" | translate }}</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
						<li class="list-group-item text-capitalize" *ngIf="childForm?.value?.educationExp?.employer_role_type">
							{{childForm?.value?.educationExp?.employer_role_type ? childForm?.value?.educationExp?.employer_role_type : '--'}}
						</li>
						<li class="list-group-item text-capitalize" *ngIf="!childForm?.value?.educationExp?.employer_role_type || childForm?.value?.educationExp?.employer_role_type ==''">
							<button style="font-size: 10px;padding: 5px;"(click)="onOpenCriteriaModal('jobtype')" type="button" class="btn btn-theme-green" data-toggle="modal"
			data-target="#addCriteria">{{"shared.add" | translate }} </button>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-12 row">
				<div class="col-lg-4 caption">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">{{"userProfile.languageKnown" | translate}}</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">
							{{findLanguageArray(childForm?.value?.personalDetails?.language_known)}}
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-12 row">
				<div class="col-lg-4 caption">
					<ul class="list-group">
						<li class="list-group-item text-capitalize">{{"userProfile.endToEnd" | translate}}</li>
					</ul>
				</div>
				<div class="col-lg-8 info">
					<ul class="list-group">
						<li class="list-group-item text-capitalize" *ngIf="childForm?.value?.educationExp?.end_to_end_implementation">
							{{childForm?.value?.educationExp?.end_to_end_implementation ? childForm?.value?.educationExp?.end_to_end_implementation : '--'}}
						</li>
						<li class="list-group-item text-capitalize" *ngIf="!childForm?.value?.educationExp?.end_to_end_implementation">
						<button style="font-size: 10px;padding: 5px;"(click)="onOpenCriteriaModal('end_to_end_implementation')" type="button" class="btn btn-theme-green" data-toggle="modal"
			data-target="#addCriteria">{{"shared.add" | translate }} </button></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row mt-3 info-box" *ngIf="childForm?.value?.skillSet?.certification">
			<div class="col-lg-12" >
				<div class="pj-title mb-3">
					 <h6>{{"userProfile.certification" | translate }}</h6>
				</div>
			</div>
			<div class="col-lg-12" *ngIf="childForm.value.skillSet.certification && childForm?.value?.skillSet?.certification?.length != 0 ">
				<div class="media mb-2" *ngFor="let certification of childForm.value.skillSet.certification">
					<img src="assets/images/certifications-icon.png" width="26px" class="mr-2" alt="SAP">
					<div class="media-body">
						<p class="my-1 h5" >{{certification}} </p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-12" *ngIf="childForm?.value?.skillSet?.certification?.length == 0 ">
				<button style="font-size: 10px;padding: 5px;"(click)="onOpenCriteriaModal('certificationBoolean')" type="button" class="btn btn-theme-green" data-toggle="modal"
			data-target="#addCriteria">{{"shared.add" | translate }} </button>
			</div>
		</div>
		<div class="row mt-3 info-box" *ngIf="!childForm?.value?.skillSet?.certification">
			<div class="col-lg-12">
				<div class="pj-title mb-3">
					 <h6>{{"userProfile.certification" | translate }}</h6>
				</div>
			</div>
			<div class="col-lg-12" >
				<button style="font-size: 10px;padding: 5px;"(click)="onOpenCriteriaModal('certificationBoolean')" type="button" class="btn btn-theme-green" data-toggle="modal"
			data-target="#addCriteria">{{"shared.add" | translate }} </button>
			</div>
		</div>
		
		<div class="row mt-3 info-box" *ngIf="childForm?.value?.personalDetails?.reference">	
						
			<div class="col-lg-12"  *ngIf="childForm?.value?.personalDetails?.reference?.length !=0">
				<div class="pj-title mb-3 border-primary" *ngIf="childForm?.value?.personalDetails?.reference[0].name && childForm?.value?.personalDetails?.reference[0].email && childForm?.value?.personalDetails?.reference[0].company_name">
					<h6 class="text-blue" role="button" (click)="show = !show"> {{"userProfile.reference" | translate }}  <i class="fas fa-angle-down"></i></h6>
				</div>
				<div *ngIf="show" [@slideInOut] class="row mt-2" style="padding:0px;">
					<div class="col-lg-4 p-1" *ngFor="let reference of childForm.value.personalDetails.reference " >
						<div class="card job-card sm" style="min-height: 105px;" *ngIf="reference.name && reference.email && reference.company_name">
							<div class="card-body">
								<p class="text-blue font-weight-bold mb-1">{{reference.name}}</p>
								<p class="mb-1 hilight">{{reference.email}}</p>
								<p class="mb-0">{{reference.company_name}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>		
			<div class="col-lg-12" >
				<div class="pj-title mb-3 border-primary" *ngIf="childForm?.value?.personalDetails?.reference?.length !=0 && !childForm?.value?.personalDetails?.reference[0].name || !childForm?.value?.personalDetails?.reference[0].email || !childForm?.value?.personalDetails?.reference[0].company_name" >
					<h6 class="text-blue" role="button" > {{"userProfile.reference" | translate }}   <i class="fas fa-angle-down"></i></h6>
				</div>
				<div class="mt-2" style="padding:0px;" *ngIf="childForm?.value?.personalDetails?.reference?.length !=0 && !childForm?.value?.personalDetails?.reference[0].name || !childForm?.value?.personalDetails?.reference[0].email || !childForm?.value?.personalDetails?.reference[0].company_name" >
					<button style="font-size: 10px;padding: 5px;"(click)="onOpenCriteriaModal('reference')" type="button" class="btn btn-theme-green" data-toggle="modal"
			data-target="#addCriteria">{{"shared.add" | translate }} </button>
				</div>
			</div>	
		</div>
		<div class="row mt-3 info-box" *ngIf="!childForm?.value?.personalDetails?.reference">	
				
			<div class="col-lg-12">
				<div class="pj-title mb-3 border-primary" >
					<h6 class="text-blue" role="button" (click)="show = !show"> {{"userProfile.reference" | translate }}    <i class="fas fa-angle-down"></i></h6>
				</div>
				<div class="mt-2" style="padding:0px;">
					<button style="font-size: 10px;padding: 5px;"(click)="onOpenCriteriaModal('reference')" type="button" class="btn btn-theme-green" data-toggle="modal"
			data-target="#addCriteria">{{"shared.add" | translate }} </button>
				</div>
			</div>	
		</div>
	</div>
	<div class="modal-footer">
		<button  (click)="onClickCloseBtn(false)" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">{{"shared.edit" | translate }}   </button>
		<button type="button" class="btn btn-theme-blue btn-sm" (click)="onRedirectDashboard()">{{"shared.saveClose" | translate }} </button>
	</div>
</ng-template>

<ng-template *ngIf="isOpenCriteriaModal" #criteriaModal let-modal>
	<div class="modal-header">
			<button (click)="openCheckPopup()" type="button" class="close" aria-label="Close">
					<span aria-hidden="true">×</span>
			</button> 
		</div>
		<div class="modal-body"  *ngIf="jobtype">
			<div formGroupName="educationExp">
				<div class="col-lg-12 col-md-12">
					<div class=" form-group">
						<label>{{"userProfile.roleType" | translate }}</label>
						<select formControlName="employer_role_type" class="form-control text-capitalize">
							<option value="" selected="" >Select Role Type</option>
							<option  value="Technical">Technical</option>
							<option  value="Functional">Functional</option>
							<option  value="Technofunctional">Technofunctional</option>
						</select>
					</div>
				</div>
			</div>
		</div>	
		<div class="modal-body"  *ngIf="end_to_end_implementation">
			<div formGroupName="educationExp">
				<div class="col-lg-6 col-md-12">
				  <div class=" form-group">
					<label>{{"userProfile.endToEnd" | translate }}</label>
					<input numbersOnlys formControlName="end_to_end_implementation" type="text" class="form-control w-25">
				  </div>
				</div>
			</div>
		</div>	
		<div class="modal-body"  *ngIf="education">
		<div formGroupName="educationExp">
		  <h6 class="font-weight-bold mt-4">{{"userProfile.education" | translate }}</h6>
		  <div class="row mt-3" *ngFor="let ticket of t.controls; let i = index; let last = last">
			<ng-container [formGroup]="ticket">
			  <div class="col-lg-3 col-md-5">
				<div class=" form-group">
				  <label>{{"userProfile.degree" | translate }} </label>
				  <select (change)="onChangeDegreeValue($event?.target?.value, i)" formControlName="degree" class="form-control text-capitalize">
					<option [value]="''">{{"shared.select" | translate }} {{"userProfile.degree" | translate }}
					</option>
					<ng-container *ngFor="let education of educations; let i = index">
					  <option [style.display]="educationsSelectedArrayCheck(education,ticket) ? 'none' : 'block'" [value]="education">
						{{education}}
					  </option>
					</ng-container>
				  </select>
				  <app-control-messages [control]="ticket['controls']['degree']"></app-control-messages>
				</div>
			  </div>
			  <div class="col-lg-4 col-md-5">
				<div class=" form-group">
				  <label>{{"userProfile.fieldOfStudy" | translate }}</label>
				  <input (change)="onChangeStudyValue($event?.target?.value, i)" formControlName="field_of_study" type="text" class="form-control text-capitalize" [placeholder]="'postYourResume.fieldOfStudy' | translate">
				  <app-control-messages [control]="ticket['controls']['field_of_study']"></app-control-messages>
				</div>
			  </div>
			  <div class="col-lg-3 col-md-5">
				<div class=" form-group">
				  <label>{{"userProfile.yearOfCompletion" | translate }}</label>
				  <input maxlength="4" (change)="onChangeCompletionValue($event?.target?.value, i)" numbersOnly formControlName="year_of_completion" type="text" class="form-control text-capitalize" [placeholder]="'postYourResume.yearOfCompletion' | translate">
				  <app-control-messages [control]="ticket['controls']['year_of_completion']"></app-control-messages>
				 
				</div>
			  </div>
			  <div class="col-lg-2 col-md-4 d-flex justify-content-center align-items-center">
				<button type="button" class="btn btn-outline-danger"
				  style="line-height: 1.75; padding: .5rem 1.0rem;" (click)="onRemove(i)"><i class="fas fa-times"></i></button>
				<button *ngIf="last" (click)="onDuplicate(i)" type="button" class="btn btn-outline-green ml-2"
				  style="line-height: 1.75; padding: .5rem 1.0rem;"><i class="fas fa-plus"></i></button>
			  </div>
			</ng-container>
		  </div>
		  </div>
		  </div>
		<div class="modal-body"  *ngIf="certificationBoolean">
			<div formGroupName="skillSet">
				<div class="col-lg-12 col-md-12" >	
					<div class=" form-group">
						<label >{{"userProfile.certification" | translate }}</label>
						<mat-form-field class="example-chip-list" style="width: 100%;" >
							
							<mat-chip-list #chipListss aria-label="certification">
								<mat-chip *ngFor="let certifications of certification" [selectable]="selectable"
									[removable]="removable" (removed)="removeCertification(certifications)">
									{{certifications}}
									<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
								</mat-chip>
								<input placeholder=""
									[matChipInputFor]="chipListss"
									[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
									[matChipInputAddOnBlur]="addOnBlur"
									(matChipInputTokenEnd)="addCertification($event)">
							</mat-chip-list>
						</mat-form-field>
					</div>	
				</div>
			</div>
		</div>	
		<div class="modal-body"  *ngIf="preferredLocation">
			<div formGroupName="jobPref">
				<div class="col-lg-12 col-md-12" >	
						<div class=" form-group">
							<label >{{"userProfile.preferredLocation" | translate }}</label>
							<mat-form-field class="example-chip-list" style="width: 100%;" >
								
								<mat-chip-list #chipLists aria-label="address">
									<mat-chip *ngFor="let addresss of address;let i=index;" [selectable]="selectable"
										[removable]="removable" (removed)="onRemoves(i)">
										{{addresss}}
										<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
									</mat-chip>
									<input placeholder="" #chipsInput
									(onAddressChange)="handleAddressChange($event,id)"
									[options]='options' 
									ngx-google-places-autocomplete
										[matChipInputFor]="chipLists"
										[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
										[matChipInputAddOnBlur]="addOnBlur"
										(matChipInputTokenEnd)="add($event)">
								</mat-chip-list>
							</mat-form-field>
						</div>	
					</div>	
			</div>
		</div>	
		<div class="modal-body"  *ngIf="job_role">
			<div formGroupName="jobPref">
				<div class="col-lg-12 col-md-12">
					<div class=" form-group">
						<label>{{"userProfile.rolesLookingFor" | translate }}</label>
						<input formControlName="job_role" type="text" class="form-control text-capitalize" [placeholder]="'postYourResume.rolesLookingFor' | translate">
						<app-control-messages [control]="f['job_role']"></app-control-messages>
					</div>
				</div>
			</div>
		</div>		
		<div class="modal-body"  *ngIf="reference">
			<div formGroupName="personalDetails">
				<div class="row mt-5">
					<div class="col-lg-12 col-md-6">
					  <label>{{"userProfile.addreference" | translate }}</label>
					  <div></div>
					</div>
				  </div> 	
					<div class="row mt-2" *ngFor="let ticket of r.controls; let i = index; let last = last">
					<ng-container [formGroup]="ticket">
						<div class="col-lg-3 col-md-6">
							<label>{{"shared.name" | translate }}</label>
							<input  formControlName="name" type="text" class="form-control text-capitalize" placeholder="Please Enter the Name">
							<app-control-messages [control]="ticket['controls']['name']"></app-control-messages>
					  </div>
					  <div class="col-lg-3 col-md-6">
							<label>{{"shared.email" | translate }}</label>
							<input formControlName="email" type="email"  class="form-control text-lowercase" placeholder="Please Enter the E-mail">
							<app-control-messages [control]="ticket['controls']['email']"></app-control-messages>
					  </div>
					  <div class="col-lg-4 col-md-6">
							<label>{{"shared.companyName" | translate }}</label>
							<input  formControlName="company_name" type="text" class="form-control text-capitalize" placeholder="Please Enter the Company Name">
							<app-control-messages [control]="ticket['controls']['company_name']"></app-control-messages>
					  </div>
				   
					<div class="col-lg-2 col-md-6" style="margin-top:30px;">
					  <button type="button" class="btn btn-outline-danger" 
						style="line-height: 1.75; padding: .5rem 1.0rem;" (click)="onRemoveR(i)"><i class="fas fa-times"></i></button>
					  <button *ngIf="last" (click)="onDuplicateR(i)" type="button" class="btn btn-outline-green "
						style="margin-left: 5px;line-height: 1.75; padding: .5rem 1.0rem;"><i class="fas fa-plus"></i></button>
					</div>
				  </ng-container>
				</div>
				
			  </div>
			</div>
		<div class="modal-body"  *ngIf="mobileNumber">
			<div formGroupName="personalDetails">
				<div class="col-lg-12 col-md-12">
        <div class=" form-group">
          <label>{{"shared.mobileNumber" | translate }}</label>
          <ngx-intl-tel-input (ngModelChange)="checkNumber()"
          [maxLength]="15"  (countryChange)="onCountryChange($event)" [cssClass]="'form-control'" [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.UnitedStates" [tooltipField]="TooltipLabel.Name"
          [phoneValidation]="true" [separateDialCode]="separateDialCode"
          [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phone">
        </ngx-intl-tel-input><br/>
          <!-- <input ng2TelInput [ng2TelInputOptions]="{initialCountry: childForm?.value?.personalDetails?.country}" (countryChange)="onCountryChange($event)"  appMarkAsterisk numbersOnly formControlName="phone" type="text" class="form-control" placeholder="9876543210"> -->
		  <small *ngIf="invalidMobile"class="text-danger">{{"shared.invalidMobile" | translate }} </small>
        </div>
      </div>
				
			  </div>
			</div>
			
			
		<div class="modal-footer">
			<button (click)="closeAdd()" type="button" class="btn btn-theme-orange">
				{{"shared.close" | translate }} 
			</button>
			<button (click)="closeSave()" type="button" class="btn btn-theme-blue">
				{{"shared.save" | translate }} 
			</button>
		</div>
	
</ng-template>

<ng-template *ngIf="isCheckModel" #checkModal let-modal>
		<div class="modal-body" style="text-align: center;">
			<h5 > {{"shared.doYouSave" | translate }} </h5>
		</div>
		<div class="modal-footer" style="justify-content: center;">
			<button (click)="cancelCheck()" style="width: 25%;" type="button" class="btn btn-outline-orange">
				{{"shared.no" | translate }} 
			</button>
			<button (click)="closeSaveCheck()" style="width: 25%;" type="button" class="btn btn-outline-green">
				{{"shared.Yes" | translate }} 
			</button>
		</div>
	
</ng-template>

<app-resume-selects
[toggleresumeSelectModal]="toggleresumeSelectModal"
*ngIf="toggleresumeSelectModal"
(onEvent)="onToggleResumeSelectModal($event)">
</app-resume-selects>