<ng-template #jobPreviewModal let-modal>
  <div formGroupName="jobPrev">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{"postJob.jobPreview" | translate }} </h5>
      <button (click)="onClickCloseBtn(false)" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body" style="height:550px; overflow-y:scroll;">
      <div class="row">
        <div class="col-lg-12">
          <div class="card job-card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12 text-capitalize">
                  <h5>{{jobInfo?.title}}</h5>
                </div>
              </div>
              <div class="media">
                <div class="media-body">
                  <h6 class="text-capitalize">{{profileInfo?.details?.company}}</h6>
                  <h6 class="text-capitalize">
                    {{jobInfo?.city ? jobInfo?.city + ', ' : ''}}
                    {{jobInfo?.state ? jobInfo?.state + ', ' : ''}}
                    {{jobInfo?.country ? jobInfo?.country : ''}}
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 info-box">
        <div class="col-lg-4 caption">
          <ul class="list-group">
            <li class="list-group-item text-capitalize">{{"postJob.totalYearsOfExperience" | translate }}</li>
            <li class="list-group-item text-capitalize">{{"postJob.totalYearsOfSapExperience" | translate }}</li>
            <li class="list-group-item text-capitalize">{{"postJob.domainExperience" | translate }}</li>
            <li class="list-group-item text-capitalize">{{"postJob.handsOnWith" | translate }}</li>
          </ul>
        </div>
        <div class="col-lg-6 info">
          <ul class="list-group">
            <li class="list-group-item text-capitalize">{{jobInfo?.experience}} Years</li>
            <li class="list-group-item text-capitalize">{{jobInfo?.sap_experience}} Years</li>
            <li class="list-group-item text-capitalize">{{sharedService.onFindDomainFromID(jobInfo?.domain)}}</li>
            <li class="list-group-item text-uppercase">
              <p class="m-0 w-100 float-left" *ngFor="let item of jobInfo?.hands_on_experience">
                <span class="text-wrap-custom float-left">{{item?.skill_id ? sharedService.onFindSkillsFromSingleID(item?.skill_id)?.tag : '--'}}</span>
                <span *ngIf="item?.skill_id">({{item?.experience + ' ' + item?.exp_type}})</span>
              </p>
             </li>
          </ul>
        </div>
        <div class="col-lg-12 border-top pt-3"> </div>
        <div class="col-lg-4 caption">
          <ul class="list-group">
            <li class="list-group-item text-capitalize lg-mh-40">{{"postJob.knowledgeOnOtherSapSkills" | translate }}</li>
            <li class="list-group-item text-capitalize">{{"postJob.programmingSkills" | translate }}</li>
            <li class="list-group-item text-capitalize">{{"postJob.niceToHave" | translate }}</li>
            <li class="list-group-item text-capitalize">{{"postJob.certification" | translate }}</li>
            <li class="list-group-item text-capitalize">{{"postJob.endToEndImplementation" | translate }}</li>
          </ul>
        </div>
        <div class="col-lg-6 info">
          <ul class="list-group">
            <li class="list-group-item text-uppercase lg-mh-40">
              <p class="m-0 w-100 float-left" *ngFor="let item of jobInfo?.skills">
                <span class="text-wrap-custom float-left">{{item ? sharedService.onFindSkillsFromSingleID(item)?.tag: '--'}}</span>
              </p>
             </li>
            <li class="list-group-item text-capitalize">{{utilsHelperService.onConvertArrayToString(jobInfo?.programming_skills)}} </li>
            <li class="list-group-item text-capitalize">{{utilsHelperService.onConvertArrayToString(jobInfo?.optinal_skills)}}</li>
            <li class="list-group-item text-capitalize">{{utilsHelperService.onConvertArrayToString(jobInfo?.certification)}}</li>
            <li class="list-group-item text-capitalize">{{jobInfo?.end_to_end_implementation}}</li>
          </ul>
        </div>
        <div class="col-lg-12 border-top pt-3"> </div>

        <div class="col-lg-4 caption">
          <ul class="list-group">
            <li class="list-group-item text-capitalize">{{"postJob.jobType" | translate}}</li>
            <li class="list-group-item text-capitalize" *ngIf="jobInfo?.type == '6'">{{"postJob.contractDuration" | translate}}</li>
            <li class="list-group-item text-capitalize">{{"postJob.salary" | translate}}</li>
            <li class="list-group-item text-capitalize">{{"postJob.remote" | translate}}</li>
            <li class="list-group-item text-capitalize">{{"postJob.startTime" | translate}}</li>
            <li class="list-group-item text-capitalize">{{"postJob.travelRequired" | translate}}</li>
            <li class="list-group-item text-capitalize">{{"postJob.workAuthorization" | translate }}</li>
            <li class="list-group-item text-capitalize">{{"postJob.visaSponsorship" | translate }}</li>
          </ul>
        </div>
        <div class="col-lg-6 info">
          <ul class="list-group">
            <li class="list-group-item text-capitalize">{{sharedService.onGetJobType(jobInfo?.type)}}</li>
            <li class="list-group-item text-capitalize" *ngIf="jobInfo?.type == '6'">{{jobInfo?.contract_duration}} months</li>
            <li class="list-group-item text-capitalize">
              <ng-container *ngIf="jobInfo?.salary_type == 0">
                {{sharedService.onGetCurrencyCode(jobInfo?.salary_currency)?.symbol + jobInfo?.salary + '/hr'}}

              </ng-container>
              <ng-container *ngIf="jobInfo?.salary_type ==1">
                {{sharedService.onGetCurrencyCode(jobInfo?.salary_currency)?.symbol + jobInfo?.salary + ' Annual pay'}}
              </ng-container>
              <ng-container  *ngIf="jobInfo?.salary_type < 0">
                --
              </ng-container>
            </li>
            <li class="list-group-item text-capitalize">{{utilsHelperService.onGetYesOrNoValue(jobInfo?.remote)}}</li>
            <li class="list-group-item text-capitalize">
              {{(jobInfo?.availability || jobInfo?.availability == 0) ? (jobInfo?.availability == 0 ? 'Immediate' : jobInfo?.availability + ' Days') : '--'}}</li>
            <li class="list-group-item text-capitalize">
              {{(jobInfo?.travel_opportunity || jobInfo?.travel_opportunity==0) ? (jobInfo?.travel_opportunity == 0 ? 'No' : jobInfo?.travel_opportunity + '%') : '--'}}
            </li>
            <li class="list-group-item text-capitalize">{{jobInfo?.work_authorization == 0 ? ("postJob.shouldBeACitizenPr" | translate) : ("postJob.shouldBeHavingAWorkPermit" | translate)}}</li>
            <li class="list-group-item text-capitalize">{{utilsHelperService.onGetYesOrNoValue(jobInfo?.visa_sponsorship)}}</li>
          </ul>
        </div>

        <ng-container *ngIf="jobInfo?.extra_criteria?.length > 0">
          <div class="col-lg-4 caption">
            <ul class="list-group">
              <li *ngFor="let extra_criteria of jobInfo?.extra_criteria; let i = index"
              class="list-group-item text-capitalize">{{extra_criteria?.title}}</li>
            </ul>
          </div>
          <div class="col-lg-6 info">
            <ul class="list-group">
              <li
              *ngFor="let extra_criteria of jobInfo?.extra_criteria; let i = index"
              class="list-group-item text-capitalize">{{extra_criteria?.value}}</li></ul>
          </div>
        </ng-container>

        <div class="col-lg-12 border-top pt-3"> </div>

        <div class="col-lg-12">
          <h6>{{"postJob.jobDescription" | translate}}</h6>
          <p [innerHTML]="jobInfo?.description"></p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-theme-blue" data-dismiss="modal" data-toggle="modal" data-target="#successMsg">Send Mail</button>
		  </div>
  </div>
</ng-template>
