<section class="my-5">
  <div [ngClass]="(screenWidth >= 1500)?'container-fluid':'container'">
    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="matching-post" *ngIf="showCount && showJob">
              <ng-container *ngFor="let item of postedJobs; let i = index"  >
          <div *ngIf="checkDataCount(item?.id) != 0 && checkDataCount(item?.id) != '0'"  class="custom-control custom-radio mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
            <input (change)="onSetJob(item)" class="custom-control-input  mb-0" type="radio" id="Check_{{i}}" name="example1_{{selectedJob?.id}}_{{item?.id}}" [checked]="(selectedJob?.id == item?.id)">
            <label  class="text-capitalize custom-control-label mb-0" for="Check_{{i}}">{{item?.title}} ({{ checkDataCount(item?.id)}}) </label>
			<!--  {{ selectedJob?.id == item?.id ? (appliedJobMeta?.total ?  '(' + appliedJobMeta?.total + ')' :  '(' +0+ ')') : ''}} -->
			</div>
			</ng-container>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="showJobs">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">{{"tabs.candidateName" | translate}}</th>
              <th scope="col">{{"tabs.position" | translate}}</th>
              <th scope="col">{{"tabs.mobile" | translate}}</th>
              <th scope="col">{{"shared.email" | translate}}</th>
              <!-- <th scope="col">{{"postJob.location" | translate}}</th> -->
              <th scope="col">{{"tabs.jobDetails" | translate}}</th>
              <th scope="col">{{"shared.status" | translate}}</th>
              <th scope="col">{{"tabs.message" | translate}}</th>
              <th scope="col" class="text-center">{{"common.meetingLink" | translate}}</th>
              <th scope="col" class="text-center">{{"common.history" | translate}}</th>
            </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="shortListedJobs?.length; else elseTemplate">
                <tr *ngFor="let item of shortListedJobs">
                  <td>
                    <a class="text-capitalize"  [routerLink]="['/employer/candidate-profile']" [queryParams]="{id: item?.user?.id, jobId: item?.job_posting?.id,applicationId: item?.id , path: 'shortlisted'}"  href="javascript:;">
                      {{item?.user?.first_name + ' ' + item?.user?.last_name}}
                    </a>
                    </td>
                  <td class="text-capitalize">
                    {{item?.user?.current_employer_role ? item?.user?.current_employer_role : '--'}}
                  </td>
                  <td>{{item?.user?.phone ? (item?.user?.phone | phone) : '--'}}</td>
                  <td>{{item?.user?.email ? item?.user?.email : '--'}}</td>
                  
				  <td class="text-capitalize">
				  {{selectedJob.title}}
				  </td>
				  <td class="text-center">
				  <h6 class="text-warning" *ngIf="item?.status == 6"> Not Available</h6>
				  <h6 class="text-success" *ngIf="item?.status == 2">Hired </h6>
				  <h6 class="text-danger" *ngIf="item?.status == 4"> Rejected</h6>
				  <h6 class="text-danger" *ngIf="item?.job_posting?.status == 0 && item?.status !=6 && item?.status !=2 && item?.status !=4  " > Closed JOB </h6>
					<select *ngIf="item?.job_posting?.status != 0 && item?.status !=6 && item?.status !=2 && item?.status !=4  " class="form-control form-control-td"  (change)="popupOpen(item, $event?.target?.value)">
					  <option [value]="1" [selected]="item?.status == 1" *ngIf="item?.status <= 1 ">Choose</option>
					  <option [value]="3" [selected]="item?.status == 3"  *ngIf="item?.status <= 3 " >Interview scheduled</option>
					  <ng-container *ngIf="item?.job_posting?.screening_process?.length;">
					  <ng-container  *ngFor="let option of item?.job_posting?.screening_process; index as i">
						<option *ngIf="item?.status <= i+11"
							[value]="i+11" [selected]="item?.status == i+11"> <span >{{ option.title }} </span></option>
					  </ng-container>
					  </ng-container>
					  <option [value]="5" [selected]="item?.status == 5">On Hold</option>
					  <option [value]="6" [selected]="item?.status == 6">Not Available</option>
					  <option [value]="10" [selected]="item?.status == 10">Offered</option>
					  <option [value]="9" [selected]="item?.status == 9">Accepted</option>
					  <option [value]="8" [selected]="item?.status == 8">Denied</option>
					  <option [value]="7" [selected]="item?.status == 7">Awaiting</option>
					  <option [value]="2" [selected]="item?.status == 2">Hired</option>					  
					  <option [value]="4" [selected]="item?.status == 4">Rejected</option>
					</select>
					</td>
				  <td class="text-center text-blue"><a class="poin" (click)="openMessagePopup(item)"><i class="fas fa-file-alt"></i></a></td> 
				  <!--<td class="text-center" *ngIf="validateStatus(item) == false && item?.invite_status != true && item?.status !=6 && item?.status !=5 && item?.status !=2 && item?.status !=4 && item?.status !=1 " (click)="openMessagePopupInviteLink(item,item?.status)"><a  class="text-green poin" ><i class="fas fa-envelope-open-text"></i></a></td>-->
				  <td class="text-center" *ngIf="validateStatus(item) == false && item?.invite_status != true && item?.status !=6 && item?.status !=5 && item?.status !=2 && item?.status !=4 && item?.status !=1 && item?.status !=7 && item?.status !=8 && item?.status !=9 && item?.status !=10" (click)="openMeetingLinkPopup(item,item?.status)"><a  class="text-green poin" ><i class="fas fa-envelope-open-text"></i></a></td>
				  <td class="text-center" *ngIf="(validateStatus(item) == true  ) && item?.status !=6 && item?.status !=5 &&item?.status !=1 && item?.status !=2 && item?.status !=4 "><a  class="text-danger poin"><i class="fas fa-envelope"></i></a></td>
				  <td class="text-center" *ngIf="(validateStatus(item) == false && item?.invite_status == true ) && item?.status !=6 && item?.status !=1 &&item?.status !=5 && item?.status !=2 && item?.status !=4 "><a   (click)="openReschedulePopup(item,item?.status)" class="text-warning poin"><i class="fas fa-envelope"></i></a></td>
				  <td class="text-center" *ngIf=" item?.status ==5 ||item?.status ==6 || item?.status ==2 || item?.status ==4|| item?.status ==1 || item?.status ==7 || item?.status ==8 || item?.status ==9 || item?.status ==10"><a  class="text-danger poin-no"><i class="fas fa-comment-slash"></i></a></td>
				  <td class="text-center" ><a  (click)="openHistoryPopup(item)" class="text-danger poin"><i class="fas fa-history"></i></a></td>
                </tr>
              </ng-container>
              <ng-template #elseTemplate>
                <tr>
                  <td colspan="6">No Record Found</td>
                </tr>
              </ng-template>
            </tbody>
          </table>
		  <div class="d-flex justify-content-center" style="background: #f8f8f8;" *ngIf="(shortListedMeta?.count > 0 && shortListedMeta?.total > 10)">
					<mat-paginator style="background: #f8f8f8;color: #000;" (page)="handlePageEvent($event)"
				[length]="length"
				[pageSize]="limit"  [pageSizeOptions]="pageSizeOptions"
				[pageIndex]="page-1">
			</mat-paginator>
			</div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template *ngIf="isOpenInviteUrl" #InviteModel let-modal>
	<div class="modal-header">
			<!-- <h5 class="modal-title" id="exampleModalLabels">{{"common.inviteLink" | translate}}</h5> -->
		</div>
		<div class="modal-body"  >
			
			<mat-radio-group *ngIf="showInput !=true"
			  aria-labelledby="example-radio-group-label"
			  class="example-radio-group"
			  (change)="checkChange($event)">
			  <mat-radio-button style="display:contents" class="example-radio-button" *ngFor="let item of employeeValue?.profile?.invite_urls;let i=index;" value="{{item?.url}}_{{i}}">
				<h6 style="margin-bottom: 0.5px !important;">{{item.title}}</h6> {{item.url}}
			  </mat-radio-button>
			</mat-radio-group>
				
			<div class="mt-3">
				<h6 class="text-green poin" (click)="enableInput()"> Send custom invite link</h6>
				
				<div class="form-group" *ngIf="showInput ==true">
					<input type="text" class="form-control " name="inviteUrlLink" id ="inviteUrlLink" [(ngModel)]="inviteUrlLink">
				</div>
			
			</div>
		
		</div>
		<div class="modal-footer">			
			<button  (click)="closePopup()" type="button" class="btn btn-secondary" >
				{{"shared.close" | translate }}
			</button>	
			<button [disabled]="inviteUrlLink.trim() =='' || inviteUrlLink ==null "  (click)="closeSave()"  type="button" class="btn btn-theme-blue">
				{{"shared.send" | translate }}
			</button>	
		</div>
</ng-template>

<ng-template *ngIf="isResendURL" #ResendURLModel let-modal>
	<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabels">{{"shared.resend" | translate }} {{"common.inviteLink" | translate}}</h5>
		</div>
		<div class="modal-body"  >
			<div class="mt-3">				
				<div class="form-group" >
					<input type="text" class="form-control " readonly name="inviteUrlLink" id ="inviteUrlLink" [(ngModel)]="inviteUrlLink">
				</div>			
			</div>
		
		</div>
		<div class="modal-footer">			
			<button  (click)="closePopupResend()" type="button" class="btn btn-secondary" >
				{{"shared.close" | translate }}
			</button>	<button [disabled]="inviteUrlLink.trim() =='' || inviteUrlLink ==null || inviteUrlLink.trim().split('/')[2] !=  'calendly.com' " (click)="closeSaveResend()" type="button" class="btn btn-theme-blue">
				{{"shared.resend" | translate }}
			</button>	
		</div>
</ng-template>

<ng-template *ngIf="isOpenHistory" #HistoryModel let-modal>
	<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabels">{{"common.history" | translate}}</h5>
			<button type="button" class="close" (click)="closePopupHistory()">
				<span aria-hidden="true">×</span>
			</button>
		</div>
		<div class="modal-body"  >
			
			<div  >
				<div class="row">
				<div class="col-md-1"> </div>
					<div class="col-md-9 ">
						<ul class="statusHistory">
							<ng-container *ngFor="let items of itemsData?.application_status;let i=index;">
								<li class="blue" *ngIf="items?.id == 1 ">
									<div class="date">
										<h5 class="">{{itemsData?.created_at | date: 'longDate' }}</h5>
									</div>
									<div class="icon">
										<i class="fas fa-file-alt"></i>
									</div>
									<div class="content">
										<h4>Applied JOB</h4>
									</div>
								</li>
								<li class="success" *ngIf="items?.id == 1 ">
									<div class="date">
										<h5 class="">{{items?.date | date: 'longDate' }}</h5>
									</div>
									<div class="icon">
										<i class="fas fa-user-clock"></i>
									</div>
									<div class="content">
										<h4>{{items?.status}}</h4>
										<p>{{items?.comments}}</p>
									</div>
								</li>
								<li class="pending" *ngIf="items?.id != '98' && items?.id != '4' && items?.id != '2' && items?.id != 1&& items?.id != '1' && items?.id != '5' && items?.id != '6'" >
									<div class="date">
										<h5 class="">{{items?.date | date: 'longDate' }}</h5>
									</div>
									<div class="icon">
										<i class="fas fa-user-check"></i>
									</div>
									<div class="content">
										<h4>{{items?.status}}</h4>
										<p>{{items?.comments}}</p>
										
										<h6 style="margin-bottom:2px;" *ngIf="items?.link">History</h6>
										<p *ngIf="items?.link">You have been sent a meeting invitation on <span class="blu" >{{items?.date | date: 'longDate' }} </span> at <span class="blu" >{{items?.date | date: 'shortTime' }} </span> </p>
										<!--<h6 style="font-size: 11px;margin-bottom:5px;" *ngIf="items?.rescheduled || items?.invited || items?.created || items?.canceled">History</h6>
										<p *ngIf="items?.invited">You have been sent the invite link on <span class="blu" >{{items?.invited | date: 'longDate' }} </span> at <span class="blu" >{{items?.invited | date: 'shortTime' }} </span> </p>
										<p *ngIf="items?.created">Accepted the invite link on <span class="gre" >{{items?.created | date: 'longDate' }} </span> at <span class="gre" >{{items?.created | date: 'shortTime' }} </span> </p>
										<p *ngIf="items?.canceled">Canceled the invite link on  <span class="re" >{{items?.canceled | date: 'longDate' }} </span> at <span class="re" >{{items?.canceled | date: 'shortTime' }} </span></p>
										<p *ngIf="items?.rescheduled">Rescheduled the invite link on <span class="yel" >{{items?.rescheduled | date: 'longDate' }} </span> at <span class="yel" >{{items?.rescheduled | date: 'shortTime' }} </span></p>-->
									</div>
								</li>
								<li class=" success" *ngIf="items?.id == '2' " >
									<div class="date">
										<h5 class="">{{items?.date | date: 'longDate' }}</h5>
									</div>
									<div class="icon">
										<i class="fas fa-user-check"></i>
									</div>
									<div class="content">
										<h4>{{items?.status}}</h4>
										<p>{{items?.comments}}</p>
										
									</div>
								</li>
								<li class="rejected" *ngIf="items?.id == '98' ||items?.id == '5' || items?.id == '6'|| items?.id == '4' " >
									<div class="date">
										<h5 class="">{{items?.date | date: 'longDate' }}</h5>
									</div>
									<div class="icon">
										<i class="fas fa-user-times"></i>
									</div>
									<div class="content">
										<h4>{{items?.status}}</h4>
										<p>{{items?.comments}}</p>
										
									</div>
								</li>
							</ng-container>
							<li class="rejected" *ngIf="itemsData?.job_posting?.status == 0 || itemsData?.job_posting?.status == 3" >
								<div class="date">
									<h5 class="">{{items?.job_posting?.updated_at | date: 'longDate' }}</h5>
								</div>
								<div class="icon">
									<i class="fas fa-user-times"></i>
								</div>
								<div class="content">
									<h4>JOB CLOSED</h4>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">			
			<button  (click)="closePopupHistory()" type="button" class="btn btn-secondary" >
				{{"shared.close" | translate }}
				</button>
		</div>
</ng-template>
 
<ng-template *ngIf="isCheckModel" #checkModal let-modal>
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">{{"tabs.message" | translate}}</h5>
			<button type="button" class="close" (click)="cancelCheck()">
				<span aria-hidden="true">×</span>
			</button>
		</div>
		<div class="modal-body job-card" style="box-shadow: none;">
			<div class="media">
				<img class="mr-3" [src]="messagePopupValue?.user?.photo ? userprofilepath : 'assets/images/user-img-icon.jpg'" style="width:70px;height:70px;">
				<div class="media-body">
					<h6 class="text-green">{{(messagePopupValue?.user?.first_name ? messagePopupValue?.user?.first_name : '') + ' '
						+ (messagePopupValue?.user?.last_name ? messagePopupValue?.user?.last_name : '')}}</h6>
					<h6>{{messagePopupValue?.user?.job_role}}</h6>
					<h6>{{messagePopupValue?.user?.city ? messagePopupValue?.user?.city+', '  : ''}}
						{{messagePopupValue?.user?.state ? messagePopupValue?.user?.state+', '  : ''}}
						<span class="text-uppercase">
							{{messagePopupValue?.user?.country ? messagePopupValue?.user?.country : ''}}
						</span>
					</h6>
				</div>
			</div>
			<form class="mt-3">
				<div class="form-group">
					<label for="exampleFormControlSelect1">{{"shared.status" | translate}}</label>
					<input type="text" class="form-control text-capitalize" name="messagePopupValueStatus" id ="messagePopupValueStatus" readonly [(ngModel)]="messagePopupValueStatus">
					
				</div>
				<div class="form-group">
					<label for="exampleFormControlTextarea1">{{"shared.statusMessage" | translate}}</label>
					<textarea appMarkAsterisk class="form-control" name="exampleFormControlTextarea1"  id="exampleFormControlTextarea1" rows="4" [(ngModel)]="selectedStatusMessage" >
					</textarea>
				</div>
				<h6 *ngIf="isErrorShownValue" style="color:red;">{{"shared.validStatus" | translate}}  </h6>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-sm btn-secondary" (click)="cancelCheck()" >{{"shared.close" | translate}}</button>
			<button type="button" [disabled]="selectedStatusValue ==null || selectedStatusValue =='' || selectedStatusMessage == null || selectedStatusMessage =='' " class="btn btn-sm btn-primary"  (click)="sendMessage()"  >{{"shared.sendMessage" | translate}} </button>
		</div>
	</div>
</ng-template>
<ng-template *ngIf="isSchedulediscuss" #ScheduleDiscuss let-modal>
	
		<div class="modal-content">
			<div class="modal-body text-center">
				<h6 class="mt-3" style="font-size: 20px;">Would you like to schedule a discussion?</h6>
			</div>
			
		<div class="modal-footer d-flex justify-content-center">
		 <button type="button" class="btn btn-primary " (click)="openYesSchedule()" data-dismiss="modal">{{"shared.yes" | translate}} </button>
      <button type="button"  class="btn btn-secondary" (click)="closeSchedule()" data-dismiss="modal">{{"shared.no" | translate}} </button>
     
      </div>
		</div>	
		
</ng-template>

<ng-template *ngIf="isMeetingLink" #MeetingLink let-modal>
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Meeting Invitation</h5>
			<button type="button" class="close" (click)="closemeeting()">
				<span aria-hidden="true">×</span>
			</button>
		</div>
	</div>
	<div class="modal-body">
	 <form [formGroup]="meetingform" (ngSubmit)="sendmeetinglink()">
	 <div class="form-group">
        <label>Interview Date</label>   
          <input type="date" class="form-control" formControlName="interviewDate" name="interviewDate">
      </div>
	  <div class="row">
	   <div class="col-7 form-group">
        <label>Interview Time</label>   
         <!-- <input type="time" class="form-control" formControlName="interviewTime" name="interviewTime"> -->
         
		 <div (click)="getTimeValue($event)">
		  <input type="text" formControlName="interviewTime" class="form-control" placeholder="-- -- --" readonly><i class="fas fa-clock" style="position:absolute; top:3rem; right:2rem; color: #a8afb5; "></i>
		 </div>
      </div>
	   <div class="col-5 form-group">
        <label>Time Zone</label> 
		 <select formControlName="timeZone" class="form-control" name="timeZone">
					<option value='' disabled>Select Time Zone</option>
					<option value="AST">AST</option>
					<option  value="UTC">UTC</option>
					<option  value="GMT">GMT</option>
					<option  value="ECT">ECT</option>
					<option  value="EET">EET</option>
					<option  value="ART">ART</option>
					<option  value="EAT">EAT</option>
					<option  value="MET">MET</option>
					<option  value="NET">NET</option>
					<option  value="PLT">PLT</option>
					<option  value="IST">IST</option>
					<option  value="BST">BST</option>
					<option  value="VST">VST</option>
					<option  value="CTT">CTT</option>
					<option  value="JST">JST</option>
					<option  value="ACT">ACT</option>
					<option  value="AET">AET</option>
					<option  value="NST">NST</option>
					<option  value="MIT">MIT</option>
					<option  value="HST">HST</option>
					<option  value="PST">PST</option>
					<option  value="PNT">PNT</option>
					<option  value="MST">MST</option>
					<option  value="CST">CST</option>
					<option  value="EST">EST</option>
					<option  value="IET">IET</option>
					<option  value="PRT">PRT</option>
					<option  value="CNT">CNT</option>
					<option  value="AGT">AGT</option>
					<option  value="BET">BET</option>
					<option  value="CAT">CAT</option>
				</select>
      </div>
	  </div>
	  <div class="form-group">
        <label>Interviewer Name</label>   
          <input type="text" class="form-control" formControlName="name" name="name">
      </div>
	   <div class="form-group">
        <label>Interview Link</label>   
         <input type="text" class="form-control" formControlName="link" name="link">
      </div>
	  <div class="modal-footer">
		 <button type="button" class="btn btn-secondary " (click)="closemeeting()" data-dismiss="modal">{{"shared.close" | translate}} </button>
      <button type="submit" [disabled]="!meetingform.valid" class="btn btn-primary" data-dismiss="modal">{{"shared.submit" | translate}} </button>
     
      </div>
	 </form>
	</div>
</ng-template>