<section class="my-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="matching-post">
              <ng-container  *ngFor="let item of postedJobs; let i = index" >
          <div   *ngIf="checkDataCount(item?.id) != 0 && checkDataCount(item?.id) != '0'"   class="custom-control custom-radio mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
            <input  (change)="onSetJob(item)" class="custom-control-input  mb-0" type="radio" id="Check_{{i}}" name="example1_{{selectedJob?.id}}_{{item?.id}}" [checked]="(selectedJob?.id == item?.id)">
            <label class="text-capitalize custom-control-label mb-0" for="Check_{{i}}">{{item?.title}}  ({{ checkDataCount(item?.id)}}) <!--  {{ selectedJob?.id == item?.id ? (shortListedMeta?.total ?  '(' + shortListedMeta?.total + ')' :  '(' +0+ ')') : ''}}  --></label>
          </div>
			</ng-container>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">{{"dashboard.candidateName" | translate}}</th>
              <th scope="col">{{"dashboard.position" | translate}}</th>
              <th scope="col">{{"dashboard.mobile" | translate}}</th>
              <th scope="col">{{"dashboard.email" | translate}}</th>
              <!-- <th scope="col">{{"postJob.location" | translate}}</th> -->
              <th scope="col">{{"dashboard.jobDetails" | translate}}</th>
              <th scope="col">{{"dashboard.status" | translate}}</th>
              <th scope="col">Message</th>
             <!--  <th scope="col" class="text-center">{{"dashboard.action" | translate}}</th> -->
            </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="shortListedJobs?.length; else elseTemplate">
                <tr *ngFor="let item of shortListedJobs">
                  <td>
                    <a class="text-capitalize"  [routerLink]="['/employer/candidate-profile']" [queryParams]="{id: item?.user?.id, jobId: item?.job_posting?.id, path: 'shortlisted'}"  href="javascript:;">
                      {{item?.user?.first_name + ' ' + item?.user?.last_name}}
                    </a>
                    </td>
                  <td class="text-capitalize">
                    {{item?.user?.current_employer_role ? item?.user?.current_employer_role : '--'}}
                  </td>
                  <td>{{item?.user?.phone ? (item?.user?.phone | phone) : '--'}}</td>
                  <td>{{item?.user?.email ? item?.user?.email : '--'}}</td>
                  <!-- <td class="text-capitalize">
                    {{item?.user?.city ? item?.user?.city + ', ' : ''}}
                    {{item?.user?.state ? item?.user?.state + ', ' : ''}}
                    <span class="text-uppercase">
                      {{item?.user?.country ? item?.user?.country : ''}}
                      </span>
                  </td> -->
				  <td class="text-capitalize">
				  {{selectedJob.title}}
				  </td>
				  <td class="text-center">
				  <h6 class="text-warning" *ngIf="item?.status == 6"> Not Available</h6>
				  <h6 class="text-success" *ngIf="item?.status == 2">Hired </h6>
				  <h6 class="text-danger" *ngIf="item?.status == 4"> Rejected</h6>
				  <h6 class="text-danger" *ngIf="item?.job_posting?.status == 0 && item?.status !=6 && item?.status !=2 && item?.status !=4  " > Closed JOB </h6>
				  <h6 class="text-warning" *ngIf="item?.job_posting?.status == 98 && item?.status !=6 && item?.status !=2 && item?.status !=4  " > Paused JOB</h6>
					<select *ngIf="item?.job_posting?.status != 0 && item?.job_posting?.status != 98 && item?.status !=6 && item?.status !=2 && item?.status !=4  " class="form-control form-control-td"  (change)="onChangeStatus(item, $event?.target?.value)">
					  <option [value]="1" [selected]="item?.status == 1" *ngIf="item?.status <= 1 ">Choose</option>
					  <option [value]="3" [selected]="item?.status == 3"  *ngIf="item?.status <= 3 " >Interview scheduled</option>
					  <ng-container *ngIf="item?.job_posting?.screening_process?.length;">
					  <ng-container  *ngFor="let option of item?.job_posting?.screening_process; index as i">
						<option *ngIf="item?.status <= i+7 "
							[value]="i+7" [selected]="item?.status == i+7"> <span >{{ option.title }} </span></option>
					  </ng-container>
					  </ng-container>
					  <option [value]="5" [selected]="item?.status == 5">On Hold</option>
					  <option [value]="6" [selected]="item?.status == 6">Not Available</option>
					  <option [value]="2" [selected]="item?.status == 2">Hired</option>					  
					  <option [value]="4" [selected]="item?.status == 4">Rejected</option>
					  
					</select>
					</td>
				  <td class="text-center text-blue"><a (click)="openMessagePopup(item)"><i class="fas fa-file-alt"></i></a></td> 
				  <!-- <td class="text-center"><a  class="text-danger"><i class="fas fa-trash-alt"></i></a></td>  -->
                </tr>
              </ng-container>
              <ng-template #elseTemplate>
                <tr>
                  <td colspan="6">No Record Found</td>
                </tr>
              </ng-template>
            </tbody>
          </table>
		  <div class="d-flex justify-content-center" style="background: #f8f8f8;" *ngIf="(shortListedMeta?.count > 0 && shortListedMeta?.total > 10)">
					<mat-paginator style="background: #f8f8f8;color: #000;" (page)="handlePageEvent($event)"
				[length]="length"
				[pageSize]="limit"  [pageSizeOptions]="pageSizeOptions"
				[pageIndex]="page-1">
			</mat-paginator>
			</div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template *ngIf="isCheckModel" #checkModal let-modal>
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Message</h5>
			<button type="button" class="close" (click)="cancelCheck()">
				<span aria-hidden="true">×</span>
			</button>
		</div>
		<div class="modal-body job-card" style="box-shadow: none;">
			<div class="media">
				<img class="mr-3" [src]="messagePopupValue?.user?.photo ? (messagePopupValue?.meta?.photo?.path+'/'+ messagePopupValue?.meta?.photo?.folder+'/'+messagePopupValue?.meta?.photo?.sizes?.medium+'/'+messagePopupValue?.user?.photo) : 'assets/images/user-img-icon.jpg'">
				<div class="media-body">
					<h6 class="text-green">{{(messagePopupValue?.user?.first_name ? messagePopupValue?.user?.first_name : '') + ' '
						+ (messagePopupValue?.user?.last_name ? messagePopupValue?.user?.last_name : '')}}</h6>
					<h6>{{messagePopupValue?.user?.job_role}}</h6>
					<h6>{{messagePopupValue?.user?.city ? messagePopupValue?.user?.city+', '  : ''}}
						{{messagePopupValue?.user?.state ? messagePopupValue?.user?.state+', '  : ''}}
						<span class="text-uppercase">
							{{messagePopupValue?.user?.country ? messagePopupValue?.user?.country : ''}}
						</span>
					</h6>
				</div>
			</div>
			<form class="mt-3">
				<div class="form-group">
					<label for="exampleFormControlSelect1">Status</label>
					<input type="text" class="form-control text-capitalize" name="messagePopupValueStatus" id ="messagePopupValueStatus" readonly [(ngModel)]="messagePopupValueStatus">
					
				</div>
				<div class="form-group">
					<label for="exampleFormControlTextarea1">Status Message</label>
					<textarea appMarkAsterisk class="form-control" name="exampleFormControlTextarea1"  id="exampleFormControlTextarea1" rows="4" [(ngModel)]="selectedStatusMessage" >
					</textarea>
				</div>
				<h6 *ngIf="isErrorShownValue" style="color:red;"> Please select the valid status </h6>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-sm btn-secondary" (click)="cancelCheck()" >Close</button>
			<button type="button" [disabled]="selectedStatusValue ==null || selectedStatusValue =='' || selectedStatusMessage == null || selectedStatusMessage =='' " class="btn btn-sm btn-primary"  (click)="sendMessage()"  >Send Message</button>
		</div>
	</div>
</ng-template>