<div formGroupName="requirement">
	<div class="row mt-5 ">
		<div class="col-lg-4 col-md-4 matches-8">
			<div class=" form-group">
				<label  *ngIf="!this.childForm.value.jobInfo.entry">{{"userProfile.totalYearsOfExperience" | translate }}(Min)</label>
				<label *ngIf="this.childForm.value.jobInfo.entry">{{"userProfile.totalYearsOfExperience" | translate }}</label>
				<div appMarkAsterisk *ngIf="!this.childForm.value.jobInfo.entry" ></div>
				<input  (ngModelChange)="keyPress()"  numbersOnly formControlName="experience" type="text" class="form-control w-25 text-center" value="8+">
				<app-control-messages [control]="f['experience']"></app-control-messages>
				<small *ngIf="totalExpError"  class="text-danger">Total is greater than SAP Experience</small>
				<small *ngIf="totalExpErrorZero"  class="text-danger">Experience Should Not Be Zero</small>		
			</div>
		</div>
		<div class="col-lg-4 col-md-4 matches-8"  *ngIf="!this.childForm.value.jobInfo.entry">
			<div class=" form-group">
				<label>{{"matches.totalYearsOfSapExperience" | translate }}(Min)</label>
				<div appMarkAsterisk *ngIf="!this.childForm.value.jobInfo.entry" ></div>
				<input  (ngModelChange)="keyPress()"   numbersOnly formControlName="sap_experience" type="text" class="form-control w-25 text-center" value="5+">
				<app-control-messages [control]="f['sap_experience']"></app-control-messages>
				<small *ngIf="sapExpError" class="text-danger">SAP is not greater than Total Experience</small>
				<small *ngIf="sapExpErrorZero"  class="text-danger">Experience Should Not Be Zero</small>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 ">
			<div class=" form-group">
				<label>{{"userProfile.education" | translate }}</label>	
				<ngx-select
					[placeholder]="'Select Degree'"
					class="text-capitalize"
					[items]="educationItems"
					autoClearSearch="true"
					noResultsFound="No results found"
					formControlName="education"
					optionValueField="text"
					optionTextField="text"
				></ngx-select>
			</div>
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-lg-12 col-md-12">
			<div class=" form-group">
				<label>{{"userProfile.domainExperience" | translate }}</label>
				<div appMarkAsterisk *ngIf="!this.childForm.value.jobInfo.entry" ></div>
				<ngx-select
					[placeholder]="'Select Domain'"
					class="text-capitalize"
					[items]="industriesItems"
					[multiple]="true"
					autoClearSearch="true"
					noResultsFound="No results found"
					formControlName="domain"
					optionValueField="id"
					optionTextField="name"
				></ngx-select>
				<app-control-messages [control]="f['domain']"></app-control-messages>
			</div>
		</div>
	</div>
	<ng-container>
		<div class="row mt-2">
			<div class="col-lg-12 col-md-12">
				<label>{{"userProfile.handsOnWith" | translate }} </label>
				<div appMarkAsterisk *ngIf="!this.childForm.value.jobInfo.entry" ></div>
			</div>
		</div>
		<div class="row mt-2" *ngFor="let ticket of t.controls; let i = index; let last = last">
			<ng-container [formGroup]="ticket">
				<div class="col-lg-6 col-md-6 matches-8">
					<ngx-select
						(select)="onSelectSkillEvent($event, i)"
						[placeholder]="'Select SAP Skills'"
						class="text-capitalize"
						appMarkAsterisk
						[items]="skillItems"
						formControlName="skill_id"
						optionValueField="id"
						optionTextField="tags"
						autoClearSearch="true"
						noResultsFound="No results found"
					>
						<ng-template ngx-select-option-selected let-option let-text="text">
							{{option?.text ? option?.text?.split('--')[0] : ''}}
						</ng-template>

						<ng-template ngx-select-option let-option let-text="text">
							<span *ngIf="indexOfFilter(option?.value,i) ==true " >{{option?.text}}</span>
						</ng-template>

						<ng-template ngx-select-option-not-found>
							Nothing found
						</ng-template>
					</ngx-select>
					<app-control-messages [control]="ticket['controls']['skill_id']"></app-control-messages>
				</div>
				<div class="col-lg-2 col-md-3 matches-6">
					<div class="input-group mb-3">
						<input numbersOnly formControlName="experience" type="text" class="form-control" placeholder="Exp">
						<div class="input-group-append ">
							<select formControlName="exp_type" class="input-group-text" id="basic-addon2">
								<option value="years">years</option>
								<option value="months">months</option>
							</select>
						</div>
						<app-control-messages [control]="ticket['controls']['experience']"></app-control-messages>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 matches-6">
					<button type="button" class="btn btn-outline-danger"
						style="line-height: 1.75; padding: .5rem 1.0rem;" (click)="onRemove(i)"><i class="fas fa-times"></i></button>
					<button *ngIf="last" (click)="onDuplicate(i)" type="button" class="btn btn-outline-green ml-2"
						style="line-height: 1.75; padding: .5rem 1.0rem;"><i class="fas fa-plus"></i></button>
				</div>
			</ng-container>
		</div>
	</ng-container>
	
	<div class="row mt-3">
		<div class="col-lg-12 col-md-12">									
			<div class=" form-group">
				<div class="custom-control custom-checkbox mb-2">
					<input type="checkbox" class="custom-control-input" id="customChecktitle11AA">
					<label class="custom-control-label font-weight-bold text-dark" for="customChecktitle11AA" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{"shared.couldNotFind" | translate }} </label>
				</div>
			</div>
		</div>	
		<ng-container *ngIf="childForm.controls.requirement.controls.new_skills.controls.length && childForm.controls.requirement.controls.new_skills.controls.length !=0">
			<div class="col-lg-12 col-md-6">		
				<div class="row mt-2"  *ngFor="let itemss of newskills.controls;let i=index;">
					<ng-container >
						<div class="col-lg-6 col-md-8 matches-80">
							<div class=" form-group">
								<div class="custom-control mb-2">
									<label class=" font-weight-bold text-dark" style="word-break: break-all;">{{itemss.value.tag}} - {{itemss.value.long_tag}}  </label>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-1 matches-20" >
							<button type="button" class="text-danger btn p-0 btn-small"
								style="line-height: 1.75; padding: .5rem 1.0rem;border:none;" (click)="onRemoveOthers(i)"><i class="fas fa-times"></i></button>
						</div>
					</ng-container>
				</div>
			</div>
		</ng-container>
	</div>	
	<div class="row mt-2 collapse" id="collapseExample">	
		<div class="col-lg-9 col-md-12">
			<div class=" form-group">
				<label>{{"shared.addNewSkills" | translate }}</label>
				<div>				
					<div class="row">
						<div class="col-lg-5 col-md-5">
							<input type="text" formControlName="skills_Data"  class="form-control" placeholder="Ex: SAP DS">
						</div>	
						<div class="col-lg-5 col-md-5">
							<input type="text" formControlName="skills_Datas"  class="form-control" placeholder="Ex: Data Science">
						</div>							
						<div class="col-lg-2 col-md-1 matches-10">
							<button type="button" (click)="onDuplicateOthers()" class="btn btn-outline-success" style="line-height: 1.75; padding: .5rem 1.0rem;"><i class="fas fa-plus"></i></button>
						</div>
					</div>	
					<small class="text-danger " *ngIf="errorShown"> Already Exists SAP Skills.</small>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div class="row mt-3">
		<div class="col-lg-9 col-md-12">
			<div class=" form-group">
				<label>{{"userProfile.knowledgeOn" | translate }} </label>
				<ngx-select
					class="text-capitalize"
					[placeholder]="'Select Other SAP Skills'"
					(select)="onSelectSkillsEvent($event)"
					(remove)="onRemoveSkillEvent($event)"
					[multiple]="true"
					
					[items]="skillsItems"
					formControlName="skills"
					optionValueField="id"
					optionTextField="tags"
					autoClearSearch="true"
					noResultsFound="No results found"
					>
					 <ng-template ngx-select-option-selected let-option let-text="text">
					  {{option?.text ? option?.text?.split('--')[0] : ''}}
					</ng-template>

					<ng-template ngx-select-option let-option let-text="text">
						{{option?.text}}
					</ng-template>

					<ng-template ngx-select-option-not-found>
						Nothing found
					</ng-template>
				</ngx-select>
				<app-control-messages [control]="f['skills']"></app-control-messages>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-lg-9 col-md-12" >	
			<div class=" form-group">
				<label >{{"userProfile.programmingSkills" | translate }}</label>
				<mat-form-field class="example-chip-list" style="width: 100%;" >
					
					<mat-chip-list #chipList aria-label="programmingSkills">
						<mat-chip *ngFor="let programmingSkill of programming_skills" [selectable]="selectable"
							[removable]="removable" (removed)="remove(programmingSkill)">
							{{programmingSkill}}
							<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
						</mat-chip>
						<input placeholder=""
							#programInput #trigger="matAutocompleteTrigger"
							[formControl]="programCtrl"
							[matChipInputFor]="chipList"
							[matAutocomplete]="auto"
							[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
							[matChipInputAddOnBlur]="addOnBlur"
							(matChipInputTokenEnd)="add($event)">
					</mat-chip-list>
					<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
						<mat-option *ngFor="let program of filteredProgram  | async" [value]="program.name">
							{{program.name}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>	
		</div>	
		<div class="col-lg-9 col-md-12" >	
			<div class=" form-group">
				<label >{{"userProfile.otherSkills" | translate }}</label>
				<div appMarkAsterisk *ngIf="!this.childForm.value.jobInfo.entry" ></div>
				<mat-form-field class="example-chip-list" style="width: 100%;" >
					
					<mat-chip-list #chipLists aria-label="niceToHave">
						<mat-chip *ngFor="let optinal_skill of optinal_skills" [selectable]="selectable"
							[removable]="removable" (removed)="removeOptional(optinal_skill)">
							{{optinal_skill}}
							<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
						</mat-chip>
						<input placeholder=""
						id="optinal_skills"
							[matChipInputFor]="chipLists"
							[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
							[matChipInputAddOnBlur]="addOnBlur"
							(matChipInputTokenEnd)="addOptional($event)">
					</mat-chip-list>
				</mat-form-field>
				<app-control-messages [control]="f['optinal_skills']"></app-control-messages>
			</div>	
		</div>	
	
		<!-- <div class="col-lg-9 col-md-6">
			<div class=" form-group">
				<label>{{"postJob.programmingSkills" | translate }}</label>
				<ng-select appMarkAsterisk id="programmingSkills" [addTag]="true" addTagText="Add Programming Skill" bindValue="label" bindLabel="label" placeholder="Ex. Javascript, Php" appendTo="body" multiple="true"
					formControlName="programming_skills">
				</ng-select>
				<app-control-messages [control]="f['programming_skills']"></app-control-messages>
			</div>
		</div> -->
		<div class="col-lg-4 col-md-12">
			<div class=" form-group">
				<label >{{"userProfile.endToEnd" | translate }} </label>
				<div appMarkAsterisk *ngIf="!this.childForm.value.jobInfo.entry" ></div>
				<input numbersOnly type="text" class="form-control w-25" formControlName="end_to_end_implementation">
				<app-control-messages [control]="f['end_to_end_implementation']"></app-control-messages>
			</div>
		</div>
	</div>
	<!-- <div class="row mt-2">
		<div class="col-lg-9 col-md-6">
			<div class=" form-group">
				<label>{{"postJob.niceToHave" | translate }} </label>
				<ng-select id="niceToHave" [addTag]="true"  addTagText="Add Nice To Have" bindValue="label" bindLabel="label" placeholder="Ex. Docker, Azure" appendTo="body" multiple="true"
					formControlName="optinal_skills">
				</ng-select>
				<app-control-messages [control]="f['optinal_skills']"></app-control-messages>
			</div>
		</div>
	</div> -->	
	<div class="row mt-2">
		<div class="col-lg-12 col-md-12">
			<div class=" form-group"></div>
			<div class=" form-group">
				<label class="font-weight-bold">{{"userProfile.workAuthorization" | translate }} </label>
				<div class="mt-2">
					<div class="custom-control custom-radio custom-control-inline">
						<input  (click)="handleChange($event,0)" [value]="0" formControlName="work_authorization" type="radio" id="customRadioInline0"
							name="work_authorization" class="custom-control-input">
						<label class="custom-control-label"
							for="customRadioInline0">{{"userProfile.shouldBeACitizenPr" | translate }}</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input  (click)="handleChange($event,1)"[value]="1" formControlName="work_authorization" type="radio" id="customRadioInline1"
							name="work_authorization" class="custom-control-input">
						<label class="custom-control-label"
							for="customRadioInline1">{{"userProfile.shouldBeHavingAWorkPermit" | translate }}</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input (click)="handleChange($event,2)" [value]="2" formControlName="work_authorization" type="radio" id="customRadioInline2"
							name="work_authorization" class="custom-control-input">
						<label class="custom-control-label"
							for="customRadioInline2">{{"userProfile.shouldBeHavingAWorkPermitOrWork" | translate }}</label>
					</div>
				</div>
			</div>
			<app-control-messages [control]="f['work_authorization']"></app-control-messages>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-lg-2 col-md-12">
			<div class=" form-group">
				<label>{{"userProfile.travel" | translate }} </label>
				<select appMarkAsterisk formControlName="travel_opportunity" class="form-control">
					<option [value]="null" disabled >{{"shared.select" | translate }}</option>
					<option *ngFor="let travel of travelArray; let i = index" [value]="travel?.id">
						{{travel?.text}}
					</option>
				</select>
				<app-control-messages [control]="f['travel_opportunity']"></app-control-messages>
			</div>
		</div>
		<div class="col-lg-2 col-md-6" style="margin-top: 42px;">
			<label class="font-weight-bold">{{"userProfile.visaSponsorship" | translate }} </label>
		</div>
		<div class="col-lg-2 col-md-6" style="margin-top: 42px;">
			<div class=" form-group">
				<div class="showhideswitch">
					<input formControlName="visa_sponsorship" type="checkbox" name="visa_sponsorship"
						class="showhideswitch-checkbox" id="myshowhideswitch5">
					<label class="showhideswitch-label" for="myshowhideswitch5">
						<span class="showhideswitch-inner yesno"></span>
						<span class="showhideswitch-switch"></span>
					</label>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-6" style="margin-top: 42px;">
			<label class="font-weight-bold">{{"userProfile.needReferences" | translate }}</label>
		</div>
		<div class="col-lg-2 col-md-6" style="margin-top: 42px;">
			<div class=" form-group">
				<div class="showhideswitch">
					<input formControlName="need_reference" type="checkbox" name="need_reference"
						class="showhideswitch-checkbox" id="myshowhideswitch6">
					<label class="showhideswitch-label" for="myshowhideswitch6">
						<span class="showhideswitch-inner yesno"></span>
						<span class="showhideswitch-switch"></span>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>


