
<section class="section login-section">
  <div [ngClass]="(screenWidth >= 1500)?'container-fluid':'container'">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 d-none d-lg-block d-xl-block pt-4 pr-5">
        <div style="position:absolute; right:5px;"><img src="assets/images/sapw-newbanner-global-img.png" class="img-fluid" ></div>
        <ul id="scene" >
          <li class="layer" style="width:110%;"  data-depth="0.3"><img src="assets/images/sapw-newbanner-content-img1.png" class="img-fluid"></li>
          <li class="layer" style="width:110%;"  data-depth="0.4"><img src="assets/images/sapw-newbanner-content-img2.png" class="img-fluid"></li>
          <li class="layer" style="width:110%;"  data-depth="0.5"><img src="assets/images/sapw-newbanner-content-img3.png" class="img-fluid"></li>
          <li class="layer" style="width:110%;"  data-depth="0.4"><img src="assets/images/sapw-newbanner-content-img4.png" class="img-fluid"></li>
          <li class="layer" style="width:110%;"  data-depth="0.3"><img src="assets/images/sapw-newbanner-content-img5.png" class="img-fluid"></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-12">
        <!-- form -->
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</section>
<!-- Video Info Section -->
<section class="video-info">
  <div [ngClass]="(screenWidth >= 1500)?'container-fluid':'container'">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-title text-left mb-4 pr-5">
          <!-- <h6 class="text-white">SAP World Employer</h6> -->
          <h3 class="text-white">Is your candidate selection process taking too long?</h3>
          <h5 class="text-white">Save time in screening CVs and pre-qualifying interviews. Compare profiles, find missing skillset, match on relevancy. We serve you what is needed as a platter.
          </h5>
          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" style="margin-top:10px;"  role="button">View More
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="video-sec">
          <video width="100%" controls>
            <source src="assets/images/employer-video.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //Video Info Section -->

<!-- SAPW Features Section -->
<section class="sapw-features">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="image-left">
          <img src="assets/images/employer-screen-01.png" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content-left">
          <!-- <h6>SAP World Employer</h6> -->
          <h3>Craft your Requirement. Get perfect Matches.</h3>
          <h5>SAP World offers a way to completely save time in screening the required candidature. Post your Requirements effortlessly, find exact matching candidates, make data-driven screening decisions and compare profiles of applied SAP candidates for picking the right fit. 
          </h5>

          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" role="button">Get Started
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6  ml-auto">
        <div class="content-right">
         <!--  <h6>SAP World Employer</h6> -->
          <h3>SAP Recruiting is easy. Get the Perfect Match Candidature </h3>
          <h5>A platform perfectly crafted for SAP Recruiters. Get instant matches to your must-have and good-to-have skillset. Make accurate decisions by comparing similar pattern profiles. 
          </h5>

          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" role="button">Get Started
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-6 p-0">
        <div class="image-right">
          <img src="assets/images/employer-screen-02.png" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6 p-0">
        <div class="image-left pb-5">
          <img src="assets/images/employer-screen-03.png" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content-left">
          <!-- <h6>SAP World Employer</h6> -->
          <h3>Screening and choosing the Right Profile without any hassles</h3>
          <h5>Look and compare every detail of the requirement and skill set you are looking for in a potential talent. View perfectly matching skillset, missing skills as well as “good to have'' skill sets
          </h5>

          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" role="button">Get Started
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //SAPW Features Section -->

