
<section class="section login-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 d-none d-lg-block d-xl-block pt-4 pr-5">
        <div style="position:absolute; right:5px;"><img src="assets/images/sapw-newbanner-global-img.png" class="img-fluid" ></div>
        <ul id="scene" >
          <li class="layer" style="width:110%;"  data-depth="0.3"><img src="assets/images/sapw-newbanner-content-img1.png" class="img-fluid"></li>
          <li class="layer" style="width:110%;"  data-depth="0.4"><img src="assets/images/sapw-newbanner-content-img2.png" class="img-fluid"></li>
          <li class="layer" style="width:110%;"  data-depth="0.5"><img src="assets/images/sapw-newbanner-content-img3.png" class="img-fluid"></li>
          <li class="layer" style="width:110%;"  data-depth="0.4"><img src="assets/images/sapw-newbanner-content-img4.png" class="img-fluid"></li>
          <li class="layer" style="width:110%;"  data-depth="0.3"><img src="assets/images/sapw-newbanner-content-img5.png" class="img-fluid"></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-12">
        <!-- form -->
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</section>
<!-- Video Info Section -->
<section class="video-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-title text-left mb-4 pr-5">
          <h6 class="text-white">SAP World Employer</h6>
          <h3 class="text-white">Video Title Content</h3>
          <h5 class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
          </h5>
          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" style="margin-top:10px;"  role="button">View More
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="video-sec">
          <video width="100%" controls>
            <source src="assets/images/employer-video.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //Video Info Section -->

<!-- SAPW Features Section -->
<section class="sapw-features">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="image-left">
          <img src="assets/images/employer-screen-01.png" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content-left">
          <!-- <h6>SAP World Employer</h6> -->
          <h3>Craft your requirement </h3>
          <h5>Post your requirements effortlessly <br>
		  Manage the essential skills you expect from the talent  <br>
			We guaranty effective talent matches with the right set of information
          </h5>

          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" role="button">Get Started
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6  ml-auto">
        <div class="content-right">
         <!--  <h6>SAP World Employer</h6> -->
          <h3>Get not just matches, Get THE MATCHES </h3>
          <h5>Get instant matches based on your Required, Desired and Nice to have 
Improve your decision accuracy in talent shortlist
          </h5>

          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" role="button">Get Started
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-6 p-0">
        <div class="image-right">
          <img src="assets/images/employer-screen-02.png" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6 p-0">
        <div class="image-left pb-5">
          <img src="assets/images/employer-screen-03.png" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content-left">
          <!-- <h6>SAP World Employer</h6> -->
          <h3>Its not just resume, its the work that needs attention  </h3>
          <h5>You will not just be told you've got a match.
Find every details against your curated requirements
Compare multiple talents against your job
You can do all those before viewing the resume.
          </h5>

          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" role="button">Get Started
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //SAPW Features Section -->

