
<section class="section login-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 d-none d-lg-block d-xl-block pt-4 pr-5">
        <div style="position:absolute; right:5px;"><img src="assets/images/sapw-newbanner-global-img.png" class="img-fluid" ></div>
        <ul id="scene" >
          <li class="layer" style="width:110%;z-index:1;margin-left:-3rem;"  data-depth="0.3"><img src="assets/images/sapw-newbanner-content-img.png" class="img-fluid">
		  <h6 class="job-title" >{{"employer.title1" | translate }}</h6>
		  <h6 class="job-title-content">{{"employer.title1-content" | translate }}</h6>
		  <h6 class="job-title-content1">{{"employer.title1-content1" | translate }}</h6>
		  <h6 class="job-title2" >{{"employer.title2" | translate }}</h6>
		  <h6 class="job-title2-content">{{"employer.title2-content" | translate }}</h6>
		  <h6 class="job-title2-content1">{{"employer.title2-content1" | translate }}</h6>
		  <h6 class="job-title3" >{{"employer.title3" | translate }}</h6>
		  <h6 class="job-title3-content">{{"employer.title3-content" | translate }}</h6>
		  <h6 class="job-title3-content1">{{"employer.title3-content1" | translate }}</h6>
		  <h6 class="job-title4" >{{"employer.title4" | translate }}</h6>
		  <h6 class="job-title4-content">{{"employer.title4-content" | translate }}</h6>
		  <h6 class="job-title4-content1">{{"employer.title4-content1" | translate }}</h6>
		  <h6 class="job-title5">{{"employer.title5" | translate }}</h6>
		  <h6 class="job-title5-content">{{"employer.title5-content" | translate }}</h6>
		  <h6 class="job-title5-content1">{{"employer.title5-content1" | translate }}</h6></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-12">
        <!-- form -->
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</section>
<!-- Video Info Section -->
<section class="video-info">
  <div [ngClass]="(screenWidth >= 1500)?'container-fluid':'container'">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-title text-left mb-4 pr-5">
          <!-- <h6 class="text-white">SAP World Employer</h6> -->
          <h3 class="text-white"> {{"employer.heading1" | translate }} 
		  </h3>
          <h5 class="text-white">{{"employer.heading1Content" | translate }} 
          </h5>
          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" style="margin-top:10px;"  role="button">{{"employer.viewMore" | translate }} 
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="video-sec">
          <video width="100%" controls>
            <source src="assets/images/employer-video.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //Video Info Section -->

<!-- SAPW Features Section -->
<section class="sapw-features">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="image-left">
          <img src="assets/images/employer-screen-01.png" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content-left">
          <!-- <h6>SAP World Employer</h6> -->
          <h3> {{"employer.heading2" | translate }} </h3>
          <h5>{{"employer.heading2Content" | translate }} 
          </h5>

          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" role="button">{{"employer.getStarted" | translate }} 
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6  ml-auto">
        <div class="content-right">
         <!--  <h6>SAP World Employer</h6> -->
          <h3>{{"employer.heading3" | translate }} </h3>
          <h5>{{"employer.heading3Content" | translate }} 
          </h5>

          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" role="button">{{"employer.getStarted" | translate }} 
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-6 p-0">
        <div class="image-right">
          <img src="assets/images/employer-screen-02.png" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6 p-0">
        <div class="image-left pb-5">
          <img src="assets/images/employer-screen-03.png" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content-left">
          <!-- <h6>SAP World Employer</h6> -->
          <h3>{{"employer.heading4" | translate }} </h3>
          <h5>{{"employer.heading4Content" | translate }} 
          </h5>

          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" role="button">{{"employer.getStarted" | translate }} 
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //SAPW Features Section -->

