<!-- Sub Header Section -->
<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">{{"postYourResume.candidateRegistration" | translate }}
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- //Sub Header Section -->
<section class="my-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 tabs-animated" id="myTab">
        <form method="post" #candidateNgForm="ngForm" [formGroup]="candidateForm">
          <app-create-candidate-header #target [currentTabInfo]="currentTabInfo"
            (onTabChangeEvent)="onHeaderTabChange($event)"
            [createCandidateForm]="candidateForm">
          </app-create-candidate-header>

          <div class="tab-content" [@animSlider]="slidingCounter">

            <app-create-candidate-personal-details
            [userDetails]="userInfo"
            *ngIf="currentTabInfo.tabNumber == 1"
              [currentTabInfo]="currentTabInfo">
            </app-create-candidate-personal-details>

            <app-create-candidate-education-exp
            [userDetails]="userInfo"
            *ngIf="currentTabInfo.tabNumber == 2" [currentTabInfo]="currentTabInfo">
            </app-create-candidate-education-exp>

            <app-create-candidate-skillset
            [userDetails]="userInfo"
            *ngIf="currentTabInfo.tabNumber == 3" [currentTabInfo]="currentTabInfo">
            </app-create-candidate-skillset>

            <app-create-candidate-job-preference
            [userDetails]="userInfo"
            *ngIf="currentTabInfo.tabNumber == 4"
              [currentTabInfo]="currentTabInfo">
            </app-create-candidate-job-preference>

          </div>

          <app-create-candidate-footer
          [userDetails]="userInfo"
          (postJcreateCandidateob)="createCandidate()"
          [createCandidateForm]="candidateForm"
          (onEnableJobPreviewModal)="onToggleRegisterReview($event)"
          [currentTabInfo]="currentTabInfo"
          (onTabChangeEvent)="onFooterTabChange($event)">
          </app-create-candidate-footer>

          <app-candidate-review-modal
          [userDetails]="userInfo"
          (createCandidate)="createCandidate()"
          *ngIf="isOpenedRegisterReviewModal"
          [toggleRegisterReviewModal]="isOpenedRegisterReviewModal"
          (onEvent)="onToggleRegisterReview($event)"
          ></app-candidate-review-modal>

        </form>
      </div>
    </div>
  </div>
</section>
