
<!-- Sub Header Section -->
<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">{{"postYourResume.candidateRegistration" | translate }}</li>
        </ol>
      </div>
    </div>
  </div>
</section>
  <!-- //Sub Header Section -->
  <section class="my-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 tabs-animated" id="myTab">

        <app-create-candidate-header
        #target
        [currentTabInfo]="currentTabInfo"
        (onTabChangeEvent)="onHeaderTabChange($event)"
        >
        </app-create-candidate-header>

        <div class="tab-content" [@animSlider]="slidingCounter">

          <app-create-candidate-personal-details
          *ngIf="currentTabInfo.tabNumber == 1"
          [currentTabInfo]="currentTabInfo"
          >
          </app-create-candidate-personal-details>

          <app-create-candidate-education-exp
          *ngIf="currentTabInfo.tabNumber == 2"
          [currentTabInfo]="currentTabInfo"
          >
          </app-create-candidate-education-exp>

          <app-create-candidate-skillset
          *ngIf="currentTabInfo.tabNumber == 3"
          [currentTabInfo]="currentTabInfo"
          >
          </app-create-candidate-skillset>

          <app-create-candidate-job-preference
          *ngIf="currentTabInfo.tabNumber == 4"
          [currentTabInfo]="currentTabInfo"
          >
          </app-create-candidate-job-preference>

        </div>

        <app-create-candidate-footer
        [currentTabInfo]="currentTabInfo"
        (onTabChangeEvent)="onFooterTabChange($event)"
        >
        </app-create-candidate-footer>

      </div>
    </div>
  </div>
</section>
