<section class="my-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8 col-md-7">
        <div class="row">
          <div class="col-lg-5">
            <form class="form-inline">
              <div class="form-group">
              <label>{{"dashboard.sortBy" | translate}} : </label>
              </div>
              <div class="form-group ml-2">
              <select class="form-control form-control-sm">
                <option>Latest</option>
                <option>Top Matches</option>
              </select>
              </div>
            </form>
          </div>
          <div class="col-lg-12 mt-3">
            <!--Find Results Tags-->
            <div class="clearfix">
              <div class="alert alert-find alert-dismissible" role="alert">
                <a href="#" class="text-dark"> India (15) </a>
              </div>
              <div class="alert alert-find alert-dismissible " role="alert">
                <a href="#" class="text-dark"> USA (12) </a>
              </div>
              <div class="alert alert-find alert-dismissible " role="alert">
                <a href="#" class="text-dark"> UK (7) </a>
              </div>
              <div class="alert alert-find alert-dismissible " role="alert">
                <a href="#" class="text-dark"> Singapore (5) </a>
              </div>
            </div>
            <!--//Search Results Tags-->
          </div>
        </div>
        <ng-container *ngIf="postedJobs.length > 0; else elseTemplate">
          <div class="row mt-4 mb-4" *ngFor="let item of postedJobs; let i=index">
            <div class="col-lg-12">
              <div class="card job-card">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <a href="javascript:;" [routerLink]="['/user/job-matches', item?.id]" >
                        <h5 class="text-capitalize">{{item?.title}}</h5>
                      </a>
                    </div>
                    <div class="float-right">
                      <button [ngClass]="{'applied-btn-green': (item?.is_job_applied  || (currentJobDetails?.id == item?.id && !isOpenedResumeSelectModal)), 'btn-outline-green': !item?.is_job_applied}" [disabled]="item?.is_job_applied || (currentJobDetails?.id == item?.id && !isOpenedResumeSelectModal)" type="button" class="btn btn-sm" (click)="onToggleResumeSelectModal(true, item)"> <i class="fas fa-check"></i>
                         {{(item?.is_job_applied || (currentJobDetails?.id == item?.id && !isOpenedResumeSelectModal)) ? 'Applied' : 'Apply Now'}}
                        </button>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-body">
                      <h6 class="text-capitalize">
                        {{item?.company?.company}}
                      </h6>
                      <h6 class="text-capitalize">
                        {{item?.city ? item?.city + ', ' : ''}}
                        {{item?.state ? item?.state + ', ' : ''}}
                        {{item?.country ? item?.country : ''}}
                      </h6>
                      <h6>{{item?.experience ? item?.experience + ' Years Exp.' : ''}} <span *ngIf="item?.type">{{' , '}}</span>{{item?.type ? sharedService.onGetJobType(item?.type) : ''}} <span *ngIf="item?.remote" class="remote pl-2">Remote</span></h6>
                      <div class="mt-2">
                        <ng-container *ngFor="let itemSub of item?.hands_on_experience">
                          <span *ngIf="itemSub.skill_id" class="sap-badge">{{utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(itemSub?.skill_id)?.tag)}}</span>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <p>No Jobs Found</p>
        </ng-template>
        <div class="d-flex justify-content-center" *ngIf="((postedJobMeta?.count > 0 && postedJobMeta?.total > 25) && (postedJobMeta?.total != postedJobs?.length))">
          <button (click)="onLoadMoreJob()" class="btn btn-theme-blue" type="button">
            Load More
          </button>
        </div>
      </div>
      <div class="col-lg-4 col-md-5">
        <div class="title">
          <h2>{{"dashboard.filter" | translate}}</h2>
        </div>
        <div class="sidebar-widget text-left">
        <div class=" my-scrollbar">
          <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#collapseExperience" aria-expanded="false" aria-controls="collapseExperience">
              {{"postYourResume.experience" | translate}} <i class="fas fa-angle-down float-right pt-1"></i>
            </div>
            <div class="card-body collapse multi-collapse show" id="collapseExperience">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Freshers </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">1 - 3 Years</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">3 - 5 Years</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">5 - 7 Years</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">7 - 10 Years</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                    <label class="custom-control-label" for="customCheck6">10 Years &amp; above</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="card mt-4">
            <div class="card-header" data-toggle="collapse" data-target="#collapseJoptype" aria-expanded="false" aria-controls="collapseJoptype">
              {{"postJob.jobType" | translate}}  <i class="fas fa-angle-down float-right pt-1"></i>
            </div>
            <div class="card-body collapse multi-collapse" id="collapseJoptype">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                    <label class="custom-control-label" for="customCheck7">Remote </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck8">
                    <label class="custom-control-label" for="customCheck8">Onsite</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck9">
                    <label class="custom-control-label" for="customCheck9">Full Time</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck10">
                    <label class="custom-control-label" for="customCheck10">Part Time</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck11">
                    <label class="custom-control-label" for="customCheck11">Contract</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck12">
                    <label class="custom-control-label" for="customCheck12">Temporary</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck13">
                    <label class="custom-control-label" for="customCheck13">Permanent</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck14">
                    <label class="custom-control-label" for="customCheck14">Freelancer</label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck15">
                    <label class="custom-control-label" for="customCheck15">Internship</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- <div class="card mt-4">							 -->
            <!-- <div class="card-header" data-toggle="collapse" data-target="#collapseSalary" aria-expanded="false" aria-controls="collapseSalary"> -->
              <!-- Salary  <i class="fas fa-angle-down float-right pt-1"></i> -->
            <!-- </div> -->
            <!-- <div class="card-body p-3 collapse multi-collapse" id="collapseSalary">								 -->
              <!-- <div class="salary-slider-range clearfix"> -->
                <!-- <input class="min_salary" type="text">  -->
                <!-- <input class="max_salary" type="text">	 -->
              <!-- </div>						 -->
              <!-- <div id="salary-slider-range" name="rangeInput"></div> -->
            <!-- </div> -->
          <!-- </div>		 -->
          <div class="card mt-4">
            <div class="card-header" data-toggle="collapse" data-target="#collapseSkills" aria-expanded="false" aria-controls="collapseSkills">
              SAP {{"postJob.skills" | translate}}  <i class="fas fa-angle-down float-right pt-1"></i>
            </div>
            <div class="card-body p-3 collapse multi-collapse" id="collapseSkills">
              <div class="skill-select">
                <div class="custom-control custom-checkbox mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
                  <input class="custom-control-input  mb-0" type="checkbox" id="Check1" name="example1">
                  <label class="custom-control-label mb-0" for="Check1">SAP-FI </label>
                </div>
                <div class="custom-control custom-checkbox mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
                  <input class="custom-control-input  mb-0" type="checkbox" id="Check2" name="example1">
                  <label class="custom-control-label  mb-0" for="Check2">SAP-FSCM </label>
                </div>
                <div class="custom-control custom-checkbox mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
                  <input class="custom-control-input  mb-0" type="checkbox" id="Check3" name="example1">
                  <label class="custom-control-label  mb-0" for="Check3">SAP-CO </label>
                </div>
                <div class="custom-control custom-checkbox mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
                  <input class="custom-control-input mb-0" type="checkbox" id="Check4" name="example1">
                  <label class="custom-control-label mb-0" for="Check4">SAP-MM </label>
                </div>
                <div class="custom-control custom-checkbox mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
                  <input class="custom-control-input mb-0" type="checkbox" id="Check5" name="example1">
                  <label class="custom-control-label mb-0" for="Check5">SAP-SD </label>
                </div>
                <div class="custom-control custom-checkbox mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
                  <input class="custom-control-input mb-0" type="checkbox" id="Check6" name="example1">
                  <label class="custom-control-label mb-0" for="Check6">SAP-LE </label>
                </div>
                <div class="custom-control custom-checkbox mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
                  <input class="custom-control-input mb-0" type="checkbox" id="Check7" name="example1">
                  <label class="custom-control-label mb-0" for="Check7">SAP-PP</label>
                </div>
                <div class="custom-control custom-checkbox mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
                  <input class="custom-control-input mb-0" type="checkbox" id="Check8" name="example1">
                  <label class="custom-control-label mb-0" for="Check8">SAP-QM </label>
                </div>
                <div class="custom-control custom-checkbox mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
                  <input class="custom-control-input mb-0" type="checkbox" id="Check9" name="example1">
                  <label class="custom-control-label mb-0" for="Check9">SAP-PM </label>
                </div>
                <div class="custom-control custom-checkbox mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
                  <input class="custom-control-input mb-0" type="checkbox" id="Check9" name="example1">
                  <label class="custom-control-label mb-0" for="Check9">SAP-PS </label>
                </div>
                <div class="custom-control custom-checkbox mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
                  <input class="custom-control-input mb-0" type="checkbox" id="Check9" name="example1">
                  <label class="custom-control-label mb-0" for="Check9">SAP-HR </label>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-resume-select
[toggleResumeSelectModal]="isOpenedResumeSelectModal"
[currentJobDetails]="currentJobDetails"
*ngIf="isOpenedResumeSelectModal"
(onEvent)="onToggleResumeSelectModal($event)">
</app-resume-select>
