<!-- Sub Header Section -->
<section class="sub-header" style="padding:0px;">
	<div class="container container-big">
		<div class="row">
			<div class="col-lg-5 d-flex align-items-center">
				<!-- <button (click)="onRedirectBack();" type="button" class="btn btn-outline-green btn-sm mr-1">
				  <i class="fas fa-arrow-left"></i>
				</button> -->
				<ol class="breadcrumb">
				  <li class="breadcrumb-item"><a (click)="onRedirectBack();" ><i class="fas fa-chevron-circle-left my-auto mr-1"></i></a></li>
				  <li class="breadcrumb-item active" aria-current="page">{{"shared.candidateMultipleJobMatches" | translate}}</li>
				</ol>
			</div>
			<div class="col-lg-7 clearfix">
			</div>
		</div>
	</div>
</section>
  <!-- //Sub Header Section -->
<section class="my-5">
	<div class="container container-big">
		<div class="row">
			<div [ngClass]="(isMultipleMatches === true)?'col-lg-4':'col-lg-6'">
				<div class="row">
					<div class="col-lg-12">
						<app-contact-card
						  [userInfo]="userInfo"
						  [isEdit]="false"
						  [isContactIcon]="false"
						  [isResume]="true"
						  [isMatchesShow]="true"
						  [isMultipleMatches]="isMultipleMatches"
						  [isMatchesView]="false">
						</app-contact-card>
					</div>
				</div>
				<app-shared-user-profile-job-matches [isMultipleMatches]="isMultipleMatches" [fieldsExclude]="{clients_worked: true, job_role: true, willing_to_relocate: true}" [userInfo]="userInfo" [postedJobsDetails]="matchingJob?.jobs"></app-shared-user-profile-job-matches>
		  </div>
		<div  class="top-pad top-pads" [ngClass]="(isMultipleMatches === true)?'col-lg-8':'col-lg-6'">
			<div id="carouselProfile" class="carousel slide job-info-container" data-interval="false" data-ride="carousel">
				<div class="carousel-inner">
					<!--Profile1-->
					<div class="carousel-item active">
						<div class="row">
							<div *ngIf="!utilsHelperService.isEmptyObj(matchingJob?.jobs)" [ngClass]="(isMultipleMatches === true)?'col-lg-6':'col-lg-12'" >
								<div class="row info-box">
								<!--Header Sec-->
									<div class="col-lg-12" >
										<div class="card profile-card">
											<div class="d-flex">
												<div class="col-lg-8 job-cards">
													<a   class="text-capitalize" href="javascript:;">
														<h5>{{matchingJob?.jobs?.title}} <small></small></h5>
													</a>
													<h6 class="mb-0 text-capitalize">
														{{matchingJob?.jobs?.city +', ' +matchingJob?.jobs?.state+', ' +matchingJob?.jobs?.country}}
														
													</h6>
													<h6 class="mt-1 text-capitalize">
														{{matchingJob?.jobs?.company_name }}
													</h6>
												</div>
												<div class="col-lg-4"  [ngClass]="(isMultipleMatches === true)?'isMatchesView':''">
													<a class="btn btn-outline-blue btn-sm text-right" href="javascript:;" (click)="onToggleJDModal(true,matchingJob?.jobs?.description)">	
													<i class="fas fa-file-alt"></i> {{"shared.description" | translate}}</a>
													
													<div class="media mt-2" >
														<div class="media-body">
															<h6 *ngIf="matchingJob?.jobs?.salary_type == 0" class="text-capitalize job-cardh6">{{"shared.salary" | translate}} : {{sharedService.onGetCurrencyCode(matchingJob?.jobs?.salary_currency)?.symbol + matchingJob?.jobs?.salary + ' / hr'}}</h6>
															<h6 *ngIf="matchingJob?.jobs?.salary_type == 1" class="text-capitalize job-cardh6">{{"shared.salary" | translate}} : {{sharedService.onGetCurrencyCode(matchingJob?.jobs?.salary_currency)?.symbol + matchingJob?.jobs?.salary + ' / Annual '}}</h6>
															<h6 *ngIf="matchingJob?.jobs?.salary_type == 2" class="text-capitalize job-cardh6">{{"shared.salary" | translate}} : {{sharedService.onGetCurrencyCode(matchingJob?.jobs?.salary_currency)?.symbol + matchingJob?.jobs?.salary + ' / month'}}</h6>
															<h6 class="text-capitalize job-cardh6">{{"userProfile.remote" | translate}} :  {{onGetYesOrNoValue(matchingJob?.jobs?.remote)}} </h6>
															<!-- <h6 class="text-capitalize job-cardh6" >{{"postJob.relocate" | translate}} :  {{onGetYesOrNoValue(matchingJob?.jobs?.willing_to_relocate)}} </h6> -->
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
									<!--Body Sec-->
									<div class="col-lg-12 info" [ngClass]="isMultipleMatches ? 'mt-3' : 'mt-4'">
										<div class="score mt-5" [ngClass]="{'score-txt-green': matchingJob?.jobs.score >= 5, 'score-txt-orange': (matchingJob?.jobs.score < 5 && matchingJob?.jobs.score > 0), 'score-txt-red': (matchingJob?.jobs.score == 0)}">
											{{"shared.score" | translate}} <span>{{matchingJob?.jobs.score ? matchingJob?.jobs.score :0}}/10</span>
										</div>
										<app-shared-job-profile-multiple-matches [jobInfo]="matchingJob?.jobs"  [isMultipleMatches]="isMultipleMatches" 
										[missingElement]="true" [matchedElement]="true"
										[moreElement]="moreElement" [userInfo]="userInfo">
										</app-shared-job-profile-multiple-matches>
									</div>
									<div class="col-lg-12 info" style="text-align:end;" *ngIf=" matchingJob?.jobs?.status ==1 && matchingJob?.jobs?.mail !=true " >
										<button (click)="onToggleSendMail(true, matchingJob?.jobs)" type="button" class="btn btn-outline-orange ml-auto"  style="bottom: 15px; right: 15px;"> <i
												class="fas fa-paper-plane"></i> {{"shared.sendMail" | translate}}</button>
									</div>
								</div>
							</div>
							<div class="col-lg-6" *ngIf="isMultipleMatches && !utilsHelperService.isEmptyObj(matchingJobNew?.jobs)">
								<div class="row info-box">
									<!--Header Sec-->
									<div class="col-lg-12" >
										<div class="card profile-card">
											<div class="d-flex">
												<div class="col-lg-8 job-cards">
													<a   class="text-capitalize" href="javascript:;">
														<h5>{{matchingJobNew?.jobs?.title}} <small></small></h5>
													</a>
													<h6 class="mb-0 text-capitalize">
														{{matchingJobNew?.jobs?.city +', ' +matchingJobNew?.jobs?.state+', ' +matchingJobNew?.jobs?.country}}
														
													</h6>
													<h6 class="mt-1 text-capitalize">
														{{matchingJobNew?.jobs?.company_name }}
													</h6>
												</div>
												<div class="col-lg-4"  [ngClass]="(isMultipleMatches === true)?'isMatchesView':''">
													<a class="btn btn-outline-blue btn-sm text-right" href="javascript:;" (click)="onToggleJDModal(true,matchingJobNew?.jobs?.description)">	
													<i class="fas fa-file-alt"></i> {{"shared.description" | translate}}</a>
													
													<div class="media mt-2" >
														<div class="media-body">
															<h6 *ngIf="matchingJobNew?.jobs?.salary_type == 0" class="text-capitalize job-cardh6">{{"shared.salary" | translate}} : {{sharedService.onGetCurrencyCode(matchingJobNew?.jobs?.salary_currency)?.symbol + matchingJobNew?.jobs?.salary + ' / hr'}}</h6>
															<h6 *ngIf="matchingJobNew?.jobs?.salary_type == 1" class="text-capitalize job-cardh6">{{"shared.salary" | translate}} : {{sharedService.onGetCurrencyCode(matchingJobNew?.jobs?.salary_currency)?.symbol + matchingJobNew?.jobs?.salary + ' / Annual '}}</h6>
															<h6 *ngIf="matchingJobNew?.jobs?.salary_type == 2" class="text-capitalize job-cardh6">{{"shared.salary" | translate}} : {{sharedService.onGetCurrencyCode(matchingJobNew?.jobs?.salary_currency)?.symbol + matchingJobNew?.jobs?.salary + ' / month'}}</h6>
															<h6 class="text-capitalize job-cardh6">{{"userProfile.remote" | translate}} :  {{onGetYesOrNoValue(matchingJobNew?.jobs?.remote)}} </h6>
															<!-- <h6 class="text-capitalize job-cardh6" >{{"postJob.relocate" | translate}} :  {{onGetYesOrNoValue(matchingJobNew?.jobs?.willing_to_relocate)}} </h6> -->
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
									<!-- <div class="col-lg-12">
										<div class="card profile-card">
											<div class="d-flex">
												<div class="pc-info">
													<a class="text-capitalize" href="javascript:;">
														<h5>{{matchingJobNew?.jobs?.title}} <small></small></h5>
													</a>
													<h6 class="mb-0 text-capitalize">
														{{matchingJobNew?.jobs?.city ? matchingJobNew?.jobs?.city+', '  : ''}}
														{{matchingJobNew?.jobs?.state ?  matchingJobNew?.jobs?.state+', '  : ''}}
														<span class="text-uppercase">
														  {{matchingJobNew?.jobs?.country ? matchingJobNew?.jobs?.country : ''}}
														</span>
													</h6>
												</div>
												<div class="pc-btn">
													<a class="btn btn-outline-blue btn-sm text-right" href="javascript:;" (click)="onToggleJDModal(true,matchingJobNew?.jobs?.description)">	
													<i class="fas fa-file-alt"></i> Description</a>
												</div>
											</div>
										</div>
									</div> -->
									<!--Body Sec-->
									<div class="col-lg-12 info" [ngClass]="isMultipleMatches ? 'mt-3' : 'mt-4'">
										<div class="score mt-5" [ngClass]="{'score-txt-green': matchingJobNew?.jobs.score >= 5, 'score-txt-orange': (matchingJobNew?.jobs.score < 5 && matchingJobNew?.jobs.score > 0), 'score-txt-red': (matchingJobNew?.jobs.score == 0)}">
											{{"shared.score" | translate}}  <span>{{matchingJobNew?.jobs.score ? matchingJobNew?.jobs.score : 0}}/10</span>
										</div>
										<app-shared-job-profile-multiple-matches [jobInfo]="matchingJobNew?.jobs"  [isMultipleMatches]="isMultipleMatches" 
										[missingElement]="true" [matchedElement]="true"
										[moreElement]="moreElement" [userInfo]="userInfo">
										</app-shared-job-profile-multiple-matches>
									</div>
									<div class="col-lg-12 info" style="text-align:end;" *ngIf="matchingJobNew?.jobs?.status ==1 && matchingJobNew?.jobs.mail !=true" >
										<button (click)="onToggleSendMail(true, matchingJobNew?.jobs)" type="button" class="btn btn-outline-orange ml-auto"  style="bottom: 15px; right: 15px;"> <i
												class="fas fa-paper-plane"></i> {{"shared.sendMail" | translate}}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//Profile1-->
				</div>
				<!--PrevNext-->
				<div class="matchCount" style="top:-45px;">{{page}}/{{TotalMatchJobs.length}}</div>
				<a  *ngIf="page != 1 " (click)="onChangeUser('prev')" class="carousel-control-prev" href="#carouselProfile" role="button"
				data-slide="prev" style="top:-45px;">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a *ngIf="page != TotalMatchJobs.length " (click)="onChangeUser('next')" class="carousel-control-next" href="#carouselProfile" role="button"
				data-slide="next" style="top:-45px;">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
	</div>
</section>


<app-job-description
[toggleJDModal]="isOpenedJDModal"
*ngIf="isOpenedJDModal"
[description]="description"
[isRichTextEnabled]="true"
(onEvent)="onToggleJDModal($event)">
</app-job-description>

<app-resume-select
[toggleResumeSelectModal]="isOpenedResumeSelectModal"
[currentJobDetails]="matchingJob?.jobs"
*ngIf="isOpenedResumeSelectModal"
(onEvent)="onToggleResumeSelectModal($event)">
</app-resume-select>  

<app-send-mail-job-preview
*ngIf="isOpenedSendMailModal"
[jobInfo]="postedJobsDetails"
[userInfo]="currentUserInfo"
[toggleSendMailModal]="isOpenedSendMailModal"
(onEvent)="onToggleSendMail($event)">
</app-send-mail-job-preview>