 <!-- Sub Header Section -->
	<section class="sub-header">
	<div [ngClass]="(screenWidth >= 1500)?'container':'container'"   >
		<div class="row">
			<div class="col-lg-5 d-flex align-items-center">
				<!-- <button (click)="onRedirectBack();" type="button" class="btn btn-outline-green btn-sm mr-1">
				  <i class="fas fa-arrow-left"></i>
				</button> -->
				<ol class="breadcrumb">
				  <li class="breadcrumb-item"><a (click)="onRedirectBack();" ><i class="fas fa-chevron-circle-left my-auto mr-1"></i></a></li>
				  <li class="breadcrumb-item active" aria-current="page">{{"shared.candidateMultipleJobMatches" | translate}}</li>
				</ol>
			</div>
			<div class="col-lg-7 clearfix">
			</div>
		</div>
	</div>
</section>
    <!-- //Sub Header Section -->
	<section class="mb-5">
		<div class="title-card clearfix ">
			<div class="container container-big">
				<div class="row">
					<div class="col-8">
						<h5 class="text-capitalize">{{userDetails.first_name +' '+ userDetails.last_name}}<span class="mx-2"> | </span>{{userDetails.current_employer_role}}</h5>
					</div>
					<div class="col-4 text-right">
						
						<app-contact-card
						  [userInfo]="userInfo"
						  [isEdit]="false"
						  [isContactIcon]="false"
						  [isResume]="true"
						  [isMatchesShow]="true"
						  [isMultipleMatches]="isMultipleMatches"
						  [isMatchesView]="false">
						</app-contact-card>
					</div>
				</div>
			</div>
		</div>
		<div class="container container-big">	
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-6">										
					<div class="match-details">										
						<app-shared-user-profile-job-matches [isMultipleMatches]="true" [fieldsExclude]="{clients_worked: true, job_role: true, willing_to_relocate: true}" [userInfo]="userInfo" [postedJobsDetails]="matchingJob?.jobs"></app-shared-user-profile-job-matches>
					</div>	
					<div id="carouselProfile" class="carousel slide" data-interval="false" data-ride="carousel" >
					  <!--PrevNext-->
					  
					  <div class="ee-count clearfix">
					<div class="count-num">{{page}}/{{TotalMatchJobs.length}}</div>
					<a *ngIf="page != 1 " style="cursor:pointer;" (click)="onChangeUserr('prev')" class="carousel-control-prev">
						Prev
					</a>
					<a *ngIf="page != TotalMatchJobs.length " style="cursor:pointer;" (click)="onChangeUserr('next')" class="carousel-control-next">
						Next
					</a>
				 </div>
					   
					  <div id ="cardsliders" class="carousel-inner">
						<!--Profile1-->
						<div class="carousel-item active">
							<div class="row" *ngIf="loading===true">
			<div class="col-10" *ngIf="!utilsHelperService.isEmptyObj(matchingJob?.jobs)">
				<div class="ee-infobox d-flex justify-content-between">
					<div class="d-flex">
						<div class="avtr">
							<img src="assets/images/job-logo-img.png" class="img-fluid mx-auto">
						</div>
						<div class="text">
							<a [routerLink]="[ '/employer/job-detail-view/details' ]" [queryParams]="{id: matchingJob?.jobs?.id }"  class="text-capitalize" href="javascript:;">
							<h5>{{matchingJob?.jobs?.title}}</h5>
						</a>
							
								<h5><ng-container *ngFor="let item of matchingJob?.jobs?.job_locations;index as i" >
								<small class="text-capitalize">
								{{item?.city ? item?.city+', '+item?.stateshort+'' : ''}}
								<span *ngIf="isMultipleMatches">
								  {{item?.countryshort ? item?.countryshort : ''}}
								</span>
								</small>
								<small class="text-capitalize">
								<span  *ngIf="!isMultipleMatches && i==matchingJob?.jobs?.job_locations?.length-1">
								  -{{item?.country ? item?.country : ''}}
								</span>
								</small>
								
								
								</ng-container></h5>
							<h5 class="text-capitalize"><small>{{matchingJob?.jobs?.company_name }}</small></h5>
						</div>
					</div>
					<div class="butn">
						<div class="mb-2">
							
								<a class="btn btn-outline-light btn-sm" href="javascript:;" (click)="onToggleJDModal(true,matchingJob?.jobs?.description)">	
								<i class="fas fa-file-alt mr-1"></i>{{"shared.jobDescription" | translate}}</a> &nbsp;
							
							<span>
								<a class="btn btn-outline-light btn-sm" [routerLink]="['/employer/dashboard']" [queryParams]="{activeTab:'matches',id: matchingJob?.jobs?.id}" routerLinkActive="router-link-active" >	
								<i class="fas fa-tasks"></i>{{"tabs.matches" | translate}}</a>
							</span>
						</div>
						<div class="">
							<button (click)="onShowMatches($event)" id="matchBtnVal"  [ngClass]="matchedElement ? 'btn-fltr-active' : ''" class="matchBtn btn btn-sm btn-light"><img src="assets/images/matchs-icon.png" width="13px">{{"shared.matches" | translate}}</button>&nbsp;
							<button (click)="onShowMissing($event)" id="missBtnVal"  [ngClass]="missingElement ? 'btn-fltr-active' : ''" class="missBtn btn btn-sm btn-light"><img src="assets/images/missing-icon.png" width="12px">{{"shared.missing" | translate}}</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1">
				<div class="ee-scorebox text-uppercase">{{"shared.score" | translate}}<h4>{{matchingJob?.jobs.score ? matchingJob?.jobs.score :0}}/10</h4></div>
			</div>
		</div>			
					<app-shared-job-profile-multiple-matches [jobInfo]="matchingJob?.jobs"  [isMultipleMatches]="isMultipleMatches" 
					[missingElement]="missingElement" [matchedElement]="matchedElement"
					[moreElement]="moreElement" [userInfo]="userInfo">
					</app-shared-job-profile-multiple-matches>
						<div class="col-lg-12 info" style="text-align:end;" *ngIf=" matchingJob?.jobs?.jobstatus ==null && matchingJob?.jobs?.status ==1 && matchingJob?.jobs?.mail !=true " >
										<button (click)="onToggleSendMail(true, matchingJob?.jobs)" type="button" class="btn btn-outline-orange ml-auto"  style="bottom: 15px; right: 15px;"> <i
												class="fas fa-paper-plane"></i> {{"shared.sendMail" | translate}}</button>
									</div>
						</div>

					  </div>
					</div>	
				</div>
			</div>
		</div>
	</section>
	
<app-job-description
[toggleJDModal]="isOpenedJDModal"
*ngIf="isOpenedJDModal"
[description]="description"
[isRichTextEnabled]="true"
(onEvent)="onToggleJDModal($event)">
</app-job-description>

<app-resume-select
[toggleResumeSelectModal]="isOpenedResumeSelectModal"
[currentJobDetails]="matchingJob?.jobs"
*ngIf="isOpenedResumeSelectModal"
(onEvent)="onToggleResumeSelectModal($event)">
</app-resume-select>  

<app-send-mail-job-preview
*ngIf="isOpenedSendMailModal"
[jobInfo]="postedJobsDetails"
[userInfo]="currentUserInfo"
[toggleSendMailModal]="isOpenedSendMailModal"
(onEvent)="onToggleSendMail($event)">
</app-send-mail-job-preview>