.text-wrap-custom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}
.my-custom-class .tooltip-inner {
    color: #000;
    background: #fff;
    background-color: #fff;
	border:1px solid #000;
}
  .my-custom-class .arrow::before {
      border-top-color: #000;
}
.my-custom-class .tooltip.show {
    opacity: 10 !important;
}
.tooltip.show {
    opacity: 10 !important;
}
.my-custom-classes .tooltip-inner {
    color: #000;
    background: #fff;
    background-color: #fff;
	border:1px solid #000;
}
  .my-custom-classes .arrow::before {
      border-top-color: #000;
}
.knldge{
	cursor:pointer;
	font-size: 14px;
    font-weight: 600;
}

.skils-short:last-child {
  border-right: none !important;
}
.handsExps:hover{
		overflow-x:auto !important;
	}
.small, small {
    font-size: 14px !important;
    font-weight: 600 !important;
}
.job-cardh6 {
    font-weight: 700;
    font-size: 13px;
    color: #465666;
    margin-bottom: 7px;
}