
<!-- <section class="section login-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 px-5">
        <h5 class="text-muted font-weight-bold">{{"auth.findRightPlace" | translate }}</h5>
        <h1 class="text-secondary">{{"auth.loginTitle" | translate }}</h1>
        <img [src]="'assets/images/jobseeker-img.png'" class="img-fluid mx-auto mt-4 px-4"/>
      </div>
      <div class="col-md-5">
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</section> -->

<section class="section login-section">
  <div [ngClass]="(screenWidth >= 1500)?'container-fluid':'container'">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="login-content">	
		<div class="login_text">
		<h1>{{"user.title" | translate }}</h1>
		<h3>{{"user.title1" | translate }}</h3>
		<h3>{{"user.title2" | translate }}</h3>
		</div>
        <img [src]="'assets/images/login-banner-bg-empty.png'" class="img-fluid"/>
        <!-- <img *ngIf="this.translate.currentLang == 'en'"[src]="'assets/images/login-banner-bg.png'" class="img-fluid"/>
        <img *ngIf="this.translate.currentLang == 'es'"[src]="'assets/images/login-banner-bg-es.png'" class="img-fluid"/>
        <img *ngIf="this.translate.currentLang == 'de'"[src]="'assets/images/login-banner-bg-de.png'" class="img-fluid"/> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-12 ">
        <!-- form -->
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</section>
<!-- Video Info Section -->
<section class="video-info vi2">
  <div [ngClass]="(screenWidth >= 1500)?'container-fluid':'container'">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-title text-left mb-4 pr-5">
          <h6 class="text-white"> {{"user.heading1" | translate }} </h6>
          <h3 class="text-white"> {{"user.heading1Subject" | translate }}</h3>
          <h5 class="text-white">{{"user.heading1Content" | translate }}
          </h5><br/>
          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" role="button">{{"user.viewMore" | translate }}
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="video-sec">
          <video width="100%" controls>
            <source src="assets/images/jobseeker-video.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SAPW Features Section -->
<section class="sapw-features">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="image-left">
          <img src="assets/images/jobseeker-screen-01.png" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content-left">
          <h6> {{"user.heading" | translate }}</h6>
          <h3>{{"user.heading2" | translate }} </h3>
          <h5>{{"user.heading2Content" | translate }}
          </h5>

          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" role="button">{{"user.getStarted" | translate }}
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6  ml-auto">
        <div class="content-right">
          <h6>{{"user.heading" | translate }}</h6>
          <h3>{{"user.heading3" | translate }} </h3>
          <h5>{{"user.heading3Content" | translate }} 
          </h5>

          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" role="button">{{"user.getStarted" | translate }}
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-6 p-0">
        <div class="image-right">
          <img src="assets/images/jobseeker-screen-02.png" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6 p-0">
        <div class="image-left pb-5">
          <img src="assets/images/jobseeker-screen-03.png" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content-left">
          <h6>{{"user.heading" | translate }}</h6>
          <h3> {{"user.heading4" | translate }}</h3>
          <h5> {{"user.heading4Content" | translate }}
          </h5>

          <a class="btn btn-lg btn-theme-blue rounded-pill px-4" href="#" role="button">{{"user.getStarted" | translate }}
          <i class="fas fa-angle-double-right ml-3 align-middle animate__animated animate__heartBeat animate__infinite animate__slow	2s"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //SAPW Features Section -->
