 <!-- Sub Header Section -->
 <section class="sub-header">
  <div class="container container-big">
    <div class="row">
      <div class="col-lg-5">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Candidate Multiple Job Matches</li>
        </ol>
      </div>
      <div class="col-lg-7 clearfix">
      </div>
    </div>
  </div>
</section>
  <!-- //Sub Header Section -->
<section class="my-5">
  <div class="container container-big">
    <div class="row">
      <div class="col-lg-4 ">
        <div class="row">
          <div class="col-lg-12">
            <div class="card profile-card border p-2">
              <div class="d-flex">
                <div class="pc-img">
                  <img src="assets/images/user-img.jpg">
                </div>
                <div class="pc-info">
                  <a href="job-candidate-profile-view.html">
                    <h5>Jacky Smith <small> - Project Manager</small></h5>
                  </a>
                  <h6>+91 9876543210 / 9876543222 </h6>
                  <h6 class="mb-0">jacky-smith2010@gmail.com </h6>
                </div>
                <div class="pc-btn">
                  <a class="btn btn-outline-blue btn-sm text-right" href="#"  data-toggle="modal" data-target="#resumeModal">
                  <i class="fas fa-file-alt"></i> Resume</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 info-box">
          <div class="col-lg-12 mt-3">
            <h6 class="font-weight-bold">&nbsp;</h6>
          </div>
          <div class="col-lg-4 caption">
            <ul class="list-group">
              <li class="list-group-item">Total Years of Exp.</li>
              <li class="list-group-item">Total SAP Exp.</li>
              <li class="list-group-item">Domains Worked</li>
              <li class="list-group-item">Hands on Exp.</li>
            </ul>
          </div>
          <div class="col-lg-8 info">
            <ul class="list-group">
              <li class="list-group-item">8+ Years</li>
              <li class="list-group-item">5+ Years</li>
              <li class="list-group-item">Automotive, Logistics, Finance</li>
              <li class="list-group-item">SAP PM, SAP MM, SAP Mobility</li>
            </ul>
          </div>

          <div class="col-lg-12 border-top pt-3">	</div>
          <div class="col-lg-4 caption">
            <ul class="list-group">
              <li class="list-group-item">Knowledge on</li>
              <li class="list-group-item">Programming Skills</li>
              <li class="list-group-item">Nice to have</li>
              <li class="list-group-item">Certifications</li>
            </ul>
          </div>
          <div class="col-lg-8 info">
            <ul class="list-group">
              <li class="list-group-item">SAP Mobility, SAP FICO</li>
              <li class="list-group-item">Java, Python</li>
              <li class="list-group-item">Python, SAP BODS</li>
              <li class="list-group-item">SAP Mobility</li>
            </ul>
          </div>

          <div class="col-lg-12 border-top pt-3">	</div>
          <div class="col-lg-4 caption">
            <ul class="list-group">
              <li class="list-group-item">Job Type</li>
              <li class="list-group-item">Remote</li>
              <li class="list-group-item">Start Date</li>
              <li class="list-group-item">Work Visa</li>
              <li class="list-group-item">Travel</li>
              <li class="list-group-item">Willing to Relocate</li>
            </ul>
          </div>
          <div class="col-lg-8 info">
            <ul class="list-group">
              <li class="list-group-item">Full Time, Part Time, Freelancer</li>
              <li class="list-group-item">Yes</li>
              <li class="list-group-item">30 Days</li>
              <li class="list-group-item">H1B</li>
              <li class="list-group-item">No</li>
              <li class="list-group-item">Yes</li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-lg-8">
        <div id="carouselProfile" class="carousel slide" data-interval="false" data-ride="carousel">
          <div class="carousel-inner">
          <!--Profile1-->
          <div class="carousel-item active"  style="margin-top: 97px;">
            <div class="row">
              <div class="col-lg-6">
                <div class="row info-box">
                  <div class="col-lg-9  mt-3">
                    <h6 class="font-weight-bold text-blue">SAP ABAP Lead Consultant - <small>Wipro, Texas. </small></h6>
                  </div>
                  <div class="col-lg-3  mt-3 text-right">
                    <button (click)="onToggleJDModal(true)" class="btn btn-outline-blue btn-sm text-right"  data-toggle="modal" data-target="#jobDescription">
                    <i class="fas fa-file-alt"></i> JD</button>
                  </div>
                  <div class="col-lg-12 info">
                    <div class="score">
                      SCORE <span>7/10</span>
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item text-green">9+ Years <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">6+ Years <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Automotive, Logistics, Finance, Shipping <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">SAP PM, SAP Mobility <i class="far fa-check-circle ml-2"></i></li>
                    </ul>
                  </div>

                  <div class="col-lg-11 border-top pt-3">	</div>
                  <div class="col-lg-12 info">
                    <ul class="list-group">
                      <li class="list-group-item text-green">SAP BODS, SAP Mobility, SAP FICO <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Python, JAVA, Microsoft BI <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Python, SAP BODS <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-danger">SAP BODS <i class="far fa-times-circle ml-2"></i></li>
                    </ul>
                  </div>

                  <div class="col-lg-11 border-top pt-3">	</div>
                  <div class="col-lg-12 info">
                    <ul class="list-group">
                      <li class="list-group-item text-green"> Permanent, Contract, Part Time, <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Yes  <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-danger">Immediate <i class="far fa-times-circle ml-2"></i></li>
                      <li class="list-group-item text-green">H1B <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-danger">75% <i class="far fa-times-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Yes <i class="far fa-check-circle ml-2"></i></li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row info-box">
                  <div class="col-lg-9  mt-3">
                    <h6 class="font-weight-bold text-blue">SAP ABAP Developer - <small>Wipro, Texas. </small></h6>
                  </div>
                  <div class="col-lg-3  mt-3 text-right">
                    <button (click)="onToggleJDModal(true)" class="btn btn-outline-blue btn-sm text-right"  data-toggle="modal" data-target="#jobDescription">
                    <i class="fas fa-file-alt"></i> JD</button>
                  </div>
                  <div class="col-lg-12 info">
                    <div class="score">
                      SCORE <span>7/10</span>
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item text-green">9+ Years <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">6+ Years <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Automotive, Logistics, Finance, Shipping <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">SAP PM, SAP Mobility <i class="far fa-check-circle ml-2"></i></li>
                    </ul>
                  </div>

                  <div class="col-lg-11 border-top pt-3">	</div>
                  <div class="col-lg-12 info">
                    <ul class="list-group">
                      <li class="list-group-item text-green">SAP BODS, SAP Mobility, SAP FICO <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Python, JAVA, Microsoft BI <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Python, SAP BODS <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-danger">SAP BODS <i class="far fa-times-circle ml-2"></i></li>
                    </ul>
                  </div>

                  <div class="col-lg-11 border-top pt-3">	</div>
                  <div class="col-lg-12 info">
                    <ul class="list-group">
                      <li class="list-group-item text-green"> Permanent, Contract, Part Time, <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Yes  <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-danger">Immediate <i class="far fa-times-circle ml-2"></i></li>
                      <li class="list-group-item text-green">H1B <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-danger">75% <i class="far fa-times-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Yes <i class="far fa-check-circle ml-2"></i></li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--//Profile1-->
          <!--Profile2-->
          <div class="carousel-item"  style="margin-top: 97px;">
            <div class="row">
              <div class="col-lg-6">
                <div class="row info-box">
                  <div class="col-lg-9  mt-3">
                    <h6 class="font-weight-bold text-blue">SAP ABAP Lead Consultant - <small>Wipro, Texas. </small></h6>
                  </div>
                  <div class="col-lg-3  mt-3 text-right">
                    <button class="btn btn-outline-blue btn-sm text-right"  data-toggle="modal" data-target="#jobDescription">
                    <i class="fas fa-file-alt"></i> JD</button>
                  </div>
                  <div class="col-lg-12 info">
                    <div class="score">
                      SCORE <span>7/10</span>
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item text-green">9+ Years <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">6+ Years <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Automotive, Logistics, Finance, Shipping <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">SAP PM, SAP Mobility <i class="far fa-check-circle ml-2"></i></li>
                    </ul>
                  </div>

                  <div class="col-lg-11 border-top pt-3">	</div>
                  <div class="col-lg-12 info">
                    <ul class="list-group">
                      <li class="list-group-item text-green">SAP BODS, SAP Mobility, SAP FICO <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Python, JAVA, Microsoft BI <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Python, SAP BODS <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-danger">SAP BODS <i class="far fa-times-circle ml-2"></i></li>
                    </ul>
                  </div>

                  <div class="col-lg-11 border-top pt-3">	</div>
                  <div class="col-lg-12 info">
                    <ul class="list-group">
                      <li class="list-group-item text-green"> Permanent, Contract, Part Time, <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Yes  <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-danger">Immediate <i class="far fa-times-circle ml-2"></i></li>
                      <li class="list-group-item text-green">H1B <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-danger">75% <i class="far fa-times-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Yes <i class="far fa-check-circle ml-2"></i></li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row info-box">
                  <div class="col-lg-9  mt-3">
                    <h6 class="font-weight-bold text-blue">SAP ABAP Developer - <small>Wipro, Texas. </small></h6>
                  </div>
                  <div class="col-lg-3  mt-3 text-right">
                    <button class="btn btn-outline-blue btn-sm text-right"  data-toggle="modal" data-target="#jobDescription">
                    <i class="fas fa-file-alt"></i> JD</button>
                  </div>
                  <div class="col-lg-12 info">
                    <div class="score">
                      SCORE <span>7/10</span>
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item text-green">9+ Years <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">6+ Years <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Automotive, Logistics, Finance, Shipping <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">SAP PM, SAP Mobility <i class="far fa-check-circle ml-2"></i></li>
                    </ul>
                  </div>

                  <div class="col-lg-11 border-top pt-3">	</div>
                  <div class="col-lg-12 info">
                    <ul class="list-group">
                      <li class="list-group-item text-green">SAP BODS, SAP Mobility, SAP FICO <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Python, JAVA, Microsoft BI <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Python, SAP BODS <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-danger">SAP BODS <i class="far fa-times-circle ml-2"></i></li>
                    </ul>
                  </div>

                  <div class="col-lg-11 border-top pt-3">	</div>
                  <div class="col-lg-12 info">
                    <ul class="list-group">
                      <li class="list-group-item text-green"> Permanent, Contract, Part Time, <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Yes  <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-danger">Immediate <i class="far fa-times-circle ml-2"></i></li>
                      <li class="list-group-item text-green">H1B <i class="far fa-check-circle ml-2"></i></li>
                      <li class="list-group-item text-danger">75% <i class="far fa-times-circle ml-2"></i></li>
                      <li class="list-group-item text-green">Yes <i class="far fa-check-circle ml-2"></i></li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--//Profile2-->
          </div>
          <!--PrevNext-->
          <div class="matchCount">2/8</div>
          <a class="carousel-control-prev" href="#carouselProfile" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselProfile" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<app-job-description
[toggleJDModal]="isOpenedJDModal"
*ngIf="isOpenedJDModal"
(onEvent)="onToggleJDModal($event)">
</app-job-description>
