<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <form class="login-form"  [formGroup]="resetPasswordForm" (ngSubmit)="reset()">
        <h1>Reset Password</h1>
        <div class="form-group">
          <label>New Password</label>
          <div appMarkAsterisk class="input-with-icon">
            <input type="password" class="form-control" [placeholder]="'Password'" formControlName="password">
            <i class="fas fa-lock"></i>
          </div>
          <app-control-messages [control]="f['password']"></app-control-messages>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <div appMarkAsterisk class="input-with-icon">
            <input type="password" class="form-control" [placeholder]="'Password'" formControlName="confirmPassword">
            <i class="fas fa-lock"></i>
          </div>
          <app-control-messages [control]="f['confirmPassword']"></app-control-messages>
        </div>
        <div class="form-group mt-5">
          <button type="submit"
          class="btn btn-block btn-lg btn-theme-blue"

          type="submit" [disabled]="resetPasswordForm.invalid">
            <span [hidden]="isLoading">Submit</span>
            <span [hidden]="!isLoading">
              <i class="fa fa-spinner" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        </form>

    </div>
  </div>
</div>
