<!-- Sub Header Section -->
<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex align-items-center">
		<button (click)="onRedirectBack();" type="button" class="btn btn-outline-green btn-sm mr-1">
					<i class="fas fa-arrow-left"></i>
				</button>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Candidate View Profile</li>
        </ol>
      </div>
      <div class="col-lg-7 clearfix">
      </div>
    </div>
  </div>
</section>
  <!-- //Sub Header Section -->
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12" *ngIf="DetailsShown">
        <div class="row">
          <div class="col-lg-12" >
            <app-contact-card
            [userInfo]="userDetails"
            [jobInfo]="postedJobsDetails"
            [postedJobsMatchDetails]="postedJobsMatchDetails"
            [isEdit]="false"
            [isResume]="true"
            [isMatch]="true"
            [isMail]="true"
            >
            </app-contact-card>

          </div>
        </div>
        <app-shared-user-profile [userInfo]="userDetails"></app-shared-user-profile>
       
      </div>
      <div class="col-lg-4">
        <div class="title">
          <h2>Matchings</h2>
        </div>
        <div class="sidebar-widget text-left">
          ---
        </div>
      </div>
    </div>
  </div>
</section>


<app-resume-modal
*ngIf="isOpenedResumeModal"
[toggleResumeModal]="isOpenedResumeModal"
(onEvent)="onToggleResumeForm($event)">
</app-resume-modal>


<app-send-mail-job-preview
*ngIf="isOpenedSendMailModal"
[toggleSendMailModal]="isOpenedSendMailModal"
(onEvent)="onToggleSendMail($event)">
</app-send-mail-job-preview>
