<section class="my-4">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-12">
        <form class="form-inline">
          <div class="form-group mr-2">
          <label>{{"home.search" | translate}} : </label>
          </div>
          <div class="form-group">
          <input [formControl]="searchField" type="text" class="form-control form-control-sm" placeholder="By Name, Location..." style="min-width:400px;">
          </div>
        </form>
      </div>
    </div>

    <ng-container *ngIf="savedProfile?.length; else elseTemplate">
      <!-- {{chunk(savedProfile, 3) | json}} -->
      <ng-container *ngFor="let row of chunk(savedProfile, 3); let i = index">
        <div class="row mb-5">
          <ng-container *ngFor="let item of row">
            <div class="col-lg-4" *ngIf="!utilsHelperService.isEmptyObj(item)">
              <div class="card job-card sm" >
                <div class="card-body">
                  <a  [routerLink]="['/employer/candidate-profile']" [queryParams]="{id: item?.id, jobId: item?.job_posting?.id}">
                    <h5 class="text-capitalize mb-0">
                      {{item?.first_name + ' ' + item?.last_name}}
                    </h5>
                    <h5 class="text-capitalize"><small *ngIf="item?.job_role">{{item?.job_role}}</small></h5>
                  </a>
                  <!-- <div [ngClass]="{'active': savedProfiles?.includes(item?.id)}" (click)="onSaveProfile(item)" class="save-icon" data-toggle="tooltip" title="Save"><i class="far fa-bookmark"></i></div> -->
                  <div  (click)="onSaveProfile(item, i)" class="save-icon active" data-toggle="tooltip" title="Save"><i class="far fa-bookmark"></i></div>
                  <div class="media">
                    <img *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(0)" style="width:36px;" [src]="item?.photo ? (savedProfileMeta?.photo?.path+'/'+ savedProfileMeta?.photo?.folder+'/'+savedProfileMeta?.photo?.sizes?.medium+'/'+item?.photo) : 'assets/images/user-img-icon.jpg'">
                    <ng-container *ngIf="loggedUserInfo?.role && loggedUserInfo?.role?.includes(1);">
                      <ng-container *ngIf="item?.privacy_protection?.photo == true; else elsePhotoTemplate">
                        <img  style="width:36px;" [src]="item?.photo ? savedProfileMeta?.photo?.path+'/'+ savedProfileMeta?.photo?.folder+'/'+savedProfileMeta?.photo?.sizes?.medium+'/'+item?.photo+'?v='+ randomNum : 'assets/images/user-img-icon.jpg'">
                      </ng-container>
                      <ng-template #elsePhotoTemplate>
                        <img  style="width:36px;" [src]="'assets/images/user-lock.jpg'">
                      </ng-template>
                    </ng-container>
                    <div class="media-body">
                      <h6 class="text-capitalize">
                        {{item?.city ? item?.city : ''}}
                        {{item?.state ? ', ' + item?.state : ''}}
                        <span class="text-uppercase">
                          {{item?.country ? ', ' + item?.country : ''}}
                        </span>
                      </h6>
                      <h6 class="text-capitalize" *ngIf="(item?.job_type || item?.job_type == 0)">{{(item?.job_type || item?.job_type == 0) ? sharedService.onGetJobType(item?.job_type) : ''}}</h6>
                    </div>
                  </div>
                  <div class="mt-1">
                    <span data-toggle="modal" data-target="#exampleModal">
                      <a
                      [class.disabled]="!onGetFilteredValue(item?.doc_resume)"
                      (click)="onGetFilteredValue(item?.doc_resume) && onToggleResumeForm(true, (savedProfileMeta?.doc_resume?.path + '/' + savedProfileMeta?.doc_resume?.folder + '/' + onGetFilteredValue(item?.doc_resume)))"
                      class="btn btn-outline-blue btn-sm mr-2" href="javascript:;">
                      <i class="fas fa-file-alt"></i> {{"dashboard.resume" | translate}}</a>
                    </span>
                    <span data-toggle="modal" data-target="#notes">
                      <a (click)="onToggleNotesViewModal(true)" class="btn btn-outline-green btn-sm" href="javascript:;">
                      <i class="fas fa-edit"></i>{{"home.notes" | translate}}</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #elseTemplate>
      <div style="min-height: 180px;">
        No record found
      </div>
    </ng-template>


    <div class="d-flex justify-content-center" *ngIf="((savedProfileMeta?.count > 0 && savedProfileMeta?.total > 25) && (savedProfileMeta?.total != savedProfile?.length))">
      <button (click)="onLoadMoreJob()" class="btn btn-theme-blue" type="button">
        Load More
      </button>
    </div>

  </div>
</section>


<app-resume-modal
[url]="selectedResumeUrl"
*ngIf="isOpenedResumeModal"
[toggleResumeModal]="isOpenedResumeModal"
(onEvent)="onToggleResumeForm($event)">
</app-resume-modal>



<app-add-notes
*ngIf="isOpenedAddNotesModal"
[toggleAddNotesModal]="isOpenedAddNotesModal"
(onEvent)="onToggleAddNotesModal($event)">
</app-add-notes>

<app-notes-view
*ngIf="isOpenedNotesViewModal"
[toggleNotesViewModal]="isOpenedNotesViewModal"
(onEvent)="onToggleNotesViewModal($event)">
</app-notes-view>
