<ng-template #registerModal let-modal>
  <div
  class="modal-header">
    
    <h5 *ngIf="router?.url.includes('employer')"
    class="modal-title" id="registerModalLabel"> {{"employer.recruiterRegister" | translate }} </h5>
    <h5 *ngIf="router?.url.includes('user')"
    class="modal-title" id="registerModalLabel"> {{"user.jobseekerRegister" | translate }} </h5>
    <button (click)="onClickCloseBtn(false)" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>  </div>
  <div class="modal-body">
  <p *ngIf="router?.url.includes('user')"> {{"user.register" | translate }} </p>
  <p *ngIf="router?.url.includes('employer')"> {{"employer.register" | translate }}</p>
    <form method="post" [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-group">
        <label>{{"shared.firstName" | translate }}</label>
        <div appMarkAsterisk class="input-with-icon">
          <input autocomplete="disabled" type="text" class="form-control" [placeholder]="'First Name'" formControlName="firstName">
          <i class="fas fa-user-alt"></i>
        </div>
        <app-control-messages [control]="f['firstName']"></app-control-messages>
      </div>
      <div class="form-group">
        <label>{{"shared.lastName" | translate }}</label>
        <div appMarkAsterisk class="input-with-icon">
          <input autocomplete="disabled" type="text" class="form-control" [placeholder]="'Last Name'" formControlName="lastName">
          <i class="fas fa-user-alt"></i>
        </div>
        <app-control-messages [control]="f['lastName']"></app-control-messages>
      </div>
	  <div class="form-group" *ngIf="router?.url.includes('employer') || router?.url.includes('agency')">
        <label>{{"shared.companyName" | translate }}</label>
        <div appMarkAsterisk class="input-with-icon">
          <input autocomplete="disabled" type="text" class="form-control" [placeholder]="'Company Name'" formControlName="companyName">
          <i class="fas fa-building"></i>
        </div>
        <app-control-messages [control]="f['companyName']"></app-control-messages>
      </div>
      <div class="form-group">
        <label>{{"shared.emailAddress" | translate }}<small *ngIf="router?.url.includes('employer')" class="text-secondary"> (Company Email Address)</small></label>
        <div appMarkAsterisk class="input-with-icon">
          <input type="text" autocomplete="disabled" style="text-transform: lowercase;" class="form-control" [placeholder]="'Email Address'" formControlName="email">
          <i class="fas fa-envelope"></i>
        </div>
        <small class="text-danger" *ngIf="formError?.length > 0 && formError[0]?.field == 'account'">
          {{formError[0]?.rules[0]?.rule == 'unique' ? formError[0]?.rules[0]?.message : ''}}
        </small>
        <app-control-messages [control]="f['email']"></app-control-messages>
      </div>
      <div class="form-group">
        <label>{{"auth.password" | translate }} </label>
        <div appMarkAsterisk class="input-with-icon input-group">
          <input appPassword id="regpass" type="password" class="form-control" [placeholder]="'Password'" formControlName="password">
          <i class="fas fa-key"></i>
        </div>
        <app-control-messages [control]="f['password']"></app-control-messages>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
        <input autocomplete="disabled" type="checkbox" class="custom-control-input" id="termsService" formControlName="isAgreed">
        <label class="custom-control-label" for="termsService">{{"auth.terms" | translate }} <a [routerLink]="['/terms-and-conditions']" href="javascript:;" target="_blank">View</a></label>
        </div>
		<app-control-messages [control]="f['isAgreed']"></app-control-messages>
      </div>
      <div
       class="form-group mt-5">
        <button type="submit" [ngClass]="{'btn-theme-blue': router?.url.includes('employer'), 'btn-theme-orange':router?.url.includes('agency'), 'btn-theme-green':router?.url.includes('user') }"
         class="btn btn-block btn-lg">
         <span [hidden]="isLoading">{{"auth.register" | translate }}</span>
         <span [hidden]="!isLoading">
           <i class="fa fa-spinner" aria-hidden="true"></i>
         </span>
        </button>
      </div>
    </form>

  </div>
</ng-template>
