<form [formGroup]="changePasswordForm" (ngSubmit)="change()">
<div class="row">
  <div class="col-lg-4 col-md-12">
      <div class="form-group">
        <label>{{"common.userName" | translate}}</label>
        <div class="input-with-icon">
          <input type="text" class="form-control" [placeholder]="'User Name'" formControlName="userName">
          <i class="fas fa-lock"></i>
        </div>
      </div>
      <div class="form-group">
        <label>{{"common.currentPassword" | translate}}</label>
        <div appMarkAsterisk class="input-with-icon">
          <input type="password" class="form-control" [placeholder]="'Current Password'" formControlName="current_password">
          <i class="fas fa-lock"></i>
        </div>
        <app-control-messages [control]="f['current_password']"></app-control-messages>
      </div>
      <div class="form-group">
        <label>{{"common.newPassword" | translate}}</label>
        <div appMarkAsterisk class="input-with-icon input-group">
          <input appPassword type="password" class="form-control" [placeholder]="'New Password'" formControlName="password">
          <i class="fas fa-lock"></i>
        </div>
        <app-control-messages [control]="f['password']"></app-control-messages>
      </div>
      <div class="form-group">
        <label>{{"common.confirmPassword" | translate}}</label>
        <div appMarkAsterisk class="input-with-icon input-group">
          <input appPassword type="password" class="form-control" [placeholder]="'Confirm Password'" formControlName="confirmPassword">
          <i class="fas fa-lock"></i>
        </div>
        <app-control-messages [control]="f['confirmPassword']"></app-control-messages>
      </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-lg-4 col-md-6">
    <div class="form-group">
      <button type="button" class="btn btn-secondary btn-block btn-lg">{{ "shared.cancel" |translate}}</button>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="form-group">
      <button  [disabled]="changePasswordForm.invalid" type="submit" class="btn btn-theme-blue btn-block btn-lg">
        <span [hidden]="isLoading">{{ "shared.submit" | translate }}</span>
          <span [hidden]="!isLoading">
            <i class="fa fa-spinner" aria-hidden="true"></i>
          </span>
      </button>
    </div>
  </div>
</div>
</form>
