<ng-template #coverSelectModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Upload Resume</h5>
      <button (click)="onClickCloseBtn(false)" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
		<div class="col-lg alert">
				<label class="text-black-50">
					<h1 class="text-black-50 mb-0"><i class="far fa-plus-square"></i></h1>
					{{"common.addResume" | translate}}
					<input #userResume type="file" hidden (change)="handleFileInput($event,'cover');">
				</label>
		</div>
      </div>
  <!-- </form> -->

</ng-template>

<ng-template #resumeTitleModal let-modal>
  <form method="post" (ngSubmit)="onSaveResume()" #resumeNgForm="ngForm" [formGroup]="resumeForm">
    <div class="modal-header">
      <h5 class="modal-title">Add Resume Tilte</h5>
      <button type="button" (click)="mbRef?.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
      <div class=" form-group">
        <label class="h5">Resume Title</label>
        <input formControlName="title" type="text" class="form-control" placeholder="Enter Resume Title">
        <app-control-messages [control]="f['title']"></app-control-messages>
      </div>
      </div>
      <div class="modal-footer">
      <button type="button" (click)="mbRef?.close()" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button [disabled]="!resumeForm.valid" type="button" (click)="onSaveResume()" class="btn btn-theme-blue " data-dismiss="modal">Save</button>
      </div>
  </form>

</ng-template>