<!-- Sub Header Section -->
<section class="sub-header">
  <div class="container container-big">
    <div class="row">
      <div class="col-lg-5">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Candidate Matches</li>
        </ol>
      </div>
      <div class="col-lg-7 clearfix">
      </div>
    </div>
  </div>
</section>
  <!-- //Sub Header Section -->
<section class="my-5">
  <div class="container container-big">
    <div class="row">
      <div [ngClass]="(isMultipleMatches === true)?'col-lg-4':'col-lg-6'">
        <div class="row">
          <div class="col-lg-12">
            <app-contact-card
              [userInfo]="userInfo"
              [isEdit]="false"
              [isContactIcon]="false"
              [isResume]="true"
              >
              </app-contact-card>
          </div>
        </div>

        <app-shared-user-profile [fieldsExclude]="{clients_worked: true, job_role: true, willing_to_relocate: true}" [userInfo]="userInfo"></app-shared-user-profile>
      </div>
      <div [ngClass]="(isMultipleMatches === true)?'col-lg-8':'col-lg-6'">
        <div id="carouselProfile" class="carousel slide job-info-container" data-interval="false" data-ride="carousel">
          <div class="carousel-inner">
          <!--Profile1-->
          <div class="carousel-item active">
            <div class="row">
              <div *ngIf="!utilsHelperService.isEmptyObj(matchingJob?.profile)" [ngClass]="(isMultipleMatches === true)?'col-lg-6':'col-lg-12'" >
                <div class="row info-box">
                  <!--Header Sec-->
                  <div class="col-lg-12">
                    <div class="card profile-card">
                      <div class="d-flex">
                        <div class="pc-info">
                          <a [routerLink]="[ '/user/candidate-job-view', matchingJob?.jobs?.id ]" class="text-capitalize" href="javascript:;">
                            <h5>{{matchingJob?.jobs?.title}} <small></small></h5>
                          </a>
                          <h6 class="mb-0 text-capitalize">
                            {{matchingJob?.jobs?.city ? matchingJob?.jobs?.city : ''}}
                            {{matchingJob?.jobs?.state ? ', ' + matchingJob?.jobs?.state : ''}}
                            <span class="text-uppercase">
                              {{matchingJob?.jobs?.country ? ', ' + matchingJob?.jobs?.country : ''}}
                            </span>
                          </h6>
                          <form class="form-inline">
                            <a href="javascript:;" class="mr-3" data-toggle="modal" data-target="#matchpostModal">
                              <small><i class="fab fa-buffer"></i> View Other Matches</small>
                            </a>
                          </form>
                        </div>
                      </div>
                    </div>

                    <div class="matchs-info">
                      <button (click)="onShowMatches()" class="matchBtn btn btn-sm btn-light"><img src="assets/images/matchs-icon.png" width="16px"> Matches </button>
                      <button (click)="onShowMissing()" class="missBtn btn btn-sm btn-light"><img src="assets/images/missing-icon.png" width="15px" class="ml-2"> Missing </button>
                      <button (click)="onShowMore()" class="moreBtn btn btn-sm btn-light"><img src="assets/images/info-icon.png"  width="16px">More Skills </button>
                      <button (click)="onReset()" class="btn btn-sm btn-light ml-1">
                      <i class="fas fa-sync"></i>
                      </button>
                    </div>
                  </div>

                  <!--Body Sec-->
                  <div class="col-lg-12 info mt-2">
                    <div class="score"
                    [ngClass]="{'score-txt-green': matchingJob?.score >= 5, 'score-txt-orange': (matchingJob?.score < 5 && matchingJob?.score > 0), 'score-txt-red': (matchingJob?.score == 0)}">
                      SCORE <span>{{matchingJob?.score ? matchingJob?.score :
                        0}}/10</span>
                    </div>
                    <div class="col-lg-12 mt-1">
                      <h6 class="font-weight-bold">&nbsp;</h6>
                    </div>
                    <!-- <div class="col-lg-12 mt-2">
                      <h6 class="font-weight-bold">&nbsp;</h6>
                    </div> -->
                    <ul class="list-group">
                      <li class="list-group-item">
                        <span *ngIf="matchedElement && (matchingJob?.jobs?.experience <= userInfo?.experience)">
                          <i class="far fa-check-circle text-green small"></i>
                          {{matchingJob?.jobs?.experience ? matchingJob?.jobs?.experience + ' Years' : '--'}}
                        </span>
                        <span  *ngIf="missingElement && (matchingJob?.jobs?.experience > userInfo?.experience)">
                          <i class="far fa-times-circle text-danger small"></i>
                          {{matchingJob?.jobs?.experience ? matchingJob?.jobs?.experience + ' Years' : '--'}}
                        </span>
                      </li>
                      <li class="list-group-item">
                        <span *ngIf="matchedElement && (matchingJob?.jobs?.sap_experience <= userInfo?.sap_experience)">
                          <i class="far fa-check-circle text-green small"></i>
                          {{matchingJob?.jobs?.sap_experience ? matchingJob?.jobs?.sap_experience + ' Years' :'--'}}
                        </span>
                        <span *ngIf="missingElement && (matchingJob?.jobs?.sap_experience > userInfo?.sap_experience)">
                          <i class="far fa-times-circle text-danger small"></i>
                        </span>
                      </li>
                      <li class="list-group-item">
                        <ng-container *ngFor="let item of matchingJob?.jobs?.domain; let first = first;">
                          <span class="matchTxt text-capitalize" *ngIf="matchedElement && onChangeStringNumber('domains_worked', 'domain', item, 'check').type == 'check'">
                            <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                            {{sharedService.onFindDomainFromSingleID(item)?.name}}
                          </span>
                        </ng-container>
                        <!-- <ng-container *ngFor="let item of onChangeValue(matchingJob?.jobs?.domain, userInfo?.domains_worked); let first = first;">
                          <span class="matchTxt text-capitalize" *ngIf="moreElement && onChangeStringNumber('domains_worked', 'domain', item, 'check').type == 'info'">
                            <i  class="fa fa-info-circle text-blue small" [ngClass]="{'ml-2': !first}"></i>
                            {{sharedService.onFindDomainFromSingleID(item)?.name}}
                          </span>
                        </ng-container> -->
                        <ng-container  *ngFor="let item of userInfo?.domains_worked; let first = first;">
                          <span class="matchTxt text-capitalize" *ngIf="missingElement && onChangeStringNumber('domains_worked', 'domain', item, 'close').type == 'close'">
                            <i  class="far fa-times-circle text-danger small" [ngClass]="{'ml-2': !first}"></i>
                            {{sharedService.onFindDomainFromSingleID(item)?.name}}
                          </span>
                        </ng-container>
                      </li>
                     <li class="list-group-item handsExp text-uppercase">
                      <ng-container *ngIf="matchingJob?.jobs?.hands_on_experience?.length; else elseHandsTemplate">
                        <ng-container *ngFor="let item of matchingJob?.jobs?.hands_on_experience; let i = index; let first = first;">
                          <div class="text-center border-right pr-3"
                            *ngIf="matchedElement && onChangeObj('hands_on_experience', 'hands_on_experience', item, 'check', 'skill_id').type == 'check'">
                              {{utilsHelperService.onSplitTag(item.skill_name)}}
                              <br>
                            <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                            ({{item?.experience + ' ' + item?.exp_type?.charAt(0)}})
                          </div>
                        </ng-container>

                        <!-- <ng-container
                          *ngFor="let item of onChangeValue(matchingJob?.jobs?.hands_on_experience, userInfo?.hands_on_experience); let i = index; let first = first;">
                          <div class="text-center border-right pr-3"
                            *ngIf="moreElement && onChangeObj('hands_on_experience', 'hands_on_experience', item, 'close', 'skill_id').type == 'close'">
                              {{utilsHelperService.onSplitTag(item.skill_name)}}
                              <br>
                            <i class="fa fa-info-circle text-blue" [ngClass]="{'ml-2': !first}"></i>
                            ({{item?.experience + ' ' + item?.exp_type?.charAt(0)}})
                          </div>
                        </ng-container> -->

                        <ng-container *ngFor="let item of userInfo?.hands_on_experience; let i = index; let first = first;">
                          <div class="text-center border-right pr-3"
                            *ngIf="missingElement && onChangeObj('hands_on_experience', 'hands_on_experience', item, 'info', 'skill_id').type == 'info'">
                              {{utilsHelperService.onSplitTag(item.skill_name)}}
                              <br>
                            <i class="far fa-times-circle text-danger small" [ngClass]="{'ml-2': !first}"></i>
                            ({{item?.experience + ' ' + item?.exp_type?.charAt(0)}})
                          </div>
                        </ng-container>
                      </ng-container>
                      <ng-template #elseHandsTemplate>
                        <p>--</p>
                      </ng-template>
                     </li>
                    </ul>
                  </div>

                  <div class="col-lg-12 border-top pt-3">	</div>
                  <div class="col-lg-12 info">
                    <ul class="list-group">
                      <li class="list-group-item  text-uppercase">
                        <ng-container *ngIf="matchingJob?.jobs?.skills?.length; else elseSkillsTemplate">
                          <ng-container *ngFor="let item of utilsHelperService.differenceByPropValArray(matchingJob?.jobs?.skills, matchingJob?.jobs?.hands_on_experience, 'skill_id'); let first = first;">
                            <span
                              *ngIf="matchedElement && onChangeStringNumber('skills', 'skills', item, 'check').type == 'check'">
                              <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                              {{utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item)?.tag)}}
                            </span>
                          </ng-container>

                          <!-- <ng-container
                            *ngFor="let item of onChangeValue(matchingJob?.jobs?.skills, userInfo?.skills); let first = first;">
                            <span
                              *ngIf="moreElement && onChangeStringNumber('skills', 'skills', item, 'close').type == 'close'">
                              <i class="fa fa-info-circle text-blue" [ngClass]="{'ml-2': !first}"></i>
                              {{utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item)?.tag)}}

                            </span>
                          </ng-container> -->

                          <ng-container *ngFor="let item of utilsHelperService.differenceByPropValArray(userInfo?.skills, userInfo?.hands_on_experience, 'skill_id'); let first = first;">
                            <span
                              *ngIf="missingElement && onChangeStringNumber('skills', 'skills', item, 'info').type == 'info'">
                              <i class="far fa-times-circle text-danger small" [ngClass]="{'ml-2': !first}"></i>
                              {{utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item)?.tag)}}

                            </span>
                          </ng-container>
                        </ng-container>
                        <ng-template #elseSkillsTemplate>
                          <p>--</p>
                        </ng-template>
                      </li>
                      <li class="list-group-item">
                        <ng-container *ngFor="let item of matchingJob?.jobs?.programming_skills; let first = first; let i = index">
                          <span
                            *ngIf="matchedElement && onChangeStringNumber('programming_skills', 'programming_skills', item, 'check', true).type == 'check'">
                            <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': i != 1}"></i>
                            {{item}}
                          </span>
                        </ng-container>

                        <!-- <ng-container
                          *ngFor="let item of onChangeValue(matchingJob?.jobs?.programming_skills, userInfo?.programming_skills); let i = index; let first = first;">
                          <span
                            *ngIf="moreElement && onChangeStringNumber('programming_skills', 'programming_skills', item, 'close', true).type == 'close'">
                            <i class="fa fa-info-circle text-blue" [ngClass]="{'ml-2': i != 1}"></i>
                            {{item}}
                          </span>
                        </ng-container> -->

                        <ng-container *ngFor="let item of userInfo?.programming_skills; let i = index; let first = first;">
                          <span
                            *ngIf="missingElement && onChangeStringNumber('programming_skills', 'programming_skills', item, 'info', true).type == 'info'">
                            <i class="far fa-times-circle text-danger small" [ngClass]="{'ml-2': i != 1}"></i>
                            {{item}}
                          </span>
                        </ng-container>
                      </li>
                      <li class="list-group-item">
                        <ng-container *ngFor="let item of matchingJob?.jobs?.optinal_skills; let i = index; let first = first;">
                          <span
                            *ngIf="matchedElement && onChangeStringNumber('other_skills', 'optinal_skills', item, 'check', true).type == 'check'">
                            <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': i != 1}"></i>
                            {{item}}
                          </span>
                        </ng-container>

                        <!-- <ng-container
                          *ngFor="let item of onChangeValue(matchingJob?.jobs?.optinal_skills, userInfo?.other_skills); let i = index; let first = first;">
                          <span
                            *ngIf="moreElement && onChangeStringNumber('other_skills', 'optinal_skills', item, 'close', true).type == 'close'">
                            <i class="fa fa-info-circle text-blue" [ngClass]="{'ml-2': i != 1}"></i>
                            {{item}}
                          </span>
                        </ng-container> -->

                        <ng-container *ngFor="let item of userInfo?.other_skills; let i = index; let first = first;">
                          <span
                            *ngIf="missingElement && onChangeStringNumber('other_skills', 'optinal_skills', item, 'info', true).type == 'info'">
                            <i class="far fa-times-circle text-danger small" [ngClass]="{'ml-2': i != 1}"></i>
                            {{item}}
                          </span>
                        </ng-container>
                       </li>
                      <li class="list-group-item">
                        <ng-container *ngFor="let item of matchingJob?.jobs?.certification; let first = first;">
                          <span
                            *ngIf="matchedElement && onChangeStringNumber('certification', 'certification', item, 'check', true).type == 'check'">
                            <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                            {{item}}
                          </span>
                        </ng-container>

                        <!-- <ng-container
                          *ngFor="let item of onChangeValue(matchingJob?.jobs?.certification, userInfo?.certification); let first = first;">
                          <span
                            *ngIf="moreElement && onChangeStringNumber('certification', 'certification', item, 'close', true).type == 'close'">
                            <i class="fa fa-info-circle text-blue" [ngClass]="{'ml-2': !first}"></i>
                            {{item}}
                          </span>
                        </ng-container> -->

                        <ng-container *ngFor="let item of userInfo?.certification; let first = first;">
                          <span
                            *ngIf="missingElement && onChangeStringNumber('certification', 'certification', item, 'info', true).type == 'info'">
                            <i class="fa fa-times-circle text-danger small" [ngClass]="{'ml-2': !first}"></i>
                            {{item}}
                          </span>
                        </ng-container>
                       </li>
                       <li class="list-group-item">
                         <span *ngIf="matchedElement && (matchingJob?.jobs?.end_to_end_implementation <= userInfo?.end_to_end_implementation)">
                          <i class="fa fa-check-circle text-green small"></i>
                          {{(matchingJob?.jobs?.end_to_end_implementation || matchingJob?.jobs?.end_to_end_implementation == 0) ?
                            (matchingJob?.jobs?.end_to_end_implementation) : '--'}}
                         </span>
                         <span *ngIf="missingElement && (matchingJob?.jobs?.end_to_end_implementation > userInfo?.end_to_end_implementation)">
                          <i class="fa fa-times-circle text-danger small"></i>
                          {{(matchingJob?.jobs?.end_to_end_implementation || matchingJob?.jobs?.end_to_end_implementation == 0) ?
                            (matchingJob?.jobs?.end_to_end_implementation) : '--'}}
                         </span>
                       </li>
                    </ul>
                  </div>

                  <div class="col-lg-12 border-top pt-3">	</div>
                  <div class="col-lg-12 info">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <span *ngIf="matchedElement && (matchingJob?.jobs?.type == userInfo?.job_type)">
                          <i class="fa fa-check-circle text-green small"></i>
                          {{(matchingJob?.jobs?.type || matchingJob?.jobs?.type == 0) ?
                            sharedService.onGetJobType(matchingJob?.jobs?.type) : '--'}}
                        </span>
                        <span *ngIf="missingElement && (matchingJob?.jobs?.type != userInfo?.job_type)">
                          <i class="fa fa-times-circle text-danger small"></i>
                          {{(matchingJob?.jobs?.type || matchingJob?.jobs?.type == 0) ?
                            sharedService.onGetJobType(matchingJob?.jobs?.type) : '--'}}
                        </span>

                      </li>
                      <li class="list-group-item">
                        <span *ngIf="matchedElement && (matchingJob?.jobs?.remote == userInfo?.remote_only)">
                          <i class="fa fa-check-circle text-green small"></i>
                          {{utilsHelperService.onGetYesOrNoValue(matchingJob?.jobs?.remote)}}
                        </span>
                        <span *ngIf="missingElement && (matchingJob?.jobs?.remote != userInfo?.remote_only)">
                          <i class="fa fa-times-circle text-danger small"></i>
                          {{utilsHelperService.onGetYesOrNoValue(matchingJob?.jobs?.remote)}}
                        </span>
                       </li>
                      <li class="list-group-item">
                        <span *ngIf="matchedElement && (matchingJob?.jobs?.availability >= userInfo?.availability)">
                          <i class="fa fa-check-circle text-green small"></i>
                          {{(matchingJob?.jobs?.availability || matchingJob?.jobs?.availability == 0) ?
                            (matchingJob?.jobs?.availability == 0 ? 'Immediate' : matchingJob?.jobs?.availability
                            +
                            ' Days') : '--'}}
                        </span>
                        <span *ngIf="missingElement && (matchingJob?.jobs?.availability < userInfo?.availability)">
                          <i class="fa fa-times-circle text-danger small"></i>
                          {{(matchingJob?.jobs?.availability || matchingJob?.jobs?.availability == 0) ?
                            (matchingJob?.jobs?.availability == 0 ? 'Immediate' : matchingJob?.jobs?.availability
                            +
                            ' Days') : '--'}}
                        </span>


                      </li>
                      <li class="list-group-item">
                        <span *ngIf="matchedElement && (matchingJob?.jobs?.work_authorization == userInfo?.work_authorization)">
                          <i class="fa fa-check-circle text-green small"></i>
                          {{(matchingJob?.jobs?.work_authorization || matchingJob?.jobs?.work_authorization ==
                            0) ? (matchingJob?.jobs?.work_authorization == 0 ? ("postJob.shouldBeACitizenPr" | translate) : ("postJob.shouldBeHavingAWorkPermit" | translate)) : '--'}}
                        </span>
                        <span *ngIf="missingElement && (matchingJob?.jobs?.work_authorization != userInfo?.work_authorization)">
                          <i class="fa fa-times-circle text-danger small"></i>
                          {{(matchingJob?.jobs?.work_authorization || matchingJob?.jobs?.work_authorization ==
                            0) ? (matchingJob?.jobs?.work_authorization == 0 ? ("postJob.shouldBeACitizenPr" | translate) : ("postJob.shouldBeHavingAWorkPermit" | translate)) : '--'}}
                          <!-- {{(matchingJob?.jobs?.work_authorization || matchingJob?.jobs?.work_authorization ==
                            0)
                            ? (matchingJob?.jobs?.work_authorization == 0 ? ("postYourResume.iHaveWorkAuthorization" |
                            translate) : ("postYourResume.iNeedVisaAponsorship" | translate)) : '--'}} -->
                        </span>
                      </li>
                      <li class="list-group-item">
                        <span *ngIf="matchedElement && (matchingJob?.jobs?.travel_opportunity >= userInfo?.travel)">
                          <i class="fa fa-check-circle text-green small"></i>
                          {{(matchingJob?.jobs?.travel_opportunity || matchingJob?.jobs?.travel_opportunity == 0) ?
                            matchingJob?.jobs?.travel_opportunity == 0 ? 'No' : matchingJob?.jobs?.travel_opportunity + '%' : '--'}}
                        </span>
                        <span *ngIf="missingElement && (matchingJob?.jobs?.travel_opportunity < userInfo?.travel)">
                        <i class="fa fa-times-circle text-danger small"></i>
                        {{(matchingJob?.jobs?.travel_opportunity || matchingJob?.jobs?.travel_opportunity == 0) ?
                          matchingJob?.jobs?.travel_opportunity == 0 ? 'No' : matchingJob?.jobs?.travel_opportunity + '%' : '--'}}
                        </span>
                      </li>
                      <!-- <li class="list-group-item"><span class="matchTxt"><i class="far fa-check-circle text-green small"></i> Yes </span></li> -->
                    </ul>

                    <!-- <button
                    type="button" class="btn btn-sm"
                     (click)="onToggleResumeSelectModal(true, matchingJob?.jobs)">
                      <i class="fas fa-check"></i>
                      {{'Apply Now'}}
                   </button> -->
                    <button type="button" (click)="onToggleResumeSelectModal(true, matchingJob?.jobs)" class="btn btn-outline-green ml-auto" data-toggle="modal" data-target="#applyJob" style="position: absolute;bottom: 15px; right: 15px;"> <i class="fas fa-check"></i> Apply</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6" *ngIf="isMultipleMatches && !utilsHelperService.isEmptyObj(matchingJobNew?.profile)">
                <div class="row info-box">
                  <!--Header Sec-->
                  <div class="col-lg-12">
                    <div class="card profile-card">
                      <div class="d-flex">
                        <div class="pc-info">
                          <a [routerLink]="[ '/user/candidate-job-view', matchingJob?.jobs?.id ]" class="text-capitalize" href="javascript:;">
                            <h5>{{matchingJob?.jobs?.title}} <small></small></h5>
                          </a>
                          <h6 class="mb-0 text-capitalize">
                            {{matchingJob?.jobs?.city ? matchingJob?.jobs?.city : ''}}
                            {{matchingJob?.jobs?.state ? ', ' + matchingJob?.jobs?.state : ''}}
                            <span class="text-uppercase">
                              {{matchingJob?.jobs?.country ? ', ' + matchingJob?.jobs?.country : ''}}
                            </span>
                          </h6>
                          <form class="form-inline">
                            <a href="javascript:;" class="mr-3" data-toggle="modal" data-target="#matchpostModal">
                              <small><i class="fab fa-buffer"></i> View Other Matches</small>
                            </a>
                          </form>
                        </div>
                      </div>
                    </div>

                    <div class="matchs-info">
                      <button (click)="onShowMatches()" class="matchBtn btn btn-sm btn-light"><img src="assets/images/matchs-icon.png" width="16px"> Matches </button>
                      <button (click)="onShowMissing()" class="missBtn btn btn-sm btn-light"><img src="assets/images/missing-icon.png" width="15px" class="ml-2"> Missing </button>
                      <button (click)="onShowMore()" class="moreBtn btn btn-sm btn-light"><img src="assets/images/info-icon.png"  width="16px">More Skills </button>
                      <button (click)="onReset()" class="btn btn-sm btn-light ml-1">
                      <i class="fas fa-sync"></i>
                      </button>
                    </div>
                  </div>

                  <!--Body Sec-->
                  <div class="col-lg-12 info mt-2">
                    <div class="score"
                    [ngClass]="{'score-txt-green': matchingJob?.score >= 5, 'score-txt-orange': (matchingJob?.score < 5 && matchingJob?.score > 0), 'score-txt-red': (matchingJob?.score == 0)}">
                      SCORE <span>{{matchingJob?.score ? matchingJob?.score :
                        0}}/10</span>
                    </div>
                    <div class="col-lg-12 mt-1">
                      <h6 class="font-weight-bold">&nbsp;</h6>
                    </div>
                    <!-- <div class="col-lg-12 mt-2">
                      <h6 class="font-weight-bold">&nbsp;</h6>
                    </div> -->
                    <ul class="list-group">
                      <li class="list-group-item">
                        <span *ngIf="matchedElement && (matchingJob?.jobs?.experience <= userInfo?.experience)">
                          <i class="far fa-check-circle text-green small"></i>
                          {{matchingJob?.jobs?.experience ? matchingJob?.jobs?.experience + ' Years' : '--'}}
                        </span>
                        <span  *ngIf="missingElement && (matchingJob?.jobs?.experience > userInfo?.experience)">
                          <i class="far fa-times-circle text-danger small"></i>
                          {{matchingJob?.jobs?.experience ? matchingJob?.jobs?.experience + ' Years' : '--'}}
                        </span>
                      </li>
                      <li class="list-group-item">
                        <span *ngIf="matchedElement && (matchingJob?.jobs?.sap_experience <= userInfo?.sap_experience)">
                          <i class="far fa-check-circle text-green small"></i>
                          {{matchingJob?.jobs?.sap_experience ? matchingJob?.jobs?.sap_experience + ' Years' :'--'}}
                        </span>
                        <span *ngIf="missingElement && (matchingJob?.jobs?.sap_experience > userInfo?.sap_experience)">
                          <i class="far fa-times-circle text-danger small"></i>
                        </span>
                      </li>
                      <li class="list-group-item">
                        <ng-container *ngFor="let item of matchingJob?.jobs?.domain; let first = first;">
                          <span class="matchTxt text-capitalize" *ngIf="matchedElement && onChangeStringNumber('domains_worked', 'domain', item, 'check').type == 'check'">
                            <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                            {{sharedService.onFindDomainFromSingleID(item)?.name}}
                          </span>
                        </ng-container>
                        <!-- <ng-container *ngFor="let item of onChangeValue(matchingJob?.jobs?.domain, userInfo?.domains_worked); let first = first;">
                          <span class="matchTxt text-capitalize" *ngIf="moreElement && onChangeStringNumber('domains_worked', 'domain', item, 'check').type == 'info'">
                            <i  class="fa fa-info-circle text-blue small" [ngClass]="{'ml-2': !first}"></i>
                            {{sharedService.onFindDomainFromSingleID(item)?.name}}
                          </span>
                        </ng-container> -->
                        <ng-container  *ngFor="let item of userInfo?.domains_worked; let first = first;">
                          <span class="matchTxt text-capitalize" *ngIf="missingElement && onChangeStringNumber('domains_worked', 'domain', item, 'close').type == 'close'">
                            <i  class="far fa-times-circle text-danger small" [ngClass]="{'ml-2': !first}"></i>
                            {{sharedService.onFindDomainFromSingleID(item)?.name}}
                          </span>
                        </ng-container>
                      </li>
                     <li class="list-group-item handsExp text-uppercase">
                      <ng-container *ngIf="matchingJob?.jobs?.hands_on_experience?.length; else elseHandsTemplate">
                        <ng-container *ngFor="let item of matchingJob?.jobs?.hands_on_experience; let i = index; let first = first;">
                          <div class="text-center border-right pr-3"
                            *ngIf="matchedElement && onChangeObj('hands_on_experience', 'hands_on_experience', item, 'check', 'skill_id').type == 'check'">
                              {{utilsHelperService.onSplitTag(item.skill_name)}}
                              <br>
                            <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                            ({{item?.experience + ' ' + item?.exp_type?.charAt(0)}})
                          </div>
                        </ng-container>

                        <!-- <ng-container
                          *ngFor="let item of onChangeValue(matchingJob?.jobs?.hands_on_experience, userInfo?.hands_on_experience); let i = index; let first = first;">
                          <div class="text-center border-right pr-3"
                            *ngIf="moreElement && onChangeObj('hands_on_experience', 'hands_on_experience', item, 'close', 'skill_id').type == 'close'">
                              {{utilsHelperService.onSplitTag(item.skill_name)}}
                              <br>
                            <i class="fa fa-info-circle text-blue" [ngClass]="{'ml-2': !first}"></i>
                            ({{item?.experience + ' ' + item?.exp_type?.charAt(0)}})
                          </div>
                        </ng-container> -->

                        <ng-container *ngFor="let item of userInfo?.hands_on_experience; let i = index; let first = first;">
                          <div class="text-center border-right pr-3"
                            *ngIf="missingElement && onChangeObj('hands_on_experience', 'hands_on_experience', item, 'info', 'skill_id').type == 'info'">
                              {{utilsHelperService.onSplitTag(item.skill_name)}}
                              <br>
                            <i class="far fa-times-circle text-danger small" [ngClass]="{'ml-2': !first}"></i>
                            ({{item?.experience + ' ' + item?.exp_type?.charAt(0)}})
                          </div>
                        </ng-container>
                      </ng-container>
                      <ng-template #elseHandsTemplate>
                        <p>--</p>
                      </ng-template>
                     </li>
                    </ul>
                  </div>

                  <div class="col-lg-12 border-top pt-3">	</div>
                  <div class="col-lg-12 info">
                    <ul class="list-group">
                      <li class="list-group-item  text-uppercase">
                        <ng-container *ngIf="matchingJob?.jobs?.skills?.length; else elseSkillsTemplate">
                          <ng-container *ngFor="let item of utilsHelperService.differenceByPropValArray(matchingJob?.jobs?.skills, matchingJob?.jobs?.hands_on_experience, 'skill_id'); let first = first;">
                            <span
                              *ngIf="matchedElement && onChangeStringNumber('skills', 'skills', item, 'check').type == 'check'">
                              <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                              {{utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item)?.tag)}}
                            </span>
                          </ng-container>

                          <!-- <ng-container
                            *ngFor="let item of onChangeValue(matchingJob?.jobs?.skills, userInfo?.skills); let first = first;">
                            <span
                              *ngIf="moreElement && onChangeStringNumber('skills', 'skills', item, 'close').type == 'close'">
                              <i class="fa fa-info-circle text-blue" [ngClass]="{'ml-2': !first}"></i>
                              {{utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item)?.tag)}}

                            </span>
                          </ng-container> -->

                          <ng-container *ngFor="let item of utilsHelperService.differenceByPropValArray(userInfo?.skills, userInfo?.hands_on_experience, 'skill_id'); let first = first;">
                            <span
                              *ngIf="missingElement && onChangeStringNumber('skills', 'skills', item, 'info').type == 'info'">
                              <i class="far fa-times-circle text-danger small" [ngClass]="{'ml-2': !first}"></i>
                              {{utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item)?.tag)}}

                            </span>
                          </ng-container>
                        </ng-container>
                        <ng-template #elseSkillsTemplate>
                          <p>--</p>
                        </ng-template>
                      </li>
                      <li class="list-group-item">
                        <ng-container *ngFor="let item of matchingJob?.jobs?.programming_skills; let first = first; let i = index">
                          <span
                            *ngIf="matchedElement && onChangeStringNumber('programming_skills', 'programming_skills', item, 'check', true).type == 'check'">
                            <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': i != 1}"></i>
                            {{item}}
                          </span>
                        </ng-container>

                        <!-- <ng-container
                          *ngFor="let item of onChangeValue(matchingJob?.jobs?.programming_skills, userInfo?.programming_skills); let i = index; let first = first;">
                          <span
                            *ngIf="moreElement && onChangeStringNumber('programming_skills', 'programming_skills', item, 'close', true).type == 'close'">
                            <i class="fa fa-info-circle text-blue" [ngClass]="{'ml-2': i != 1}"></i>
                            {{item}}
                          </span>
                        </ng-container> -->

                        <ng-container *ngFor="let item of userInfo?.programming_skills; let i = index; let first = first;">
                          <span
                            *ngIf="missingElement && onChangeStringNumber('programming_skills', 'programming_skills', item, 'info', true).type == 'info'">
                            <i class="far fa-times-circle text-danger small" [ngClass]="{'ml-2': i != 1}"></i>
                            {{item}}
                          </span>
                        </ng-container>
                      </li>
                      <li class="list-group-item">
                        <ng-container *ngFor="let item of matchingJob?.jobs?.optinal_skills; let i = index; let first = first;">
                          <span
                            *ngIf="matchedElement && onChangeStringNumber('other_skills', 'optinal_skills', item, 'check', true).type == 'check'">
                            <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': i != 1}"></i>
                            {{item}}
                          </span>
                        </ng-container>

                        <!-- <ng-container
                          *ngFor="let item of onChangeValue(matchingJob?.jobs?.optinal_skills, userInfo?.other_skills); let i = index; let first = first;">
                          <span
                            *ngIf="moreElement && onChangeStringNumber('other_skills', 'optinal_skills', item, 'close', true).type == 'close'">
                            <i class="fa fa-info-circle text-blue" [ngClass]="{'ml-2': i != 1}"></i>
                            {{item}}
                          </span>
                        </ng-container> -->

                        <ng-container *ngFor="let item of userInfo?.other_skills; let i = index; let first = first;">
                          <span
                            *ngIf="missingElement && onChangeStringNumber('other_skills', 'optinal_skills', item, 'info', true).type == 'info'">
                            <i class="far fa-times-circle text-danger small" [ngClass]="{'ml-2': i != 1}"></i>
                            {{item}}
                          </span>
                        </ng-container>
                       </li>
                      <li class="list-group-item">
                        <ng-container *ngFor="let item of matchingJob?.jobs?.certification; let first = first;">
                          <span
                            *ngIf="matchedElement && onChangeStringNumber('certification', 'certification', item, 'check', true).type == 'check'">
                            <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                            {{item}}
                          </span>
                        </ng-container>

                        <!-- <ng-container
                          *ngFor="let item of onChangeValue(matchingJob?.jobs?.certification, userInfo?.certification); let first = first;">
                          <span
                            *ngIf="moreElement && onChangeStringNumber('certification', 'certification', item, 'close', true).type == 'close'">
                            <i class="fa fa-info-circle text-blue" [ngClass]="{'ml-2': !first}"></i>
                            {{item}}
                          </span>
                        </ng-container> -->

                        <ng-container *ngFor="let item of userInfo?.certification; let first = first;">
                          <span
                            *ngIf="missingElement && onChangeStringNumber('certification', 'certification', item, 'info', true).type == 'info'">
                            <i class="fa fa-times-circle text-danger small" [ngClass]="{'ml-2': !first}"></i>
                            {{item}}
                          </span>
                        </ng-container>
                       </li>
                       <li class="list-group-item">
                         <span *ngIf="matchedElement && (matchingJob?.jobs?.end_to_end_implementation <= userInfo?.end_to_end_implementation)">
                          <i class="fa fa-check-circle text-green small"></i>
                          {{(matchingJob?.jobs?.end_to_end_implementation || matchingJob?.jobs?.end_to_end_implementation == 0) ?
                            (matchingJob?.jobs?.end_to_end_implementation) : '--'}}
                         </span>
                         <span *ngIf="missingElement && (matchingJob?.jobs?.end_to_end_implementation > userInfo?.end_to_end_implementation)">
                          <i class="fa fa-times-circle text-danger small"></i>
                          {{(matchingJob?.jobs?.end_to_end_implementation || matchingJob?.jobs?.end_to_end_implementation == 0) ?
                            (matchingJob?.jobs?.end_to_end_implementation) : '--'}}
                         </span>
                       </li>
                    </ul>
                  </div>

                  <div class="col-lg-12 border-top pt-3">	</div>
                  <div class="col-lg-12 info">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <span *ngIf="matchedElement && (matchingJob?.jobs?.type == userInfo?.job_type)">
                          <i class="fa fa-check-circle text-green small"></i>
                          {{(matchingJob?.jobs?.type || matchingJob?.jobs?.type == 0) ?
                            sharedService.onGetJobType(matchingJob?.jobs?.type) : '--'}}
                        </span>
                        <span *ngIf="missingElement && (matchingJob?.jobs?.type != userInfo?.job_type)">
                          <i class="fa fa-times-circle text-danger small"></i>
                          {{(matchingJob?.jobs?.type || matchingJob?.jobs?.type == 0) ?
                            sharedService.onGetJobType(matchingJob?.jobs?.type) : '--'}}
                        </span>

                      </li>
                      <li class="list-group-item">
                        <span *ngIf="matchedElement && (matchingJob?.jobs?.remote == userInfo?.remote_only)">
                          <i class="fa fa-check-circle text-green small"></i>
                          {{utilsHelperService.onGetYesOrNoValue(matchingJob?.jobs?.remote)}}
                        </span>
                        <span *ngIf="missingElement && (matchingJob?.jobs?.remote != userInfo?.remote_only)">
                          <i class="fa fa-times-circle text-danger small"></i>
                          {{utilsHelperService.onGetYesOrNoValue(matchingJob?.jobs?.remote)}}
                        </span>
                       </li>
                      <li class="list-group-item">
                        <span *ngIf="matchedElement && (matchingJob?.jobs?.availability >= userInfo?.availability)">
                          <i class="fa fa-check-circle text-green small"></i>
                          {{(matchingJob?.jobs?.availability || matchingJob?.jobs?.availability == 0) ?
                            (matchingJob?.jobs?.availability == 0 ? 'Immediate' : matchingJob?.jobs?.availability
                            +
                            ' Days') : '--'}}
                        </span>
                        <span *ngIf="missingElement && (matchingJob?.jobs?.availability < userInfo?.availability)">
                          <i class="fa fa-times-circle text-danger small"></i>
                          {{(matchingJob?.jobs?.availability || matchingJob?.jobs?.availability == 0) ?
                            (matchingJob?.jobs?.availability == 0 ? 'Immediate' : matchingJob?.jobs?.availability
                            +
                            ' Days') : '--'}}
                        </span>


                      </li>
                      <li class="list-group-item">
                        <span *ngIf="matchedElement && (matchingJob?.jobs?.work_authorization == userInfo?.work_authorization)">
                          <i class="fa fa-check-circle text-green small"></i>
                          {{(matchingJob?.jobs?.work_authorization || matchingJob?.jobs?.work_authorization ==
                            0) ? (matchingJob?.jobs?.work_authorization == 0 ? ("postJob.shouldBeACitizenPr" | translate) : ("postJob.shouldBeHavingAWorkPermit" | translate)) : '--'}}
                        </span>
                        <span *ngIf="missingElement && (matchingJob?.jobs?.work_authorization != userInfo?.work_authorization)">
                          <i class="fa fa-times-circle text-danger small"></i>
                          {{(matchingJob?.jobs?.work_authorization || matchingJob?.jobs?.work_authorization ==
                            0) ? (matchingJob?.jobs?.work_authorization == 0 ? ("postJob.shouldBeACitizenPr" | translate) : ("postJob.shouldBeHavingAWorkPermit" | translate)) : '--'}}
                          <!-- {{(matchingJob?.jobs?.work_authorization || matchingJob?.jobs?.work_authorization ==
                            0)
                            ? (matchingJob?.jobs?.work_authorization == 0 ? ("postYourResume.iHaveWorkAuthorization" |
                            translate) : ("postYourResume.iNeedVisaAponsorship" | translate)) : '--'}} -->
                        </span>
                      </li>
                      <li class="list-group-item">
                        <span *ngIf="matchedElement && (matchingJob?.jobs?.travel_opportunity >= userInfo?.travel)">
                          <i class="fa fa-check-circle text-green small"></i>
                          {{(matchingJob?.jobs?.travel_opportunity || matchingJob?.jobs?.travel_opportunity == 0) ?
                            matchingJob?.jobs?.travel_opportunity == 0 ? 'No' : matchingJob?.jobs?.travel_opportunity + '%' : '--'}}
                        </span>
                        <span *ngIf="missingElement && (matchingJob?.jobs?.travel_opportunity < userInfo?.travel)">
                        <i class="fa fa-times-circle text-danger small"></i>
                        {{(matchingJob?.jobs?.travel_opportunity || matchingJob?.jobs?.travel_opportunity == 0) ?
                          matchingJob?.jobs?.travel_opportunity == 0 ? 'No' : matchingJob?.jobs?.travel_opportunity + '%' : '--'}}
                        </span>
                      </li>
                      <!-- <li class="list-group-item"><span class="matchTxt"><i class="far fa-check-circle text-green small"></i> Yes </span></li> -->
                    </ul>

                    <!-- <button
                    type="button" class="btn btn-sm"
                     (click)="onToggleResumeSelectModal(true, matchingJob?.jobs)">
                      <i class="fas fa-check"></i>
                      {{'Apply Now'}}
                   </button> -->
                    <button type="button" (click)="onToggleResumeSelectModal(true, matchingJob?.jobs)" class="btn btn-outline-green ml-auto" data-toggle="modal" data-target="#applyJob" style="position: absolute;bottom: 15px; right: 15px;"> <i class="fas fa-check"></i> Apply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--//Profile1-->
          </div>
          <!--PrevNext-->
          <a style="top:-45px;position: absolute;right: 85px;" (click)="onViewOtherMatches()" href="javascript:;" class="btn btn-sm btn-primary mr-3">
            <small><i class="fab fa-buffer"></i> View All Jobs</small>
          </a>
          <div class="matchCount" style="top:-45px;">{{page}}/{{matchingJob?.meta?.count}}</div>
          <a (click)="onChangeUser('prev')" class="carousel-control-prev" href="#carouselProfile" role="button"
            data-slide="prev" style="top:-45px;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a (click)="onChangeUser('next')" class="carousel-control-next" href="#carouselProfile" role="button"
            data-slide="next" style="top:-45px;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<app-job-description
[toggleJDModal]="isOpenedJDModal"
*ngIf="isOpenedJDModal"
(onEvent)="onToggleJDModal($event)">
</app-job-description>

<app-resume-select
[toggleResumeSelectModal]="isOpenedResumeSelectModal"
[currentJobDetails]="matchingJob?.jobs"
*ngIf="isOpenedResumeSelectModal"
(onEvent)="onToggleResumeSelectModal($event)">
</app-resume-select>
