<!-- Sub Header Section -->
<section class="sub-header">
  <div class="container container-big">
    <div class="row">
      <div class="col-lg-5">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Candidate Matches</li>
        </ol>
      </div>
      <div class="col-lg-7 clearfix">
      </div>
    </div>
  </div>
</section>
  <!-- //Sub Header Section -->
<section class="my-5">
  <div class="container container-big">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <app-contact-card
              [userInfo]="userInfo"
              [isEdit]="false"
              [isContactIcon]="false"
              [isResume]="true"
              >
              </app-contact-card>
          </div>
        </div>

        <app-shared-user-profile [fieldsExclude]="{clients_worked: true, job_role: true, willing_to_relocate: true}" [userInfo]="userInfo"></app-shared-user-profile>
      </div>
      <div class="col-lg-6">
        <div id="carouselProfile" class="carousel slide" data-interval="false" data-ride="carousel">
          <div class="carousel-inner">
          <!--Profile1-->
          <div class="carousel-item active">
            <div class="row info-box">
              <!--Header Sec-->
              <div class="col-lg-12">
                <div class="card profile-card">
                  <div class="d-flex">
                    <div class="pc-info">
                      <a [routerLink]="[ '/user/candidate-job-view', matchingJob?.jobs?.id ]" class="text-capitalize" href="javascript:;">
                        <h5>{{matchingJob?.jobs?.title}} <small></small></h5>
                      </a>
                      <h6 class="mb-0 text-capitalize">
                        {{matchingJob?.jobs?.city ? matchingJob?.jobs?.city : ''}}
                        {{matchingJob?.jobs?.state ? ', ' + matchingJob?.jobs?.state : ''}}
                        {{matchingJob?.jobs?.country ? ', ' + matchingJob?.jobs?.country : ''}}
                      </h6>
                      <form class="form-inline">
                        <a href="#" class="mr-3" data-toggle="modal" data-target="#matchpostModal">
                          <small><i class="fab fa-buffer"></i> View Other Matches</small>
                        </a>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="matchs-info">
                  <button class="matchBtn btn btn-sm btn-light"><img src="assets/images/matchs-icon.png" width="16px"> Matches </button>
                  <button class="missBtn btn btn-sm btn-light"><img src="assets/images/missing-icon.png" width="15px" class="ml-2"> Missing </button>
                  <button class="moreBtn btn btn-sm btn-light"><img src="assets/images/info-icon.png"  width="16px">More Skills </button>
                </div>
              </div>

              <!--Body Sec-->
              <div class="col-lg-12 info mt-3">
                <div class="score"
                [ngClass]="{'score-txt-green': matchingJob?.score >= 5, 'score-txt-orange': (matchingJob?.score < 5 && matchingJob?.score > 0), 'score-txt-red': (matchingJob?.score == 0)}">
                  SCORE <span>{{matchingJob?.score ? matchingJob?.score :
                    0}}/10</span>
                </div>
                <div class="col-lg-12 mt-3">
                  <h6 class="font-weight-bold">&nbsp;</h6>
                </div>
                <!-- <div class="col-lg-12 mt-2">
                  <h6 class="font-weight-bold">&nbsp;</h6>
                </div> -->
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="matchTxt">
                      <i *ngIf="matchingJob?.jobs?.experience >= userInfo?.experience" class="far fa-check-circle text-green small"></i>
                      <i *ngIf="matchingJob?.jobs?.experience < userInfo?.experience" class="far fa-times-circle text-danger small"></i>
                      {{matchingJob?.jobs?.experience ? matchingJob?.jobs?.experience + ' Years' : '--'}}
                    </span>
                  </li>
                  <li class="list-group-item">
                    <span class="matchTxt">
                      <i class="far fa-check-circle text-green small" *ngIf="matchingJob?.jobs?.sap_experience >= userInfo?.sap_experience"></i>
                      <i class="far fa-check-circle text-green small" *ngIf="matchingJob?.jobs?.experience < userInfo?.sap_experience"></i>
                      {{matchingJob?.jobs?.sap_experience ? matchingJob?.jobs?.sap_experience + ' Years' :'--'}}
                    </span>
                  </li>
                  <li class="list-group-item">
                    <ng-container *ngFor="let item of matchingJob?.jobs?.domain; let first = first;">
                      <span class="matchTxt text-capitalize">
                        <i *ngIf="onChangeStringNumber('domains_worked', 'domain', item, 'check').type == 'check'" class="far fa-check-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                        {{sharedService.onFindDomainFromSingleID(item)?.name}}
                      </span>
                    </ng-container>
                    <ng-container *ngFor="let item of onChangeValue(matchingJob?.jobs?.domains_worked, userInfo?.domain); let first = first;">
                      <span class="matchTxt text-capitalize">
                        <i *ngIf="onChangeStringNumber('domains_worked', 'domain', item, 'check').type == 'info'" class="far fa-info-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                        {{sharedService.onFindDomainFromSingleID(item)?.name}}
                      </span>
                    </ng-container>
                    <ng-container  *ngFor="let item of userInfo?.domain; let first = first;">
                      <span class="matchTxt text-capitalize">
                        <i *ngIf="onChangeStringNumber('domains_worked', 'domain', item, 'check').type == 'close'" class="far fa-times-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                        {{sharedService.onFindDomainFromSingleID(item)?.name}}
                      </span>
                    </ng-container>
                  </li>
                 <li class="list-group-item handsExp text-uppercase">
                  <ng-container *ngIf="matchingJob?.jobs?.hands_on_experience?.length; else elseHandsTemplate">
                    <ng-container *ngFor="let item of matchingJob?.jobs?.hands_on_experience; let i = index; let first = first;">
                      <div class="text-center border-right pr-3"
                        *ngIf="onChangeObj('hands_on_experience', 'hands_on_experience', item, 'check', 'skill_id').type == 'check'">
                          {{utilsHelperService.onSplitTag(item.skill_name)}}
                          <br>
                        <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                        ({{item?.experience + ' ' + item?.exp_type?.charAt(0)}})
                      </div>
                    </ng-container>

                    <ng-container
                      *ngFor="let item of onChangeValue(matchingJob?.jobs?.hands_on_experience, userInfo?.hands_on_experience); let i = index; let first = first;">
                      <div class="text-center border-right pr-3"
                        *ngIf="onChangeObj('hands_on_experience', 'hands_on_experience', item, 'close', 'skill_id').type == 'close'">
                          {{utilsHelperService.onSplitTag(item.skill_name)}}
                          <br>
                        <i class="far fa-info-circle text-blue small" [ngClass]="{'ml-2': !first}"></i>
                        ({{item?.experience + ' ' + item?.exp_type?.charAt(0)}})
                      </div>
                    </ng-container>

                    <ng-container *ngFor="let item of userInfo?.hands_on_experience; let i = index; let first = first;">
                      <div class="text-center border-right pr-3"
                        *ngIf="onChangeObj('hands_on_experience', 'hands_on_experience', item, 'info', 'skill_id').type == 'info'">
                          {{utilsHelperService.onSplitTag(item.skill_name)}}
                          <br>
                        <i class="far fa-times-circle text-danger small" [ngClass]="{'ml-2': !first}"></i>
                        ({{item?.experience + ' ' + item?.exp_type?.charAt(0)}})
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-template #elseHandsTemplate>
                    <p>--</p>
                  </ng-template>
                 </li>
                </ul>
              </div>

              <div class="col-lg-12 border-top pt-3">	</div>
              <div class="col-lg-12 info">
                <ul class="list-group">
                  <li class="list-group-item  text-uppercase">
                    <ng-container *ngIf="matchingJob?.jobs?.skills?.length; else elseSkillsTemplate">
                      <ng-container *ngFor="let item of utilsHelperService.differenceByPropValArray(matchingJob?.jobs?.skills, matchingJob?.jobs?.hands_on_experience, 'skill_id'); let first = first;">
                        <span
                          *ngIf="onChangeStringNumber('skills', 'skills', item, 'check').type == 'check'">
                          <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                          {{utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item)?.tag)}}

                        </span>
                      </ng-container>

                      <ng-container
                        *ngFor="let item of onChangeValue(matchingJob?.jobs?.skills, userInfo?.skills); let first = first;">
                        <span
                          *ngIf="onChangeStringNumber('skills', 'skills', item, 'close').type == 'close'">
                          <i class="far fa-info-circle text-blue small" [ngClass]="{'ml-2': !first}"></i>
                          {{utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item)?.tag)}}

                        </span>
                      </ng-container>

                      <ng-container *ngFor="let item of utilsHelperService.differenceByPropValArray(userInfo?.skills, userInfo?.hands_on_experience, 'skill_id'); let first = first;">
                        <span
                          *ngIf="onChangeStringNumber('skills', 'skills', item, 'info').type == 'info'">
                          <i class="far fa-times-circle text-danger small" [ngClass]="{'ml-2': !first}"></i>
                          {{utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item)?.tag)}}

                        </span>
                      </ng-container>
                    </ng-container>
                    <ng-template #elseSkillsTemplate>
                      <p>--</p>
                    </ng-template>
                  </li>
                  <li class="list-group-item">
                    <ng-container *ngFor="let item of matchingJob?.jobs?.programming_skills; let first = first;">
                      <span
                        *ngIf="onChangeStringNumber('programming_skills', 'programming_skills', item, 'check', true).type == 'check'">
                        <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                        {{item}}
                      </span>
                    </ng-container>

                    <ng-container
                      *ngFor="let item of onChangeValue(matchingJob?.jobs?.programming_skills, userInfo?.programming_skills); let first = first;">
                      <span
                        *ngIf="onChangeStringNumber('programming_skills', 'programming_skills', item, 'close', true).type == 'close'">
                        <i class="far fa-times-info text-blue small" [ngClass]="{'ml-2': !first}"></i>
                        {{item}}
                      </span>
                    </ng-container>

                    <ng-container *ngFor="let item of userInfo?.programming_skills; let first = first;">
                      <span
                        *ngIf="onChangeStringNumber('programming_skills', 'programming_skills', item, 'info', true).type == 'info'">
                        <i class="far fa-times-circle text-danger small" [ngClass]="{'ml-2': !first}"></i>
                        {{item}}
                      </span>
                    </ng-container>
                  </li>
                  <li class="list-group-item">
                    <ng-container *ngFor="let item of matchingJob?.jobs?.optinal_skills; let first = first;">
                      <span
                        *ngIf="onChangeStringNumber('other_skills', 'optinal_skills', item, 'check', true).type == 'check'">
                        <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                        {{item}}
                      </span>
                    </ng-container>

                    <ng-container
                      *ngFor="let item of onChangeValue(matchingJob?.jobs?.optinal_skills, userInfo?.other_skills); let first = first;">
                      <span
                        *ngIf="onChangeStringNumber('other_skills', 'optinal_skills', item, 'close', true).type == 'close'">
                        <i class="far fa-info-circle text-blue small" [ngClass]="{'ml-2': !first}"></i>
                        {{item}}
                      </span>
                    </ng-container>

                    <ng-container *ngFor="let item of userInfo?.other_skills; let first = first;">
                      <span
                        *ngIf="onChangeStringNumber('other_skills', 'optinal_skills', item, 'info', true).type == 'info'">
                        <i class="far fa-times-circle text-danger small" [ngClass]="{'ml-2': !first}"></i>
                        {{item}}
                      </span>
                    </ng-container>
                   </li>
                  <li class="list-group-item">
                    <ng-container *ngFor="let item of matchingJob?.jobs?.certification; let first = first;">
                      <span
                        *ngIf="onChangeStringNumber('certification', 'certification', item, 'check', true).type == 'check'">
                        <i class="far fa-check-circle text-green small" [ngClass]="{'ml-2': !first}"></i>
                        {{item}}
                      </span>
                    </ng-container>

                    <ng-container
                      *ngFor="let item of onChangeValue(matchingJob?.jobs?.certification, userInfo?.certification); let first = first;">
                      <span
                        *ngIf="onChangeStringNumber('certification', 'certification', item, 'close', true).type == 'close'">
                        <i class="fa fa-info-circle text-blue smal" [ngClass]="{'ml-2': !first}"></i>
                        {{item}}
                      </span>
                    </ng-container>

                    <ng-container *ngFor="let item of userInfo?.certification; let first = first;">
                      <span
                        *ngIf="onChangeStringNumber('certification', 'certification', item, 'info', true).type == 'info'">
                        <i class="fa fa-times-circle text-danger small" [ngClass]="{'ml-2': !first}"></i>
                        {{item}}
                      </span>
                    </ng-container>
                   </li>
                   <li class="list-group-item">
                     <span>
                      <i *ngIf="matchingJob?.jobs?.end_to_end_implementation >= userInfo?.end_to_end_implementation" class="fa fa-check-circle text-green small"></i>
                      <i *ngIf="matchingJob?.jobs?.end_to_end_implementation < userInfo?.end_to_end_implementation" class="fa fa-times-circle text-danger small"></i>
                      {{(matchingJob?.jobs?.end_to_end_implementation || matchingJob?.jobs?.end_to_end_implementation == 0) ?
                        (matchingJob?.jobs?.end_to_end_implementation) : '--'}}
                     </span>
                   </li>
                </ul>
              </div>

              <div class="col-lg-12 border-top pt-3">	</div>
              <div class="col-lg-12 info">
                <ul class="list-group">
                  <li class="list-group-item">
                    <i *ngIf="matchingJob?.jobs?.type == userInfo?.job_type" class="fa fa-check-circle text-green small"></i>
                    <i *ngIf="matchingJob?.jobs?.type != userInfo?.job_type" class="fa fa-times-circle text-danger small"></i>
                    {{(matchingJob?.jobs?.type || matchingJob?.jobs?.type == 0) ?
                      sharedService.onGetJobType(matchingJob?.jobs?.type) : '--'}}
                  </li>
                  <li class="list-group-item">
                    <i *ngIf="matchingJob?.jobs?.remote == userInfo?.remote_only" class="fa fa-check-circle text-green small"></i>
                    <i *ngIf="matchingJob?.jobs?.remote != userInfo?.remote_only" class="fa fa-times-circle text-danger small"></i>
                    {{utilsHelperService.onGetYesOrNoValue(matchingJob?.jobs?.remote)}}
                   </li>
                  <li class="list-group-item">
                    <i *ngIf="matchingJob?.jobs?.availability >= userInfo?.availability" class="fa fa-check-circle text-green small"></i>
                    <i *ngIf="matchingJob?.jobs?.availability < userInfo?.availability" class="fa fa-times-circle text-danger small"></i>
                    {{(matchingJob?.jobs?.availability || matchingJob?.jobs?.availability == 0) ?
                      (matchingJob?.jobs?.availability == 0 ? 'Immediate' : matchingJob?.jobs?.availability
                      +
                      ' Days') : '--'}}
                  </li>
                  <li class="list-group-item">
                    <i *ngIf="matchingJob?.jobs?.work_authorization == userInfo?.work_authorization" class="fa fa-check-circle text-green small"></i>
                    <i *ngIf="matchingJob?.jobs?.work_authorization != userInfo?.work_authorization" class="fa fa-times-circle text-danger small"></i>
                    {{(matchingJob?.jobs?.work_authorization || matchingJob?.jobs?.work_authorization ==
                      0)
                      ? (matchingJob?.jobs?.work_authorization == 0 ? ("postYourResume.iHaveWorkAuthorization" |
                      translate) : ("postYourResume.iNeedVisaAponsorship" | translate)) : '--'}}
                  </li>
                  <li class="list-group-item">
                    <i *ngIf="matchingJob?.jobs?.travel_opportunity >= userInfo?.travel" class="fa fa-check-circle text-green small"></i>
                    <i *ngIf="matchingJob?.jobs?.travel_opportunity < userInfo?.travel" class="fa fa-times-circle text-danger small"></i>
                    {{(matchingJob?.jobs?.travel_opportunity || matchingJob?.jobs?.travel_opportunity == 0) ?
                      matchingJob?.jobs?.travel_opportunity == 0 ? 'No' : matchingJob?.jobs?.travel_opportunity + '%' : '--'}}
                  </li>
                  <!-- <li class="list-group-item"><span class="matchTxt"><i class="far fa-check-circle text-green small"></i> Yes </span></li> -->
                </ul>

                <!-- <button
                [ngClass]="{'applied-btn-green': (matchingJob?.jobs?.is_job_applied  || (currentJobDetails?.id == matchingJob?.jobs?.id && !isOpenedResumeSelectModal)), 'btn-outline-green': !matchingJob?.jobs?.is_job_applied}"
                [disabled]="matchingJob?.jobs?.is_job_applied || (currentJobDetails?.id == matchingJob?.jobs?.id && !isOpenedResumeSelectModal)"
                type="button" class="btn btn-sm"
                 (click)="onToggleResumeSelectModal(true, matchingJob?.jobs)">
                  <i class="fas fa-check"></i>
                  {{(matchingJob?.jobs?.is_job_applied || (currentJobDetails?.id == matchingJob?.jobs?.id && !isOpenedResumeSelectModal)) ? 'Applied' : 'Apply Now'}}
               </button> -->
                <!-- <button type="submit" class="btn btn-outline-green ml-auto" data-toggle="modal" data-target="#applyJob" style="position: absolute;bottom: 15px; right: 15px;"> <i class="fas fa-check"></i> Apply</button> -->
              </div>
            </div>
          </div>
          <!--//Profile1-->
          </div>
          <!--PrevNext-->
          <div class="matchCount" style="top:-45px;">1/10</div>
          <a (click)="onChangeUser('prev')" class="carousel-control-prev" href="#carouselProfile" role="button"
            data-slide="prev" style="top:-45px;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a (click)="onChangeUser('next')" class="carousel-control-next" href="#carouselProfile" role="button"
            data-slide="next" style="top:-45px;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<app-job-description
[toggleJDModal]="isOpenedJDModal"
*ngIf="isOpenedJDModal"
(onEvent)="onToggleJDModal($event)">
</app-job-description>

<app-resume-select
[toggleResumeSelectModal]="isOpenedResumeSelectModal"
[currentJobDetails]="matchingJob?.jobs"
*ngIf="isOpenedResumeSelectModal"
(onEvent)="onToggleResumeSelectModal($event)">
</app-resume-select>
