.job-info-container .profile-card{
  max-height: 100px;
}
.top-pad{
	margin-top: 0rem;
}
.cus-mt {
  margin-top: 2.5rem !important;
}
.btn-fltr {
    color: #212529;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 2px 2px 2px 1px #dfdfdf;
    margin-left: 10px;
    margin-bottom: 14px;
    padding: 4px 8px;
    font-size: 12px;
}
.btn-fltr:hover {

    /*box-shadow: 3px 3px 3px 2px #4caf5057;*/
    color: #000;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.btn-fltr-active {
    background-color: #4caf50;
    border-color: #4caf50;
    color: #ffffff;
}
.job-cards h6 {
    font-weight: 700;
    font-size: 14px;
    color: #6C757D;
    margin-bottom: -0.1px;
}
.isMatchesView{
	padding:0px !important;
}
.btn-outline-green a:hover {
    color: #fff;
    text-decoration: none;
}
.btn-outline-green a {
    color: #11b771;
    text-decoration: none;
}
.isMatchesViewFont{
	font-size:12px !important;
}


