<!-- Sub Header Section -->
<section class="sub-header">
	<div class="container container-big">
		<div class="row">
			<div class="col-lg-5 d-flex align-items-center">
				<button (click)="onRedirectBack();" type="button" class="btn btn-outline-green btn-sm mr-1">
				  <i class="fas fa-arrow-left"></i>
				</button>
				<ol class="breadcrumb">
				  <li class="breadcrumb-item active" aria-current="page">Candidate Matches</li>
				</ol>
			</div>
			<div class="col-lg-7 clearfix">
			</div>
		</div>
	</div>
</section>
  <!-- //Sub Header Section -->
<section class="my-5">
	<div class="container container-big">
		<div class="row">
			<div [ngClass]="(isMultipleMatches === true)?'col-lg-4':'col-lg-6'">
				<div class="row">
					<div class="col-lg-12">
						<app-contact-card
						  [userInfo]="userInfo"
						  [isEdit]="false"
						  [isContactIcon]="false"
						  [isResume]="true"
						  [isMultipleMatches]="isMultipleMatches"
						  [isMatchesView]="false">
						</app-contact-card>
					</div>
				</div>
				<app-shared-user-profile-job-matches [isMultipleMatches]="isMultipleMatches" [fieldsExclude]="{clients_worked: true, job_role: true, willing_to_relocate: true}" [userInfo]="userInfo" [postedJobsDetails]="matchingJob?.jobs"></app-shared-user-profile-job-matches>
		  </div>
		<div [ngClass]="(isMultipleMatches === true)?'col-lg-8':'col-lg-6'">
			<div id="carouselProfile" class="carousel slide job-info-container" data-interval="false" data-ride="carousel">
				<div class="carousel-inner">
					<!--Profile1-->
					<div class="carousel-item active">
						<div class="row">
							<div *ngIf="!utilsHelperService.isEmptyObj(matchingJob?.jobs)" [ngClass]="(isMultipleMatches === true)?'col-lg-6':'col-lg-12'" >
								<div class="row info-box">
								<!--Header Sec-->
									<div class="col-lg-12">
										<div class="card profile-card">
											<div class="d-flex">
												<div class="pc-info">
													<a [routerLink]="[ '/user/candidate-job-view', matchingJob?.jobs?.id ]" class="text-capitalize" href="javascript:;">
														<h5>{{matchingJob?.jobs?.title}} <small></small></h5>
													</a>
													<h6 class="mb-0 text-capitalize">
														{{matchingJob?.jobs?.city ? matchingJob?.jobs?.city : ''}}
														{{matchingJob?.jobs?.state ? ', ' + matchingJob?.jobs?.state : ''}}
														<span class="text-uppercase">
															{{matchingJob?.jobs?.country ? ', ' + matchingJob?.jobs?.country : ''}}
														</span>
													</h6>
													<form class="form-inline">
														<a href="javascript:;" class="mr-3" data-toggle="modal" data-target="#matchpostModal">
														  <small><i class="fab fa-buffer"></i> View Other Matches</small>
														</a>
													</form>
												</div>
												<div class="pc-btn">
													<a class="btn btn-outline-blue btn-sm text-right" href="javascript:;" (click)="onToggleJDModal(true,matchingJob?.jobs?.description)">	
													<i class="fas fa-file-alt"></i> Description</a>
												</div>
											</div>
										</div>
										<div class="matchs-info " [ngClass]="isMultipleMatches ? 'd-none' : ''" >
											<button (click)="onShowMatches($event)" id="matchBtnVal" class="matchBtn btn-sm btn btn-fltr btn-light btn-fltr-active"><img src="assets/images/matchs-icon.png" width="16px"> Matches </button>
											<button (click)="onShowMissing($event)" id="missBtnVal" class="missBtn btn-sm btn btn-fltr btn-light btn-fltr-active"><img src="assets/images/missing-icon.png" width="15px" class="ml-2"> Missing </button>
											<!--<button (click)="onShowMore()" class="moreBtn btn btn-sm btn-light"><img src="assets/images/info-icon.png"  width="16px">More Skills </button>-->
											<button (click)="onReset()" class="btn btn-sm btn-light ml-1">
												<i class="fas fa-sync"></i>
											</button>
										</div>
									</div>
									<!--Body Sec-->
									<div class="col-lg-12 info" [ngClass]="isMultipleMatches ? 'mt-1' : 'mt-1'">
										<div class="score mt-5" [ngClass]="{'score-txt-green': matchingJob?.score >= 5, 'score-txt-orange': (matchingJob?.score < 5 && matchingJob?.score > 0), 'score-txt-red': (matchingJob?.score == 0)}">
											SCORE <span>{{matchingJob?.score ? matchingJob?.score :0}}/10</span>
										</div>
										<app-shared-job-profile-matches [jobInfo]="matchingJob?.jobs"  [isMultipleMatches]="isMultipleMatches" 
										[missingElement]="missingElement" [matchedElement]="matchedElement"
										[moreElement]="moreElement" [userInfo]="userInfo">
										</app-shared-job-profile-matches>
									</div>
									<div class="col-lg-12 info">
										<button type="button" (click)="onToggleResumeSelectModal(true, matchingJob?.jobs)" class="btn btn-outline-green ml-auto" data-toggle="modal" data-target="#applyJob" style="position: absolute;bottom: 15px; right: 15px;"> <i class="fas fa-check"></i> Apply</button>
									</div>
								</div>
							</div>
							<div class="col-lg-6" *ngIf="isMultipleMatches && !utilsHelperService.isEmptyObj(matchingJobNew?.jobs)">
								<div class="row info-box">
									<!--Header Sec-->
									<div class="col-lg-12">
										<div class="card profile-card">
											<div class="d-flex">
												<div class="pc-info">
													<a [routerLink]="[ '/user/candidate-job-view', matchingJobNew?.jobs?.id ]" class="text-capitalize" href="javascript:;">
														<h5>{{matchingJobNew?.jobs?.title}} <small></small></h5>
													</a>
													<h6 class="mb-0 text-capitalize">
														{{matchingJobNew?.jobs?.city ? matchingJobNew?.jobs?.city : ''}}
														{{matchingJobNew?.jobs?.state ? ', ' + matchingJobNew?.jobs?.state : ''}}
														<span class="text-uppercase">
														  {{matchingJobNew?.jobs?.country ? ', ' + matchingJobNew?.jobs?.country : ''}}
														</span>
													</h6>
													<form class="form-inline">
														<a href="javascript:;" class="mr-3" data-toggle="modal" data-target="#matchpostModal">
															<small><i class="fab fa-buffer"></i> View Other Matches</small>
														</a>
													</form>
												</div>
												<div class="pc-btn">
													<a class="btn btn-outline-blue btn-sm text-right" href="javascript:;" (click)="onToggleJDModal(true,matchingJobNew?.jobs?.description)">	
													<i class="fas fa-file-alt"></i> Description</a>
												</div>
											</div>
										</div>
										<div class="matchs-info "  [ngClass]="isMultipleMatches ? 'd-none' : ''" >
										  <button (click)="onShowMatches()" class="matchBtn btn-sm btn btn-fltr btn-light btn-fltr-active"><img src="assets/images/matchs-icon.png" width="16px"> Matches </button>
										  <button (click)="onShowMissing()" class="missBtn btn-sm btn btn-fltr btn-light btn-fltr-active"><img src="assets/images/missing-icon.png" width="15px" class="ml-2"> Missing </button>
										  <!-- <button (click)="onShowMore()" class="moreBtn btn btn-sm btn-light"><img src="assets/images/info-icon.png"  width="16px">More Skills </button> -->
										  <button (click)="onReset()" class="btn btn-sm btn-light ml-1">
										  <i class="fas fa-sync"></i>
										  </button>
										</div>
									</div>
									<!--Body Sec-->
									<div class="col-lg-12 info" [ngClass]="isMultipleMatches ? 'mt-1' : 'mt-1'">
										<div class="score" [ngClass]="{'score-txt-green': matchingJobNew?.score >= 5, 'score-txt-orange': (matchingJobNew?.score < 5 && matchingJobNew?.score > 0), 'score-txt-red': (matchingJobNew?.score == 0)}">
											SCORE <span>{{matchingJobNew?.score ? matchingJobNew?.score : 0}}/10</span>
										</div>
										<app-shared-job-profile-matches [jobInfo]="matchingJobNew?.jobs"  [isMultipleMatches]="isMultipleMatches" 
										[missingElement]="missingElement" [matchedElement]="matchedElement"
										[moreElement]="moreElement" [userInfo]="userInfo">
										</app-shared-job-profile-matches>
									</div>
									<div class="col-lg-12 info">
										<button type="button" (click)="onToggleResumeSelectModal(true, matchingJobNew?.jobs)" class="btn btn-outline-green ml-auto" data-toggle="modal" data-target="#applyJob" style="position: absolute;bottom: 15px; right: 15px;"> <i class="fas fa-check"></i> Apply</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//Profile1-->
				</div>
				<!--PrevNext-->
				<a style="top:-45px;position: absolute;right: 85px;" (click)="!isMultipleMatches && onViewOtherMatches()" href="javascript:;" class="btn btn-sm btn-primary mr-3">
					<small><i class="fab fa-buffer"></i> View All Jobs</small>
				</a>
				<div class="matchCount" style="top:-45px;">{{page}}/{{matchingJob?.meta?.count}}</div>
				<a  *ngIf="page != 1 " (click)="onChangeUser('prev')" class="carousel-control-prev" href="#carouselProfile" role="button"
				data-slide="prev" style="top:-45px;">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a  *ngIf="page != matchingJob?.meta?.count " (click)="onChangeUser('next')" class="carousel-control-next" href="#carouselProfile" role="button"
				data-slide="next" style="top:-45px;">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
	</div>
</section>


<app-job-description
[toggleJDModal]="isOpenedJDModal"
*ngIf="isOpenedJDModal"
[description]="description"
[isRichTextEnabled]="true"
(onEvent)="onToggleJDModal($event)">
</app-job-description>

<app-resume-select
[toggleResumeSelectModal]="isOpenedResumeSelectModal"
[currentJobDetails]="matchingJob?.jobs"
*ngIf="isOpenedResumeSelectModal"
(onEvent)="onToggleResumeSelectModal($event)">
</app-resume-select>
