<!-- Sub Header Section -->
<div class="main-panel">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-header clearfix">
							<div class="page-title float-left">
								<h1>Posted Jobs</h1>
							</div>
							<div class="float-right">
								<button type="button" class="btn btn-outline-secondary btn-sm my-1" (click)="goBack()">
									<i class="ri-arrow-left-circle-line align-middle"></i> Back
								</button>
							</div>
						</div>
					</div>
				</div>
				</div><br />
		<iframe [src]="urlFrame" frameborder="0" width="100%" height="600px"></iframe>

</div>


