<header id="myHeader">
		<nav class="navbar navbar-expand-lg">
			<!--LOGO-->
			<div class="navbar-brand-wrapper d-flex align-items-center justify-content-center">
			  <a class="navbar-brand brand-logo" ><img src="./assets/media/logos/logo.png" alt="logo"></a>
			  <a class="navbar-brand brand-logo-mini" ><img src="./assets/media/logos/logo.png" alt="logo"></a>
			</div>
			<!--SIDEBAR TOGGLER-->
			<a class="sidebar-toggler"  style="cursor:pointer;" (click)="changeDashBoard()">
				<i class="fas fa-stream"></i>
			</a>
			  
			<!--MENU-->
			<div class="ml-auto" id="navbarNav" ngbDropdown>
				<ul class="navbar-nav">
					<li class="dropdown">
						<a class="nav-link dropdown-toggle nav-user" ngbDropdownToggle style="cursor:pointer;">
							<span class="account-user-avatar" *ngIf="companyProfileInfo?.photo"> 
								<img (error)="updateUrl($event)" src="companyProfileInfo?.photo" [src]="companyProfileInfo?.photo ? (companyProfileInfo?.meta?.photo?.path+'/'+ companyProfileInfo?.meta?.photo?.folder+'/'+companyProfileInfo?.meta?.photo?.sizes?.medium+'/'+companyProfileInfo?.photo)+'?v='+ randomNum: 'assets/img/user-avatar-01.png'" class="rounded-circle">
							</span>
							<span class="account-user-name">{{companyProfileInfo?.first_name }} {{companyProfileInfo?.last_name  }}</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-animated"  ngbDropdownMenu aria-labelledby="dropdownMenuButton" style="">
							<a ngbDropdownItem [routerLink]="[ '/profile-view' ]" class="dropdown-item">
								<i class="fas fa-user-circle"></i>
								<span>My Profile</span>
							</a>
							<a ngbDropdownItem class="dropdown-item">
								<i class="fas fa-envelope"></i>
								<span>My Messages</span>
							</a>
							<a ngbDropdownItem class="dropdown-item">
								<i class="fas fa-cog"></i>
								<span>Account Setting</span>
							</a>
							<a ngbDropdownItem class="dropdown-item" (click)="logout()">
								<i class="fas fa-sign-out-alt"></i>
								<span>Logout</span>
							</a>
						</div>
					</li>
				</ul>				
			</div>
		</nav>
    </header>