<!-- //Nav Tab Section -->
<section class="my-4">
	<div class="container">
		<div class="row my-5">
			<div class="col-lg-7">
				<button (click)="getDataStatus('active')" [ngClass]="isActive ? 'active' : ''" type="button" class="btn btn-sm btn-outline-success rounded-pill px-3 mr-1">Active <i class="fas fa-times small ml-1" ></i></button>
				<button (click)="getDataStatus('paused')" [ngClass]="isPaused ? 'active' : ''"  type="button" class="btn btn-sm btn-outline-info rounded-pill px-3 mr-1 ">Paused <i class="fas fa-times small ml-1"></i></button>
				<button (click)="getDataStatus('closed')" [ngClass]="isClosed ? 'active' : ''"  type="button" class="btn btn-sm btn-outline-warning rounded-pill px-3 mr-1">Closed <i class="fas fa-times small ml-1"></i></button>
				<button (click)="getDataStatus('deleted')" [ngClass]="isDeleted ? 'active' : ''"  type="button" class="btn btn-sm btn-outline-danger rounded-pill px-3 mr-1">Deleted <i class="fas fa-times small ml-1"></i></button>
			</div>
			<div class="col-lg-5 clearfix">
				<div id="multiDate" class="float-right">
					<i class="fas fa-calendar-alt"></i>&nbsp;
					<input type="text" style="width: 260px;background: #fbfbfb;border: none;
    outline: none;" readonly name="daterangeInput" daterangepicker  (selected)="selectedDate($event)" 
    (cancelDaterangepicker)="calendarCanceled($event)"
    (applyDaterangepicker)="calendarApplied($event)" />
					
					<span></span> <i class="fas fa-caret-down"></i>
				</div>
			</div>
		</div>
		<div class="row mb-5">
			
			<div class="col-lg-4" *ngIf="showMatches">					
				<div class="noselect chartTitle mb-4">
					{{"shared.totalMatches" | translate}}
				</div>
				<canvas baseChart #chart
					[data]="doughnutChartData"
					[labels]="doughnutChartLabels"
					[BorderWidth]="doughnutBorderWidth"
					[chartType]="doughnutChartType"
					[options]="doughnutOption"
					[colors]="doughnutChartColors"
					(chartClick)="chartClickEvent($event)"
					>
				  </canvas>
				<div class="noselect chart-center-label" style="left:66%;">{{totalMatches}}</div>
			</div>
			<div class="col-lg-4" *ngIf="showApplied">					
				<div class="noselect chartTitle mb-4">
					{{"nav.appliedJobs" | translate}} 
				</div>
				<canvas baseChart   #chart
					[data]="doughnutChartDataApplied"
					[labels]="doughnutChartLabelsApplied"
					[chartType]="doughnutChartType"
					[options]="doughnutOptions"
					[colors]="doughnutChartColors"
					(chartClick)="checkTotalChartApplied($event)"
					>
				  </canvas>
				<div class="noselect chart-center-label" style="left:64%;">{{totalApplied}}</div>
			</div>
			<div class="col-lg-4" *ngIf="showAvailiability">				
				<div class="noselect chartTitle mb-4">
					{{"shared.byAvailability" | translate}} 
				</div>
				<canvas baseChart    #chart
					[data]="doughnutChartDataAvailability"
					[labels]="doughnutChartLabelsAvailability"
					[chartType]="doughnutChartType"
					[options]="doughnutOptions"
					[colors]="doughnutChartColors"
					(chartClick)="checkTotalChartAvailability($event)"
					>
				  </canvas>
				<div class="noselect chart-center-label"  style="left:62%;">{{totalAvailability}}</div>
			</div>
			<div class="col-lg-4" *ngIf="showType">					
				<div class="noselect chartTitle mb-4">
					{{"shared.byJobType" | translate}} 
				</div>
				<canvas baseChart    #chart
					[data]="doughnutChartDataType"
					[labels]="doughnutChartLabelsType"
					[chartType]="doughnutChartType"
					[options]="doughnutOptions"
					[colors]="doughnutChartColors"
					(chartClick)="checkTotalChartType($event)"
					>
				  </canvas>
				<div class="noselect chart-center-label" style="left:62%;">{{totalType}}</div>
			</div>
			<div class="col-lg-4" *ngIf="showVisa">					
				<div class="noselect chartTitle mb-4">
					{{"shared.byVisa" | translate}} 
				</div>
				<canvas baseChart    #chart
					[data]="doughnutChartDataVisa"
					[labels]="doughnutChartLabelsVisa"
					[chartType]="doughnutChartType"
					[options]="doughnutOptions"
					[colors]="doughnutChartColors"
					(chartClick)="checkTotalChartVisa($event)"
					>
				  </canvas>
				<div class="noselect chart-center-label" style="left:66%;">{{totalVisa}}</div>
			</div>
		</div>
	</div>
</section>