<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
	<li class="nav-item">
	  <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
		<i class="ri-dashboard-2-fill menu-icon"></i>
		<span class="menu-title">Dashboard</span>
	  </a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" routerLink="/employers" routerLinkActive="active">
		 <i class="ri-user-2-fill menu-icon"></i>
		<span class="menu-title">Employers</span>
	  </a>
	</li> 
	<li class="nav-item">
	  <a class="nav-link" routerLink="/jobseeker" routerLinkActive="active">
	   <i class="ri-team-fill menu-icon"></i>
		<span class="menu-title">Jobseeker</span>
	  </a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" routerLink="/skills" routerLinkActive="active">
		 <i class="ri-profile-fill menu-icon"></i>
		<span class="menu-title">SAP Skills</span>
	  </a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" routerLink="/industry" routerLinkActive="active">
		 <i class="ri-mac-line menu-icon"></i>
		<span class="menu-title">Industry</span>
	  </a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" routerLink="/workauthorization" routerLinkActive="active">
		 <i class="ri-draft-fill menu-icon"></i>
		<span class="menu-title">Work Authorization</span>
	  </a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" routerLink="/technical-skills" routerLinkActive="active">
		 <i class="ri-code-box-fill menu-icon"></i>
		<span class="menu-title">Technical Skills</span>
	  </a>
	</li>
  </ul>
</nav>