
<form class="login-form"  [formGroup]="loginForm" (ngSubmit)="login()">
  <h1 *ngIf="router?.url.includes('user')">{{"auth.userLogin" | translate }}</h1>
   <h1 *ngIf="router?.url.includes('employer')">{{"auth.employerLogin" | translate }}</h1>
  <div class="form-group">
    <label>{{"auth.userName" | translate }}</label>
    <div class="input-with-icon">
      <input type="email" class="form-control" [placeholder]="'Username'" formControlName="username"/>
      <i class="fas fa-user-alt"></i>
    </div>
    <app-control-messages [control]="f['username']"></app-control-messages>
  </div>
  <div class="form-group">
    <label>{{"auth.password" | translate }}</label>
    <div class="input-with-icon input-group">
      <input appPassword type="password" class="form-control" [placeholder]="'Password'" formControlName="password">
      <i class="fas fa-lock"></i>
    </div>
    <app-control-messages [control]="f['password']"></app-control-messages>
	<small class="text-danger " *ngIf="showError"> Please enter a valid email address and Password .</small>
  </div>

  <div class="login-controls form-group">
    <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="rememberMe">
    <label class="custom-control-label" for="rememberMe">{{"auth.rememberMe" | translate }}</label>
    </div>
    <a href="javascript:;"
    (click)="onToggleForgotPassForm(true)"
     class="btn-link">{{"auth.forgotPassword" | translate }}</a>
  </div>
  <!-- <div class="form-group mt-5">
    <button
    [ngClass]="{'btn-theme-blue': router?.url.includes('employer'), 'btn-theme-orange':router?.url.includes('agency'), 'btn-theme-green':router?.url.includes('user') }"
    type="button" class="btn btn-block btn-lg">
    Login
  </button> -->
  <div class="form-group mt-5">
    <!--<button type="submit"
    class="btn btn-block btn-lg"
    [ngClass]="{'btn-theme-blue': router?.url.includes('employer'), 'btn-theme-orange':router?.url.includes('agency'), 'btn-theme-green':router?.url.includes('user') }"
    type="submit" [disabled]="loginForm.invalid">
      <span [hidden]="isLoading">{{"auth.login" | translate }}</span>
      <span [hidden]="!isLoading">
        <i class="fa fa-spinner" aria-hidden="true"></i>
      </span>
    </button>-->
<button type="submit"
    class="btn btn-block btn-lg"
    [ngClass]="{'btn-theme-blue': router?.url.includes('employer'), 'btn-theme-orange':router?.url.includes('agency'), 'btn-theme-green':router?.url.includes('user') }"
    type="submit" >
      <span [hidden]="isLoading">{{"auth.login" | translate }}</span>
      <span [hidden]="!isLoading">
        <i class="fa fa-spinner" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <!-- </div> -->
  <p class="form-group text-center">
    
	{{"auth.haveAccount" | translate }}
    <a
    (click)="onToggleRegisterForm(true)"
    href="javascript:;"
    data-toggle="modal"
    data-target="#jobseeker-registration"
    class="btn-link">
      {{"auth.register" | translate }}
    </a>
   </p>
  </form>

<app-register-form
[toggleRegisterModal]="isOpenedRegisterForm"
*ngIf="isOpenedRegisterForm"
(onEvent)="onToggleRegisterForm($event)">
</app-register-form>

<app-forgot-password
[toggleForgotPassModal]="isOpenedForgotPassForm"
*ngIf="isOpenedForgotPassForm"
(onEvent)="onToggleForgotPassForm($event)">
</app-forgot-password>
