<section class="my-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="matching-post">
              <ng-container *ngFor="let item of postedJobs; let i = index"  >
          <div *ngIf="checkDataCount(item?.id) != 0 && checkDataCount(item?.id) != '0'"  class="custom-control custom-radio mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
            <input (change)="onSetJob(item)" class="custom-control-input  mb-0" type="radio" id="Check_{{i}}" name="example1_{{selectedJob?.id}}_{{item?.id}}" [checked]="(selectedJob?.id == item?.id)">
            <label  class="text-capitalize custom-control-label mb-0" for="Check_{{i}}">{{item?.title}} ({{ checkDataCount(item?.id)}}) </label>
			<!--  {{ selectedJob?.id == item?.id ? (appliedJobMeta?.total ?  '(' + appliedJobMeta?.total + ')' :  '(' +0+ ')') : ''}} -->
			</div>
			</ng-container>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">{{"dashboard.candidateName" | translate}}</th>
              <th scope="col">{{"dashboard.position" | translate}}</th>
              <th scope="col">{{"dashboard.mobile" | translate}}</th>
              <th scope="col">{{"dashboard.email" | translate}}</th>
              <!-- <th scope="col">{{"postJob.location" | translate}}</th> -->
              <th scope="col">Job Details</th>
              <th scope="col">Feedback</th>
              <!-- <th scope="col">{{"dashboard.action" | translate}}</th> -->
            </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="appliedJobs?.length; else elseTemplate">
              <tr *ngFor="let item of appliedJobs">
                <td>
                  <a class="text-capitalize" [routerLink]="['/employer/candidate-profile']" [queryParams]="{id: item?.user?.id, jobId: item?.job_posting?.id, path: 'applicants', employee: selectedJob?.company.id}" href="javascript:;">
                    {{item?.user?.first_name + ' ' + item?.user?.last_name}}
                  </a>
                  </td>
                <td class="text-capitalize">
                  {{item?.user?.current_employer_role ? item?.user?.current_employer_role : '--'}}
                </td>
                <td>{{item?.user?.phone ? (item?.user?.phone | phone) : '--'}}</td>
                <td>{{item?.user?.email ? item?.user?.email : '--'}}</td>
                <!-- <td class="text-capitalize">
                  {{item?.user?.city ? item?.user?.city + ', ' : ''}}
                  {{item?.user?.state ? item?.user?.state + ', ' : ''}}
                  <span class="text-uppercase">
                    {{item?.user?.country ? item?.user?.country : ''}}
                  </span>
                </td> -->
                <td class="text-capitalize"> {{item?.job_posting?.title ? item?.job_posting?.title : '--'}}</td>
                <td class="text-center text-capitalize" *ngIf="item.short_listed !=false">
                  <h6 class="text-danger" *ngIf="item?.job_posting?.status == 0 " > Closed JOB </h6>
				  <h6 class="text-warning" *ngIf="item?.job_posting?.status == 98 " > Paused JOB</h6>
					
				  <select *ngIf="item?.job_posting?.status != 98 && item?.job_posting?.status != 0" class="form-control form-control-td" (change)="onShortListUser(item, $event?.target?.value)">
                    <option [value]="null" [selected]="true" >Select</option>
                    <option [value]="true" [selected]="item?.short_listed == true">Shortlist for Interview</option>
                    <option [value]="false">Not a Fit</option>
                  </select>
                  </td>
				  <td class="text-danger" *ngIf="item.short_listed == false">Not a Fit</td>
                <!-- <td class="text-capitalize">
                 <button type="button" class="btn btn-sm btn-primary" (click)="onShortListUser(item)">
                   {{item?.short_listed ? 'Remove' : 'Add'}}
                  </button>
                </td> -->
                <!-- <td class="text-capitalize">
                  <button  [routerLink]="['/employer/job-candidate-matches', item?.job_posting?.id, item?.user?.id]" type="button" class="btn btn-sm btn-secondary">
                    View Score
                  </button>
                </td> -->
              </tr>
            </ng-container>
            <ng-template #elseTemplate>
              <tr>
                <td colspan="6">No Candidates Found</td>
              </tr>
            </ng-template>
			
            </tbody>
          </table>
		  <div class="d-flex justify-content-center" style="background: #f8f8f8;" *ngIf="(appliedJobMeta?.count > 0 && appliedJobMeta?.total > 10)">
					<mat-paginator style="background: #f8f8f8;color: #000;" (page)="handlePageEvent($event)"
				[length]="length"
				[pageSize]="limit"  [pageSizeOptions]="pageSizeOptions"
				[pageIndex]="page-1">
			</mat-paginator>
			</div>
        </div>
      </div>
    </div>
  </div>
</section>
