<section class="my-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="matching-post">
          <div *ngFor="let item of postedJobs; let i = index" class="custom-control custom-radio mb-2" data-toggle="collapse" href="#collapseFollowup" role="button" aria-expanded="false" aria-controls="collapseFollowup">
            <input (change)="onSetJob(item)" class="custom-control-input  mb-0" type="radio" id="Check_{{i}}" name="example1_{{selectedJob?.id}}_{{item?.id}}" [checked]="(selectedJob?.id == item?.id)">
            <label class="text-capitalize custom-control-label mb-0" for="Check_{{i}}">{{item?.title}} {{ selectedJob?.id == item?.id ? (appliedJobMeta?.total ?  '(' + appliedJobMeta?.total + ')' :  '(' +0+ ')') : ''}} </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">{{"dashboard.candidateName" | translate}}</th>
              <th scope="col">{{"dashboard.position" | translate}}</th>
              <th scope="col">{{"dashboard.mobile" | translate}}</th>
              <th scope="col">{{"dashboard.email" | translate}}</th>
              <th scope="col">{{"postJob.location" | translate}}</th>
            </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="appliedJobs?.length; else elseTemplate">
              <tr *ngFor="let item of appliedJobs">
                <td>
                  <a class="text-capitalize" [routerLink]="['/employer/candidate-profile']"  href="javascript:;">
                    {{item?.user?.first_name + ' ' + item?.user?.last_name}}
                  </a>
                  </td>
                <td class="text-capitalize">
                  {{item?.user?.current_employer_role ? item?.user?.current_employer_role : '--'}}
                </td>
                <td>{{item?.user?.phone ? item?.user?.phone : '--'}}</td>
                <td>{{item?.user?.email ? item?.user?.email : '--'}}</td>
                <td class="text-capitalize">
                  {{item?.user?.city ? item?.user?.city + ', ' : ''}}
                  {{item?.user?.state ? item?.user?.state + ', ' : ''}}
                  {{item?.user?.country ? item?.user?.country : ''}}
                </td>
              </tr>
            </ng-container>
            <ng-template #elseTemplate>
              <tr>
                <td colspan="6">No Record Found</td>
              </tr>
            </ng-template>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
