<!-- //Nav Tab Section 
<section class="my-4">
	<div [ngClass]="(screenWidth >= 1500)?'container':'container'" >
		<div class="row ">
			<div class="col-lg-7 col-md-7 matches-8 my-5">
				<button  [ngClass]="isActive ? 'active' : ''" type="button" class="btn btn-sm btn-outline-success rounded-pill px-3 mr-1">Active <i class="fas fa-times small ml-1" ></i></button> -->
<!-- 				<button (click)="getDataStatus('paused')" [ngClass]="isPaused ? 'active' : ''"  type="button" class="btn btn-sm btn-outline-info rounded-pill px-3 mr-1 ">Paused <i class="fas fa-times small ml-1"></i></button>
				<button (click)="getDataStatus('closed')" [ngClass]="isClosed ? 'active' : ''"  type="button" class="btn btn-sm btn-outline-warning rounded-pill px-3 mr-1">Closed <i class="fas fa-times small ml-1"></i></button>
				<button (click)="getDataStatus('deleted')" [ngClass]="isDeleted ? 'active' : ''"  type="button" class="btn btn-sm btn-outline-danger rounded-pill px-3 mr-1">Deleted <i class="fas fa-times small ml-1"></i></button> -->
	<!--		</div>
			<div class="col-lg-5 col-md-5 matches-8 clearfix my-5">
				<div id="multiDate" class="float-right">
					<i class="fas fa-calendar-alt"></i>&nbsp;
					<input type="text" style="width: 260px;background: #fbfbfb;border: none;
    outline: none;" readonly name="daterangeInput" daterangepicker  (selected)="selectedDate($event)" 
    (cancelDaterangepicker)="calendarCanceled($event)"
    (applyDaterangepicker)="calendarApplied($event)" />
					
					<span></span> <i class="fas fa-caret-down"></i>
				</div>
			</div>
		</div>
		<div class="row mb-5">
			
			<ng-container *ngIf="showCountry">		
				<div class="col-lg-4 col-md-6 col-sm-6 matches-8" *ngIf="countryTotal.length<8">
					<div class="noselect chartTitle mb-4">
						{{"shared.byLocation" | translate}}
					</div>
					<canvas baseChart #chart
						[data]="doughnutChartData"
						[labels]="doughnutChartLabels"
						[BorderWidth]="doughnutBorderWidth"
						[chartType]="doughnutChartType"
						[options]="doughnutOption"
						[colors]="doughnutChartColors"
						(chartClick)="chartClickEvent($event)"
						>
					  </canvas>
					<div class="noselect chart-center-label" style="left:70%;">{{totalCountry}}</div>
				</div>		
				<div class="col-lg-6 col-md-9 col-sm-9 matches-8" *ngIf="countryTotal.length>=8 && countryTotal.length<=21">
					<div class="noselect chartTitle mb-4">
						{{"shared.byLocation" | translate}}
					</div>
					<canvas baseChart #chart
						[data]="doughnutChartData"
						[labels]="doughnutChartLabels"
						[BorderWidth]="doughnutBorderWidth"
						[chartType]="doughnutChartType"
						[options]="doughnutOption"
						[colors]="doughnutChartColors"
						(chartClick)="chartClickEvent($event)"
						>
					  </canvas>
					<div class="noselect chart-center-label" *ngIf="countryTotal.length>=8 && countryTotal.length<=11" style="left:64%;bottom:19%;">{{totalCountry}}</div>
					<div class="noselect chart-center-label" *ngIf="countryTotal.length>=12 && countryTotal.length<=21" style="left:76%;bottom:19%;">{{totalCountry}}</div>
				</div>
				<div class="col-lg-9 col-md-12 col-sm-12 matches-8" *ngIf="countryTotal.length>=22 && countryTotal.length<=53">
					<div class="noselect chartTitle mb-4">
						{{"shared.byLocation" | translate}}
					</div>
					<canvas baseChart #chart
						[data]="doughnutChartData"
						[labels]="doughnutChartLabels"
						[BorderWidth]="doughnutBorderWidth"
						[chartType]="doughnutChartType"
						[options]="doughnutOption"
						[colors]="doughnutChartColors"
						(chartClick)="chartClickEvent($event)"
						>
					  </canvas>
					<div class="noselect chart-center-label" *ngIf="countryTotal.length>=22 && countryTotal.length<=32"  style="left:68%;bottom:19%">{{totalCountry}}</div>
					<div class="noselect chart-center-label" *ngIf="countryTotal.length>=33 && countryTotal.length<=53" style="left:76%;bottom:19%">{{totalCountry}}</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 matches-8" *ngIf="countryTotal.length>=54">
					<div class="noselect chartTitle mb-4">
						{{"shared.byLocation" | translate}}
					</div>
					<canvas baseChart #chart
						[data]="doughnutChartData"
						[labels]="doughnutChartLabels"
						[BorderWidth]="doughnutBorderWidth"
						[chartType]="doughnutChartType"
						[options]="doughnutOption"
						[colors]="doughnutChartColors"
						(chartClick)="chartClickEvent($event)"
						>
					  </canvas>
					<div class="noselect chart-center-label" *ngIf="countryTotal.length>=54 && countryTotal.length<=82"  style="left:69%;bottom:20%">{{totalCountry}}</div>
					<div class="noselect chart-center-label" *ngIf="countryTotal.length>=83 ">{{totalCountry}}</div>
				</div>
			</ng-container>
			
			<div class="col-lg-4 col-md-6 col-sm-6 matches-8" *ngIf="showPostedJob" style="max-height: 230px;">					
				<div class="noselect chartTitle mb-4">
					{{"shared.jobPosted" | translate}}
				</div>
				<canvas baseChart #chart
					[data]="doughnutChartDataJobs"
					[labels]="doughnutChartLabelsJobs"
					[BorderWidth]="doughnutBorderWidth"
					[chartType]="doughnutChartType"
					[options]="doughnutOptions"
					[colors]="doughnutChartColors"
					(chartClick)="chartClickEventPostedJob($event)"
					>
				  </canvas>
				<div class="noselect chart-center-label" style="left:61%;">{{totalPostedJobs}}</div>
			</div>
			<ng-container *ngIf="showMatches" >
				<div class="col-lg-4 col-md-6 col-sm-6 matches-8" *ngIf="matchesTotal.length<8">					
					<div class="noselect chartTitle mb-4">
						{{"shared.matches" | translate}}
					</div>
					<canvas baseChart #chart
						[data]="doughnutChartDataMatches"
						[labels]="doughnutChartLabelsMatches"
						[BorderWidth]="doughnutBorderWidth"
						[chartType]="doughnutChartType"
						[options]="doughnutOptions"
						[colors]="doughnutChartColors"
						(chartClick)="chartClickEventMatches($event)"
						>
					  </canvas>
					<div class="noselect chart-center-label" >{{totalMatches}}</div>
				</div>
				<div class="col-lg-6 col-md-9 col-sm-9 matches-8" *ngIf="matchesTotal.length>=8 && matchesTotal.length<=21">					
					<div class="noselect chartTitle mb-4">
						{{"shared.matches" | translate}}
					</div>
					<canvas baseChart #chart
						[data]="doughnutChartDataMatches"
						[labels]="doughnutChartLabelsMatches"
						[BorderWidth]="doughnutBorderWidth"
						[chartType]="doughnutChartType"
						[options]="doughnutOptions"
						[colors]="doughnutChartColors"
						(chartClick)="chartClickEventMatches($event)"
						>
					  </canvas>
					<div class="noselect chart-center-label" *ngIf="matchesTotal.length>=8 && matchesTotal.length<=11"  style="left:65%;bottom:19%;">{{totalMatches}}</div>
					<div class="noselect chart-center-label" *ngIf="matchesTotal.length>=12 && matchesTotal.length<=21"  style="left:76%;bottom:19%;">{{totalMatches}}</div>
				</div>
				<div class="col-lg-9 col-md-12 col-sm-12 matches-8" *ngIf="matchesTotal.length>=22 && matchesTotal.length<=53">					
					<div class="noselect chartTitle mb-4">
						{{"shared.matches" | translate}}
					</div>
					<canvas baseChart #chart
						[data]="doughnutChartDataMatches"
						[labels]="doughnutChartLabelsMatches"
						[BorderWidth]="doughnutBorderWidth"
						[chartType]="doughnutChartType"
						[options]="doughnutOptions"
						[colors]="doughnutChartColors"
						(chartClick)="chartClickEventMatches($event)"
						>
					  </canvas>
					<div class="noselect chart-center-label" *ngIf="matchesTotal.length>=22 && matchesTotal.length<=32"style="left:76%;bottom:19%;">{{totalMatches}}</div>
					<div class="noselect chart-center-label" *ngIf="matchesTotal.length>=33 && matchesTotal.length<=53" style="left:76%;bottom:19%;">{{totalMatches}}</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 matches-8" *ngIf="matchesTotal.length>=54">					
					<div class="noselect chartTitle mb-4">
						{{"shared.matches" | translate}}
					</div>
					<canvas baseChart #chart
						[data]="doughnutChartDataMatches"
						[labels]="doughnutChartLabelsMatches"
						[BorderWidth]="doughnutBorderWidth"
						[chartType]="doughnutChartType"
						[options]="doughnutOptions"
						[colors]="doughnutChartColors"
						(chartClick)="chartClickEventMatches($event)"
						>
					  </canvas>
					<div class="noselect chart-center-label" *ngIf="matchesTotal.length>=54 && matchesTotal.length<=82" style="left:76%;bottom:20%;">{{totalMatches}}</div>
					<div class="noselect chart-center-label" *ngIf="matchesTotal.length>=83" style="left:76%;bottom:20%;">{{totalMatches}}</div>
				</div>
			</ng-container>
			
			<div class="col-lg-12 col-md-12 col-sm-12 "  *ngIf="showHired" >					
				<div class="chartTitle mb-4">
					{{"nav.applicants" | translate}}
				</div>
				<div class=" chartWrapper" *ngIf="hiredTotal.length<6" >	
					<div class="chartAreaWrapper" [style.width.px] = "'1100'">
						<canvas baseChart #myChart height="300"   id="myChart"
							[datasets]="doughnutChartDataHired"
							[labels]="doughnutChartLabelsHired"
							[chartType]="doughnutBarType"
							[options]="myBarChart"
							(chartClick)="chartClickEventApplicants($event)"
							>
						  </canvas>	
					</div>
				</div>
				<div class=" chartWrapper" *ngIf="hiredTotal.length>=6" >	
					<div class="chartAreaWrapper" [style.width.px] = "hiredTotal.length*200">
						<canvas baseChart #myChart height="300"   id="myChart"
							[datasets]="doughnutChartDataHired"
							[labels]="doughnutChartLabelsHired"
							[chartType]="doughnutBarType"
							[options]="myBarChart"
							(chartClick)="chartClickEventApplicants($event)"
							>
						  </canvas>	
					</div>
				</div>
			</div>
				
		</div>
	</div>
</section>
-->

 <!-- //Nav Tab Section -->
	
	<section class="bg-light py-5">
		<div class="container">
			<div class="cardBox">
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<div class="d-flex align-items-center pb-5">
							<div class="icon-card d-flex align-items-center justify-content-center">
							  <i class="bi bi-briefcase"></i>
							</div>
							<div class="info-card pl-3">
								<h6>{{totalPostedJobs}}</h6>
								<span>{{"nav.postedJobs" | translate}}</span>
							</div>
						</div>	
					</div>
					<div class="col-lg-3 col-md-4">
						<div class="d-flex align-items-center pb-5">
							<div class="icon-card yallow d-flex align-items-center justify-content-center">
							  <i class="bi bi-people"></i>
							</div>
							<div class="info-card pl-3">
								<h6>{{totalApplicants}}</h6>
								<span>{{"nav.applicants" | translate}}</span>
							</div>
						</div>	
					</div>
					<div class="col-lg-3 col-md-4">
						<div class="d-flex align-items-center pb-5">
							<div class="icon-card green d-flex align-items-center justify-content-center">
							  <i class="bi bi-person-check"></i>
							</div>
							<div class="info-card pl-3">
								<h6>{{totalShortlisted}}</h6>
								<span>{{"nav.shortlisted" | translate}}</span>
							</div>
						</div>	
					</div>
					<div class="col-lg-3 col-md-4">
						<div class="d-flex align-items-center pb-5">
							<div class="icon-card orange d-flex align-items-center justify-content-center">
							  <i class="bi bi-chat-right-text"></i>
							</div>
							<div class="info-card pl-3">
								<h6>{{totalInterviewed}}</h6>
								<span>{{"chart.interviewed" | translate}}</span>
							</div>
						</div>	
					</div>
					<div class="col-lg-3 col-md-4">
						<div class="d-flex align-items-center pb-lg-0 pb-md-5">
							<div class="icon-card aqua d-flex align-items-center justify-content-center">
							  <i class="bi bi-file-earmark-medical"></i>
							</div>
							<div class="info-card pl-3">
								<h6>{{totalHired}}</h6>
								<span>{{"chart.offered" | translate}}</span>
							</div>
						</div>	
					</div>
					<div class="col-lg-3 col-md-4">
						<div class="d-flex align-items-center pb-lg-0 pb-md-5">
							<div class="icon-card purple d-flex align-items-center justify-content-center">
							  <i class="bi bi-file-earmark-check"></i>
							</div>
							<div class="info-card pl-3">
								<h6>{{totalAccepted}}</h6>
								<span>{{"chart.accepted" | translate}}</span>
							</div>
						</div>	
					</div>
					<div class="col-lg-3 col-md-4">
						<div class="d-flex align-items-center pb-lg-0 pb-md-5">
							<div class="icon-card pink d-flex align-items-center justify-content-center">
							  <i class="bi bi-file-earmark-x"></i>
							</div>
							<div class="info-card pl-3">
								<h6>{{totalRejected}}</h6>
								<span>{{"chart.denied" | translate}}</span>
							</div>
						</div>	
					</div>
					<div class="col-lg-3 col-md-4">
						<div class="d-flex align-items-center pb-lg-0 pb-md-5">
							<div class="icon-card lgren d-flex align-items-center justify-content-center">
							  <i class="bi bi-file-earmark-minus"></i>
							</div>
							<div class="info-card pl-3">
								<h6>{{totalAwaiting}}</h6>
								<span>{{"chart.awaiting" | translate}}</span>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<!--//-->
			
			<div class="cardBox">
				<div class="row mb-5">
					<div class="col-lg-12">					
						<div class="chartTitle mb-4 d-flex justify-content-between">
							<div>{{"nav.applications" | translate}}</div>
							<div class="mt-1">
								<select class="form-control form-control-td" (change)="selectJob($event.target.value)">
								  <option selected="" value="0">All</option>
								  <option [value]="i | json" *ngFor="let i of chartDetails">{{i.title}}</option>
								</select>
							</div>
						</div>
						<!-- <canvas id="jobsChart5" height="80"></canvas>		 -->
						<canvas baseChart width="1177" height="313"
							[datasets]="lineChartData"
							[labels]="lineChartLabels"
							[options]="lineChartOptions"
							[colors]="lineChartColors"
							[legend]="lineChartLegend"
							[chartType]="lineChartType"
							[plugins]="lineChartPlugins">
						</canvas>
						
					</div>
				</div>			
			</div>			
			<!--//-->
			
			<div class="cardBox">
				<div class="row">
					<div class="col-lg-12">					
						<div class="chartTitle mb-4">
							{{"chart.jobStatus" | translate}}
						</div>
					</div>
					<div class="col-lg-12">
						<div style="position: relative;overflow-y: auto;height: 300px;" class="table-responsive tableBox">
							<table class="table">
							  <thead>
								<tr>
								  <th scope="col">{{"nav.applicants" | translate}}</th>
								  <th scope="col" class="text-center">{{"nav.applicants" | translate}}</th>
								  <th scope="col" class="text-center">{{"nav.shortlisted" | translate}}</th>
								  <th scope="col" class="text-center">{{"chart.interviewed" | translate}}</th>
								  <th scope="col" class="text-center">{{"chart.offered" | translate}}</th>
								  <th scope="col" class="text-center">{{"chart.accepted" | translate}}</th>
								  <th scope="col" class="text-center">{{"chart.denied" | translate}}</th>
								  <th scope="col" class="text-center">{{"chart.awaiting" | translate}}</th>
								</tr>
							  </thead>
							  <tbody >
								<tr *ngIf="jobStatus ===0">
									<td>No Jobs Found</td>
								</tr>
								<tr *ngFor="let item of jobStatus">
								  <td><a class="text-capitalize" href="javascript:;" [routerLink]="['/employer/job-detail-view', 'details']" [queryParams]="{id: item?.id}" routerLinkActive="router-link-active" >{{item.title}} </a></td>
								  <td class="text-center">
									<a  [routerLink]="['/employer/dashboard']"
									  [queryParams]="{activeTab: 'applicants', id: item?.id }" *ngIf="item.applicant !=0 " > {{item.applicant}}</a>
									  <a  *ngIf="item.applicant ==0 " style="cursor: no-drop;" > {{item.applicant}}</a>
								  </td>
								  <td class="text-center"><a *ngIf="item.shortlist !=0 " [routerLink]="['/employer/dashboard']"
								  [queryParams]="{activeTab: 'shortlisted', id: item?.id }" > {{item.shortlist}}</a>
								  <a  *ngIf="item.shortlist ==0 "  style="cursor: no-drop;" > {{item.shortlist}}</a>
								  </td>
								  
								  <td class="text-center">
								  <a *ngIf="item.interviewed !=0 " [routerLink]="['/employer/dashboard']"
								  [queryParams]="{activeTab: 'shortlisted', id: item?.id }" > {{item.interviewed}}</a>
								  <a *ngIf="item.interviewed ==0 " style="cursor: no-drop;">{{item.interviewed}}</a>
								  </td>
								  <td class="text-center"><a *ngIf="item.hired !=0 " [routerLink]="['/employer/dashboard']"
								  [queryParams]="{activeTab: 'shortlisted', id: item?.id }" > {{item.hired}}</a>
								  <a  *ngIf="item.hired ==0 "  style="cursor: no-drop;" > {{item.hired}}</a>
								  </td>	
								  <td class="text-center"><a *ngIf="item.accepted !=0 " [routerLink]="['/employer/dashboard']"
								  [queryParams]="{activeTab: 'shortlisted', id: item?.id }" > {{item.accepted}}</a>
								  <a  *ngIf="item.accepted ==0 "  style="cursor: no-drop;" > {{item.accepted}}</a>
								  </td>
								  <td class="text-center"><a *ngIf="item.rejected !=0 " [routerLink]="['/employer/dashboard']"
								  [queryParams]="{activeTab: 'shortlisted', id: item?.id }" > {{item.rejected}}</a>
								  <a  *ngIf="item.rejected ==0 "  style="cursor: no-drop;" > {{item.rejected}}</a>
								  </td>
								  <td class="text-center"><a *ngIf="item.holdon !=0 " [routerLink]="['/employer/dashboard']"
								  [queryParams]="{activeTab: 'shortlisted', id: item?.id }" > {{item.holdon}}</a>
								  <a  *ngIf="item.holdon ==0 "  style="cursor: no-drop;" > {{item.holdon}}</a>
								  </td>
								</tr>
								
							  </tbody>
							</table>
						</div>
					</div>
				</div>	
			</div>	
		</div>
	</section>