<div class="main-panel">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-header clearfix">
							<div class="page-title float-left">
								<h1>Technical Skills</h1>
							</div>
							<div class="float-right">
								<button type="button" class="btn btn-outline-secondary btn-sm my-1" onclick="history.go(-1)">
									<i class="ri-arrow-left-circle-line align-middle"></i> Back
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-2">	
					<div class="col-lg-12">	
						<div class="myCard ">
							<div class="myCard-body"> 
								<div class="row">
									<div class="offset-lg-2 col-lg-8">
										<!-- Alert start -->
										<div class="alert alert-success alert-dismissible fade show" role="alert">
										  <strong>Successfully !</strong> Added New Technical Skills
										  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										  </button>
										</div>	
									</div>	
								</div>	
								<!-- Alert end -->
								<!-- Form start -->
								<form class="myadmin-form mt-4">
									<div class="row">
										<div class="form-group offset-lg-2 col-lg-6">
											<label>Technical Name</label>
											<input type="text" class="form-control" placeholder="Ex: Financial Accounting">
										</div>									
										<div class="form-group col-lg-2">
											<label>&nbsp;</label>										
											<button type="button" class="btn mybtn btn-blue btn-block" id="addSkill" href="javascript:;" >Add Technical</button>
										</div>
									</div>
								</form>								
								<!-- Form end -->
								<!---->
								<!-- Table start -->
								<div class="row">
									<div class="offset-lg-2 col-lg-8">
										<div class="table-container">
											<div class="table-responsive">
												<table class="sort-table table custom-table m-0">
													<thead>
														<tr>
															<th>Technical Name</th>
															<th class="text-center">Action</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Financial Accounting</td>
															<td class="text-center">
																<a href="#" class="btn btn-outline-primary btn-xs mr-2"><i class="ri-pencil-fill"></i></a>
																<a href="#" class="btn btn-outline-danger btn-xs"><i class="ri-delete-bin-fill"></i></a>
															</td>
														</tr>
														<tr>
															<td>Material Management</td>
															<td class="text-center">
																<a href="#" class="btn btn-outline-primary btn-xs mr-2"><i class="ri-pencil-fill"></i></a>
																<a href="#" class="btn btn-outline-danger btn-xs"><i class="ri-delete-bin-fill"></i></a>
															</td>
														</tr>
														<tr>
															<td>Sales and Distribution</td>
															<td class="text-center">
																<a href="#" class="btn btn-outline-primary btn-xs mr-2"><i class="ri-pencil-fill"></i></a>
																<a href="#" class="btn btn-outline-danger btn-xs"><i class="ri-delete-bin-fill"></i></a>
															</td>
														</tr>
														<tr>
															<td>Human Capital Management</td>
															<td class="text-center">
																<a href="#" class="btn btn-outline-primary btn-xs mr-2"><i class="ri-pencil-fill"></i></a>
																<a href="#" class="btn btn-outline-danger btn-xs"><i class="ri-delete-bin-fill"></i></a>
															</td>
														</tr>
														<tr>
															<td>Project System</td>
															<td class="text-center">
																<a href="#" class="btn btn-outline-primary btn-xs mr-2"><i class="ri-pencil-fill"></i></a>
																<a href="#" class="btn btn-outline-danger btn-xs"><i class="ri-delete-bin-fill"></i></a>
															</td>
														</tr>
														<tr>
															<td>Plant Maintenance</td>
															<td class="text-center">
																<a href="#" class="btn btn-outline-primary btn-xs mr-2"><i class="ri-pencil-fill"></i></a>
																<a href="#" class="btn btn-outline-danger btn-xs"><i class="ri-delete-bin-fill"></i></a>
															</td>
														</tr>
														<tr>
															<td>Production Planning</td>
															<td class="text-center">
																<a href="#" class="btn btn-outline-primary btn-xs mr-2"><i class="ri-pencil-fill"></i></a>
																<a href="#" class="btn btn-outline-danger btn-xs"><i class="ri-delete-bin-fill"></i></a>
															</td>
														</tr>
														<tr>
															<td>Quality Management</td>
															<td class="text-center">
																<a href="#" class="btn btn-outline-primary btn-xs mr-2"><i class="ri-pencil-fill"></i></a>
																<a href="#" class="btn btn-outline-danger btn-xs"><i class="ri-delete-bin-fill"></i></a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- Table end -->
								<!---->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>