/* You can add global styles to this file, and also import other style files */
.modal-holder{
  animation-name: modal-animation;
  animation-duration: 0.3s;
}

@import "~@ng-select/ng-select/themes/ant.design.theme.css";

@keyframes modal-animation {
  0%   {transform: scale(0.5)}
  100% {transform: scale(1)}
}

.required-asterisk{
  color: red;
  font-weight: bold;
  margin-left: 3px;
  font-size: 1.2em;
}
