/* You can add global styles to this file, and also import other style files */
.modal-holder{
  animation-name: modal-animation;
  animation-duration: 0.3s;
}

@import "~@ng-select/ng-select/themes/ant.design.theme.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@keyframes modal-animation {
  0%   {transform: scale(0.5)}
  100% {transform: scale(1)}
}

.required-asterisk{
  color: red;
  font-weight: bold;
  margin-left: 3px;
  font-size: 1.2em;
}


.ngx-slider .ngx-slider-pointer {
  background-color: #28a745 !important;
}

.ngx-slider .ngx-slider-selection {
  background: #28a745 !important;
}

.iti__country-list {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: none;
	border-color: #c7cace;
	font-size: 14px;
	margin-left: 0;
	margin-top: -1px;
	width: 350px;
}
.iti--allow-dropdown {
  width: 350px;
}

.input-group-text i{
  position: unset!important;
  top: 50%!important;
  left: unset!important;
  font-size: 18px!important;
  transform: unset!important;
  color: #333;
  transition: unset!important;
}

.input-group-text {
  border-radius: 0 10px 10px 0!important;
  border: 2px solid #ccd1d6;
  border-left: 0;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
}

.applied-btn-green {
  color: #fff;
  border-color: #11b771;
  background: #11b771;
}
.applied-btn-green:hover {
  color: #fff;
  text-decoration: none;
}



.upload-box .box label {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  top: 61px;
  bottom: 0;
  z-index: -1;
}

.upload-box .box input {
  z-index: 9;
}

.search-skill .ng-select-container {
  min-height: 50px;
  border-radius: 10px;
  border: 2px solid #ccd1d6;
}

.search-skill.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: 12px !important;
}

/* .ng-placeholder::before {
  content: "\f0b1";
}
.msp-mar:before {
  content: "\f3c5";
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
