<!-- Banner Section -->
<section class="theme-banner">
  <div class="container">
    <div class="find-banner w-60">

      <h1 class="banner-title text-center">{{ 'home.title' | translate}}.</h1>
      <form class="find-bar" method="post" (ngSubmit)="onRedirect()" #searchNgForm="ngForm" [formGroup]="searchForm">
        <span *ngIf="searchForm?.errors?.atLeastOne && searchNgForm?.submitted"
          class="d-flex justify-content-center pb-2 text-danger">At least one field
          has to be provided.</span>
        <div class="row">
          <div class="col-lg-6 col-md-6 mb-3">
            <ng-select
            class="search-skill"
    [items]="movies$ | async"
    bindLabel="tag"
    [multiple]="true"
    [trackByFn]="trackByFn"
    [minTermLength]="minLengthTerm"
    [loading]="moviesLoading"
    placeholder="SAP Module"
    typeToSearchText="Please enter {{minLengthTerm}} or more characters" [typeahead]="moviesInput$"
    formControlName="search">
    <ng-template ng-label-tmp let-item="item" let-clear="clear">
      {{utilsHelperService.onSplitTag(item.tag)}}
      <span class="ng-value-icon right" (click)="clear(item)">×</span>
  </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      {{utilsHelperService.onSplitTag(item.tag)}}
    </ng-template>
  </ng-select>
            <!-- <div class="input-with-icon">
              <input (click)="isMenuOpen = true" formControlName="search" #searchJob type="text" class="form-control"
                placeholder="Job Title / SAP Module" value="">
              <i class="fas fa-briefcase"></i>
            </div>
              <ul *ngIf="isMenuOpen" (outsideClick)="isMenuOpen = false" outsideClick id="myUL">
                <ng-container *ngIf="filteredValues?.length; else elseTemplate">
                  <ng-container *ngIf="loggedUserInfo?.isLoggedIn && loggedUserInfo?.role?.includes(1); else elseTemplate">
                    <li *ngFor="let item of filteredValues; let i=index">
                      <a (keyup.enter)="onSelectSkill(item)" (click)="onSelectSkill(item)" href="javascript:;">{{item?.tag}}</a>
                    </li>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <li *ngFor="let item of filteredValues; let i=index">
                      <a (keyup.enter)="onSelectSkill(item)" (click)="onSelectSkill(item)" href="javascript:;">{{item?.title}}</a>
                    </li>
                  </ng-template>

                </ng-container>
                <ng-template #elseTemplate>
                  <li *ngIf="(!searchForm?.errors?.atLeastOne && utilsHelperService.isEmptyObj(selectedSkillItem))">
                    <a href="javascript:;">No data found</a>
                  </li>
                </ng-template>

              </ul> -->
          </div>
          <div class="col-lg-6 col-md-6 mb-3">
            <div class="input-with-icon">
              <input formControlName="location"  type="text"
                  class="form-control" placeholder="City, State" value="">
              <i class="fas fa-map-marker-alt"></i>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <button type="submit" class="btn btn-block btn-theme-blue btn-lg">
              <span *ngIf="(!loggedUserInfo?.isLoggedIn || (loggedUserInfo?.isLoggedIn && loggedUserInfo?.role?.includes(0)))">
                {{"home.findJobs" | translate}}
              </span>
              <span *ngIf="loggedUserInfo?.isLoggedIn && loggedUserInfo?.role?.includes(1)">{{"home.findCandidates" | translate}}</span>
            </button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-12 text-center">
          <h5 class="font-weight-bold ">
            <a class="text-dark" href="#">USA <span class="mx-2">|</span></a>
            <a class="text-dark" href="#">Europe <span class="mx-2">|</span></a>
            <a class="text-dark" href="#">Asia Pacific <span class="mx-2">|</span></a>
            <a class="text-dark" href="#">South America </a>
          </h5>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-12 text-center">
          <a *ngIf="!loggedUserInfo?.isLoggedIn" [routerLink]="['/employer/post-job']"
            class="btn btn-outline-blue font-weight-bold py-2 px-4 mr-1" href="javascript:;">{{"home.postJob" |
            translate}} </a>
          <a *ngIf="!loggedUserInfo?.isLoggedIn" [routerLink]="['/user/create-candidate']"
            class="btn btn-outline-green font-weight-bold py-2 px-4" href="javascript:;">{{"home.postResume" |
            translate}} </a>
          <a *ngIf="loggedUserInfo?.isLoggedIn && loggedUserInfo?.role?.includes(0)"
            [routerLink]="['/user/dashboard']" [queryParams]="{activeTab: 'matches'}" class="btn btn-outline-blue font-weight-bold py-2 px-4 mr-1"
            href="javascript:;">{{"dashboard.matches" | translate}} </a>
          <a *ngIf="loggedUserInfo?.isLoggedIn && loggedUserInfo?.role?.includes(1)"
            [routerLink]="['/employer/dashboard']" [queryParams]="{activeTab: 'matches'}" class="btn btn-outline-green font-weight-bold py-2 px-4"
            href="javascript:;">{{"dashboard.matches" | translate}} </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //Banner Section -->
<!-- Category Section -->
<section class="job-category">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="title mb-4">{{"home.postResume" | translate}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="#" class="job-category-box">
          <!-- <i class="flaticon-accounting"></i> -->
          <h5>India <br>(60)</h5>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="#" class="job-category-box">
          <!-- <i class="flaticon-accounting"></i> -->
          <h5>USA <br>(40)</h5>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="#" class="job-category-box">
          <!-- <i class="flaticon-accounting"></i> -->
          <h5>Canada <br>(20)</h5>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- //Category Section -->
