<section class="my-5">
	<div [ngClass]="(screenWidth >= 1500)?'container-fluid':'container'" >
		<div class="row mt-3" >
			<div class="col-lg-12">
				<div class="pj-title mb-3">
					<h6>{{"shared.resume" | translate}} </h6>
				</div>
			</div>
			<div class="col-lg-12"  *ngIf="userProfileInfo?.doc_resume?.length > 1" >
				<div class="custom-control custom-checkbox mr-sm-2">
					<input [checked]="onCheck(userProfileInfo?.doc_resume, 'default')" (click)="onChooseDefaultResume({}, $event.target.checked, true)" type="checkbox" class="custom-control-input" id="chooseApplying">
					<label class="custom-control-label h6" for="chooseApplying">{{"shared.iWillChooseWhileApplying" | translate}}</label>
				</div>
			</div>
		</div>
		<div class="row ">
			<div *ngFor="let item of userProfileInfo?.doc_resume; let i=index" class="col-lg-2 col-md-3  matches-6 alert fade show">
				<button (click)="onDeleteJobConfirm(item, i)" type="button" class="close">
					<span aria-hidden="true">&times;</span>
				</button>
				<!-- {{(userProfileInfo?.meta?.doc_resume?.path + '/' + userProfileInfo?.meta?.doc_resume?.folder + '/' + item?.file) | json}} -->
				<a (click)="onToggleResumeForm(true, (item?.file))" href="#" data-toggle="modal" data-target="#resumeModal">
					<!-- <ngx-doc-viewer [url]="item?.meta?.doc_resume?.path + '/' + item?.meta?.doc_resume?.folder + '/' + item?.file" viewer="google" style="width:100%;height:50vh;"></ngx-doc-viewer> -->
					<i class="far fa-file-alt h1"></i>
					<p class="card-title mb-2">{{item?.title}}</p>
				</a>
				<div class="form-group form-check  mb-0">
					<input (click)="onChooseDefaultResume(item, $event.target.checked)" [checked]="(item.default == 1 || item.default == '1')" type="checkbox" class="form-check-input" id="resumeCheck_{{i}}">
					<label class="form-check-label" for="resumeCheck_{{i}}">{{"shared.default" | translate}} </label>
				</div>
			</div>
			<div class="col-lg-2 col-md-3  matches-6 alert">
				<label class="text-black-50">
					<h1 class="text-black-50 mb-0"><i class="far fa-plus-square"></i></h1>
					{{"shared.addResume" | translate}}
					<input #userResume type="file" hidden (change)="handleFileInput($event,'resume');">
				</label>
			</div>
		</div>
		<div class="row mt-3" >
			<div class="col-lg-12">
				<div class="pj-title mb-3">
					<h6>{{"shared.coverLetter" | translate}} </h6>
				</div>
			</div>
		</div>
		<div class="row">
			<div *ngFor="let item of userProfileInfo?.doc_cover; let i=index" class="col-lg-2 col-md-3 matches-6  alert fade show">
				<button (click)="onDeleteCoverConfirm(item, i)" type="button" class="close">
					<span aria-hidden="true">&times;</span>
				</button>
				<!-- {{(userProfileInfo?.meta?.doc_resume?.path + '/' + userProfileInfo?.meta?.doc_resume?.folder + '/' + item?.file) | json}} -->
				<a (click)="onToggleCoverForm(true, (item?.file))" href="#" data-toggle="modal" data-target="#coverModal">
					<!-- <ngx-doc-viewer [url]="item?.meta?.doc_resume?.path + '/' + item?.meta?.doc_resume?.folder + '/' + item?.file" viewer="google" style="width:100%;height:50vh;"></ngx-doc-viewer> -->
					<i class="far fa-file-alt h1"></i>
					<p class="card-title mb-2">{{item?.title}}</p>
				</a>
				<div class="form-group form-check  mb-0" style="display:none;">
					<input (click)="onChooseDefaultResume(item, $event.target.checked)" [checked]="(item.default == 1 || item.default == '1')" type="checkbox" class="form-check-input" id="resumeCheck_{{i}}">
					<label class="form-check-label" for="resumeCheck_{{i}}">{{"shared.default" | translate}} </label>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 matches-6 alert" *ngIf="userProfileInfo?.doc_cover==null || userProfileInfo?.doc_cover.length == 0 ">
				<label class="text-black-50">
					<h1 class="text-black-50 mb-0"><i class="far fa-plus-square"></i></h1>
					{{"shared.addCover" | translate}}
					<input #userCover type="file" hidden (change)="handleFileInput($event,'cover');">
				</label>
			</div>
		</div>
	</div>
</section>

<app-resume-modal
*ngIf="isOpenedResumeModal"
[url]="selectedResumeUrl"
[toggleResumeModal]="isOpenedResumeModal"
(onEvent)="onToggleResumeForm($event)">
</app-resume-modal>

<app-cover-modal
*ngIf="isOpenedCoverModal"
[url]="selectedCoverUrl"
[toggleCoverModal]="isOpenedCoverModal"
(onEvent)="onToggleCoverForm($event)">
</app-cover-modal>

<ng-template #resumeTitleModal let-modal>
  <form method="post" (ngSubmit)="onSaveResume()" #resumeNgForm="ngForm" [formGroup]="resumeForm">
    <div class="modal-header">
      <h5 class="modal-title">{{"shared.add" | translate}} {{"shared.addResumeTitle" | translate}} </h5>
      <button type="button" (click)="mbRef?.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
      <div class=" form-group">
        <label class="h5">{{"shared.addResumeTitle" | translate}}</label>
        <input formControlName="title" type="text" class="form-control" placeholder="Enter Resume Title">
        <app-control-messages [control]="f['title']"></app-control-messages>
      </div>
      </div>
      <div class="modal-footer">
      <button type="button" (click)="mbRef?.close()" class="btn btn-secondary" data-dismiss="modal">{{"shared.cancel" | translate}}</button>
      <button [disabled]="!resumeForm.valid" type="button" (click)="onSaveResume()" class="btn btn-theme-blue " data-dismiss="modal">{{"shared.save" | translate}}</button>
      </div>
  </form>

</ng-template>

<ng-template #coverTitleModal let-modal>
  <form method="post" (ngSubmit)="onSaveCover()" #coverNgForm="ngForm" [formGroup]="coverForm">
    <div class="modal-header">
      <h5 class="modal-title">{{"shared.add" | translate}}  {{"shared.addCoverTitle" | translate}} </h5>
      <button type="button" (click)="mbRef?.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
      <div class=" form-group">
        <label class="h5">{{"shared.addCoverTitle" | translate}}</label>
        <input formControlName="title" type="text" class="form-control" placeholder="Enter Resume Title">
        <app-control-messages [control]="f['title']"></app-control-messages>
      </div>
      </div>
      <div class="modal-footer">
      <button type="button" (click)="mbRef?.close()" class="btn btn-secondary" data-dismiss="modal">{{"shared.cancel" | translate}} </button>
      <button [disabled]="!coverForm.valid" type="button" (click)="onSaveCover()" class="btn btn-theme-blue " data-dismiss="modal">{{"shared.save" | translate}} </button>
      </div>
  </form>

</ng-template>


<app-delete-modal
*ngIf="isDeleteModalOpened"
[typeOfModel]="'Resume'"
[showRecordName]="currentResumeDetails?.title"
(onTriggerDeleteAction)="onDeleteJobConfirmed($event)"
[toggleDeleteModal]="isDeleteModalOpened">

</app-delete-modal>

<app-delete-modal
*ngIf="isDeleteModalOpenedCover"
[typeOfModel]="'Cover'"
[showRecordName]="currentCoverDetails?.title"
(onTriggerDeleteAction)="onDeleteCoverConfirmed($event)"
[toggleDeleteModal]="isDeleteModalOpenedCover">

</app-delete-modal>
