<!-- Sub Header Section -->
<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">{{"shared.postYourJobs" | translate }}</li>
        </ol>
      </div>
    </div>
  </div>
</section>
  <!-- //Sub Header Section -->
<section class="my-3" style="min-height: 970px;">
  <div class="container">
  <h5 style="font-weight:bold" *ngIf="!isEdit"> {{"postJob.title" | translate }} </h5><br />
<h6 *ngIf="!isEdit">{{"postJob.content" | translate }}  <br /> {{"postJob.contentSubject" | translate }}  </h6><br />
    <div class="row">
      <div class="col-lg-12 tabs-animated" id="myTab">
        <form method="post" #postJobNgForm="ngForm" [formGroup]="postJobForm">
          <app-post-job-header
          [currentTabInfo]="currentTabInfo"
          (onTabChangeEvent)="onHeaderTabChange($event)">
          </app-post-job-header>

          <div class="tab-content" >

            <app-job-information
            [postedJobsDetails]="postedJobsDetails"
			[isCopy]="isCopy"
            *ngIf="currentTabInfo.tabNumber == 1"
            [currentTabInfo]="currentTabInfo">
            </app-job-information>

            <app-requirement-criteria
            [postedJobsDetails]="postedJobsDetails"
            *ngIf="currentTabInfo.tabNumber == 2"
            [currentTabInfo]="currentTabInfo">
            </app-requirement-criteria>
			
            <app-other-preference
            [postedJobsDetails]="postedJobsDetails"
            *ngIf="currentTabInfo.tabNumber == 3"
            [currentTabInfo]="currentTabInfo">
            </app-other-preference>
			
            <app-screening-process
            [postedJobsDetails]="postedJobsDetails"
            [screeningProcess]="screeningProcess"
            *ngIf="currentTabInfo.tabNumber == 4"
            [currentTabInfo]="currentTabInfo">
            </app-screening-process>

          </div>

          <app-post-job-footer
          (postJob)="postJob()"
          [postJobForm]="postJobForm"
          [isEdit]="isEdit"
          [isCopy]="isCopy"
          [currentTabInfo]="currentTabInfo"
          (onTabChangeEvent)="onFooterTabChange($event)"
          (onEnableJobPreviewModal)="onToggleJobPreviewModal($event)">
          </app-post-job-footer>


          <app-job-preview
          [postedJobsDetails]="postedJobsDetails"
          (postJob)="postJob()"
		  [isCopy]="isCopy"
          [postJobForm]="postJobForm"
          *ngIf="isOpenedJobPreviewModal"
          [toggleJobPreviewModal]="isOpenedJobPreviewModal"
          (onEvent)="onToggleJobPreviewModal($event)">
          </app-job-preview>

        </form>

      </div>
    </div>
  </div>
</section>


