<div formGroupName="personalDetails">
	<div class="row mt-5">
		<div class="col-lg-4 col-md-4 matches-8">
			<div class=" form-group">
				<div class="custom-control custom-checkbox mb-2">
				  <input type="checkbox" class="custom-control-input" formControlName="entry" (change)="onChangeData()" id="customCheckRemote01">
				<label class="custom-control-label font-weight-bold" for="customCheckRemote01"> <a > Entry Level</a></label>
				</div>
			</div>
		</div>
	</div>
   <div class="row mt-2">
      <div class="col-lg-4 col-md-4 matches-8">
        <div class=" form-group">
          <label>{{"shared.firstName" | translate }}</label>
          <input appMarkAsterisk formControlName="first_name" type="text" class="form-control text-capitalize" placeholder="First Name">
          <app-control-messages [control]="f['first_name']"></app-control-messages>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 matches-8">
        <div class=" form-group">
          <label>{{"shared.lastName" | translate }}</label>
          <input appMarkAsterisk formControlName="last_name" type="text" class="form-control text-capitalize" placeholder="Last Name">
          <app-control-messages [control]="f['last_name']"></app-control-messages>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 mt-4" style="z-index: 1;">
        <div class="upload-box upload-boxs ">
          <div class="box text-center upload-image upload-boxss">
            <img *ngIf="(defaultProfilePic || savedUserDetails?.photo)" [src]="defaultProfilePic ? convertToImage(defaultProfilePic) : savedUserDetails?.meta?.photo?.path+'/'+ savedUserDetails?.meta?.photo?.folder+'/'+savedUserDetails?.meta?.photo?.sizes?.medium+'/'+savedUserDetails?.photo+'?v='+ randomNum" alt="upload-photo" class="img-fluid mx-auto check-img rounded-circle border border-primary"
                                    style="width:150px;height:150px;">
            <input *ngIf="(defaultProfilePic || savedUserDetails?.photo)" [style.top]="defaultProfilePic ? '-150px' : '-150px'" type="file"  class="upload-input" #userImage (change)="handleFileInput($event, CropImage);" />
			<input *ngIf="(!defaultProfilePic && !savedUserDetails?.photo)" [style.top]="defaultProfilePic ? '0px' : '0px'" type="file"  class="upload-input" #userImage (change)="handleFileInput($event, CropImage);" />
            <!-- <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple=""> -->
            <label for="file-5" *ngIf="(!defaultProfilePic && !savedUserDetails?.photo)" >
              <i class="fas fa-user-tie"></i>
              <span>{{"shared.uploadPhoto" | translate }} <br> ({{"shared.dragAndDrop" | translate }})</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-4 col-md-6 matches-8">
        <div class=" form-group">
          <label>{{"shared.emailAddress" | translate }}</label>
          <input appMarkAsterisk formControlName="email" type="email" class="form-control" placeholder="username@mail.com" value="jacky-smith2010@gmail.com">
          <app-control-messages [control]="f['email']"></app-control-messages>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 matches-8">
        <div class=" form-group">
          <label>{{"shared.mobileNumber" | translate }}</label>
          <ngx-intl-tel-input (ngModelChange)="checkNumber()"
          [maxLength]="15"  (countryChange)="onCountryChange($event)" [cssClass]="'form-control'" [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.UnitedStates" [tooltipField]="TooltipLabel.Name"
          [phoneValidation]="true" [separateDialCode]="separateDialCode"
          [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phone">
        </ngx-intl-tel-input>
          <!-- <input ng2TelInput [ng2TelInputOptions]="{initialCountry: childForm?.value?.personalDetails?.country}" (countryChange)="onCountryChange($event)"  appMarkAsterisk numbersOnly formControlName="phone" type="text" class="form-control" placeholder="9876543210"> -->
          <app-control-messages [control]="f['phone']"></app-control-messages>
		  <small *ngIf="invalidMobile"class="text-danger">Invalid mobile number</small>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-4 col-md-6 matches-8">
        <div class=" form-group">
          <label>{{"shared.city" | translate}}</label>
          <input autocomplete="disabled"  autocomplete="off" appMarkAsterisk ngx-google-places-autocomplete
          (onAddressChange)="handleAddressChange($event)"
          formControlName="city" type="text" class="form-control text-capitalize" [placeholder]="'shared.city' | translate">
          <app-control-messages [control]="f['city']"></app-control-messages>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 matches-8">
        <div class=" form-group">
          <label>{{"shared.state" | translate}}</label>
          <input autocomplete="disabled"  appMarkAsterisk formControlName="state" type="text" class="form-control text-capitalize" [placeholder]="'shared.state' | translate">
          <app-control-messages [control]="f['state']"></app-control-messages>
        </div>
      </div>


    </div>
    <div class="row mt-2">
      <div class="col-lg-4 col-md-6 matches-8">
        <div class=" form-group">
          <label>{{"shared.zipCode" | translate}}</label>
          <input appMarkAsterisk  OnlyNumber="true" formControlName="zipcode" type="text" class="form-control" [placeholder]="'shared.zipCode' | translate">
          <app-control-messages [control]="f['zipcode']"></app-control-messages>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 matches-8">
        <div class=" form-group">
           <label>{{"shared.country" | translate }}</label>
          <input autocomplete="disabled" appMarkAsterisk formControlName="country" type="text" class="form-control text-uppercase" placeholder="Country" style="text-transform: capitalize !important">
          <app-control-messages [control]="f['country']"></app-control-messages>
        </div>
      </div>
    </div>
	<div class="row mt-2">
		<div class="col-lg-4 col-md-6 matches-8">
			<div class=" form-group">
				<label>{{"userProfile.nationality" | translate }} </label> 
				<select appMarkAsterisk formControlName="nationality" class="form-control" (change)="onChangeCountry($event.target.value)">
					<option value="-1">Please Select {{"userProfile.nationality" | translate }}</option>
					<option *ngFor="let name of nationality" value={{name.id}}>{{name.nicename}}</option>
				  </select>		
			  <app-control-messages [control]="f['nationality']"></app-control-messages>							  
			</div>
		</div>				
		<!-- <div class="col-lg-4 col-md-6">
			<div class=" form-group">
				<label>{{"postYourResume.previousemployers" | translate }}</label>
				<ng-select appMarkAsterisk id="clients_worked" [addTag]="true" addTagText="Add Previous Employer" bindValue="label"
				  bindLabel="label" placeholder="Select item" appendTo="body" multiple="true"
				  formControlName="clients_worked">
				</ng-select>
				<app-control-messages [control]="f['clients_worked']"></app-control-messages>
				
			</div>
		</div>	 -->
		<div class="col-lg-6 col-md-6 matches-8" >	
			<div class=" form-group">
				<label >{{"userProfile.previousEmployers" | translate }} <span *ngIf="!hideEmployee" class="required-asterisk">*</span></label>
				<mat-form-field class="example-chip-list" >
					
					<mat-chip-list #chipList aria-label="Previous Employer">
						<mat-chip *ngFor="let employer of employers" [selectable]="selectable"
							[removable]="removable" (removed)="removeEmplyee(employer)">
							{{employer}}
							<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
						</mat-chip>
						<input placeholder=""
							[matChipInputFor]="chipList"
							[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
							[matChipInputAddOnBlur]="addOnBlur"
							(matChipInputTokenEnd)="addEmplyee($event)">
					</mat-chip-list>
				</mat-form-field>
			</div>	
		</div>	
	</div>
	  <div class="row mt-2">
		<div class="col-lg-5 col-md-12">
		  <div class=" form-group">
			<label>{{"userProfile.workAuthorization" | translate }}</label>
			<div class="mt-2">
			  <div class="custom-control custom-radio custom-control-inline">
				<input  (click)="handleChange('work_authorization',0)"  [value]="0" formControlName="work_authorization" type="radio" id="customRadioInline5"
				  name="work_authorization" class="custom-control-input">
				<label class="custom-control-label"
				  for="customRadioInline5">{{"userProfile.iHaveWorkAuthorization" | translate }}</label>
			  </div>
			  <div class="custom-control custom-radio custom-control-inline">
				<input (click)="handleChange('work_authorization',1)"  [value]="1" formControlName="work_authorization" type="radio" id="customRadioInline6"
				  name="work_authorization" class="custom-control-input">
				<label class="custom-control-label"
				  for="customRadioInline6">{{"userProfile.iNeedVisaAponsorship" | translate }}</label>
			  </div>
			  <app-control-messages [control]="f['work_authorization']"></app-control-messages>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="row mt-2" *ngIf="showAuthorization" >
		<div class="col-lg-12 col-md-12">
			<div class=" form-group">
				<label>{{"userProfile.selectcountry" | translate }} </label>
				<div class="pt-2">
					<button type="button" class="btn btn-fltr" id="254" *ngIf="childForm.value.personalDetails.nationality !=254" (click)="countryClick('Europe',$event);">Europe</button>
					<button type="button" class="btn btn-fltr" id="226" *ngIf="childForm.value.personalDetails.nationality != 226" (click)="countryClick('United States',$event);">United States</button>
					<button type="button" class="btn btn-fltr" id="225" *ngIf="childForm.value.personalDetails.nationality !=225"  (click)="countryClick('United Kingdom',$event);">United Kingdom</button>
					<button type="button" class="btn btn-fltr" id="13"  *ngIf="childForm.value.personalDetails.nationality !=13" (click)="countryClick('Australia',$event);">Australia</button>
					<button type="button" class="btn btn-fltr" id="153" *ngIf="childForm.value.personalDetails.nationality !=153"  (click)="countryClick('New Zealand',$event);"> New Zealand </button>
					<button type="button" class="btn btn-fltr" id="38"  *ngIf="childForm.value.personalDetails.nationality !=38" (click)="countryClick('Canada',$event);">Canada</button>
					<button type="button" class="btn btn-fltr" id="192"  *ngIf="childForm.value.personalDetails.nationality !=192" (click)="countryClick('Singapore',$event);">Singapore</button>
					<!-- <button type="button" class="btn btn-fltr bg-light">Others</button> -->
				</div>
			</div>
		</div>
	</div>
	  <div class="row mt-2" *ngIf="showAuthorization" >
		<div class="col-lg-10 col-md-12">
			<div class=" form-group">
				<label>{{"userProfile.othercountry" | translate }} </label> 
				<ngx-select
					class="text-capitalize"
					[placeholder]="'Other Country'"
					[multiple]="true"
					[items]="othercountry"
					formControlName="authorized_country"
					(remove)="onRemoveCountryEvent($event)"
					optionValueField="id"
					optionTextField="nicename"
					autoClearSearch="true"
					noResultsFound="No results found"
					 >
				 <ng-template ngx-select-option-selected let-option let-text="text">
				  {{option?.text ? option?.text?.split('-')[0] : ''}}
				</ng-template>

				<ng-template ngx-select-option let-option let-text="text">
					{{option?.text}}
				</ng-template>

				<ng-template ngx-select-option-not-found>
					Nothing found
				</ng-template>
				 </ngx-select>
				<app-control-messages [control]="f['othercountry']"></app-control-messages>									  
			</div>
		</div>				
		<!-- <div class="col-lg-4 col-md-6" *ngIf="showAuthorization">
			<div class=" form-group">
				<label>{{"postYourResume.visatype" | translate }}</label>
				<ng-select appMarkAsterisk id="visa_type" [addTag]="true" addTagText="Add Visa Types " bindValue="label" bindLabel="label" placeholder="Ex. H1B, H2B" appendTo="body" multiple="true" formControlName="visa_type">
				</ng-select>
				<app-control-messages [control]="f['visa_type']"></app-control-messages>	
			</div>
		</div> -->
		<div class="col-lg-6 col-md-12" *ngIf="showAuthorization">	
			<div class=" form-group">
				<label >{{"userProfile.visatype" | translate }}</label>
				<mat-form-field appMarkAsterisk class="example-chip-list" >
					
					<mat-chip-list #chipList aria-label="Visa Type">
						<mat-chip *ngFor="let visa_type of visa_types" [selectable]="selectable"
							[removable]="removable" (removed)="remove(visa_type)">
							{{visa_type}}
							<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
						</mat-chip>
						<input placeholder="" id="visaType"
							(input)="getvisa($event.target.value)"
							[matAutocomplete]="auto"
							[matChipInputFor]="chipList"
							[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
							[matChipInputAddOnBlur]="addOnBlur"
							(matChipInputTokenEnd)="add($event)">
					</mat-chip-list>
					<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selSug($event.option.value)">
						<mat-option *ngFor="let items of filterVisatype " [value]="items" >
							{{items}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>	
		</div>	
	</div>
	 <div class="row mt-5">
		<div class="col-lg-12 col-md-12">
		  <label>{{"userProfile.languageKnown" | translate }}</label>
		  <div appMarkAsterisk></div>
		</div>
	  </div> 	
		<div class="row mt-2" *ngFor="let ticket of t.controls; let i = index; let last = last">
		<ng-container [formGroup]="ticket">
			<div class="col-lg-4 col-md-4 matches-33">
				<ngx-select
				  class="text-capitalize"
				  [placeholder]="'Select Language'"
				  [items]="languageSource"
				  formControlName="language"
				  optionValueField="id"
				  optionTextField="name"
				  autoClearSearch="true"
				  noResultsFound="No results found"
				   >
				   <ng-template ngx-select-option-selected let-option let-text="text">
					{{option?.text ? option?.text?.split('-')[0] : ''}}
				  </ng-template>

				  <ng-template ngx-select-option let-option let-text="text">
					   <span *ngIf="indexOfFilter(option?.value) ==true" >{{option?.text}}</span>
				  </ng-template>

				  <ng-template ngx-select-option-not-found>
					  Nothing found
				  </ng-template>
			   </ngx-select>
			  <app-control-messages [control]="ticket['controls']['language']"></app-control-messages>
		</div>
		<div class="col-lg-3 col-md-4 matches-33 top-3-remove mt-3">
			<div class="custom-control custom-checkbox mr-sm-2 custom-control-inline">
				<input type="checkbox" style="z-index: 999999;" formControlName="read" class="custom-control-input" id="read" name="read">
				<label class="custom-control-label" for="Read">{{"shared.read" | translate }}</label>
			</div>
			<div class="custom-control custom-checkbox mr-sm-2 custom-control-inline">
				<input type="checkbox" style="z-index: 999999;" formControlName="write" class="custom-control-input" id="write" name="write">
				<label class="custom-control-label" for="Write">{{"shared.write" | translate }}</label>
			 </div>
			<div class="custom-control custom-checkbox mr-sm-2 custom-control-inline">
				<input type="checkbox" style="z-index: 999999;"  formControlName="speak"  class="custom-control-input" id="speak" name="speak">
				<label class="custom-control-label" for="Speak">{{"shared.speak" | translate }}</label>
			</div>
		</div>		

        
        <div class="col-lg-2 col-md-3 matches-33">
          <button type="button" class="btn btn-outline-danger btn-lan" 
            style="line-height: 1.75; padding: .5rem 1.0rem;" (click)="onRemove(i)"><i class="fas fa-times"></i></button>
          <button *ngIf="last" (click)="onDuplicate(i)" type="button" class="btn btn-lan btn-outline-green "
            style="margin-left: 20px;line-height: 1.75; padding: .5rem 1.0rem;"><i class="fas fa-plus"></i></button>
        </div>
      </ng-container>
    </div>
	
	
																				
							

    <div class="row mt-4">
      <div class="col-lg-4 col-md-12">
        <h6 class="font-weight-bold mt-4 clearfix cursor-pointer" (click)="show = !show">
          {{"shared.myLinks" | translate }}<i class="fas fa-caret-down pt-3 ml-3"></i></h6>
      </div>
      <div *ngIf="show || savedUserDetails?.social_media_link?.length > 0" [@slideInOut] class="col-lg-12 col-md-12 mt-2">
        <div >
          <div class="row mt-4 mb-5">
            <div class="col-lg-4 col-md-8">
              <div class="d-flex">
                <div class="linkIcon in"><i class="fab fa-linkedin"></i></div>
                <input formControlName="linkedin" type="text" class="form-control form-control-sm"
                [placeholder]="'postYourResume.enterLinkedinUrl' | translate">
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="showhideswitch mt-2">
                <input  formControlName="linkedinBoolen" (change)="onSetLinks('linkedin', $event?.target?.checked);" type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch5" >
                <label class="showhideswitch-label" for="myshowhideswitch5">
                  <span class="showhideswitch-inner"></span>
                  <span class="showhideswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-lg-4 col-md-8">
              <div class="d-flex">
                <div class="linkIcon gh"><i class="fab fa-github"></i></div>
                <input formControlName="github" type="text" class="form-control form-control-sm"
                [placeholder]="'postYourResume.enterGithubUrl' | translate">
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="showhideswitch mt-2">
                <input  formControlName="githubBoolen" (change)="onSetLinks('github', $event?.target?.checked);" type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch6" >
                <label class="showhideswitch-label" for="myshowhideswitch6">
                  <span class="showhideswitch-inner"></span>
                  <span class="showhideswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-lg-4 col-md-8">
              <div class="d-flex">
                <div class="linkIcon yt"><i class="fab fa-youtube-square"></i></div>
                <input formControlName="youtube" type="text" class="form-control form-control-sm"
                [placeholder]="'postYourResume.enterYoutubeUrl' | translate">
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="showhideswitch mt-2">
                <input formControlName="youtubeBoolen" (change)="onSetLinks('youtube', $event?.target?.checked);" [value]="true" type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch7" >
                <label class="showhideswitch-label" for="myshowhideswitch7">
                  <span class="showhideswitch-inner"></span>
                  <span class="showhideswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-lg-4 col-md-8">
              <div class="d-flex">
                <div class="linkIcon bl"><i class="fas fa-blog"></i></div>
                <input formControlName="blog" type="text" class="form-control form-control-sm"
                [placeholder]="'postYourResume.enterBlogUrl' | translate">
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="showhideswitch mt-2">
                <input formControlName="blogBoolen" (change)="onSetLinks('blog', $event?.target?.checked);" [value]="true" type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch8" >
                <label class="showhideswitch-label" for="myshowhideswitch8">
                  <span class="showhideswitch-inner"></span>
                  <span class="showhideswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-lg-4 col-md-8">
              <div class="d-flex">
                <div class="linkIcon pf"><i class="fas fa-laptop-code"></i></div>
                <input formControlName="portfolio" type="text" class="form-control form-control-sm"
                [placeholder]="'postYourResume.enterPortfolioUrl' | translate">
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="showhideswitch mt-2">
                <input formControlName="portfolioBoolen" (change)="onSetLinks('portfolio', $event?.target?.checked);" [value]="true" type="checkbox" name="showhideswitch" class="showhideswitch-checkbox" id="myshowhideswitch9" >
                <label class="showhideswitch-label" for="myshowhideswitch9">
                  <span class="showhideswitch-inner"></span>
                  <span class="showhideswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	
	<div class="row mt-5">
		<div class="col-lg-12 col-md-12">
		  <label>{{"userProfile.addreference" | translate }}</label>
		  <div></div>
		</div>
	  </div> 	
		<div class="row mt-2" *ngFor="let ticket of r.controls; let i = index; let last = last">
		<ng-container [formGroup]="ticket">
			<div class="col-lg-3 col-md-3 matches-6">
				<label>Name</label>
				<input  formControlName="name" type="text" class="form-control text-capitalize" placeholder="Please Enter the Name">
				<app-control-messages [control]="ticket['controls']['name']"></app-control-messages>
		  </div>
		  <div class="col-lg-3 col-md-3 matches-6">
				<label>Email</label>
				<input formControlName="email" type="email"  class="form-control text-lowercase" placeholder="Please Enter the E-mail">
				<app-control-messages [control]="ticket['controls']['email']"></app-control-messages>
		  </div>
		  <div class="col-lg-4 col-md-3 matches-6">
				<label>Company Name</label>
				<input  formControlName="company_name" type="text" class="form-control text-capitalize" placeholder="Please Enter the Company Name">
				<app-control-messages [control]="ticket['controls']['company_name']"></app-control-messages>
		  </div>
       
        <div class="col-lg-2 col-md-3 matches-6" style="margin-top:30px;">
          <button type="button" class="btn btn-outline-danger" 
            style="line-height: 1.75; padding: .5rem 1.0rem;" (click)="onRemoveR(i)"><i class="fas fa-times"></i></button>
          <button *ngIf="last" (click)="onDuplicateR(i)" type="button" class="btn btn-outline-green "
            style="margin-left: 20px;line-height: 1.75; padding: .5rem 1.0rem;"><i class="fas fa-plus"></i></button>
        </div>
      </ng-container>
    </div>
	
  </div>



  <ng-template #CropImage let-modal let-d="dismiss">
    <form>
        <div class="modal-header">
            <!-- <h4 class="modal-title" id="exampleModalLabel">Add Clinical Team
            </h4> -->
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mbRef.close('Closed from Close button')">
                <span aria-hidden="true">&times;</span>
            </button> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="mbRef.close('Closed from Close button')">
        <!-- <span>Close</span> -->
        <i class="fas fa-times right ml-2" style="font-size:30px;"></i>
      </button>
        </div>
        <div class="modal-body">
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1" [autoCrop]="true" [resizeToWidth]="295" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed($event)">
            </image-cropper>
        </div>
        <div class="modal-footer mt-3">
            <button type="button" class="btn btn-gren" data-dismiss="modal" (click)="SetPreviousProfilePic()">Cancel</button>
            <button type="button" class="btn btn-gren" data-dismiss="modal" (click)="onImageCropSave()">Save</button>
        </div>
    </form>
</ng-template>
