.my-custom-class .tooltip-inner {
    color: #000;
    background: #fff;
    background-color: #fff;
	border:1px solid #000;
}
  .my-custom-class .arrow::before {
      border-top-color: #000;
}
.my-custom-class .tooltip.show {
    opacity: 10 !important;
}
.tooltip.show {
    opacity: 10 !important;
}
.my-custom-classes .tooltip-inner {
    color: #000;
    background: #fff;
    background-color: #fff;
	border:1px solid #000;
}
  .my-custom-classes .arrow::before {
      border-top-color: #000;
}
.knldge{
	cursor:pointer;
	font-size: 14px;
    font-weight: 600;
}

.skils-short:last-child {
  border-right: none !important;
}
.handsExps:hover{
		overflow-x:auto !important;
	}
	.pj-title h6{	
	border:none !important;
	outline:none !important;
}

.pj-title  h6{
	display: contents !important;
}
.pj-titler {
        padding: 10px 0;
    border-bottom: 1px solid #ffc0d8;
}
.pj-titler h6 {
    margin: 0;
    font-weight: 900;
    font-size: 0.7rem;
    text-transform: uppercase;
    line-height: 0.6;
}
.pj-titler h6 {
    border: none !important;
    outline: none !important;
}
.pj-titler h6 {
    display: contents !important;
}
.pj-titles{
    padding: 5px 0;
    /*border-bottom: 1px solid #ffc0d8;*/
}
.pj-titles  h6{
	display: -webkit-inline-box !important;
}
p{
	margin-bottom:0px !important;
}