<div class="row mt-3 info-box">
  <!-- <div class="col-lg-12 mt-2">
    <h6 class="font-weight-bold">&nbsp;</h6>
  </div> -->
  <div class="col-lg-4 caption">
    <ul class="list-group">
      <li class=" list-group-item text-capitalize">{{"dashboard.totalYearsOfExp" | translate }}</li>
      <li class=" list-group-item text-capitalize">{{"dashboard.totalSapExp" | translate }}</li>
      <li class=" list-group-item text-capitalize">{{"postJob.domainExperience" | translate }}</li>
      <li class=" list-group-item text-capitalize">{{"postJob.handsOnWith" | translate }}</li>
    </ul>
  </div>
  <div class="col-lg-8 info">
    <ul class="list-group">
      <li class="list-group-item text-capitalize">{{jobInfo?.experience ? jobInfo?.experience + ' Years' : ''}} </li>
      <li class="list-group-item text-capitalize">{{jobInfo?.sap_experience ? jobInfo?.sap_experience + ' Years' : ''}}</li>
      <li class="list-group-item text-capitalize">{{sharedService.onFindDomainFromID(jobInfo?.domain)}}</li>
      <li class="list-group-item text-uppercase d-flex">
        <!-- <p class="m-0 w-100 float-left" *ngFor="let item of jobInfo?.hands_on_experience">
          <span class="text-wrap-custom float-left">{{item?.skill_id ? sharedService.onFindSkillsFromSingleID(item?.skill_id)?.tag : '--'}}</span>
          <span *ngIf="item?.skill_id">({{item?.experience + ' ' + item?.exp_type}})</span>
        </p> -->
        <ng-container *ngIf="jobInfo?.hands_on_experience?.length; else elseHandsTemplate">
          <ng-container *ngFor="let item of jobInfo?.hands_on_experience; let i = index" >
            <div [ngClass]="{'pl-2': i >= 1}" class="text-center border-right pr-2">
              {{item?.skill_id ? utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item?.skill_id)?.tag) : '--'}} <br>({{item?.experience + ' ' + item?.exp_type?.charAt(0)}})
            </div>
          </ng-container>
        </ng-container>

        <ng-template #elseHandsTemplate>
          <p>--</p>
        </ng-template>
      </li>

    </ul>
  </div>

  <div class="col-lg-12 border-top pt-3">	</div>
  <div class="col-lg-4 caption">
    <ul class="list-group">
      <li class=" list-group-item text-capitalize" *ngIf="sharedService.onFindSkillsFromID(jobInfo?.skills, 'obj')?.length">{{"dashboard.knowledgeOn" | translate }}</li>
      <li class=" list-group-item text-capitalize">{{"postJob.programmingSkills" | translate }}</li>
      <li class=" list-group-item text-capitalize">{{"postJob.niceToHave" | translate }}</li>
      <li class=" list-group-item text-capitalize">{{"postJob.certification" | translate }}</li>
    </ul>
  </div>
  <div class="col-lg-8 info">
    <ul class="list-group">
      <li class=" list-group-item text-uppercase">
        <ng-container *ngIf="jobInfo?.skills?.length; else elseSkillsTemplate">
          <span class="m-0 float-left" *ngFor="let item of utilsHelperService.differenceByPropValArray(jobInfo?.skills, jobInfo?.hands_on_experience, 'skill_id'); let i = index; let last = last;">
            <span class="text-wrap-custom float-left"
            *ngIf="!utilsHelperService.isEmptyObj(sharedService.onFindSkillsFromSingleID(item))">
            {{item ? utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item)?.tag): '--'}}{{last ? '' : ',&nbsp;'}}
            </span>
          </span>
        </ng-container>

        <ng-template #elseSkillsTemplate>
          <p>--</p>
        </ng-template>
      </li>
      <li class=" list-group-item text-capitalize">{{utilsHelperService.onConvertArrayToString(jobInfo?.programming_skills)}}  </li>
      <li class=" list-group-item text-capitalize">{{utilsHelperService.onConvertArrayToString(jobInfo?.optinal_skills)}}</li>
      <li class=" list-group-item text-capitalize">{{utilsHelperService.onConvertArrayToString(jobInfo?.certification)}}</li>
    </ul>
  </div>

  <div class="col-lg-12 border-top pt-3">	</div>
  <div class="col-lg-4 caption">
    <ul class="list-group">
      <li class=" list-group-item text-capitalize">{{"postJob.jobType" | translate}}</li>
      <!-- <li class="list-group-item text-capitalize" *ngIf="jobInfo?.type == '6'">{{"postJob.contractDuration" | translate}}</li> -->
      <li class="list-group-item text-capitalize" *ngIf="fieldsExclude?.salary">{{"postJob.salary" | translate}}</li>
      <li class=" list-group-item text-capitalize">{{"postJob.remote" | translate}}</li>
      <li class=" list-group-item text-capitalize">{{"postJob.startTime" | translate}}</li>
      <li class=" list-group-item text-capitalize">{{"postJob.travelRequired" | translate}}</li>
      <li class=" list-group-item text-capitalize">{{"postJob.workAuthorization" | translate }}</li>
      <li class=" list-group-item text-capitalize"  *ngIf="fieldsExclude?.visa_sponsorship">{{"postJob.visaSponsorship" | translate }}</li>
      <li class=" list-group-item text-capitalize"  *ngIf="fieldsExclude?.end_to_end_implementation">{{"postJob.endToEndImplementation" | translate }}</li>
    </ul>
  </div>
  <div class="col-lg-8 info">
    <ul class="list-group">
    <li class=" list-group-item text-capitalize">
      {{jobInfo?.type > -1 ? sharedService.onGetJobType(jobInfo?.type) : '--'}}
      <span *ngIf="(jobInfo?.type == '6' || jobInfo?.type == 6)">({{jobInfo?.contract_duration}} months)</span>
    </li>
    <!-- <li class="list-group-item text-capitalize" *ngIf="jobInfo?.type == '6'">{{jobInfo?.contract_duration}} months</li> -->
    <li class="list-group-item text-capitalize" *ngIf="fieldsExclude?.salary">
      <ng-container *ngIf="jobInfo?.salary_type == 0">
        {{sharedService.onGetCurrencyCode(jobInfo?.salary_currency)?.symbol + jobInfo?.salary + '/hr'}}

      </ng-container>
      <ng-container *ngIf="jobInfo?.salary_type ==1">
        {{sharedService.onGetCurrencyCode(jobInfo?.salary_currency)?.symbol + jobInfo?.salary + ' Annual pay'}}

      </ng-container>
      <ng-container  *ngIf="jobInfo?.salary_type < 0">
        --
      </ng-container>
    </li>
    <li class=" list-group-item text-capitalize">{{utilsHelperService.onGetYesOrNoValue(jobInfo?.remote)}}</li>
    <li class=" list-group-item text-capitalize">
      {{(jobInfo?.availability || jobInfo?.availability == 0) ? (jobInfo.availability == 0 ? 'Immediate' : jobInfo?.availability + ' Days') : '--'}}
    </li>
    <li class=" list-group-item text-capitalize">
      {{(jobInfo?.travel_opportunity || jobInfo?.travel_opportunity==0) ? (jobInfo?.travel_opportunity == 0 ? 'No' : jobInfo?.travel_opportunity + '%') : '--'}}</li>
     <li class=" list-group-item text-capitalize">{{jobInfo?.work_authorization == 0 ? ("postJob.shouldBeACitizenPr" | translate) : ("postJob.shouldBeHavingAWorkPermit" | translate)}}</li>
    <li class=" list-group-item text-capitalize"  *ngIf="fieldsExclude?.visa_sponsorship">{{utilsHelperService.onGetYesOrNoValue(jobInfo?.visa_sponsorship)}}</li>
    <li class=" list-group-item text-capitalize"  *ngIf="fieldsExclude?.end_to_end_implementation">{{jobInfo?.end_to_end_implementation}}</li>
    </ul>
  </div>

  <div class="col-lg-4 caption">
    <ul class="list-group">
      <li *ngFor="let item of jobInfo?.extra_criteria | keyvalue; let i=index"
      class=" list-group-item text-capitalize">{{item?.value?.title ? item?.value?.title : '--'}}</li>
     </ul>
  </div>
  <div class="col-lg-8 info">
    <ul class="list-group">
      <li *ngFor="let item of jobInfo?.extra_criteria; let i=index"
      class=" list-group-item text-capitalize">{{item?.value ? item?.value : '--'}}</li>
    </ul>
  </div>

  <div *ngIf="isDescrition" class="col-lg-12 border-top pt-3">	</div>

  <div  *ngIf="isDescrition" class="col-lg-12">
    <h6>Job Description</h6>
    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
  </div>

</div>
