 <!-- Sub Header Section -->
 <section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex align-items-center">
		<!-- <button (click)="onRedirectBack();" type="button" class="btn btn-outline-green btn-sm mr-1">
					<i class="fas fa-arrow-left"></i>
				</button> -->
        <ol class="breadcrumb">
		 <li class="breadcrumb-item">
					<a (click)="onRedirectBack();"  ><i class="fas fa-chevron-circle-left my-auto mr-1"></i></a>
				 </li>
          <li class="breadcrumb-item active" aria-current="page">{{"shared.candidateViewJobs" | translate}}</li>
        </ol>
      </div>
      <div class="col-lg-7 clearfix">
      </div>
    </div>
  </div>
</section>
  <!-- //Sub Header Section -->

<section class="my-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 matches-8">
				<div class="row">
					<div class="col-lg-12">
						<div class="card job-card">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6 col-md-6 matches-8 ">
										<h5 class="text-capitalize">{{postedJobsDetails?.title}}</h5>
									</div>
									<div class="col-lg-6 col-md-6 matches-8 text-right" >
										<a class="btn btn-sm" *ngIf="postedJobsDetails['status'] == 3"  style="margin-right: 4px;    color: #fff;border-color: #b30606;background: #b71111;" href="javascript:;" ><i class="fas fa-file-alt"></i> {{"shared.closed" | translate}}</a>
										<a class="btn btn-outline-green btn-sm" *ngIf="postedJobsDetails?.is_job_applied == 0" (click)="onToggleResumeSelectModal(true, postedJobsDetails) && postedJobsDetails['status'] == 1" style="margin-right: 4px;" href="javascript:;" ><i class="fas fa-file-alt"></i> {{"shared.apply" | translate}}</a>
										<a class="btn btn-outline-green btn-sm applied-btn-green" *ngIf="postedJobsDetails?.is_job_applied != 0" style="margin-right: 4px;" href="javascript:;" ><i class="fas fa-file-alt"></i> {{"shared.applied" | translate}}</a>
										<a class="btn btn-outline-blue btn-sm" (click)="onToggleJDModal(true)" href="javascript:;" style="margin-right: 4px;"><i class="fas fa-file-alt"></i> {{"shared.description" | translate}}</a>
										<a class="btn btn-outline-blue btn-sm"  *ngIf="isShowApply && postedJobsDetails['status'] == 1"  (click)="navigateMatches()" href="javascript:;"><i class="fas fa-file-alt"></i> {{"shared.showMatches" | translate}}</a>
										
									</div>
								</div>
								<div class="row">
									<div class="media col-lg-6">
										<div class="media-body">
											<h6>{{postedJobsDetails?.company?.company ? postedJobsDetails?.company?.company : ''}}</h6>
											<h6 class="text-capitalize">
												{{postedJobsDetails?.city ? postedJobsDetails?.city + ', ' : ''}}
												{{postedJobsDetails?.state ? postedJobsDetails?.state + ', ' : ''}}
												<!-- {{postedJobsDetails?.zipcode ? postedJobsDetails?.zipcode + ', ' : ''}} -->
												<span class="text-uppercase">
													{{postedJobsDetails?.country ? postedJobsDetails?.country : ''}}
												</span>
											</h6>
										</div>
									</div>
									<div class="col-lg-6" style="text-align: right;">
										<ng-container *ngIf="postedJobsDetails?.salary_type == 0">
											<h6 class="text-capitalize job-cardh6">{{"shared.salary" | translate}} : {{sharedService.onGetCurrencyCode(postedJobsDetails?.salary_currency)?.symbol + postedJobsDetails?.salary + ' / hr'}}</h6>
										</ng-container>
										<ng-container *ngIf="postedJobsDetails?.salary_type ==1">
											<h6 class="text-capitalize job-cardh6">{{"shared.salary" | translate}} : {{sharedService.onGetCurrencyCode(postedJobsDetails?.salary_currency)?.symbol + postedJobsDetails?.salary + ' / Annual '}}</h6>
										</ng-container>
										<ng-container *ngIf="postedJobsDetails?.salary_type ==2">
											<h6 class="text-capitalize job-cardh6">{{"shared.salary" | translate}} : {{sharedService.onGetCurrencyCode(postedJobsDetails?.salary_currency)?.symbol + postedJobsDetails?.salary + ' / month'}}</h6>
										</ng-container>
										<ng-container  *ngIf="postedJobsDetails?.salary_type < 0">
											--
										</ng-container>
										<h6 class="text-capitalize job-cardh6">{{"userProfile.remote" | translate}} :  {{onGetYesOrNoValue(postedJobsDetails?.remote)}} </h6>
										<!-- <h6 class="text-capitalize job-cardh6" >{{"postJob.relocate" | translate}} :  {{onGetYesOrNoValue(postedJobsDetails?.willing_to_relocate)}} </h6> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<app-shared-job-profile [jobInfo]="postedJobsDetails"
						[fieldsExclude]="{salary: true, visa_sponsorship: true, end_to_end_implementation: true}">
				</app-shared-job-profile>
			</div>
			<div class="col-lg-4 col-md-4 matches-8">
				<div class="title" *ngIf="postedJobsDetails?.screening_process && postedJobsDetails?.screening_process.length">
				  <h2>
					{{"shared.screeningProcess" | translate}}        
				  </h2>
				</div>
				<div class="sidebar-widget px-4" *ngIf="postedJobsDetails?.screening_process && postedJobsDetails?.screening_process.length">
					<div class="row mt-3 mb-3" *ngFor="let items of postedJobsDetails?.screening_process;let i=index">
						<div class="col-lg-2 col-md-3 matches-10 text-left">
							<h6 class="font-weight-bold">{{i+1}}.</h6> 
						</div>	
						<div class="col-lg-10 col-md-9 matches-80 text-left">
							<h6>{{items.title}}</h6>
						</div>	
					</div>
				</div>
				<!-- <div class="title">
					<h2>More Jobs</h2>
				</div> -->
			</div>
		</div>
	</div>
</section>
<app-resume-select
[toggleResumeSelectModal]="isOpenedResumeSelectModal"
[userAccept]="userAccept"
[currentJobDetails]="currentJobDetails"
*ngIf="isOpenedResumeSelectModal" 
(onEvent)="onToggleResumeSelectModalClose($event)">
</app-resume-select>

  <app-job-description
  [isRichTextEnabled]="true"
  [description]="postedJobsDetails?.description"
  [toggleJDModal]="isOpenedJDModal"
  *ngIf="isOpenedJDModal"
  (onEvent)="onToggleJDModal($event)">
  </app-job-description>


