<section class="sub-header">
  <div [ngClass]="(screenWidth >= 1500)?'container-fluid':'container'" >
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 d-flex align-items-center">
       
        <ol class="breadcrumb">
		  <li class="breadcrumb-item"><a (click)="onRedirectBack();" ><i class="fas fa-chevron-circle-left my-auto mr-1"></i></a></li>
          <li class="breadcrumb-item active" aria-current="page">
            {{"home.postJob" | translate}}
            <!-- {{"dashboard.postJobDetailView" | translate}} -->
          </li>
        </ol>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 clearfix">
      </div>
    </div>
  </div>
</section>
  <!-- //Sub Header Section -->
<section class="my-5">
  <div [ngClass]="(screenWidth >= 1500)?'container-fluid':'container'" >
    <div class="row">
      <div class="col-lg-8 col-md-8 matches-8">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card job-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 matches-8">
                    <h5 class="text-capitalize">
                      {{postedJobsDetails?.title}}
                    </h5>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 matches-8">
                    <a *ngIf="loggedUserInfo?.isLoggedIn && loggedUserInfo?.role?.includes(1) && postedJobsDetails?.status != 0 " class="btn btn-smss btn-outline-warning btn-sm mr-1" [routerLink]="['/employer/post-job']" [queryParams]="{id: postedJobsDetails?.id}" href="javascript:;" title="Edit"><i class="fas fa-pencil-alt"></i> {{"shared.edit" | translate}}</a>
                    <a class="btn btn-smss btn-outline-blue btn-sm mr-1" href="javascript:;" (click)="onToggleJDModal(true)"><i class="fas fa-file-alt"></i> {{"shared.description" | translate}}</a>
                    <a *ngIf="loggedUserInfo?.isLoggedIn && loggedUserInfo?.role?.includes(1) && postedJobsDetails?.status != 0" class="btn btn-smss btn-outline-green btn-sm" [routerLink]="['/employer/dashboard']" [queryParams]="{activeTab: 'matches', id: postedJobsDetails?.id}" href="javascript:;" title="Matches"><i class="fas fa-tasks"></i> {{"tabs.matches" | translate}}</a>
                  </div>
                </div>
				<div class="row mt-2">
                <div class="media col-lg-7 col-md-7 col-sm-7">
                  <div class="media-body">
                    <h6>{{postedJobsDetails?.company?.company ? postedJobsDetails?.company?.company : ''}}</h6>
                    <h6 class="text-capitalize">
						<ng-container *ngFor="let items of postedJobsDetails?.job_locations;let i=index;">
                      <!-- {{items?.city ? items?.city + ', ' : ''}} -->
                      {{items?.city ? items?.city + '' : ''}}
                      <!-- {{postedJobsDetails?.zipcode ? postedJobsDetails?.zipcode + ', ' : ''}} -->
                      <span class="text-uppercase">
                        {{items?.countryshort ? items?.countryshort : ''}}
                        </span>
						<span *ngIf="i != postedJobsDetails?.job_locations?.length-1">
                        ,
                        </span>
						
						</ng-container>
                    </h6>
					<h6 class="font-weight-bold mb-2" >{{"shared.timing" | translate}} : 
						<ng-container *ngIf="postedJobsDetails?.min ">
							{{postedJobsDetails?.min | time}}
						</ng-container>
						<ng-container *ngIf="postedJobsDetails?.min && postedJobsDetails?.max  ">
							-
						</ng-container>
						
						<ng-container *ngIf="postedJobsDetails?.max ">
							{{postedJobsDetails?.max | time}}
						</ng-container>
					</h6>
                  </div>
                </div>
				<div class="col-lg-5 col-md-5 col-sm-5" >
							<ng-container *ngIf="postedJobsDetails?.salary_type == 0">
								<h6 class="text-capitalize job-cardh6" >{{"shared.salary" | translate}} : {{sharedService.onGetCurrencyCode(postedJobsDetails?.salary_currency)?.symbol + postedJobsDetails?.salary + '/ hr'}}</h6>
								<a class="btn btn-smss btn-outline-blue btn-sm mr-1" href="javascript:;" style="position: absolute;top: 0px;left: 11rem;" *ngIf="postedJobsDetails?.negotiable ==true">{{"shared.negotiable" | translate}}</a>
							</ng-container>
							<ng-container *ngIf="postedJobsDetails?.salary_type ==1">
								<h6 class="text-capitalize job-cardh6" >{{"shared.salary" | translate}} : {{sharedService.onGetCurrencyCode(postedJobsDetails?.salary_currency)?.symbol + postedJobsDetails?.salary + ' / Annual'}}</h6>
								<a class="btn btn-smss btn-outline-blue btn-sm mr-1" href="javascript:;" style="position: absolute;top: 0px;left: 11rem;" *ngIf="postedJobsDetails?.negotiable ==true"> {{"shared.negotiable" | translate}}</a>
							</ng-container>
							<ng-container *ngIf="postedJobsDetails?.salary_type ==2">
								<h6 class="text-capitalize job-cardh6" >{{"shared.salary" | translate}} : {{sharedService.onGetCurrencyCode(postedJobsDetails?.salary_currency)?.symbol + postedJobsDetails?.salary + ' / Monthly'}}</h6>
								<a class="btn btn-smss btn-outline-blue btn-sm mr-1" href="javascript:;" style="position: absolute;top: 0px;left: 11rem;" *ngIf="postedJobsDetails?.negotiable ==true"> {{"shared.negotiable" | translate}}</a>
							</ng-container>
							<ng-container  *ngIf="postedJobsDetails?.salary_type < 0">
								--
								<a class="btn btn-smss btn-outline-blue btn-sm mr-1" href="javascript:;" style="position: absolute;top: 0px;left: 11rem;" *ngIf="postedJobsDetails?.negotiable ==true">{{"shared.negotiable" | translate}}</a>
							</ng-container>
							<h6 class="text-capitalize job-cardh6" >{{"userProfile.remote" | translate }} : {{utilsHelperService.onGetYesOrNoValue(postedJobsDetails?.remote)}}</h6>
							<!-- <h6 class="text-capitalize job-cardh6" >{{"postJob.relocate" | translate }} : {{utilsHelperService.onGetYesOrNoValue(postedJobsDetails?.willing_to_relocate)}}</h6> -->
						</div>
					</div>
              </div>
            </div>
          </div>
        </div>
        <app-shared-job-profile [jobInfo]="postedJobsDetails" [fieldsExclude]="{salary: true, visa_sponsorship: true, end_to_end_implementation: true}">
        </app-shared-job-profile>
      </div>
      <div class="col-lg-4 col-md-4 matches-8" >
		<div class="title" *ngIf="postedJobsDetails?.screening_process && postedJobsDetails?.screening_process.length">
          <h2>
            {{"shared.screeningProcess" | translate}}        
          </h2>
        </div>
		<div class="sidebar-widget px-4" *ngIf="postedJobsDetails?.screening_process && postedJobsDetails?.screening_process.length">
			<ul class="timeline">
			<ng-container *ngFor="let items of postedJobsDetails?.screening_process;let i=index">
				<li class="blue" *ngIf="i==0">	
					<span>{{items.title}}</span>
				</li>
				<li class="orange" *ngIf="i==1">	
					<span>{{items.title}}</span>
				</li>
				<li class="purple" *ngIf="i==2">	
					<span>{{items.title}}</span>
				</li>
				<li class="red" *ngIf="i==3">	
					<span>{{items.title}}</span>
				</li>
				<li class="yallow" *ngIf="i==4">	
					<span>{{items.title}}</span>
				</li>
				<li class="dblue" *ngIf="i==5">	
					<span>{{items.title}}</span>
				</li>
				<li class="green" *ngIf="i==6">	
					<span>{{items.title}}</span>
				</li>
				
				<li class="blue" *ngIf="i==7">	
					<span>{{items.title}}</span>
				</li>
				<li class="orange" *ngIf="i==8">	
					<span>{{items.title}}</span>
				</li>
				<li class="purple" *ngIf="i==9">	
					<span>{{items.title}}</span>
				</li>
				<li class="red" *ngIf="i==10">	
					<span>{{items.title}}</span>
				</li>
				<li class="yallow" *ngIf="i==11">	
					<span>{{items.title}}</span>
				</li>
				<li class="dblue" *ngIf="i==12">	
					<span>{{items.title}}</span>
				</li>
				<li class="green" *ngIf="i==13">	
					<span>{{items.title}}</span>
				</li>
				
				<li class="blue" *ngIf="i==14">	
					<span>{{items.title}}</span>
				</li>
				<li class="orange" *ngIf="i==15">	
					<span>{{items.title}}</span>
				</li>
				<li class="purple" *ngIf="i==16">	
					<span>{{items.title}}</span>
				</li>
				<li class="red" *ngIf="i==17">	
					<span>{{items.title}}</span>
				</li>
				<li class="yallow" *ngIf="i==18">	
					<span>{{items.title}}</span>
				</li>
				<li class="dblue" *ngIf="i==19">	
					<span>{{items.title}}</span>
				</li>
				<li class="green" *ngIf="i==20">	
					<span>{{items.title}}</span>
				</li>
			</ng-container>
			</ul>
		</div>
        <div class="title mt-4" *ngIf="loggedUserInfo?.isLoggedIn && loggedUserInfo?.role?.includes(1) && postedJobs?.length && postedJobs?.length !=1 && !postedJobs?.includes(postedJobsDetails?.id)">
          <h2>
				{{"shared.otherPost" | translate}}        
            <!-- {{"dashboard.yourPostJobs" | translate }} -->
          </h2>
        </div>
        <div class="sidebar-widget text-left" *ngIf="loggedUserInfo?.isLoggedIn && loggedUserInfo?.role?.includes(1) && postedJobs?.length && postedJobs?.length !=1 && !postedJobs?.includes(postedJobsDetails?.id)">
          <div class="card" *ngFor="let item of postedJobs; let i=index">
            <div class="card-body p-3" *ngIf="item?.id != postedJobsDetails?.id">
              <a href="javascript:;" [routerLink]="['/employer/job-detail-view', 'details']" [queryParams]="{id: item?.id}" >
                <h5 class="text-capitalize">{{item?.title}}</h5>
              </a>
              <!-- <h6 class="mb-2">Matchings - 23</h6>
              <h6>Applicants - 14</h6> -->
            </div>
          </div>
		  <mat-paginator style="background: #f8f8f8;color: #000;" (page)="handlePageEvent($event)"
			[length]="length"
			[pageSize]="limit" [pageSizeOptions]="pageSizeOptions"
			[pageIndex]="page-1">
		</mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>

<app-job-description
[isRichTextEnabled]="true"
[description]="postedJobsDetails?.description"
[toggleJDModal]="isOpenedJDModal"
*ngIf="isOpenedJDModal"
(onEvent)="onToggleJDModal($event)">
</app-job-description>
