.text-wrap-custom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}
.job-cardh6 {
    font-weight: 700;
    font-size: 13px;
    color: #465666;
    margin-bottom: 7px;
}