<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex align-items-center">
        <button (click)="onRedirectBack();" type="button" class="btn btn-outline-green btn-sm mr-1">
          <i class="fas fa-arrow-left"></i>
        </button>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">{{"dashboard.postJobDetailView" | translate}}</li>
        </ol>
      </div>
      <div class="col-lg-7 clearfix">
      </div>
    </div>
  </div>
</section>
  <!-- //Sub Header Section -->
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <!-- <div class="row"> -->
          <!-- <div class="col-lg-12 title"> -->
            <!-- <h2>Post Job Details</small></h2> -->
          <!-- </div> -->
        <!-- </div>	 -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card job-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-7">
                    <h5 class="text-capitalize">
                      {{postedJobsDetails?.title}}
                    </h5>
                  </div>
                  <div class="col-lg-5 text-right">
                    <a *ngIf="loggedUserInfo?.isLoggedIn && loggedUserInfo?.role?.includes(1)" class="btn btn-outline-warning btn-sm mr-1" [routerLink]="['/employer/post-job']" [queryParams]="{id: postedJobsDetails?.id}" href="javascript:;" title="Edit"><i class="fas fa-pencil-alt"></i> {{"dashboard.edit" | translate}}</a>
                    <a class="btn btn-outline-blue btn-sm mr-1" href="javascript:;" (click)="onToggleJDModal(true)"><i class="fas fa-file-alt"></i> {{"dashboard.description" | translate}}</a>
                    <a *ngIf="loggedUserInfo?.isLoggedIn && loggedUserInfo?.role?.includes(1)" class="btn btn-outline-green btn-sm" [routerLink]="['/employer/dashboard']" [queryParams]="{activeTab: 'matches', id: postedJobsDetails?.id}" href="javascript:;" title="Matches"><i class="fas fa-tasks"></i> {{"dashboard.matches" | translate}}</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-body">
                    <h6>{{postedJobsDetails?.company?.company ? postedJobsDetails?.company?.company : ''}}</h6>
                    <h6 class="text-capitalize">
                      {{postedJobsDetails?.city ? postedJobsDetails?.city + ', ' : ''}}
                      {{postedJobsDetails?.state ? postedJobsDetails?.state + ', ' : ''}}
                      <!-- {{postedJobsDetails?.zipcode ? postedJobsDetails?.zipcode + ', ' : ''}} -->
                      <span class="text-uppercase">
                        {{postedJobsDetails?.country ? postedJobsDetails?.country : ''}}
                        </span>

                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-shared-job-profile [jobInfo]="postedJobsDetails" [fieldsExclude]="{salary: true, visa_sponsorship: true, end_to_end_implementation: true}">
        </app-shared-job-profile>
      </div>
      <div class="col-lg-4" *ngIf="postedJobs?.length && !postedJobs?.includes(postedJobsDetails?.id)">
        <div class="title">
          <h2>{{"dashboard.yourPostJobs" | translate }}</h2>
        </div>
        <div class="sidebar-widget text-left">
          <div class="card" *ngFor="let item of postedJobs; let i=index">
            <div class="card-body p-3" *ngIf="item?.id != postedJobsDetails?.id">
              <h5 class="text-capitalize">{{item?.title}}</h5>
              <!-- <h6 class="mb-2">Matchings - 23</h6>
              <h6>Applicants - 14</h6> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-job-description
[isRichTextEnabled]="true"
[description]="postedJobsDetails?.description"
[toggleJDModal]="isOpenedJDModal"
*ngIf="isOpenedJDModal"
(onEvent)="onToggleJDModal($event)">
</app-job-description>
