<div id="jspage" class="main-panel tablescreens">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header clearfix">
					<div class="page-title float-left">
						<h1>Jobseekers</h1>
					</div>
					<div class="float-right">
						<button type="button" class="btn btn-outline-secondary btn-sm " onclick="history.go(-1)">
							<i class="ri-arrow-left-circle-line align-middle"></i> Back
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-2">	
			<div class="col-lg-12">	
				<div class="myCard"> 
					<div class="myCard-body"> 							
						<div class="row">	
							<div class="col-lg-12 mt-3">
								<div class="profile-card">
									<h3>Jobseekers - By Location</h3>	
								</div>
							</div>	
							<div class="col-lg-12 mt-4" >	
								<owl-carousel [options]="SlideOptions" [items]="totalEmployersCountry" [carouselClasses]="['owl-theme', 'sliding']" >  
									<ng-container carouselSlide *ngFor="let item of totalEmployersCountry" >	
										<div class="item"  >
											<a >
												<h5 class="text-Capitalize">{{item.country}}</h5>
												<h3>{{item.count}}</h3>
											</a>
										</div>
									</ng-container>
								</owl-carousel> 
							</div>
						</div>
						<div class="row mt-3">	
							<div class="col-lg-12">	
							  <form class="form-inline float-right">
									<div class="form-group">
										<label class="mr-3">Search </label>
										<input type="text" class="form-control form-control-sm rounded-pill" (input)="onSearchChange($event.target.value)" id="inputSearch">
									</div>
								</form>
								<!-- Table start -->
								<div class="table-container">
									<div class="table-container">
										<div class="table-responsive">
											<table  datatable id="DataTable" [dtOptions]="dtOptionsss"  class="sort-table table custom-table m-0">
												<thead>
													<tr>
														<th>NAME</th>
														<th>TITLE</th>
														<th>LOCATION</th>
														<th>ACTIVE SINCE</th>
														<th>EMAIL</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
									</div>
									<!-- Table end -->
									</div>	
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal Section -->
		
	<ng-template *ngIf="openmail" #emailModal let-modal let-d="dismiss">
	<div class="modal-content" style="margin-top:-10rem !important;">
	  <div class="modal-header">
		<h5 class="modal-title" id="emailModalLabel">Mail</h5>
		  <span class="modal-title" (click)="closemodel()" role="button">x</span>
	  </div>
	  <div class="modal-body">
		<form class="myadmin-form" [formGroup]="emailform" (ngSubmit)="submitmail()">
			<div class="form-group" style="margin-bottom: 0.5rem !important">
				<label>Subject</label>
				<input type="text" class="form-control" formControlName="subject" name="subject" placeholder="Enter Subject">
			</div>
			<div class="form-group" style="margin-bottom: 0.5rem !important">
				<label>Messages</label>
				<textarea class="form-control" rows="4" formControlName="message" name="message" placeholder="Enter Messages"></textarea>
			</div>
			<div class="modal-footer">
		       <button [disabled]="!emailform.valid" type="submit" class="btn btn-sm btn-primary px-3 sendbtn">Send</button>
	        </div>
		</form>
	  </div>
	  
	</div>
	</ng-template>
		
    <!-- //Modal Section -->