 <!-- Sub Header Section -->
 <section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Company Profile</li>
        </ol>
      </div>
      <div class="col-lg-7 clearfix">
      </div>
    </div>
  </div>
</section>
  <!-- //Sub Header Section -->
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-lg-12 title">
            <h2>Company Details</h2>
          </div>
        </div>
        <div class="row mb-5 bg-light py-3">
          <div class="col-lg-2 text-center">
            <div class="profile-img">
              <img src="assets/images/sap-logo.png">
            </div>
          </div>
          <div class="col-lg-7">
            <div class="profile-info">
              <h3>SAP India Pvt. Ltd. <small>Financial Department</small></h3>
              <h6><i class="fas fa-phone"></i> +00 004 1234567, +00 004 1234568, 117 </h6>
              <h6><a href="mailto:sapfi-department22@gmail.com" >
                <i class="fas fa-envelope"></i> sapfi-department22@gmail.com</a></h6>
              <h6><i class="fas fa-map-marker-alt"></i> 22 Main Road, Kolkata, India</h6>
            </div>
          </div>
          <div class="col-lg-3 text-right">
            <a [routerLink]="['/employer/post-job']" class="btn btn-outline-primary btn-sm mr-1" href="javascript:;" >Post Job</a>
            <a [routerLink]="['/employer/post-job']" class="btn btn-outline-warning btn-sm" href="javascript:;"><i class="fas fa-pencil-alt"></i></a>
          </div>
        </div>
        <div class="row profile-info">
          <div class="col-lg-12 mb-3">
            <h5>About Us</h5>
            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="title">
          <h2>New Candidates</h2>
        </div>
        <div class="sidebar-widget text-left">
          --
        </div>
      </div>
    </div>
  </div>
</section>
