<div class="row mt-3 info-box">
	<div class="col-lg-12">
		<div class="pj-title mb-3">
			 <h6>{{"userProfile.personalDetails" | translate }}</h6>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-6 caption">
				<ul class="list-group">
					<li class="list-group-item">{{"userProfile.nationality" | translate }}</li>
				</ul>
			</div>
			<div class="col-lg-6 info">
				<ul class="list-group">
					<li class="list-group-item text-capitalize">{{this.findCountry(userInfo?.nationality)}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-6 caption">
				<ul class="list-group">
					<li class="list-group-item">{{"userProfile.relocate" | translate }}</li>
				</ul>
			</div>
			<div class="col-lg-6 info">
				<ul class="list-group">
					<li class="list-group-item text-capitalize">{{utilsHelperService.onGetYesOrNoValue(userInfo?.willing_to_relocate)}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-6 caption">
				<ul class="list-group">
					<li class="list-group-item">
					{{"userProfile.education" | translate }}
				</li>
				</ul>
			</div>
			<div class="col-lg-6 info">
				<ul class="list-group ul-value text-capitalize">
				{{this.findEducation(userInfo?.education_qualification)}}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-6 caption">
				<ul class="list-group">
					<li class="list-group-item">{{"userProfile.jobType" | translate }}</li>
				</ul>
			</div>
			<div class="col-lg-6 info">
				<ul class="list-group ul-value">
					{{(userInfo?.job_type || userInfo?.job_type == 0) ? sharedService.onGetJobType(userInfo?.job_type) : '--'}}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-6 caption">
				<ul class="list-group">
					<li class="list-group-item">{{"userProfile.availability" | translate }}</li>
				</ul>
			</div>
			<div class="col-lg-6 info">
				<ul class="list-group">
					<li class="list-group-item text-capitalize">{{userInfo?.availability == 0 ? 'Immediate' : userInfo?.availability + ' Days'}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-6" *ngIf="userInfo?.visa_type">
		<div class="row">
			<div class="col-lg-6 caption">
				<ul class="list-group">
					<li class="list-group-item">{{"userProfile.workAuthorisation" | translate }}</li>
				</ul>
			</div>
			<div class="col-lg-6 info">
				<ul class="list-group ul-value" *ngIf="userInfo?.work_authorization == 0 ">
					{{utilsHelperService.onConvertArrayToString(userInfo?.visa_type)}}
				</ul>
				<ul class="list-group ul-value" *ngIf="userInfo?.work_authorization == 1 ">
					{{"userProfile.iNeedVisaAponsorship" | translate }}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-6 caption">
				<ul class="list-group">
					<li class="list-group-item">{{"userProfile.travel" | translate }}</li>
				</ul>
			</div>
			<div class="col-lg-6 info">
				<ul class="list-group">
					<li class="list-group-item text-capitalize">{{userInfo?.travel == 0 ? 'No' : userInfo?.travel + '%'}}</li>
				</ul>
			</div>
		</div>
	</div>	
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-6 caption">
				<ul class="list-group">
					<li class="list-group-item">{{"userProfile.remote" | translate }}</li>
				</ul>
			</div>
			<div class="col-lg-6 info">
				<ul class="list-group">
					<li class="list-group-item text-capitalize">{{utilsHelperService.onGetYesOrNoValue(userInfo?.remote_only)}}</li>
				</ul>
			</div>
		</div>
	</div>	
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-6 caption">
				<ul class="list-group">
					<li class="list-group-item">{{"userProfile.workAuthorisationIn" | translate }}</li>
				</ul>
			</div>
			<div class="col-lg-6 info ul-value">
				{{this.findCountryArray(userInfo?.authorized_country)}}				
			</div>
		</div>
	</div>	
	<div class="col-lg-6" *ngIf="userInfo?.willing_to_relocate">
		<div class="row">
			<div class="col-lg-6 caption">
				<ul class="list-group">
					<li class="list-group-item">{{"userProfile.preferredLocation" | translate }}</li>
				</ul>
			</div>
			<div class="col-lg-6 info">
				<ul class="list-group ul-value text-capitalize">
				{{filterPrefered(userInfo?.preferred_locations )}}
				</ul>
			</div>
		</div>
	</div>	
		
</div>
<div class="row mt-3 info-box">
	<div class="col-lg-12">
		<div class="pj-title mb-3">
			 <h6>{{"userProfile.experienceAndSkills" | translate }}</h6>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 caption">
		<ul class="list-group">
			<li class="list-group-item">{{"userProfile.totalYearsOfExp" | translate }}</li>
		</ul>
	</div>
	<div class="col-lg-8 info">
		<ul class="list-group">
			<li class="list-group-item text-capitalize">{{userInfo?.experience ? userInfo?.experience + ' Years' : '--'}}</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 caption">
		<ul class="list-group">
			<li class="list-group-item">{{"userProfile.totalSapExp" | translate }}</li>
		</ul>
	</div>
	<div class="col-lg-8 info">
		<ul class="list-group">
			<li class="list-group-item text-capitalize">{{userInfo?.sap_experience ? userInfo?.sap_experience + ' Years': '--'}} </li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 caption">
		<ul class="list-group">
			<li class="list-group-item">{{"userProfile.domainsWorked" | translate }}</li>
		</ul>
	</div>
	<div class="col-lg-8 info">
		<ul class="list-group">
			<li class="list-group-item text-capitalize">{{sharedService.onFindDomainFromID(userInfo?.domains_worked)}}</li>
		</ul>
	</div>
</div>	
<div class="row">
	<div class="col-lg-4 caption">
		<ul class="list-group">
			<li class="list-group-item" style="min-height: 46px;">{{"userProfile.handsOnExperience" | translate }}</li>
		</ul>
		
	</div>
	<div class="col-lg-8 info">
		<ul class="list-group">
			<li class="list-group-item text-uppercase d-flex handsExps skills">
				<ng-container *ngIf="userInfo?.hands_on_experience?.length; else elseHandsTemplate">
					<ng-container *ngFor="let item of userInfo?.hands_on_experience; let i = index" >
						<div [ngClass]="{'pl-2': i >= 1}" class="text-center border-right pr-2 skils-short"  tooltipClass="my-custom-classes"  container="body" placement="top" [ngbTooltip]="utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item?.skill_id)?.long_tag)">
							{{item?.skill_id ? utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item?.skill_id)?.tag) : '--'}} <br>({{item?.experience + ' ' + item?.exp_type?.charAt(0)}})
						</div>
					</ng-container>
				</ng-container>
				<ng-template #elseHandsTemplate>
					<p>--</p>
				</ng-template>
			</li>
		</ul>
	</div>
</div>
<div class="row" *ngIf="utilsHelperService.differenceByPropValArray(userInfo?.skills, userInfo?.hands_on_experience, 'skill_id').length!=0">
	<div class="col-lg-4 caption">
		<ul class="list-group">
			<li class="list-group-item">{{"userProfile.knowledgeOn" | translate }}</li>
		</ul>
	</div>
	<div class="col-lg-8 info">
		<ul class="list-group">
			 <li class="list-group-item text-uppercase"> 
				<ng-container *ngIf="userInfo?.skills?.length; else elseSkillsTemplate">
					<small class="knldge m-0 float-left" *ngFor="let item of utilsHelperService.differenceByPropValArray(userInfo?.skills, userInfo?.hands_on_experience, 'skill_id'); let i = index; let last = last;">
						<span style="cursor: pointer;" class="float-left skils-short" *ngIf="!utilsHelperService.isEmptyObj(sharedService.onFindSkillsFromSingleID(item))" tooltipClass="my-custom-classes"  container="body"  placement="top" [ngbTooltip]="utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item)?.long_tag)">
							{{item ? utilsHelperService.onSplitTag(sharedService.onFindSkillsFromSingleID(item)?.tag): '--'}}{{last ? '' : '&nbsp;,&nbsp;&nbsp;'}}
						</span>
					</small>
				</ng-container>
				<ng-template #elseSkillsTemplate>
					<li>--</li>
				</ng-template>
			</li> 
		</ul>
	</div>
</div>	
<div class="row">
	<div class="col-lg-4 caption">
		<ul class="list-group">
			<li class="list-group-item">{{"userProfile.programmingSkills" | translate }}</li>
		</ul>
	</div>
	<div class="col-lg-8 info">
		<ul class="list-group">
			<li class="list-group-item text-capitalize">{{utilsHelperService.onConvertArrayToString(userInfo?.programming_skills)}} </li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 caption">
		<ul class="list-group">
			<li class="list-group-item">{{"userProfile.others" | translate }}</li>
		</ul>
	</div>
	<div class="col-lg-8 info">
		<ul class="list-group">
			<li class="list-group-item text-capitalize">{{utilsHelperService.onConvertArrayToString(userInfo?.other_skills)}}</li>
		</ul>
	</div>
</div>	
<div class="row">
	<div class="col-lg-4 caption">
		<ul class="list-group">
			<li class="list-group-item" *ngIf="!fieldsExclude?.clients_worked">{{"userProfile.previousEmployers" | translate}}</li>
		</ul>
	</div>
	<div class="col-lg-8 info">
		<ul class="list-group">
			<li class="list-group-item text-capitalize"  *ngIf="!fieldsExclude?.clients_worked">
				{{utilsHelperService.onConvertArrayToString(userInfo?.clients_worked)}}
			</li>
		</ul>
	</div>
</div>	
<div class="row">
	<div class="col-lg-4 caption">
		<ul class="list-group">
			<li class="list-group-item">{{"userProfile.languageKnown" | translate}}</li>
		</ul>
	</div>
	<div class="col-lg-8 info">
		<ul class="list-group">
			<li class="list-group-item text-capitalize">
				{{findLanguageArray(userInfo?.language_known)}}
			</li>
		</ul>
	</div>
</div>	
<div class="row" *ngIf="userInfo?.end_to_end_implementation">
	<div class="col-lg-4 caption">
		<ul class="list-group">
			<li class="list-group-item"> {{"userProfile.endToEnd" | translate}}</li>
		</ul>
	</div>
	<div class="col-lg-8 info">
		<ul class="list-group">
			<li class="list-group-item text-capitalize">
				{{userInfo?.end_to_end_implementation}}
			</li>
		</ul>
	</div>
</div>	
<div class="row mt-3 info-box" *ngIf="userInfo?.certification">
	<div class="col-lg-12" *ngIf="userInfo?.certification.length !=0">
		<div class="pj-title mb-3">
			 <h6>{{"userProfile.certifications" | translate }}</h6>
		</div>
	</div> 
	<div class="col-lg-12" *ngIf="userInfo?.certification.length !=0">
		<div class="media mb-2" *ngFor="let certification of userInfo?.certification">
			<img src="assets/images/certifications-icon.png" width="26px" class="mr-2" alt="SAP">
			<div class="media-body">
				<p class="my-1 h5">{{certification}} </p>
			</div>
		</div>
	</div>
</div>

<div class="row mt-3 info-box" *ngIf="applicationDetails.others &&applicationDetails.others.length && applicationDetails.others.length !=0 ">
	<div class="col-lg-12">
		<div class="pj-title mb-3">
			 <h6>{{"userProfile.others" | translate }}</h6>
		</div>
	</div>
	<div class="col-lg-12" *ngFor="let item of applicationDetails?.others; let i=index">
		<div class="row">
			<div class="col-lg-9 caption">
				<ul class="list-group">
					<li class="list-group-item">{{item?.title ? item?.title : '--'}}</li>
				</ul>
			</div>
			<div class="col-lg-2 info">
				<ul class="list-group">
					<li class="list-group-item text-capitalize">{{item?.value ? item?.value : '--'}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>




<ng-container *ngIf="userInfo?.privacy_protection?.reference == true || isShowUserData==true "> 
	<div class="row mt-3 info-box"  *ngIf="userInfo?.reference" >	
		<div class="col-lg-12" *ngIf="userInfo?.reference?.length !=0">
			<div class="pj-title mb-3 border-primary" *ngIf="userInfo?.reference[0].name && userInfo?.reference[0].email && userInfo?.reference[0].company_name">
				<h6 class="text-blue" role="button" (click)="show = !show"> {{"userProfile.reference" | translate }}  <i class="fas fa-angle-down"></i></h6>
			</div>
			<div *ngIf="show" [@slideInOut] class="row mt-2" style="padding:0px;">
				<div class="col-lg-4 p-1" *ngFor="let reference of userInfo?.reference " >
					<div class="card job-card sm" style="min-height: 105px;" *ngIf="reference.name && reference.email && reference.company_name" >
						<div class="card-body">
							<p class="text-blue font-weight-bold mb-1">{{reference.name}}</p>
							<p class="mb-1 hilight">{{reference.email}}</p>
							<p class="mb-0">{{reference.company_name}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</ng-container>