<section class="my-4">
  <div class="container container-big">
    <div class="row mb-4">
      <div class="col-lg-12 text-right">
        <button type="button" class="btn btn-sm btn-outline-success px-3 mr-1" onclick="location.href='#'">
          {{"dashboard.active" | translate}}
        </button>
        <button type="button" class="btn btn-sm btn-outline-warning px-3 mr-1">
          {{"dashboard.paused" | translate}}
        </button>
        <button type="button" class="btn btn-sm btn-outline-danger px-3">
          {{"dashboard.closed" | translate}}
        </button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">{{"postJob.jobTitle" | translate}}</th>
              <th scope="col">{{"dashboard.employer" | translate}}</th>
              <th scope="col">{{"postJob.location" | translate}}</th>
              <th scope="col">{{"dashboard.postedDated" | translate}}</th>
              <th scope="col" class="text-center">{{"dashboard.matches" | translate}}</th>
              <th scope="col" class="text-center">{{"dashboard.applications" | translate}}</th>
              <th scope="col" class="text-center">{{"dashboard.shortlisted" | translate}}</th>
              <th scope="col" class="text-center">{{"dashboard.status" | translate}}</th>
              <th scope="col" class="text-center">{{"dashboard.action" | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a href="javascript:;" [routerLink]="['/employer/job-detail-view']" routerLinkActive="router-link-active" >SAP ABAP Lead Consultant</a></td>
              <td>Wipro Limited</td>
              <td>Austin, TX, USA</td>
              <td>Oct 02, 2020</td>
              <td class="text-center"><a href="job-company-matching.html">8</a></td>
              <td class="text-center"><a href="job-applied.html">9</a></td>
              <td class="text-center"><a href="job-shortlisted.html">12</a></td>
              <td class="text-center">
              <select class="form-control form-control-td">
                <option selected>Active</option>
                <option>Pause</option>
                <option>Closed</option>
              </select>
              </td>
              <td class="text-center">
              <a href="#" class="text-info mr-2"  data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a>
              <a href="#" class="text-danger"   data-toggle="tooltip" title="Delete"><i class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
            <tr>
              <td><a href="#">SAP BA / Project Manager</a></td>
              <td>SAP Cincinnati</td>
              <td>OH, USA</td>
             <td>Oct 02, 2020</td>
              <td class="text-center"><a href="job-company-matching.html">7</a></td>
              <td class="text-center"><a href="job-applied.html">8</a></td>
              <td class="text-center"><a href="job-shortlisted.html">11</a></td>
              <td class="text-center">
              <select class="form-control form-control-td">
                <option selected>Active</option>
                <option>Pause</option>
                <option>Closed</option>
              </select>
              </td>
              <td class="text-center">
              <a href="#" class="text-info mr-2"  data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a>
              <a href="#" class="text-danger"  data-toggle="tooltip" title="Delete"><i class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
            <tr>
              <td><a href="#">SAP IBP - Integrated Business Planning</a></td>
              <td>Techcom Solutions</td>
              <td>Austin, TX, USA</td>
              <td>Sep 20, 2020</td>
              <td class="text-center"><a href="job-company-matching.html">11</a></td>
              <td class="text-center"><a href="#">10</a></td>
              <td class="text-center"><a href="#">15</a></td>
              <td class="text-center">
              <select class="form-control form-control-td">
                <option selected>Active</option>
                <option>Pause</option>
                <option>Closed</option>
              </select>
              </td>
              <td class="text-center">
              <a href="#" class="text-info mr-2" data-toggle="tooltip"  title="Edit"><i class="fas fa-edit"></i></a>
              <a href="#" class="text-danger"  data-toggle="tooltip"  title="Delete"><i class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
            <tr>
              <td><a href="#">SAP Security Consultant</a></td>
              <td>Infosys Technologies Ltd</td>
              <td>United States</td>
              <td>Sep 20, 2020</td>
              <td class="text-center"><a href="job-company-matching.html">14</a></td>
              <td class="text-center"><a href="#">18</a></td>
              <td class="text-center"><a href="#">12</a></td>
              <td class="text-center">
              <select class="form-control form-control-td">
                <option selected>Active</option>
                <option>Pause</option>
                <option>Closed</option>
              </select>
              </td>
              <td class="text-center">
              <a href="#" class="text-info mr-2" data-toggle="tooltip"  title="Edit"><i class="fas fa-edit"></i></a>
              <a href="#" class="text-danger" data-toggle="tooltip"   title="Delete"><i class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
            <tr>
              <td><a href="#">SAP Hybris Consultant - C4C</a></td>
              <td>Techcom Solutions</td>
              <td>Chennai, India</td>
              <td>Sep 15, 2020</td>
              <td class="text-center"><a href="job-company-matching.html">9</a></td>
              <td class="text-center"><a href="#">13</a></td>
              <td class="text-center"><a href="#">11</a></td>
              <td class="text-center">
              <select class="form-control form-control-td">
                <option selected>Active</option>
                <option>Pause</option>
                <option>Closed</option>
              </select>
              </td>
              <td class="text-center">
              <a href="#" class="text-info mr-2" data-toggle="tooltip"  title="Edit"><i class="fas fa-edit"></i></a>
              <a href="#" class="text-danger" data-toggle="tooltip"  title="Delete"><i class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
