.active {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.closed {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.warning {
    color: #ffffff;
    background-color: #ffc107;
    border-color: #ffc107;
}