<section class="my-4" style="min-height: 300px;">
  <div  [ngClass]="(screenWidth >= 1500)?'container-fluid':'container  container-big'" >
    <div class="row mb-4">
      <div class="col-lg-12 text-right">
        <button type="button" [ngClass]="{'active': isStatusValue == 1}" class="btn btn-sm btn-outline-success px-3 mr-1" (click)="onGetChangedStatus(1)">
          {{"shared.active" | translate}}
        </button>
        <button type="button" [ngClass]="{'warning': isStatusValue == 98}"  class="btn btn-sm btn-outline-warning px-3 mr-1" (click)="onGetChangedStatus(98)">
          {{"shared.paused" | translate}}
        </button>
        <button type="button" [ngClass]="{'closed': isStatusValue == 0}" class="btn btn-sm btn-outline-danger px-3" (click)="onGetChangedStatus(0)">
          {{"shared.closed" | translate}}
        </button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">{{"shared.jobTitle" | translate}}</th>
              <!-- <th scope="col">{{"dashboard.employer" | translate}}</th> -->
              <th scope="col">{{"shared.location" | translate}}</th>
              <th scope="col">{{"shared.postedDated" | translate}}</th>
              <th scope="col" class="text-center">{{"tabs.matches" | translate}}</th>
              <th scope="col" class="text-center">{{"nav.applications" | translate}}</th>
              <th scope="col" class="text-center">{{"nav.shortlisted" | translate}}</th>
              <th scope="col" class="text-center">{{"shared.status" | translate}}</th>
              <th scope="col" class="text-center">{{"shared.action" | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="postedJobs?.length > 0; else elseTemplate">
              <tr *ngFor="let item of postedJobs; let i=index">
                <td *ngIf="!router.url.includes('admin')"><a class="text-capitalize" href="javascript:;" [routerLink]="['/employer/job-detail-view', 'details']" [queryParams]="{id: item?.id}" routerLinkActive="router-link-active" >
                {{item?.title}}</a></td>
				<td *ngIf="router.url.includes('admin')"><a class="text-capitalize" href="javascript:;" [routerLink]="['/admin/job-view', 'details']" [queryParams]="{id: item?.id,empids:empID}" routerLinkActive="router-link-active" >
                {{item?.title}}</a></td>
                <!-- <td>
                  {{item?.company?.company ? item?.company?.company : '-'}}
                </td> -->
                <td class="text-capitalize">
					<ng-container *ngIf="item?.job_locations">
                  {{item?.job_locations[0].city ? item?.job_locations[0].city + ', ' : ''}}
                  {{item?.job_locations[0].countryshort ? item?.job_locations[0].countryshort + ' ' : ''}}
                 <!--  <span class="text-uppercase">
                    {{item?.job_locations[0].country ? item?.job_locations[0].country : ''}}
                  </span> -->
				  <span class="text-uppercase" style="color:blue;cursor:pointer;" *ngIf="item?.job_locations?.length-1 !=0">
                    +{{item?.job_locations?.length-1}}
                  </span>
				  </ng-container>
                </td>
                <td>{{item.created_at ? (item.created_at | date: "MMM dd, y" : 'UTC') : '-'}}</td>
                <td class="text-center">
                  <a  [routerLink]="['/employer/dashboard']" *ngIf="item.status != 0 &&  CheckMatchesCount(item?.id) !=0 && !router.url.includes('admin')"
                  [queryParams]="{activeTab: 'matches', id: item?.id }" href="javascript:;"> {{ CheckMatchesCount(item?.id)}}</a>
				  <a  [routerLink]="['/admin/employer-dashboard']" *ngIf="item.status != 0 &&  CheckMatchesCount(item?.id) !=0 && router.url.includes('admin')"
                  [queryParams]="{activeTab: 'matches', id: item?.id,empids:empID }" href="javascript:;"> {{ CheckMatchesCount(item?.id)}}</a>
				   <a   *ngIf="item.status == 0 || CheckMatchesCount(item?.id) ==0 " style="cursor: no-drop;"
                   href="javascript:;"> {{ CheckMatchesCount(item?.id)}}</a>
				  </td>
                <td class="text-center" *ngIf="!router.url.includes('admin')">
				<a  [routerLink]="['/employer/dashboard']"
                  [queryParams]="{activeTab: 'applicants', id: item?.id }" *ngIf="CheckAppliedCount(item?.id) !=0 " > {{ CheckAppliedCount(item?.id)}}</a>
				  <a  *ngIf="CheckAppliedCount(item?.id) ==0 " style="cursor: no-drop;" > {{ CheckAppliedCount(item?.id)}}</a>
				  </td>
				  <td class="text-center" *ngIf="router.url.includes('admin')">
				  <a style="cursor: default;" > {{ CheckAppliedCount(item?.id)}}</a>
				  </td>
                <td class="text-center" *ngIf="!router.url.includes('admin')">
				<a *ngIf="CheckShortlistedCount(item?.id) !=0 " [routerLink]="['/employer/dashboard']"
                  [queryParams]="{activeTab: 'shortlisted', id: item?.id }" > {{CheckShortlistedCount(item?.id)}}</a>
				  <a  *ngIf="CheckShortlistedCount(item?.id) ==0 "  style="cursor: no-drop;" > {{CheckShortlistedCount(item?.id)}}</a>
				  </td>
				  <td class="text-center" *ngIf="router.url.includes('admin')">
				  <a  style="cursor: default;" > {{CheckShortlistedCount(item?.id)}}</a>
				  </td>
                <td class="text-center" *ngIf="item?.status != 0">
                <select (change)="onSelectStatus($event?.target?.value, item)" class="form-control form-control-td">
                  <option disabled [selected]="true">Select</option>
                  <option [value]="1" [selected]="item?.status == 1">Active</option>
                  <option [value]="98"  [selected]="item?.status == 98">Pause</option>
                  <option [value]="0" [selected]="item?.status == 0">Closed</option>
                </select>
                </td>
				<td class="text-center" *ngIf="item?.status == 0">
				<select class="form-control form-control-td">
                  <option [value]="0" disabled [selected]="item?.status == 0">Closed</option>
                </select>
                </td>
                <td class="text-center">
                <!-- <a href="javascript:;" disabled style="cursor: no-drop;" *ngIf="item.status == 0 "  class="text-info mr-2"  data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a> -->
                <a href="javascript:;"  *ngIf="item?.status != 0 && !router.url.includes('admin')"[routerLink]="['/employer/post-job']" [queryParams]="{id: item?.id}" class="text-info mr-2"  data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a>
				<a href="javascript:;"  *ngIf="item?.status != 0 && router.url.includes('admin') "[routerLink]="['/admin/post-job/',empID]" [queryParams]="{id: item?.id}" class="text-info mr-2"  data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a>
				<a  class="mr-2" *ngIf="!router.url.includes('admin') "  style="color:blue;" [routerLink]="['/employer/post-job']"  [queryParams]="{id: item?.id,status:'copy'}"  data-toggle="tooltip" title="Clone"><i class="far fa-clone"></i></a>
				<a  class="mr-2" *ngIf="router.url.includes('admin') " style="color:blue;" [routerLink]="['/admin/post-job/',empID]"  [queryParams]="{id: item?.id,status:'copy'}"  data-toggle="tooltip" title="Clone"><i class="far fa-clone"></i></a>
                <a href="javascript:;" (click)="onDeleteJobConfirm(item, i)" class="text-danger mr-2"   data-toggle="tooltip" title="Delete"><i class="fas fa-trash-alt"></i></a>
                <a *ngIf="item?.status != 0 && !router.url.includes('admin')" (click)="openshare(item?.id)" class="text-primary"  data-toggle="tooltip" title="Share" ><i class="fa fa-share-alt"></i></a>
                </td>
              </tr>
            </ng-container>
            <ng-template #elseTemplate>
              <tr>
                <td colspan="9">No Record Found</td>
              </tr>
            </ng-template>
			
            </tbody>
          </table>
        </div>
		<div class="d-flex justify-content-center" style="background: #f8f8f8;" *ngIf="((postedJobMeta?.count > 0 && postedJobMeta?.total > 10))">
					<mat-paginator style="background: #f8f8f8;color: #000;" (page)="handlePageEvent($event)"
				[length]="length"
				[pageSize]="limit" [pageSizeOptions]="pageSizeOptions"
				[pageIndex]="page-1">
			</mat-paginator>
			</div>
        <!-- <div class="d-flex justify-content-center" *ngIf="postedJobMeta?.count > 0 && postedJobMeta?.total > 25">
          <button (click)="onLoadMoreJob()" class="btn btn-theme-blue" type="button">
            Load More
          </button>
        </div> -->
      </div>
    </div>
  </div>
</section>
<app-delete-modal
*ngIf="isDeleteModalOpened"
[typeOfModel]="'Job'"
[showRecordName]="currentJobDetails?.title"
(onTriggerDeleteAction)="onDeleteJobConfirmed($event)"
[toggleDeleteModal]="isDeleteModalOpened">

</app-delete-modal>

<ng-template #statusModal let-modal let-d="dismiss">
  <div class="full-width">
    <div class="modal-header bg-dblue text-white text-capitalize">
      <h3 class="modal-title" id="exampleModalLabel"> {{"shared.reasonJobChange" | translate}} </h3>
    </div>
    <div class="modal-body">
      <textarea
        name="description"
        class="form-control form-control-solid"
        [(ngModel)]="statusGlossary"
      ></textarea>
    </div>
    <div class="modal-footer full-width">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onStatusModelClose()"> {{"shared.cancel" | translate}}</button>
      <button type="button" [disabled]="!statusGlossary" class="btn btn-primary" data-dismiss="modal" (click)="onStatusModelSubmit()"> {{"shared.submit" | translate}}</button>
    </div>
  </div>
</ng-template>
<ng-template #shareModal let-modal let-d="dismiss" *ngIf="isShareModel">
  <div class="modal-content">
        <div class="modal-header">
			<h5 class="modal-title">Share with</h5>
			<button  type="button" (click)="closeshare()" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">×</span>
			</button>
		  </div>
		<div class="modal-body text-center">
			<a href="{{linkedInUrl}}" target="_blank"><i class='fab fa-linkedin fa-3x'></i></a>
		</div>
		
	</div>	
</ng-template>
