<ng-template #fpModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="ForgotPassword"> {{"fotgotPassword.title" | translate }} </h5>
      <button (click)="onClickCloseBtn(false)" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onGetResetLink()">
        <h5 class="my-4" *ngIf="!isMailSent">  {{"fotgotPassword.content1" | translate }} </h5>

        <p class="text-green mx-auto pt-1" *ngIf="isMailSent">
          <i style="font-size: 20px;" class="far fa-thumbs-up"></i>
           {{"fotgotPassword.message" | translate }} 
        </p>

        <ng-container *ngIf="!isMailSent">
          <div class="form-group">
            <div class="input-with-icon">
              <input formControlName="email" type="email" class="form-control" placeholder="Email Address" name="emailaddress" (click)="errorShow = false">
              <i class="fas fa-envelope"></i>
            </div>
            <app-control-messages [control]="f['email']"></app-control-messages>
			<small class="text-danger ng-star-inserted" *ngIf="errorShow">
				No User in this email address.
			</small>		
          </div>
          <div class="form-group mt-3">
            <button [disabled]="!forgotPasswordForm.valid" type="submit" class="btn btn-theme-blue btn-block btn-lg">
              <span [hidden]="isLoading">Forgot Password</span>
              <span [hidden]="!isLoading">
                <i class="fa fa-spinner" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </ng-container>
      </form>
    </div>
</ng-template>
