.modal-header {
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
	background: #fbfbfb !important;
}
.modal-header .modal-title {
    margin-bottom: 0;
    line-height: 1.25;
    color: #385edf;
    font-weight: 700;
    font-size: 1rem;
}
.modal-header .close{
	font-size:1.25rem;
	font-weight:800;
}
