<ng-template #fpModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="ForgotPassword">Forgot Password?</h5>
      <button (click)="onClickCloseBtn(false)" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form method="post">
        <h5 class="my-4" *ngIf="!isMailSent">Don't worry! Just fill your email and we'll send you a link to reset your password</h5>

        <h5 class="my-4" *ngIf="isMailSent">Mail has been sent</h5>

        <ng-container *ngIf="!isMailSent">
          <div class="form-group">
            <div class="input-with-icon">
              <input type="email" class="form-control" placeholder="Email Address" name="emailaddress">
              <i class="fas fa-envelope"></i>
            </div>
          </div>
          <div class="form-group mt-3">
            <a (click)="onMailSuccess(false)" href="javascript:;" class="btn btn-theme-blue btn-block btn-lg">Forgot Password</a>
          </div>
        </ng-container>
      </form>
    </div>
</ng-template>
