<section class="my-5">
	<div [ngClass]="(screenWidth >= 1500)?'container-fluid':'container'">
		<div class="row mb-5">
			<div class="col-lg-12">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">{{"shared.jobTitle" | translate}}</th>
								<th scope="col">{{"header.employer" | translate}}</th>
								<th scope="col">{{"shared.location" | translate}}</th>
								<th scope="col">{{"shared.appliedDate" | translate}} </th>
								<th scope="col">{{"shared.status" | translate}}</th>
								<!--  <th scope="col" class="text-center">{{"dashboard.action" | translate}}</th> -->
							</tr>
						</thead>
						<tbody>
							<ng-container *ngIf="appliedJobs?.length; else elseTemplate">
							<ng-container *ngFor="let item of appliedJobs; let j = index">
								<tr >
									<td>
										<a   *ngIf="item?.job_posting?.status != 3 && item?.job_posting?.status != 0" [routerLink]="[ '/user/candidate-job-view/details' ]" [queryParams]="{id:item?.job_posting?.id,path:'applied' }"  class="text-capitalize" href="javacript:;">
											{{item?.job_posting?.title}}
										</a>
										<a (click)="openPopupView()" *ngIf="item?.job_posting?.status ==3 || item?.job_posting?.status ==0" class="text-capitalize" href="javacript:;">
											{{item?.job_posting?.title}}
										</a>
									</td>
									<td>
										{{item?.employer?.company ? item?.employer?.company : '--'}}
									</td>
									<td class="text-capitalize" container="body" placement="top" ngbTooltip="TH3 tooltip" >
										<ng-container>
											{{item?.job_posting?.job_locations[0].city ? item?.job_posting?.job_locations[0].city + ', ' : ''}}
										  {{item?.job_posting?.job_locations[0].state ? item?.job_posting?.job_locations[0].state + ', ' : ''}}
										  <span class="text-uppercase">
											{{item?.job_posting?.job_locations[0].country ? item?.job_posting?.job_locations[0].country : ''}}
										  </span>
										   <span class="text-uppercase" style="color:blue;cursor:pointer;" *ngIf="item?.job_posting?.job_locations?.length-1 !=0" >
											+{{item?.job_posting?.job_locations?.length-1}}
										  </span>
										</ng-container>
									</td>
									<td>
										{{item?.created_at ? (item?.created_at | date: "MMM dd, y") : '-'}}
									</td>
									<td *ngIf="item?.short_listed == true && item?.status == 2  &&  item?.job_posting?.status != 0 && item?.job_posting?.status != 3">
										<a class="text-success text-capitalize" data-toggle="collapse" [href]="getIdVal(item)" (click)="stopPropagation($event,item,j);">
											{{itemReturn(item?.status,item?.application_status)}}
											<i class="fas fa-caret-down"></i>
											<span class="badges" *ngIf="item?.view == false " [id]="j" >1</span>
										</a>
									</td>
									<td *ngIf="item?.short_listed == true && item?.status != 3 &&item?.status != 2 && item?.status != 4 && item?.status != 5 && item?.status != 6 &&  item?.job_posting?.status != 0 && item?.job_posting?.status != 3">
										<a class="text-warning text-capitalize" data-toggle="collapse"  [href]="getIdVal(item)" (click)="stopPropagation($event,item,j);">
											{{itemReturn(item?.status,item?.application_status)}}
											<i class="fas fa-caret-down"></i>
											<span class="badges" *ngIf="item?.view == false " [id]="j">1</span>
										</a>
									</td>
									<td *ngIf="item?.short_listed == true && (item?.status == 4 ||item?.status == 3 || item?.status == 5 || item?.status == 6) &&  item?.job_posting?.status != 0 && item?.job_posting?.status != 3">
										<a class="text-danger text-capitalize" data-toggle="collapse" [href]="getIdVal(item)" (click)="stopPropagation($event,item,j);">
											{{itemReturn(item?.status,item?.application_status)}}
											<i class="fas fa-caret-down"></i>
											<span class="badges" *ngIf="item?.view == false " [id]="j" >1</span>
										</a>
									</td>
									<td *ngIf="item?.short_listed == false && item?.job_posting?.status != 3 && item?.job_posting?.status != 0">
										<a class="text-danger text-capitalize"  data-toggle="collapse" [href]="getIdVal(item)" (click)="stopPropagation($event,item,j);">
											Not a Fit
											<i class="fas fa-caret-down"></i>
											<span class="badges" *ngIf="item?.view == false " [id]="j" >1</span>
										</a>
									</td>
									<td *ngIf="(item?.short_listed == null || item?.short_listed != false) && item?.short_listed != true && item?.status == 1 &&  item?.job_posting?.status != 0 && item?.job_posting?.status != 3">
										<a class="text-success text-capitalize"  data-toggle="collapse" [href]="getIdVal(item)" (click)="stopPropagation($event,item,j);">
											Applied 
											<i class="fas fa-caret-down"></i>
											<span class="badges" *ngIf="item?.view == false " [id]="j" >1</span>
										</a>
									</td>
									<td *ngIf="item?.job_posting?.status == 0 || item?.job_posting?.status == 3">
										<a class="text-danger text-capitalize"  data-toggle="collapse" [href]="getIdVal(item)" (click)="stopPropagation($event,item,j);">
											Closed 
										</a>
									</td>
									<!-- <td class="text-center"><a (click)="deleteJobApplication(item?.id)" class="text-danger"><i class="fas fa-trash-alt"></i></a></td>  -->
								</tr>
								<!--Message Collapse -->
								<tr *ngIf="item?.application_status">
									 <td colspan="12" class="p-0" style="white-space: normal;" *ngIf="item?.application_status?.length">
										<div [ngClass]="(appId == item?.id)?'p-3 collapse show' : 'collapse p-3'" [id]="getIdVals(item)">
											<div class="row">
												<div class="col-md-9 p-0">
													<ul class="statusHistory">
														<ng-container *ngFor="let items of item?.application_status;let i=index;">
															<li class="success" *ngIf="items?.id == 1 ">
																<div class="date">
																	<h5 class="">{{items?.date | date: 'longDate' }}</h5>
																</div>
																<div class="icon">
																	<i class="fas fa-file-alt"></i>
																</div>
																<div class="content">
																	<h4>{{items?.status}}</h4>
																	<p *ngFor="let item of items?.comments; index as i; trackBy: trackByFn">{{item}}</p>
																	
																	<p  class="linksValue" (click)="openPopupViewInvite(item);" *ngIf="items?.id == item?.status && items?.invite_url && item?.invite_status ==true  && items?.invite_url.includes('calendly') == true" [href]="items?.invite_url">Schedule the timing</p>
																	<p  class="linksValue" (click)="openPopupViewInviteNew(item,event);" *ngIf="items?.id == item?.status && items?.invite_url && item?.invite_status ==true  && items?.invite_url.includes('calendly') == false" [href]="items?.invite_url">Schedule the timing</p>
																</div>
															</li>
															<li class="pending" *ngIf="items?.id != '98' && items?.id != '4' && items?.id != '2' && items?.id != 1&& items?.id != '1' && items?.id != '5' && items?.id != '6'" >
																<div class="date">
																	<h5 class="">{{items?.date | date: 'longDate' }}</h5>
																</div>
																<div class="icon">
																	<i class="fas fa-user-check"></i>
																</div>
																<div class="content">
																	<h4>{{items?.status}}</h4>
																	<p *ngFor="let item of items?.comments; index as i; trackBy: trackByFn">{{item}}</p>
																	<p *ngIf="items?.meeting_form">You have received a meeting invitation on <span class="gre" >{{items?.date | date: 'longDate' }} </span> at <span class="gre" >{{items?.date | date: 'shortTime' }} </span> </p>
																	<!--<p  class="linksValue"  (click)="openPopupViewInvite(item);" *ngIf="items?.id == item?.status && items?.invite_url && item?.invite_status ==true  && items?.invite_url.includes('calendly') == true" [href]="items?.invite_url">Schedule the timing</p>
																	<p  class="linksValue"  (click)="openPopupViewInviteNew(item,event);" *ngIf="items?.id == item?.status && items?.invite_url && item?.invite_status ==true  && items?.invite_url.includes('calendly') == false" [href]="items?.invite_url">Schedule the timing</p>
																	<p  *ngIf="items?.id == item?.status && items?.invite_url && item?.canceled !=true && item?.invite_status != true" > <span class="linksValue cancel" (click)="openPopupViewCancel(item);"  [href]="item?.cancel_url" *ngIf="item?.cancel_url !=null ||item?.cancel_url !='' "> Cancel the {{items?.status}} </span>  -   <span  class="linksValue reschedule"  (click)="openPopupViewReschedule(item);" [href]="item?.reschedule_url"   *ngIf="item?.reschedule_url !=null ||item?.reschedule_url !='' " > Reschedule the  {{items?.status}}</span>  </p>
																	<br>
																	<h6 style="font-size: 11px;margin-bottom:5px;" *ngIf="items?.invited || items?.created || items?.canceled">History</h6>
																	<p *ngIf="items?.invited">You have received invite link on <span class="blu" >{{items?.invited | date: 'longDate' }} </span> at <span class="blu" >{{items?.invited | date: 'shortTime' }} </span> </p>
																	<p *ngIf="items?.created">Accepted the invite link on <span class="gre" >{{items?.created | date: 'longDate' }} </span> at <span class="gre" >{{items?.created | date: 'shortTime' }} </span> </p>
																	<p *ngIf="items?.rescheduled">Rescheduled the invite link on <span class="yel" >{{items?.rescheduled | date: 'longDate' }} </span> at <span class="yel" >{{items?.rescheduled | date: 'shortTime' }} </span></p>
																	<p *ngIf="items?.canceled">Canceled the invite link on  <span class="re" >{{items?.canceled | date: 'longDate' }} </span> at <span class="re" >{{items?.canceled | date: 'shortTime' }} </span></p>-->
																</div>
															</li>
															<li class=" success" *ngIf="items?.id == '2' " >
																<div class="date">
																	<h5 class="">{{items?.date | date: 'longDate' }}</h5>
																</div>
																<div class="icon">
																	<i class="fas fa-user-check"></i>
																</div>
																<div class="content">
																	<h4>{{items?.status}}</h4>
																	<p *ngFor="let item of items?.comments; index as i; trackBy: trackByFn">{{item}}</p>
																	
																	<p class="linksValue"   (click)="openPopupViewInvite(item);" *ngIf="items?.id == item?.status && items?.invite_url && item?.invite_status ==true  && items?.invite_url.includes('calendly') == true" [href]="items?.invite_url">Schedule the timing</p>
																	<p class="linksValue"   (click)="openPopupViewInviteNew(item,event);" *ngIf="items?.id == item?.status && items?.invite_url && item?.invite_status ==true  && items?.invite_url.includes('calendly') == false" [href]="items?.invite_url">Schedule the timing</p>
																</div>
															</li>
															<li class="rejected" *ngIf="items?.id == '98' ||items?.id == '5' || items?.id == '6'|| items?.id == '4' " >
																<div class="date">
																	<h5 class="">{{items?.date | date: 'longDate' }}</h5>
																</div>
																<div class="icon">
																	<i class="fas fa-user-times"></i>
																</div>
																<div class="content">
																	<h4>{{items?.status}}</h4>
																	<p *ngFor="let item of items?.comments; index as i; trackBy: trackByFn">{{item}}</p>
																	<p class="linksValue"  (click)="openPopupViewInvite(item);" *ngIf="items?.id == item?.status && items?.invite_url && item?.invite_status ==true && items?.invite_url.includes('calendly') == true" [href]="items?.invite_url">Schedule the timing</p>
																	<p class="linksValue"  (click)="openPopupViewInviteNew(item,event);" *ngIf="items?.id == item?.status && items?.invite_url && item?.invite_status ==true && items?.invite_url.includes('calendly') == false" [href]="items?.invite_url">Schedule the timing</p>
																</div>
															</li>
														</ng-container>
															<li class="rejected" *ngIf="item?.job_posting?.status == 0 || item?.job_posting?.status == 3" >
																<div class="date">
																	<h5 class="">{{items?.job_posting?.updated_at | date: 'longDate' }}</h5>
																</div>
																<div class="icon">
																	<i class="fas fa-user-times"></i>
																</div>
																<div class="content">
																	<h4>JOB CLOSED</h4>
																</div>
															</li>
													</ul>
												</div>
											</div>
										</div>
									 </td>
								</tr>
							</ng-container>
							</ng-container>
							<ng-template #elseTemplate>
								<tr>
									<td colspan="6">No Record Found</td>
								</tr>
							</ng-template>
						</tbody>
					</table>
					<div class="d-flex justify-content-center" style="background: #f8f8f8;"  *ngIf="appliedJobMeta?.count > 0 && appliedJobMeta?.total > 10" >
						<mat-paginator style="background: #f8f8f8;color: #000;" (page)="handlePageEvent($event)"
							[length]="length"
							[pageSize]="limit"  [pageSizeOptions]="pageSizeOptions"
							[pageIndex]="page-1">
						</mat-paginator>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ng-template *ngIf="toggleMatchesModal" #matchesModal let-modal let-d="dismiss">
		<div class="modal-content">
			<div class="modal-body text-center">
				<h6 class="mt-3" style="font-size: 20px;">{{"shared.notAvailable" | translate}}</h6>
			</div>
			<div class="modal-footer">
				<div class=" mx-auto">
					<button type="button" class="btn btn-theme-blue" style="margin-right:10px;" (click)="closeMatches()"  data-dismiss="modal">{{"shared.ok" | translate}}</button>
				</div>
			</div>
		</div>	
	</ng-template>
	<ng-template *ngIf="openBookingSite" #bookingModel let-modal let-d="dismiss">
		<div class="modal-header">	
			<button type="button" (click)="closeInvite()" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-content">
			<div class="modal-body text-center checkVal" [id]="itemsIDVAL.invite_url"  *ngIf="openNotBook != true ">
			<input style="display:none;" id="name" [value]="itemsIDVAL.user.first_name" />
				<input style="display:none;" id="email" [value]="itemsIDVAL.user.email" />
				<!-- <input style="display:none;" id="appid" [value]="itemsIDVAL.id" /> -->
				<!-- Calendly inline widget begin -->
				
 <div #container class="calendly-inline-widget" style="min-width:320px;height:520px;" data-auto-load="false">
 <div class="calendly-spinner"><div class="calendly-bounce1"></div><div class="calendly-bounce2"></div><div class="calendly-bounce3"></div></div>
 </div><!-- Calendly inline widget end -->
			</div>
			<div class="modal-body text-center " *ngIf="openNotBook == true">
			<iframe width="100%" height="100%" scrolling="no" id="iframeData"  #iframeData frameBorder="0" style="min-width:320px;height:520px;border:0;" [src]="url"></iframe>

			</div>
			
		</div>	
	</ng-template>
</section>
