<section class="my-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">{{"postJob.jobTitle" | translate}}</th>
              <th scope="col">{{"dashboard.employer" | translate}}</th>
              <th scope="col">{{"postJob.location" | translate}}</th>
              <th scope="col">{{"dashboard.postedDated" | translate}}</th>
              <th scope="col">{{"dashboard.status" | translate}}</th>
              <th scope="col" class="text-center">{{"dashboard.action" | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a href="candidate-job-view.html">SAP ABAP Lead Consultant</a></td>
              <td>Wipro Limited</td>
              <td>Austin, TX, USA</td>
              <td>Sep 22, 2020</td>
              <td class="text-success">Open </td>
              <td class="text-center"><a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            <tr>
              <td><a href="#">SAP BA / Project Manager</a></td>
              <td>SAP Cincinnati</td>
              <td>OH, USA</td>
              <td>Sep 22, 2020</td>
              <td class="text-success">Open </td>
              <td class="text-center"><a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            <tr>
              <td><a href="#">SAP IBP - Integrated Business Planning</a></td>
              <td>Techcom Solutions</td>
              <td>Chennai, India</td>
              <td>Sep 22, 2020</td>
              <td class="text-success">Open </td>
              <td class="text-center"><a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            <tr>
              <td><a href="#">SAP Security Consultant</a></td>
              <td>Infosys Technologies Ltd</td>
              <td>New York, NY 10007</td>
              <td>Sep 22, 2020</td>
              <td class="text-danger">Closed </td>
              <td class="text-center"><a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            <tr>
              <td><a href="#">SAP Hybris Consultant - C4C</a></td>
              <td>Next Ventures</td>
              <td>Chennai, Tamil Nadu</td>
              <td>Sep 22, 2020</td>
              <td class="text-danger">Closed </td>
              <td class="text-center"><a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            <tr>
              <td><a href="candidate-job-view.html">SAP ABAP Lead Consultant</a></td>
              <td>Wipro Limited</td>
              <td>Austin, TX, USA</td>
              <td>Sep 15, 2020</td>
              <td class="text-success">Open </td>
              <td class="text-center"><a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            <tr>
              <td><a href="#">SAP BA / Project Manager</a></td>
              <td>SAP Cincinnati</td>
              <td>OH, USA</td>
              <td>Sep 15, 2020</td>
              <td class="text-success">Open </td>
              <td class="text-center"><a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            <tr>
              <td><a href="#">SAP IBP - Integrated Business Planning</a></td>
              <td>Techcom Solutions</td>
              <td>Chennai, India</td>
              <td>Sep 15, 2020</td>
              <td class="text-danger">Closed </td>
              <td class="text-center"><a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            <tr>
              <td><a href="#">SAP Security Consultant</a></td>
              <td>Infosys Technologies Ltd</td>
              <td>New York, NY 10007</td>
              <td>Sep 15, 2020</td>
              <td class="text-danger">Closed </td>
              <td class="text-center"><a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            <tr>
              <td><a href="#">SAP Hybris Consultant - C4C</a></td>
              <td>Next Ventures</td>
              <td>Chennai, Tamil Nadu</td>
              <td>Sep 15, 2020</td>
              <td class="text-danger">Closed </td>
              <td class="text-center"><a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
